[2017-05-24 12:57] pdehaye commented on #236
It is already part of #235. And yes, it helps engage humans, but it also contributes to better amplification on social networks.

[2017-05-24 12:59] embray commented on #236
Ah, I see that now. Somehow glossed over it before.  Great!

[2017-05-24 12:59] embray commented on #236
I'll probably even go back and edit my one blog post (and I'd like to do another soon) to add images.

[2017-05-29 11:33] martinal commented on #86
@fcayre any chance of moving the scivijs repositories to github? That would make interaction with the opendreamkit community easier. Also could you clarify what the licence is, there's currently no licence file and although the package.json file has licence:ISC in it that's the default of the cookiecutter so it's unclear if it's deliberate or accidental.

[2017-06-01 06:27] minrk commented on #240
We got a first response from EOSC:

We have until **12:00 CEST Friday** to respond to any points we feel warrant responding. I created [a pad here](https://etherpad.wikimedia.org/p/opendreamkit-eosc) for anyone to participate in drafting.

From the sound of the scientific review, it seems that this may not be a great fit for the call. But if we can rephrase anything in terms of a "well defined res

[2017-06-01 06:37] fangohr commented on #240
Thanks. Tomorrow 12:00 is a tough deadline. Can you make a available the final submitted version (or remind me where it is) so I can read the feedback in context? I'll struggle to find Internet most time until Friday, but I'll see what I can do.

[2017-06-01 07:26] dimpase commented on #240
On Thu, Jun 1, 2017 at 7:27 AM, Min RK <notifications@github.com> wrote:

how to achieve what is proposed, but it requires unique
expertise and time of the team to achieve the goals within the timescale
allowed.

Probably something about impact?

University won't be such customers? Why?
And even if true, why does this matter much? It's a typical open-source
scenario: once code is written and it wo

[2017-06-01 09:10] bpilorget commented on #240
Hi there. I Made some (hopefully useful?) comments on the pad created by Min to answer weaknesses

[2017-06-01 12:04] fangohr commented on #240
Thanks. I added some minor additions.

[2017-06-01 13:07] dimpase commented on #240
I've added more stuff there.

[2017-06-01 13:59] fcayre commented on #86
@martinal about your first point (github): no we won't move the code to github.com for following reasons:

- we do not use git but mercurial (which Logilab actively contributes to)
- _centralizing_ everything in a unique website (github.com) has proven to be harmful to open source in the past, although it definitely has practical advantages (like gmail has in another field)
- we do not want to lea

[2017-06-01 14:03] fcayre commented on #86
@martinal about your second point, thanks for reporting this licence problem. This is a bug as we usually publish our software as GNU LGPL. I'll try to fix that in a near future.

[2017-06-01 14:32] vidartf commented on #86
@fcayre Is there an issue tracker for scjivijs? Having somewhere to report issues and discuss potential changes is the main feature that is "missing". You could potentially set up a github fork/mirror/dummy for that purpose (but with instructions that all source changes happen in the repository of your company).

[2017-06-01 14:34] vidartf commented on #86
Oh, saw the paragraph about email list. I guess that would work as long as it is archived publicly.

[2017-06-01 16:58] fcayre commented on #86
@vidartf you could register at our forge at https://www.logilab.org/project/scivijs but you will likely prefer using the mailing list (just setup, see https://lists.logilab.org/mailman/listinfo/scivijs-devel) instead of learning another tool.

[2017-06-02 07:40] minrk commented on #240
Thanks all, I've submitted the responses (I'm on US Pacific time today). We'll find out more in a couple of weeks.

[2017-06-09 07:40] martinal commented on #86
@fcayre are all the developers on the list now? I registered and sent an email to your new list but maybe I was too quick and nobody saw it:
https://lists.logilab.org/pipermail/scivijs-devel/2017-June/thread.html

[2017-06-09 15:18] jdemeyer commented on #235
FYI: I just wrote a blog post http://opendreamkit.org/2017/06/09/CythonSphinx/

[2017-06-14 08:53] embray commented on #235
I would like to comment on your blog post directly on the post, but apparently we don't have that...

I have a little experience setting up Disqus comments.  If there's no opposition to doing so, I'd be happy to do it.  @VivianePons ?  @nthiery ?

[2017-06-14 09:05] fangohr commented on #235
It's low effort and good to have, I would say.

[2017-06-14 09:10] defeo commented on #235
Disqus = trackers.

Currently we have no third party assets, and we do not install cookies (we went as far as disabling browser tracking in the analytics system). Having a commenting system would force us to show an EU cookie banner.

Of course, that's all acceptable if we need comments.

[2017-06-14 09:28] embray commented on #235
I think anyone who cares about that has their own solutions already (e.g. not accepting third-party cookies).

[2017-06-14 09:32] defeo commented on #235
I agree. The EU banner is compulsory, though.

[2017-06-18 02:27] nthiery commented on #235
On Wed, Jun 14, 2017 at 01:53:04AM -0700, Erik Bray wrote:

Thanks for offering!

I have no experience with that specific techno, nor specific opinion
beside keeping things simple and as clean as possible w.r.t. personal
data. If it's for internal use, I'd say we might as well just edit the
sources on github. If we believe we should enable comments by
outsiders, then that (or some other techno?) c

[2017-06-21 15:40] embray commented on #64
@defeo and I are discussing what to do for this deliverable, and it's hard to be exactly sure at this point.

As Luca tells me, part of the original background to this goes back to part of the reason William developed SMC in the first place--that he wanted to be able to develop Sage on his Chromebook. The idea was that one might do development of Sage itself in SMC, in which case it would be occas

[2017-06-28 11:53] minrk commented on #211
We need to work on scheduling this workshop. I would like to try to host this at Simula in Oslo, if possible, likely in early to mid October or early November.

I've opened this [whenisgood](http://whenisgood.net/gjejzms) for scheduling the workshop.

[2017-06-29 16:00] nthiery commented on #64
Hi Erik!
Thanks for the thoughts. Just as an additional data point: this deliverable indeed takes its origins from discussions about how to simplify contributions. And in particular about how to make it trivial to do trivial contributions, in order to enpower end users and crowdsource the polishing of the zillion tiny rough edges of Sage.

Typical scenario: Alice is working in the VRE, reads some

[2017-06-30 07:57] embray commented on #64
I mean, for Sage specifically, I don't really see that as a "VRE" issue at all, or at least not as much.  All we really want is an "Edit on GitHub" link for Sage's HTML docs.  Hypothetically something similar in the interactive Python docs as well, though I'm not exactly sure what that would look like.

[2017-06-30 07:58] embray commented on #64
For anything other than documentation this becomes, I think, non-trivial.  Though I suppose for functions too it could be possible to have a way to go directly to their source code.

[2017-07-01 00:09] nthiery commented on #64
On Fri, Jun 30, 2017 at 07:57:56AM +0000, Erik Bray wrote:

I agree that it's not tightly coupled to the VRE.

Small things that a VRE integration could bring:

- "Edit on GitHub" (or trac/...) requires to login on github, and
  therefore have an account there. Since the user is already
  authenticated on the VRE, that could be used as credentials in the
  workflow.

- The edition could take place

[2017-07-03 09:28] embray commented on #64
That seems like a possible lot of work with many potential pitfalls for not much benefit.  How many people are really going to edit source code or even documentation on jupyter lab, as opposed to the editors they already have working locally?  I could see this as potentially useful on a small scales for users wanting to submit issues or small changes to a notebook, but not serious editing of sourc

[2017-07-03 14:29] #193 closed

[2017-07-03 14:29] bpilorget commented on #193
Amendment accepted!

[2017-07-03 14:30] bpilorget commented on #227
Report was accepted by the Reviewers

[2017-07-03 14:30] #227 closed

[2017-07-09 17:09] mikecroucher commented on #29
Do we have a link to the technical report please @VivianePons

[2017-07-09 23:16] nthiery commented on #29
OpenDreamKit.org -> Events and Activities -> Reports:

http://opendreamkit.org/events_activities/reports/

Cheers,

[2017-07-14 08:44] jdemeyer commented on #96
What should be done here? Of course 'full featured' is very ambiguous. The only thing I can immediately think of is syntax highlighting. But I know essentially nothing about Javascript, so I don't think it's a good idea for me to work on that.

[2017-07-14 14:20] minrk commented on #240
Forgot to update: we didn't get it this time, as probably expected based on the early review.

[2017-07-14 14:20] #240 closed

[2017-07-14 14:37] minrk commented on #96
I would say a full-featured Jupyter kernel means:

- [ ] syntax highlighting
- [ ] supports complete_request (tab completion)
- [ ] supports inspect_request (shift-tab in notebook)
- [ ] provides some rich display of objects and/or plotting, as appropriate
- [ ] is reasonably well documented, installable, etc.

omitting (with reason) any individual item, as appropriate.

[2017-07-14 14:40] minrk commented on #96
I think the gist is: D4.4's goal is to show that it's possible and get the basics going, and D4.7 was to develop it the level of being useful, which is dependent on the expectations of the user community of each kernel. Based on the deliverable consolidation discussion, these probably shouldn't have been separate deliverables and I would merge them into "Jupyter kernels for GAP, PARI/GP, Singular"

[2017-07-14 21:28] nthiery commented on #240
On Fri, Jul 14, 2017 at 02:20:43PM +0000, Min RK wrote:

Missed again. Thanks for trying!

[2017-07-14 21:30] nthiery commented on #238
Hi @minrk,

Did you get any news from Gergely and Enol? If not, that could be a good time for a ping.

Cheers,

[2017-07-14 21:41] nthiery commented on #96
+1

I would add: distribution of the kernel with Sage (preferably as a
standard package) and installation on CoCalc (possibly as a side
effect of the former). It could be reasonable for the kernel to be
included as well in the distribution of the relevant component itself.

Possibly also some of the items at the end of the description of:

        https://github.com/OpenDreamKit/OpenDreamKit/issue

[2017-07-14 21:55] videlec commented on #96
Vincent K (engineer at Bordeaux) is mostly done with the gmpy2 and pplpy integration in Sage. That might be a good continuation! I will ask him about working on the Pari kernel (starting with fixing [issue 2](https://github.com/jdemeyer/pari_jupyter/issues/2) and [issue 3](https://github.com/jdemeyer/pari_jupyter/issues/3)). And possibly more kernels after that. Is that ok?

[2017-07-17 08:42] embray commented on #96
I can help with all of the above if needed, though I know virtually nothing about GAP, PARI/GP, etc. beyond some basics of how they work. So if there are people with specific knowledge of what features would be useful in kernels for them (as in, the ones @minrk listed) I can work with them on the implementation.

[2017-07-30 16:53] slel commented on #93
Regarding CoCalc (formerly SageMathCloud) integration of Jupyter kernels:
- Singular: tested at ODK workshop at ICMS, live in CoCalc since late January 2017
- GAP: tested at Sage Days 87, live in CoCalc since late July 2017
- PARI: tested at Sage Days 87, live in CoCalc since late July 2017

[2017-07-31 06:12] sebasguts commented on #96
Short update on the Singular kernel: Tab-completion is available, as well as documentation. I will give an update of the remaining points during this week.

[2017-08-07 14:01] minrk commented on #211
Based on the whenisgood responses, it looks like the week of 16 October is going to work best for this. We can host it [at Simula](https://www.simula.no/about/contact-simula), which is in Fornebu in the Oslo area. I can provide more transport details if that sounds good to everyone.

I suppose we should set up a formal event?

[2017-08-08 10:39] Juanlu001 commented on #86
One question: why plotly has not been considered as an alternative, either in the package list or the review of the existing alternatives?

[2017-08-14 11:04] sebasguts commented on #211
I would be interested in this, too.

[2017-08-16 13:53] bpilorget commented on #45
@VivianePons This deliverable is officiallu due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:54] bpilorget commented on #46
@VivianePons This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:54] bpilorget commented on #47
@defeo  This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:54] bpilorget commented on #48
@marcinofulus  This deliverable is officially due for 31/08/2017. Can you please report here on the progress you have achieved?
Thanks in advance

[2017-08-16 13:55] bpilorget commented on #63
@defeo  This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:55] bpilorget commented on #64
@defeo This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:55] bpilorget commented on #65
@defeo  This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:56] bpilorget commented on #66
@defeo This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:56] bpilorget commented on #85
@kohlhase This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:57] bpilorget commented on #86
@minrk  This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:57] bpilorget commented on #87
@jdemeyer @hivert  This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:58] bpilorget commented on #108
@videlec @KBelabas  This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:58] bpilorget commented on #121
@hivert @ClementPernet  This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:58] bpilorget commented on #122
@ClementPernet

[2017-08-16 13:59] bpilorget commented on #138
@kohlhase  This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:59] bpilorget commented on #139
@florian-rabe  This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 13:59] bpilorget commented on #149
@dimpase @embray  This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 14:00] bpilorget commented on #150
@mikecroucher @dimpase This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 14:01] bpilorget commented on #96
@minrk @jdemeyer  This deliverable is officially due for 31/08/2017. Can you please report on the progress you have achieved?
Thanks in advance

[2017-08-16 14:17] minrk commented on #86
@bpilorget in the latest proposal revision, this was merged with D4.14 and due in M36. There is plenty of progress so far, but this deliverable won't exist in the final report.

[2017-08-16 14:22] bpilorget commented on #86
This is simply to have a trace of this in the issue. FYI the modifications in the workplan have not yet been officially accepted as the Commission is out of office until end August...

[2017-08-16 14:52] florian-rabe commented on #139
I think this should be assigned to @kohlhase

I'm involved in the MMT/GAP and MMT/Sage work, but @kohlhase is coordinating.

[2017-08-16 15:20] sebasguts commented on #96
`inspect_request` will be possible in the Singular kernel in the near future. I am not sure I can make it until end of August, but I will try. Syntax-Highlighting might work until then, too.

There is the possibility to plot images, using surf. Does this count as rich output?

[2017-08-16 17:15] minrk commented on #86
Makes sense. I'll add a writeup here shortly. Lots of good progress to report!

[2017-08-16 20:58] dimpase commented on #149
This is a deliverable that would disappear together with WP7. I think the most meaningful would be to request an extension on it, while we wait for our proposal on WP7 to be accepted.

[2017-08-17 06:39] kohlhase commented on #138
There is a [work-in-progress report (mostly about OEIS)](../tree/master/WP6/D6.4)  in the repos.

For the LMFDB the research has been done in @tkw1536 M.Sc thesis and we just need to put the necessary parts into the report.

For Findstat nothing has been done yet, and I would argue that we should not do that anytime soon.
In face the current state is that we have developed two general methods of d

[2017-08-17 06:50] kohlhase commented on #139
The work on this is done, we have mostly reported on this in Brussels, we only need to write this up.
The main people involved in this are @pdehaye, @nthiery, @markuspf, @tkw1536 and myself I think. We should have most of the parts lying around somewhere for GAP (after all this was part of the CICM 2016 paper).
BUT for SAGE, this needs to be written up, I am hoping for a contribution from @nthiery

[2017-08-17 07:04] kohlhase commented on #139
Incidentally, we made good progress on D6.8 (which is due in one year). @markuspf summarizes this as
[code]
We are planning to submit a paper on this soon, (authors to be deterined), so we could probably already give a preview.

[2017-08-17 08:41] nthiery commented on #96
Dear Jupyter kernel writers,

Of course it's always good to look over each other shoulders for
inspiration of what could be useful features. Yet each component
(GAP/Singular/...) is different in its use cases. Rather than trying
to tick boxes from a uniform list of should-have features, let's use
this deliverable as an occasion to look at the feedback from users of
each basic kernel, and devote so

[2017-08-17 10:51] VivianePons commented on #46
In the revised plan, this deliverable was removed. It was merged with D2.11

2017-08-16 15:54 GMT+02:00 bpilorget <notifications@github.com>:

[2017-08-17 11:27] bpilorget commented on #46
Thanks :)
Yes but the revised plan will not be officially accepted before the deadline, hence the need for your answer

[2017-08-17 11:47] VivianePons commented on #46
I will start preparing the document next week, it will eventually contain
all the data about events that happened in 2016-2017 and also 2017-2018 (D
2.11). But considering it is the end of august, I'm not going to rush
people next week to have everything by the D2.6 deadline (this document
depends on many different persons). I would rather leave more time to get
more comprehensive information on e

[2017-08-17 11:53] bpilorget commented on #46
I know all this :) Just reminding the deadline that's all

[2017-08-17 13:18] jdemeyer commented on #96
I'm sorry to say this, but I do not know anybody actually using one of these kernels.

[2017-08-17 13:24] jdemeyer commented on #96
Well, modulo the installation issues regarding `surf`. For example, it was refused as optional Sage package because it is too hard to build on OS X.

The problem is that surf-in-Jupyter only needs a small subset of the full `surf` program, and it's precisely the parts which are **not** needed for Jupyter that contribute to the build difficulties.

Anyway, I don't know how relevant this is to this

[2017-08-17 13:49] sebasguts commented on #96
There are people using the Singular kernel. I don't know any of those, either, but I received some request for bug fixes, mostly from students, and I also was pointed to this example https://github.com/jifarran/brnoeth/blob/master/brnoeth.ipynb of somebody using it to publish his talk. But I am not sure how to benefit from their experiences, so I think your claim is valid here.

True, but `Singula

[2017-08-18 12:33] nthiery commented on #139
On Thu, Aug 17, 2017 at 06:50:59AM +0000, Michael Kohlhase wrote:

Thanks Michael for the feedback and the update on ongoing work!

I thought about it a bit more, but that has not been exercised with
practical use cases, and that's what's needed now to get from nebulous
thoughts to concrete actions. I guess what I need is to get together
with your team, like Markus did. Fall is going to be busy wi

[2017-08-18 18:26] slel commented on #96
I edited the issue description to add the items suggested by @minrk and @nthiery
in their comments https://github.com/OpenDreamKit/OpenDreamKit/issues/96#issuecomment-315376165 and https://github.com/OpenDreamKit/OpenDreamKit/issues/96#issuecomment-315474684.

I ticked boxes and added links to relevant SageMath trac tickets or CoCalc github issues,
please tick more boxes and add more links if rele

[2017-08-21 12:45] embray commented on #63
This deliverable was specifically singled out in the reviewer report as one that has been overcome by events and should have its resources reallocated.

[2017-08-21 12:48] embray commented on #64
Last week @nthiery and I discussed a possible different direction for this deliverable, involving developing better integration between GitHub and Sage's Trac--so doing would potentially enable easier editing of Sage's documentation, among other things.  This new direction wouldn't necessarily relate to SageMathCloud, but in retrospect integration with SMC is not necessarily the best way to achiev

[2017-08-22 14:16] slel commented on #63
Anyone can now install a single-user version of CoCalc using Docker.
The source files and the docker image are at
- https://github.com/sagemathinc/cocalc-docker
- https://hub.docker.com/r/sagemathinc/cocalc/

[2017-08-24 10:19] embray commented on #63
I think it's still a bit odd to call the existing CoCalc Docker image a "single-user" version.  It's still technically a multi-user system, and one has to "register" and "account" in it, and also manually add one's self as an "administrator" on the server to really use it.  It's not equivalent to, say, firing up a Jupyter Notebook server on one's machine.

This makes some sense, of course, as CoCa

[2017-08-27 01:33] minrk commented on #211
Anyone interested in participating in this workshop can register here: https://www.eventbrite.com/e/opendreamkit-workshop-on-live-structured-documents-tickets-37364670736

[2017-08-28 08:29] embray commented on #66
I'm working on writing the report.  I should add that although the title of this deliverable mentions "32bits", the 32-bit Windows install won't be available in time for the original deliverable due date due to technical challenges.  It's an open question whether it's worth delivering a 32-bit installer at all, and I'll address that question a bit in the report (my own opinion is that I think it *

[2017-08-28 09:34] embray commented on #66
Should I also write up a more comprehensive description of the deliverable, as in #62 ?  I'm also not sure what the "Nature" of the deliverable should be.  The primary deliverable is the software product itself--the Windows installer for Sage.  But the deliverable will also include a report (I assume?) since it's significant-enough work to write about I think.

[2017-08-28 10:10] matthew-brett commented on #66
I don't know whether it's relevant, but we (Scipiers) recently cracked the Scipy build problem by using gfortran in a somewhat complicated way with MS Visual C - see https://github.com/scipy/scipy/pull/7616 and https://github.com/MacPython/scipy-wheels/pull/3 .  The only data I have quickly to hand on 32 bit Windows is from the [steam survey](http://store.steampowered.com/hwsurvey/) which says tha

[2017-08-28 12:10] embray commented on #66
@matthew-brett Thanks for pointing out the Steam survey.  I was having trouble finding any current statistics of 32-bit vs 64-bit Windows installs.

The major issue with 32-bit support has nothing to do with any particular bugs in dependencies, which I could probably fix one way or another.  The main problem is a nasty cocktail of Cygwin, fork, and memory layout constraints on 32-bit :/

[2017-08-28 12:13] matthew-brett commented on #66
That does sound like a particularly unattractive cocktail :(

[2017-08-28 12:13] embray commented on #66
It would also be really nice, in cases where `fork()` is used, to replace it (on Cygwin) with the appropriate `spawn*()` variant, where possible.  In some cases `fork()` may be needed, but many fork/exec cases can be replaced with a `spawn()`, side-stepping (and slightly speeding up) many fork issues.

[2017-08-28 12:37] nthiery commented on #66
Hi Erik!
Thanks for the update. We had mentionned 32bits in the original proposal because back then we expected it to be easier (Jean-Pierre had made much more progress for 32bits than 64bits). In fact, in some intermediate stage, we had two deliverables, an earlier one for 32bits, and a later one for 64bits.
Meanwhile things have changed, and the 64bits has indeed become the most important goal.

[2017-08-28 12:43] embray commented on #66
@nthiery Just to clarify--I *should* be writing a report, yes?  I'm a little confused, as in the proposal D3.1 and D3.7 have been "merged", but they're really pretty different, and we already published a report specifically for D3.1...

[2017-08-28 12:54] nthiery commented on #66
Ah, right, I had forgotten that we had proposed to merge this deliverable with the other packaging/distribution deliverables.

Well, we will need anyway to report on the work here -- and that was a
lot of work you put -- which also had much impact outside of the
deliverable itself. This will take a comprehensive description of the
context, what was achieved, the aftermath, the sustainability, ...

[2017-08-28 13:03] embray commented on #66
Okay, maybe I'll take what I have and put it in blog format for now.

[2017-08-29 08:34] jdemeyer commented on #87
Would be okay to delay this deliverable?

[2017-08-29 16:46] defeo commented on #47
This deliverable needs a couple more months. We shall meet with @videlec to work on it. I think it can be completed by the end of november.

[2017-08-29 16:55] defeo commented on #63
I confirm what @embray said: this deliverable was officially scapped. See 6.2 in https://github.com/OpenDreamKit/Participants/blob/master/ReportingPeriod1/WorkPlanRevisions.tex

[2017-08-29 16:58] defeo commented on #65
This deliverable was officially merged in D3.10 (#59), due M48, in the latest work plan revision. See https://github.com/OpenDreamKit/Participants/blob/master/ReportingPeriod1/WorkPlanRevisions.tex

[2017-08-29 19:10] KBelabas commented on #108
* Clément Pernet [2016-09-07 10:10]:

This deliverable was scheduled to be merged with D5.16 in the revised
workplan.

The generic engine was written and finalized in 2015 and 2016 and is in
production since PARI-2.9 (released 11/2016), it supports sequential
evaluation (no parallelism), POSIX threads and MPI within the same code
base. In the released PARI-2.9 branch, this is applied to
- fast (~l

[2017-08-29 22:29] nthiery commented on #63
Note that the above proposal has not been officially accepted yet. But
yes, that part was suggested by the reviewers, so it's unlikely that
it would not be accepted.

[2017-08-31 13:46] martinal commented on #86
The most mature scenegraph and high level computer graphics API for
Javascript and the web is Three.js, and the pythreejs project exposes
large parts of this API to Python based Jupyter Notebooks via the
ipywidgets framework. We have contributed a significant expansion of
the feature set, bug fixing, and general code improvement to this
project, building on a previous initiative to autogenerate mo

[2017-08-31 13:46] martinal commented on #86
A set of infrastructure packages has been developed based on the
Jupyter widgets protocol. These include packages for efficiently
transferring binary data from the kernel side to the browser
front-end, data scales, and common plot utilities such as an
automatically scaling 3D plot grid. The intent is for these to be
re-usable across projects, to centralize development of common
features and thus a

[2017-08-31 13:47] martinal commented on #86
To investigate how far we can push WebGL and Three.js, we have
implemented a prototype volume rendering engine for visualizing
functions on unstructured tetrahedral meshes such as used in finite
element analysis. The current prototype includes order independent
volume rendering techniques such as pure absorption (xray style), pure
emission, maximum intensity projection, and multiple isosurfaces. F

[2017-08-31 14:23] martinal commented on #86
There's also great work on K3D-jupyter and SciviJS that should be summarized here (@marcinofulus, @fcayre).

[2017-08-31 20:33] nchauvat commented on #86
Hi,

On Thu, Aug 31, 2017 at 02:23:46PM +0000, Martin Sandve Alnæs wrote:

Recent work on SciviJS includes compiling C/C++ libs to WebAssembly to
accelerate things. We have written down a summary of that work I need
to commit.

--
Nicolas Chauvat

logilab.fr - services en informatique scientifique et gestion de connaissances

[2017-09-01 16:30] fangohr commented on #86
Hi @martinal and all, many thanks for the update.

I have just come across https://www.paraview.org/web/ by chance. This looks like VTK files rendered in JavaScript. If correct, this would be very interesting for many people in engineering and science, and raises the question if this could be integrated into Jupyter Notebooks.

Has anybody get the technical background to comment?

[2017-09-04 13:17] vidartf commented on #86
@fangohr KitWare is currently developing `vtk.js` as a javascript library. They have several releases, but it is still not (very well) documented. We're trying to keep an eye on it, and are considering creating Notebook bindings for it + paraviewweb as appropriate.

As an experienced user of VTK/ParaView, how would you envision the workflow to be in a Notebook in order to insure that both interact

[2017-09-06 15:02] bpilorget commented on #48
This deliverable is supposed to be merged with D2.9 #49 , and to be delivered in a year from now. However since the work is to help end-users to use the VRE software, the sooner the work is done the better :)

[2017-09-06 21:52] fangohr commented on #86
Hi @vidartf and team, thanks for the update. Notebook bindings for vtk.js and paravieweb would definitely be awesome, and should be very well received by all vtk/paraview/mayavi/Vizit users (all packages are based on VTK).

Regarding the workflow and reproducibility: ideally you could fire up a 3d scene with a command, then change its parameters interactively (for example parameters such as zoom,

[2017-09-06 21:53] fangohr commented on #86
By the way, Marijan will be in touch with some example code and 3d data that we would like to render in the notebook. Maybe you can help him in adding code to render this with the tools you have developed so far. This would also be a useful base to discuss workflows (and interfaces) in a concrete context.

[2017-09-06 22:40] choldgraf commented on #86
@fangohr (and the rest of this thread) should check out ipyvolume. It's added trisurf functionality since the last time it was mentioned in this thread. It gets _pretty close_ to almost anything else you could do with mayavi (not stuff like interactively recording actions though). We've been playing around with it for creating brain surfaces and it is nearly there for our use case.

[2017-09-07 05:44] prabhuramachandran commented on #86
Hi all, while the tools that are now being created are awesome, I think it is important that we perhaps collaborate on things.  While I appreciate the really awesome developments on the other tools like ipyvolume, some people (perhaps not those on this thread) underestimate the amount of work required to build all the capabilities of VTK.  I am really preoccupied now with some other project work b

[2017-09-07 06:27] nthiery commented on #86
Just for the record.

In case getting together for a joint workshop/coding sprint could
foster such collaborations, and if someone feels like organizing it,
(co)funding it would be an excellent use of ODK's money, while it's
still available (only two more years).

Cheers,
                                 Nicolas

[2017-09-07 13:22] vidartf commented on #86
@fangohr A bit of a concretization of my current thoughts/ideas:

To have a robust reproducability (i.e. the frontend can send its state back to the kernel), a jupyter-widgets based approach is the best candidate. That also gives a bunch of other good infrastructure to use, and incorporates well into the jupyter ecosystem.

Picking a good serialization state for synchronization is critical. In ter

[2017-09-09 20:35] SylvainCorlay opened #246 "Jupyter Widgets Workshop"
(As discussed in person with @nthiery and @jasongrout and @ellisonbg at JupyterCon)

It would be really useful to get Jupyter Widgets developers to meet for a specialized workshop of a week or so. The target audience would be:

 - developers & users who make an advance use of Jupyter widgets & friends.
 - developers who have built custom widget libraries making use of Jupyter widgets.
 - developer

[2017-09-09 20:55] SylvainCorlay commented on #246
CC

- (bqplot) @dmadeka, @ChakriCherukuri, @rmenegaux, @ssunkara
- (beakerx) @scottdraves
- (nonexhaustive Jupyter) @jasongrout, @ellisonbg, @jdfreder, @afshin, @takluyver, @minrk, @blink1073, @mwcraig, @choldgraf
- (nglview) @arose, @hainm
- (R) @ramnathv
- (Julia) @shashi
- (gmaps) @pbugnion
- (ipyvolume) @maartenbreddels
- (xwidgets) @JohanMabille, @gouarin
- (ipyleaflet) @cekees
- (Sage / ODK)

[2017-09-09 21:00] choldgraf commented on #246
I think this is a cool idea!

[2017-09-09 21:31] hainm commented on #246
that's cool. I can not make it outside US at current time frame but @arose might be. Cheers.

[2017-09-10 09:32] jdemeyer commented on #246
I'm interested.

[2017-09-10 11:26] vidartf commented on #246
I think this is a good idea, and I'm definitely attending if this happens!

[2017-09-10 20:02] cekees commented on #246
I'm interested and would be willing to help line up some travel funding. January is better for me due to our proteus developers' workshop in December, which is alongside the American Geophysical Union meeting, 11-15 December in New Orleans.

I know that New Orleans meeting is not convenient for most on this list, but I'd be willing to devote a day of our developers' workshop to geosciences/geospat

[2017-09-10 20:13] nthiery commented on #246
On Sun, Sep 10, 2017 at 08:02:30PM +0000, Chris Kees wrote:

My wife (A. Saintenoy) turns out to be working in Geosciences
(GeoRadar); I don't think she is planning to attend AGU this year, but
I would be interested by the outcome, to feed her long time pondering
about switching to Python/Jupyter :-)

[2017-09-10 20:21] mwcraig commented on #246
Definitely interested, though it depends on the availability of travel funding...

[2017-09-10 20:45] slel commented on #246
I would be very interested.

[2017-09-11 13:12] jasongrout commented on #246
Definitely interested. Early January might be a better timeframe for me - @ellisonbg and I are going into heads-down mode to get JupyterLab out the door, and some of the improvements in the underlying framework there will likely lead to lots of possible improvements in widgets, and could coincide with the start of a push towards dashboarding overall.

[2017-09-11 15:12] stargaser commented on #246
This is a great idea! I would definitely attend.

[2017-09-11 16:17] arose commented on #246
That is a great idea, I am likely in Europe December/January anyway.

[2017-09-11 16:24] choldgraf commented on #246
I'll be in France (for xmas vacation) from mid-December to January 2nd or
3rd. I could probably extend my flight to *after* the 3rd if this meetup
would be soon thereafter.

--

On Mon, Sep 11, 2017 at 9:18 AM Alexander Rose <notifications@github.com>
wrote:

[2017-09-11 16:37] choldgraf commented on #246
also to add another potential project to your list, there's a (fairly young) neuroimaging widgets package developing here:

https://github.com/janfreyberg/niwidgets (@janfreyberg)

[2017-09-11 16:57] janfreyberg commented on #246
definitely interested in something like this - pending travel funding I would certainly attend!

[2017-09-11 16:59] ellisonbg commented on #246
I probably can't make it myself, but I excited to see this move forward. I
am guessing that Fernando and I can find some funds to help make it happen.

On Mon, Sep 11, 2017 at 9:37 AM, Chris Holdgraf <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu

[2017-09-11 17:18] Carreau commented on #246
I should be Europe end of Dec/January as well, so happy to participate.
+1 on trying to get travel funding. And excited to see this across languages.

[2017-09-11 17:29] rmorshea commented on #246
I would be very interested in going, however having paid my way for JupyterCon I think my attendance would be contingent on travel funding, especially if it's outside the US.

[2017-09-11 19:15] tboch commented on #246
I'm interested as well. Attendance subject to boss approval :)

[2017-09-12 06:22] fangohr commented on #246
Hi all - I may be able to arrange hosting in the north of Germany - I'll check and get back.

Regarding time scales: I would say we should do this after the release of JupyterLab as @jasongrout suggested, so not before 2017?

Is there any value in having a JupyterLab workshop as well so that current Jupyter Notebook users and developers get an overview of what is new and possible both in more gene

[2017-09-12 16:26] ellisonbg commented on #246
Also, we can probably have Ana help in the logistics and organization of
this

On Mon, Sep 11, 2017 at 11:22 PM, Hans Fangohr <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-09-12 20:17] scottdraves commented on #246
sgtm!

[2017-09-21 15:00] kohlhase opened #247 "D6.6 GAP/SAGE/LMFDB Interface Theories and Alignment in OMDoc/MMT for System Interoperability"
- **WP6:** [Data/Knowledge/Software-Bases](https://github.com/OpenDreamKit/OpenDreamKit/tree/master/WP6)
- **Lead Institution:** FAU
- **Due:** 2018-02-28 (month 30)
- **Nature:** Other

See page 55 of the [proposal](https://github.com/OpenDreamKit/OpenDreamKit/raw/master/Proposal/proposal-www.pdf) for the full description.

This is merged from #138 and #139.

cc: @nthiery

[2017-09-21 15:02] kohlhase opened #248 "D6.10: Curated Math-in-theMiddle Ontology and Alignments for GAP/ SAGE/ LMFDB"
- **WP6:** [Data/Knowledge/Software-Bases](https://github.com/OpenDreamKit/OpenDreamKit/tree/master/WP6)
- **Lead Institution:** FAU
- **Due:** 2018-08-31 (month 36)
- **Nature:** Other

See page 55 of the [proposal](https://github.com/OpenDreamKit/OpenDreamKit/raw/master/Proposal/proposal-www.pdf) for the full description.

This has been merged from #141 and #142

cc: @nthiery

[2017-09-21 15:05] kohlhase opened #249 "D6.13: Full-text search (Formulae + Keywords) in OpenDreamKit"
- **WP6:** [Data/Knowledge/Software-Bases](https://github.com/OpenDreamKit/OpenDreamKit/tree/master/WP6)
- **Lead Institution:** FAU
- **Due:** 2019-02-28 (month 42)
- **Nature:** Other

See page 55 of the [proposal](https://github.com/OpenDreamKit/OpenDreamKit/raw/master/Proposal/proposal-www.pdf) for the full description.

this has been merged from #140 and #134
cc: @nthiery

[2017-09-21 15:07] kohlhase commented on #201
OK, implemented

[2017-09-21 15:07] #201 closed

[2017-09-21 15:08] #138 closed

[2017-09-21 15:08] #140 closed

[2017-09-21 15:08] #141 closed

[2017-09-22 08:28] bpilorget commented on #48
For now, current state of work is reported here: The current state of the work is https://github.com/Hadriamit/iODKbook2

Workplan to be explained on this issue in October 2017

[2017-09-22 16:56] mikecroucher opened #250 "D2.?? Introduce OpenDreamKit to Researchers and Teachers as laid out in Task 2.6"
Placeholder. I need an issue number for the grant amendment. Will add details later

[2017-09-25 13:18] minrk commented on #211
A reminder to everyone interested that this workshop will be in Oslo the week of 16 October. Please [register](https://www.eventbrite.com/myevent?eid=37364670736) if you are planning to come and feel free to ask me any questions about logistics.

[2017-09-26 11:01] kohlhase commented on #211
Do we have a list of participants yet?

[2017-09-26 22:27] alex-konovalov commented on #186
Closed as outdated.

[2017-09-26 22:27] #186 closed

[2017-09-27 11:49] bpilorget commented on #173
Team of interns to propose evolutions to Coordinator and WP2 leader by Spring 2018

[2017-09-30 16:00] nthiery commented on #211
A participant list would be great indeed, as well as some preliminary schedule. I'll be organizing the [Fête de la Science](http://fetedelascience.org) for the lab here on Sunday, so may adjust my flight time accordingly to not rush too much between the two.

[2017-09-30 17:51] SylvainCorlay commented on #246
cc @astrofrog

[2017-09-30 18:05] nthiery commented on #246
cc @haraldschilly ([CoCalc](cocalc.com), formerly SageMathCloud)

[2017-09-30 18:56] astrofrog commented on #246
Definitely interested! (depending on dates)

[2017-10-03 09:13] nthiery commented on #211
Ok, for the record, I booked my flight, arriving in Oslo at 23:30 on Sunday the 15th, and flying back on around 17:00 on Monday the 23rd.
I was planning to stay at the recommended hotel near Simula (Scandic Fornebu), but apparently it's booked out for that period (?).

Who would be up for sharing an AirB&B with me? There are a few options close by which should make for around 50€ per person per ni

[2017-10-03 09:29] takluyver commented on #211
I'll be there from Sunday morning to Saturday morning, staying at Scandic Fornebu.

[2017-10-03 09:34] kohlhase commented on #211
I will attend Sunday night to Wednesday afternoon.

[2017-10-03 11:30] rbeezer commented on #211
I'll attend Tuesday through Friday.  I booked a room in the city center, since it is my first trip to Norway.  Offline much of the next two weeks - without even electricity.

See everybody soon.

Rob

On October 3, 2017 2:13:13 AM PDT, "Nicolas M. Thiéry" <notifications@github.com> wrote:

[2017-10-03 14:22] minrk commented on #211
Participants registered so far:

- @kohlhase
- @tkw1536
- @takluyver
- @nthiery
- @vidartf
- @minrk
- @sebasguts
- @rbeezer

As for agenda, I would like to spend most of the time working toward specific goals, rather than presenting things to each other. To that end, I think spending the morning of Monday and Tuesday presenting some of the aspects of different projects we can work on, and the rest

[2017-10-13 09:41] fangohr commented on #86
Hi @vidartf,

thank you for outlining that. It sounds sensible and plausible to me but I am not deep enough into this to offer any critical review. Maybe others can - @prabhuramachandran and all others in this issue?

Regarding your one query:

Do you mean: can we read VTK files without the VTK dependency tree? If so, read on: I have been using pyvtk (https://github.com/pearu/pyvtk) to read VTK fi

[2017-10-13 22:34] jasongrout commented on #246
Cc @williamstein

[2017-10-15 15:15] takluyver commented on #211
I'm at the hotel. If anyone else is here or nearby in Fornebu, and wants to get dinner together, let me know.

[2017-10-15 19:28] kohlhase commented on #211
Tom and I will be coming in at 22:00, too late for dinner. But we can meet at breakfast.
I think that @nthiery said that he wanted to be at Simular 8-9. So unless I hear something from him on this channel, I will plan for a breakfast at 7:30.

[2017-10-15 22:51] minrk commented on #211
I’ll be at Simula ready for everyone by 9. See folks in the morning!

[2017-10-16 08:32] nthiery commented on #211
Here is a pad for brainstorming:
https://semestriel.framapad.org/p/live-structured-documents-workshop

[2017-10-16 08:56] sebasguts commented on #246
Would this be of interest for kernel developers which want to provide backends for iPyWidgets in their kernel?

[2017-10-19 14:58] vidartf commented on #246
@SylvainCorlay Have you settled on any more specific dates? I need to plan other events for January, so it would be very helpful to have more certainty around it. As such, any dates you know that the workshop will *not* be held will also be very helpful!

[2017-10-19 15:30] SylvainCorlay commented on #246
OK, I am getting back to you with dates before the end of the week.

[2017-10-19 15:32] SylvainCorlay commented on #246
FYI, we are writing a backend in C++ here https://github.com/QuantStack/xwidgets/

You can try it live in the following binder: https://beta.mybinder.org/v2/gh/QuantStack/xwidgets/0.4.0?filepath=notebooks/xwidgets.ipynb

The C++ kernel and this library rely on `xeus`, a C++ implementation of the protocol meant for facilitating the creation of kernels. Any xeus-based kernel can make use of xwidgets

[2017-10-19 15:36] scottdraves commented on #246
Another reimplementation of the kernel side of the widget protocol, including new widgets and the standard jupyter js widgets: https://github.com/twosigma/beakerx

it's similar to xeus but java instead of c++.

[2017-10-19 18:21] sebasguts commented on #246
@SylvainCorlay @scottdraves Thank you. I am going to have a look at xeus soon, even if it probably means reimplementing a lot of stuff. Lets see how this works out.

[2017-10-20 04:24] ellisonbg commented on #246
For the record. With the current kernel, xtensor, widget and C++ ecosystem
around Jupyter, I probably could have finished the coding part of my Ph.D
in <1/2 the time. This stuff is insane - hats off to all involved!

On Thu, Oct 19, 2017 at 11:21 AM, Sebastian Gutsche <
notifications@github.com> wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University,

[2017-10-24 13:31] bpilorget commented on #237
KPIs for Aim 1
Aim 1: Improve the productivity of researchers in pure mathematics and applications by
promoting collaborations based on mathematical software, data, and knowledge.
Qualitative metrics: success stories, reported as blog posts.
4.2.2. KPIs for Aim 2 / adoption of OpenDreamKit’s technologies
Aim 2: Make it easy for teams of researchers of any size to set up custom, collaborative Virtu

[2017-11-07 17:19] SylvainCorlay commented on #246
cc @davidedemarchi

[2017-11-08 07:34] fangohr commented on #237
This looks realistic - thank you to all those putting it together and contributing to it.

[2017-11-23 11:29] nthiery opened #251 "Workshop on low-level interfaces with libraries"
This issue is to discuss a tentative workshop next Spring (April), possibly in Cernay near Paris.

TODO: discuss and refine this would-be description

(Math) Computational systems face a tension between using high level languages (e.g. Python) for expressivity, ease of use and prototyping,  and low-level languages (e.g. C/C++) for power and speed, and also for modularity (using existing libraries,

[2017-11-23 11:31] nthiery commented on #251
@videlec, @serge-sans-paille (and anyone else!) would you be up for coorganizing this workshop with me?

[2017-11-23 11:45] SylvainCorlay commented on #251
As you know, I am very interested in this idea!

[2017-11-23 11:46] james-d-mitchell commented on #251
Me too!

[2017-11-23 12:02] hivert commented on #251
Hi Nicolas,

On Thu, Nov 23, 2017 at 11:29:16AM +0000, Nicolas M. Thiéry wrote:

As I told you, if in Cernay, I'm willing to take care of the local
organisation.

And of course I'm very interrested in the low level interfacing with EG James
semigroup or my growing https://github.com/hivert/HPCombi project.

Florent

[2017-11-23 12:39] sebasguts commented on #251
I would be very interested in this.

I have written several interfaces for libraries, for example PyNormaliz (Python interface to Normaliz), several interfaces from GAP to different libraries (Normaliz, polymake, recently Nauty), and I am currently working on a very tight integration between GAP and Julia (making it actually possible to make calls into both directions).

I unfortunately cannot say

[2017-11-23 12:55] serge-sans-paille commented on #251
@nthiery I'll be happy to help!

[2017-11-23 12:56] videlec commented on #251
@serge-sans-paille @nthiery I would also be happy to help!

[2017-11-24 14:41] vinklein commented on #96
We have a working syntax highliting for PARI/GP. [/pari_jupyter PR#5](https://github.com/jdemeyer/pari_jupyter/pull/5). I am currently working on singular kernel highlight.

[2017-11-24 17:00] videlec commented on #251
poll for the dates at https://framadate.org/RBpcIXSHU6p8Wcu1

[2017-11-24 17:02] nthiery commented on #251
Glad to see the enthousiam :-)
Next steps:
- extend the list of relevant projects above
- get in touch with the people / projects that are not yet following this. When you have good contacts (E.g. @SylvainCorlay with Root / cling, right?), feel free to go ahead and get in touch with them on behalf of the organizers (putting us in CC). Please edit the first comment here so that we keep track of who

[2017-11-24 17:05] videlec commented on #251
And as a prerequisite

- polish the description and have a default invitation e-mail

[2017-11-24 17:28] serge-sans-paille commented on #251
cc @aguinet for the cython <> pythran collaboration

[2017-11-24 17:29] serge-sans-paille commented on #251
Maybe developpers of CPython like @haypo would be interested too?

[2017-11-25 09:34] SylvainCorlay commented on #246
Hi Everyone, As per the email that was sent to you already:

As you know, the Jupyter Widgets Workshop will be held from **Tuesday Jan. 23rd** to **Friday Jan. 26th** 2018.

We just had the confirmation that CMAP Laboratory at **Ecole Polytechnique** will be hosting the workshop.

École Polytechnique is located about 20 miles south of Paris. C.f. map here:

https://www.google.fr/maps/place/%C3%89c

[2017-11-26 12:26] sebasguts commented on #251
@videlec How long are you planning to leave the poll open?

[2017-11-26 12:28] sebasguts commented on #96
@vinklein That it phantastic. If I can help you with any resources or if you need any change in PySingular or the singular jupyter kernel, let me know.

[2017-11-26 18:16] mwcraig commented on #246
@SylvainCorlay -- don't think I got the email, can you re-send?

[2017-11-26 19:13] SylvainCorlay commented on #246
Arg sorry about that Matt. I forwared you the thread.

[2017-11-26 20:55] serge-sans-paille commented on #251
@videlec / @nthiery for those people not working for OpenDreamKit that need to take vacation to come: do we plan a 2-days workshop ? May be 3-days?

[2017-11-26 22:40] nthiery commented on #251
We typically do 5 days. But if people can't make it for the full week,
that's fine. We may just want to refine the poll later on, to focus
the start or end of week on more specific themes according to whom is
available.

Cheers,
		Nicolas

[2017-11-26 22:41] nthiery commented on #96
On Fri, Nov 24, 2017 at 02:41:40PM +0000, vinklein wrote:

Oh, nice!!!

[2017-12-15 19:15] cekees commented on #246
CC @tridelat

[2018-01-03 22:07] slel commented on #251
Happy to help with little things during the workshop.

[2018-01-04 10:28] sebasguts commented on #251
Hi all,
did you already settle for some dates?
Cheers,
Sebastian

[2018-01-05 13:02] jdemeyer commented on #246
Any news on this?

[2018-01-05 13:10] jdemeyer commented on #246
Do you have more info about the timing? In particular, at what time do we start on 23 January? It matters for me because if we don't start too early, I would arrive Tuesday morning. Otherwise, Monday evening.

[2018-01-05 13:38] Carreau commented on #246
AN email should go out soon, we're reviewing informations to make sure they are correct and complete.

[2018-01-09 12:45] SylvainCorlay commented on #251
I should cc @JohanMabille here who is also very interested in the subject.

[2018-01-11 12:52] bpilorget commented on #46
Deliverable cancelled after 3rd Amendment of the Grant

[2018-01-11 12:52] #46 closed

[2018-01-11 12:58] bpilorget commented on #49
#48 was merged into #49 with 3rd amendment of the contract

[2018-01-11 12:59] bpilorget commented on #48
#48 was merged into #49 with 3rd amendment of the contract

[2018-01-11 12:59] #48 closed

[2018-01-11 13:01] bpilorget commented on #36
#46 was merged into #36  with 3rd amendment of the contract

[2018-01-11 13:05] bpilorget opened #252 "D2.17: Introduce OpenDreamKit to Researchers and Teachers as laid out in Task 2.6"
- **WP2:** [Community Building, Training, Dissemination, Exploitation, and Outreach](https://github.com/OpenDreamKit/OpenDreamKit/tree/master/WP2)
- **Lead Institution:** University of Sheffield
- **Due:** 2019-08-30 (month 48)
- **Nature:** DEC: Websites, patent fillings, videos etc.
- **Task:** T2.6 (#29) Introduce OpenDreamKit to Researchers and Teachers
- **Proposal:** [p. 38](https://github.c

[2018-01-11 13:09] bpilorget commented on #29
#252 replaced #45, #35 and #37 as deliverable for work laid out in this task. This decision was  taken in the 3rd amendment to the contract

[2018-01-11 13:10] bpilorget commented on #45
#252 replaced #45, #35 and #37.  This decision was  taken in the 3rd amendment to the contract

[2018-01-11 13:10] #45 closed

[2018-01-11 13:10] bpilorget commented on #35
#252 replaced #45, #35 and #37.  This decision was  taken in the 3rd amendment to the contract

[2018-01-11 13:10] #35 closed

[2018-01-11 13:11] bpilorget commented on #37
#252 replaced #45, #35 and #37.  This decision was  taken in the 3rd amendment to the contract

[2018-01-11 13:11] #37 closed

[2018-01-11 13:11] bpilorget commented on #252
#252 replaced #45, #35 and #37.  This decision was  taken in the 3rd amendment to the contract

[2018-01-11 13:13] bpilorget commented on #65
#65 was merged in #59 after the 3rd amendment to the contract

[2018-01-11 13:13] #65 closed

[2018-01-11 13:14] bpilorget commented on #59
#65 was merged to #59 after the 3rd amendment to the contract

[2018-01-11 13:17] bpilorget commented on #88
#88 was merged in #86 after the 3rd amendment to the contract

[2018-01-11 13:17] #88 closed

[2018-01-11 13:18] bpilorget commented on #86
#88 was merged in #86 after the 3rd amendment to the contract

[2018-01-11 13:22] bpilorget commented on #121
#121 was merged into #109 after 3rd amendment to the contract

[2018-01-11 13:22] #121 closed

[2018-01-11 13:22] bpilorget commented on #109
#121 was merged into #109 after 3rd amendment to the contract

[2018-01-11 13:24] bpilorget commented on #122
#122 was merged into #112 after 3rd amendment to the contract

[2018-01-11 13:24] #122 closed

[2018-01-11 13:24] bpilorget commented on #112
#122 was merged into #112 after 3rd amendment to the contract

[2018-01-11 13:26] bpilorget commented on #108
#108 was merged into #114 after 3rd amendment to the contract

[2018-01-11 13:27] bpilorget commented on #114
#108 was merged into #114 after 3rd amendment to the contract

[2018-01-11 13:30] bpilorget commented on #139
#138 was merged into  #139 after the 3rd amendment to the contract

[2018-01-11 13:30] bpilorget commented on #138
#138 was merged into  #139 after the 3rd amendment to the contract

[2018-01-11 13:35] bpilorget commented on #135
#135 was merged into #139 and #142 after 3rd amendment to the contract

[2018-01-11 13:35] #135 closed

[2018-01-11 13:35] bpilorget commented on #139
#135 was merged into #139 and #142 after 3rd amendment to the contract

[2018-01-11 13:36] bpilorget commented on #142
#135 was merged into #139 and #142 after 3rd amendment to the contract

[2018-01-11 13:42] bpilorget commented on #139
I reopened this issue as I haven't found any written report yet.

[2018-01-11 13:45] bpilorget commented on #68
#68 and #141 were merged into #142 after the 3rd amendment to the contract.

[2018-01-11 13:45] #68 closed

[2018-01-11 13:45] bpilorget commented on #141
#68 and #141 were merged into #142 after the 3rd amendment to the contract.

[2018-01-11 13:46] bpilorget commented on #142
#68 and #141 were merged into #142 after the 3rd amendment to the contract

[2018-01-11 13:48] bpilorget commented on #140
#140 was merged into #134 after the 3rd amendment to the contract

[2018-01-11 13:48] bpilorget commented on #134
#140 was merged into #134 after the 3rd amendment to the contract

[2018-01-11 13:51] bpilorget commented on #155
#155 was merged into #38 after 3rd amendment to the contract

[2018-01-11 13:51] #155 closed

[2018-01-11 13:52] bpilorget commented on #38
#155 was merged into #38 after 3rd amendment to the contract

[2018-01-11 13:55] bpilorget commented on #154
Cancelled after 3rd amendment to the contract

[2018-01-11 13:55] #154 closed

[2018-01-11 13:55] bpilorget commented on #153
Cancelled after 3rd amendment to the contract

[2018-01-11 13:55] #153 closed

[2018-01-11 13:55] bpilorget commented on #152
Cancelled after 3rd amendment to the contract

[2018-01-11 13:56] bpilorget commented on #151
Cancelled after 3rd amendment to the contract

[2018-01-11 13:56] #151 closed

[2018-01-11 13:56] bpilorget commented on #150
Cancelled after 3rd amendment to the contract

[2018-01-11 13:56] #150 closed

[2018-01-11 13:56] bpilorget commented on #149
Cancelled after 3rd amendment to the contract

[2018-01-11 13:56] #149 closed

[2018-01-11 13:57] #152 closed

[2018-01-11 13:58] bpilorget commented on #144
Cancelled after 3rd amendment to the contract. Person-Months reallcoated to WP3

[2018-01-11 13:58] #144 closed

[2018-01-11 13:59] bpilorget commented on #145
Cancelled after 3rd amendment to the contract. Person-Months reallcoated to #29

[2018-01-11 13:59] #145 closed

[2018-01-11 14:02] bpilorget commented on #146
Cancelled after 3rd amendment to the contract. Person-Months reallocated to #50, #52 and #105

[2018-01-11 14:02] #146 closed

[2018-01-11 14:03] bpilorget commented on #147
#147 was merged to #31 after the 3rd amendment to the contract

[2018-01-11 14:03] #147 closed

[2018-01-11 14:03] bpilorget commented on #31
#147 was merged to #31 after the 3rd amendment to the contract

[2018-01-11 14:13] bpilorget opened #253 "Aim 1: Improve the productivity of researchers in pure mathematics and applications by promoting collaborations based on mathematical software, data, and knowledge."
Qualitative metrics: success stories, reported as blog posts.

[2018-01-11 14:14] bpilorget opened #254 "Aim 2: Make it easy for teams of researchers of any size to set up custom, collaborative Virtual Research Environments tailored to their specific needs, resources and workflows (...)."
- Qualitative metrics: success stories about OpenDreamKit based VRE deployments (university-wide, Mathrice, EGI, Micromagnetics VRE, ...), and generally speaking adoption of OpenDreamKit’s
components.

- Quantitative metrics:
  - List of known OpenDreamKit based VRE deployments, as tracked on https://
github.com/OpenDreamKit/OpenDreamKit/issues/174
  - Number of installs of OpenDreamKit’s componen

[2018-01-11 14:15] bpilorget commented on #254
- Qualitative metrics: success stories
Example: Mike Croucher’s talk “Is your research software correct”, some research paper that showcases a range of best practices supported by ODK work (paper written collaboratively on e.g. github, software distributed as e.g. SageMath package, live demo and logbooks on binder, nbdime for collaboration, ...).

- Quantitative metrics:
  - Number of PyPI hosted

[2018-01-11 14:15] bpilorget opened #255 "Aim 3: Identify and promote best practices in computational mathematical research including: making results easily reproducible; producing reusable and easily accessible software; sharing data in a semantically sound way; exploiting and supporting the growing ecosystem of computational tools"
- Qualitative metrics: success stories
Example: Mike Croucher’s talk “Is your research software correct”, some research paper that showcases a range of best practices supported by ODK work (paper written collaboratively on e.g. github, software distributed as e.g. SageMath package, live demo and logbooks on binder, nbdime for collaboration, ...).

- Quantitative metrics:
  - Number of PyPI hosted

[2018-01-11 14:16] bpilorget opened #256 "Aim 4: Maximise sustainability and impact in mathematics, neighbouring fields, and scientific computing"
- Qualitative metrics: success stories

For example: Women in SAGE workshops; Use of JUPYTER, COCALC, etc. for teaching, at Sheffield, at the African Institute for Mathematical Sciences ; Stories about the impact of the Micromagnetics VRE; Impact of nbdime, 3D widgets, Thebelab, ...

- Quantitative metrics:
  - Statistics on workshops organized and conference presentations delivered as part of
our

[2018-01-11 15:56] bpilorget commented on #63
Canceled in 3rd amendment to the contract as work was done by the community

[2018-01-11 15:56] #63 closed

[2018-01-11 15:57] bpilorget commented on #85
D4.11 moved from M24 to M36 to incorporate results from workshop on live structured documents

[2018-01-11 16:03] bpilorget commented on #173
3 trainees in communication and dissemination are currently working on this topic.

[2018-01-11 16:11] bpilorget opened #257 "Milestone 1: Startup"
Objective: By this milestone we will have carried out the requirements study, design and
prototype implementations and started community building activities.

[2018-01-11 16:11] #257 closed

[2018-01-11 16:13] bpilorget opened #258 "Milestone 2: Implementations"
- **Means of verification**:
- **Description of the objective:** By this milestone we will have constructed first fully functional interface implementations and released enhanced versions of OpenDreamKit components, and train early adopters of OpenDreamKit.

[2018-01-11 16:14] bpilorget opened #259 "Milestone 4: Evaluation"
- **Means of verification**:
- **Description of the objective:** By this milestone we will have released final versions of all OpenDreamKit
components and completed the project evaluation.

[2018-01-11 16:15] bpilorget opened #260 "Milestone 5: ODK’s computational components available on major platforms"
- **Means of verification**: User story
- **Description of the objective:** users shall be able to easily install ODK’s computational components on the three major platforms (Windows, Mac, Linux) via their standard distribution channels.

[2018-01-11 16:16] bpilorget opened #261 "Milestone 6: Prototype VRE for mathematical researchers"
- **Means of verification**: User story
- **Description of the objective:** A group of mathematical researchers with access to common computational resources, such as a shared lab computer or cloud servers, shall be able to deploy a prototype VRE with JUPYTERHUB, integrating OpenDreamKit components. The Jupyter kernels for mathematical software developed as part of OpenDreamKit make computational

[2018-01-11 16:17] bpilorget opened #262 "Milestone 7: Collaborative VRE for mathematical researchers and beyond"
- **Means of verification**:
- **Description of the objective:** The prototype VRE shall be extended with improved ease of deployment, new functionality such as interactive 3D visualization and real-time collaboration, enabling researchers to collaborate productively in a shared computational environment. Finally, integrating notebooks and semantic knowledge into a publication / knowledge system e

[2018-01-11 16:18] bpilorget opened #263 "Milestone 8: Seamless use of parallel computing architecture in the VRE (proof of concept)"
- **Means of verification**: User story
- **Description of the objective:** "Astrid wants to run compute intensive routines involving both dense linear algebra and combinatorics. She has access through a JupyterHub-based VRE to a high end multi-core machine which includes a vanilla SAGE installation.
She automatically benefits from the HPC features of the underlying specialized libraries (LIN BOX,

[2018-01-11 16:19] bpilorget opened #264 "Milestone 9: First Math-In-The-Middle-based interoperability prototype"
- **Means of verification**: User story
- **Description of the objective:** thanks to a fully functional prototype integrating of at least the systems GAP, SAGE, S INGULAR, and LMFDB via the SCSCP Protocol, end users shall be able to run calculations involving any combination of those systems from any of them. This prototype will be the basis for integration work for additional systems and the use

[2018-01-11 16:21] bpilorget opened #265 "Milestone 10: Second Math-In-The-Middle-based interoperability prototype"
- **Means of verification**:
- **Description of the objective:** The goal of this milestone is to take into account all the operational experiences with the first prototype and add more systems and integrate some of the UI components from WP4. The experiences with the preparation of this prototype will allow us to estimate the joining costs of adding a system to the OpenDreamKit VRE toolkit, which

[2018-01-11 16:23] bpilorget opened #266 "Milestone 3: Community/Experiments"
By Milestone 3 we will have gathered and evaluated feedback on OpenDreamKit software and established the portfolio of experiments produced with OpenDreamKit through further engaging with the community.

[2018-01-11 16:23] bpilorget commented on #266
Milestone canceled in 3rd amendment of the contract

[2018-01-11 16:23] #266 closed

[2018-01-11 16:59] #250 closed

[2018-01-11 17:06] #232 closed

[2018-01-11 17:11] #169 closed

[2018-01-12 14:16] bpilorget commented on #247
Issue is no more relevant. See #139 for the right issue

[2018-01-12 14:16] #247 closed

[2018-01-12 14:18] bpilorget commented on #249
Issue is no more relevant. See #134

[2018-01-12 14:18] #249 closed

[2018-01-12 14:19] bpilorget commented on #248
Issue is no more relevant. See #142

[2018-01-12 14:19] #248 closed

[2018-01-19 09:48] SylvainCorlay commented on #251
cc @ax3l @barche

[2018-01-22 10:15] nthiery commented on #251
Indeed, we should fix dates very soon. Let's say before February 1rst. I am going to send now announcements and invitations to:
- sage-devel
- ...

[2018-01-22 10:38] Axel-Naumann commented on #251
Pending details we could participate with expertise on ROOT, cling and PyROOT/cppyy. Let us know!

[2018-01-22 10:51] nthiery commented on #251
Dear @Axel-Naumann: that would be great! Please join if you can.
(and fill in the date poll)

[2018-01-24 18:17] nthiery commented on #96
Hi,
With @sebasguts and @jdemeyer, we used the occasion of being in the same room to start drafting the report for this deliverable. It's was due in August, our kernels are in quite a good state (better is always possible). So let's get this done soon and move on.

Since we were editing all at the same time, we use the following pad:

    https://www.lri.fr/etherpad/p/odk-jupyter-kernel-report

Pl

[2018-01-26 12:51] jdemeyer commented on #96
I just copied the pad to https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP4/D4.7/report.tex so please don't edit the pad anymore...

[2018-01-26 13:01] jdemeyer commented on #96
On the pad at the end, there is
[code]

Are we sure that we want to do that? I don't really see the point.

[2018-01-26 13:26] jdemeyer commented on #96
Should we really have a section about the SageMath kernel implementation in this report? I thought this deliverable was about other kernels, while D4.5 (#94) was about the SageMath kernel.

[2018-01-27 08:07] nthiery commented on #96
Good question. Please have a look at the D4.5 report. If we did not
describe there in some detail the implementation of the SageMath
kernel, then this report would be a natural place to do it. Otherwise
I believe it still would be good to say a few words: this report is a
good occasion to give an horizon tour of approaches to implement
kernels for math software.

[2018-01-27 08:11] nthiery commented on #96
Well, it will be cheap to do anyaway (just copying in the
github_issue_description.tex that will be produced automatically). So
I believe we might as well include it: it contains useful information
for someone that would want to dig in or know more in details the
status of each kernel. Or do you see some inconvenient?

[2018-01-27 08:49] jdemeyer commented on #96
Just saying that it's cheap to do shouldn't be sufficient reason to include it.

Allow me to paste one of my favourite quotes (from Antoine de Saint Exupéry):

    Il semble que la perfection soit atteinte non quand il n'y a plus rien à ajouter,
    mais quand il n'y a plus rien à retrancher.

[2018-01-27 09:07] nthiery commented on #96
Certainly. But my whole argument is "it includes useful information,
at no additional cost".

[2018-01-27 12:43] sebasguts commented on #96
@jdemeyer Thanks. I added a new singular screen cap with syntax highlight and the full surfer image. Will do a proofread and singular thebelab until the end of next week.

[2018-01-28 17:05] SylvainCorlay commented on #251
@Axel-Naumann @vgvassilev it would be great to meet you in person at the workshop.

[2018-01-28 17:07] SylvainCorlay commented on #251
cc @dean0x7d @maartebreddels @wjakob

[2018-01-29 13:11] vgvassilev commented on #251
@SylvainCorlay thanks for pinging me. I signed up, I should be able to come for some of the days.

[2018-02-05 14:40] defeo commented on #64
@embray, what's the status of this deliverable? Do you need help to finalize it?

[2018-02-05 15:17] defeo commented on #66
I am confused too. It seems that this deliverable has not been merged in the latest amendment. @bpilorget, do you confirm?

If so, we should write a report. Fortunately, your [blog post](http://opendreamkit.org/2017/10/11/SageWindows/) is already an excellent writeup (btw, why does it not show in [the blog](http://opendreamkit.org/tag/blogpost)? I guess it needs a `blogpost` tag? @VivianePons ?)

[2018-02-05 15:25] bpilorget commented on #66
HI @defeo . This deliverable was not merged with another one. So yes a report is due :)

[2018-02-05 15:42] slel commented on #64
Regarding better integration between GitHub and Sage's Trac,
there once was a bot called "sageb0t" who converted GitHub
issues to Sage Trac ticket. Hopefully @robertwb can comment,
since I think he was the author and/or maintainer of sageb0t.

See a 2016-07 discussion on the sage-devel mailing list:
- https://groups.google.com/d/msg/sage-devel/wcqMjrCZHHQ/jKOygA-sAgAJ

[2018-02-05 17:41] jdemeyer commented on #251
Can we fix the dates please?

[2018-02-05 19:43] james-d-mitchell commented on #251
It'd be great if a date could be fixed soon.

[2018-02-06 06:33] nthiery commented on #251
Working on it ...

[2018-02-06 20:09] SylvainCorlay commented on #251
@xhochy you might be interested in this.

[2018-02-07 15:48] nthiery commented on #251
Thanks everyone for filling the date poll. Based on that, the workshop will happen April 30th-May 4th.
This was a tough decision to take, and I appologize in advance for those who won't be able to attend that week. We will setup soon a web page for the workshop. For now we will use the top comment on this issue. You may want to checkout the web page of the last workshop we organized at the same pl

[2018-02-18 09:44] jdemeyer commented on #251
Added to http://opendreamkit.org/events_activities/calendar/

[2018-02-18 20:35] videlec commented on #251
Did you notice that the 1st of May is in the week April 30th-May 4th? This is a day without any public transport in France and a worldwide strike!

[2018-02-18 20:37] jdemeyer commented on #251
Cool. So we have one free day!!

[2018-02-18 20:46] nthiery commented on #251
Good point. Well hopefully we won't need public transport in the
middle of the week, and we will celebrate the workers day with ...
hard work!

For information: the premises are now reserved. We will be enjoying
"La Tour", "Le petit prince" and "Le grenier royal". That makes room
for 20+ people. And we can always host more people camping.

Next step: we should urgently advertise the final dates an

[2018-02-22 16:18] SylvainCorlay commented on #251
cc @davidrey @tkloczko - this is the GitHub issue on the workshop I was telling you about.

[2018-03-07 10:58] kohlhase commented on #139
We are currently working on the LMFDB part in practice now. The genreal framework has been published on MACIS. This will take a little more time; but it would be good to finish that for a meaninful  report (which we can generate mostly from the MACIS paper).

[2018-03-14 22:19] nthiery commented on #251
I added a participants list to the page above. To register, please all follow the "Participants" link and edit the pad, taking my entry as template.

[2018-03-15 12:37] SergeStinckwich commented on #251
Unfortunately I will not be able to join ...

[2018-03-15 14:14] bluehood commented on #251
Hi, I believe @vgvassilev and I will participate on behalf of the ROOT team

[2018-03-17 20:04] saraedum commented on #251
@nthiery Following your entry as a template in the participants list is a bit confusing as you are staying from 28th to 5th…but above it says that the workshop is 30th to 4th. Did I miss something obvious or should you comment on that maybe?

[2018-03-18 20:48] nthiery commented on #251
See the item I added yesterday to the practical information: we rent
the house any way Saturday-Saturday, so people are welcome to stay
longer.

Cheers,
                                        Nicolas

[2018-03-26 17:41] vgvassilev commented on #251
@nthiery, unfortunately I won't be able to make it. Sorry for the late cancellation.

[2018-04-03 00:27] slel commented on #64
Regarding using CoCalc for Sage development, especially at Sage days,
David Roe (@roed314) cooked up a fairly automatized way to set up a communal
Sage Days environment in a CoCalc project, which has been used and refined at
various Sage Days, including Sage Days 87, 88, 90, 91. Find it at:

- https://github.com/roed314/sagedays

[2018-04-03 09:47] ax3l commented on #251
Just a note that we would love to join but my year is tightly packed with PhD activities (aka: should be writing)

[2018-04-06 07:17] SylvainCorlay commented on #251
For those who would be looking for other accommodation options, the nearest hotel is the Abbaye de Cernay, which is a few kilometers away from the farm.

https://www.abbayedecernay.com/nos-chambres/

[2018-04-19 10:07] SylvainCorlay commented on #251
@ax3l in the contrary it is urgent to procrastinate!

[2018-04-19 13:05] aguinet commented on #251
Hello all!

As @serge-sans-paille , as a contributor of the cython/pythran integration, I'd be happy to join you! I'll be there on the 30/04 and 01/05. I live in Paris and will come by public transport/car/bike (depending on what's possible to do :)), thus I don't need any accomodation!

[2018-05-01 17:08] bluehood commented on #251
Hi,
cppyy's author lets me know that the correct link to cppyy-related things is http://cppyy.readthedocs.io/en/latest/

[2018-05-24 13:41] bpilorget opened #270 "Preparation of ODK workshop at XFEL: WP2, Steering Committee, Jupyter workshop"
ODK meeting at XFEL, Hamburg, Germany.
https://opendreamkit.org/2018/06/20/Hamburg-DisseminationWorkshop-SteeringMeeting/

Objectives:

[1] Prepare presentations and brainstorming sessions for the ODK meeting at XFEL
[2] launch the update of all the sites' status reports and ping for deliverables
[3] State what Jupyter workhsop will focus on: "3d visualisation focused on deliverables for the end o

[2018-05-24 14:06] bpilorget commented on #270
**1) Content of WP2 part**

Wednesday morning, Viviane will begin the day by introducing the current dissemination/communication situation and our strategy for the last year of OpenDreamKit.
For the remaining time of Wednesday and Thursday morning, we have called for propositions for presentations of past WP2 activities and ideas for future WP2 activities.

**2) Role of videographer:**
6 interview

[2018-06-08 11:36] nthiery commented on #131
cc: @nthiery, @markuspf , @alex-konovalov

[2018-06-13 09:54] haraldschilly commented on #64
Hi, I just saw this deliverable/issue for the first time. I don't understand what the original goal of this is, and I'm also not really sure what the outcome of this discussion is.  In particular, I don't think it makes any sense to help editing files "directly".

However, what *I* personally think would help in general, is a streamlined way to report issues -- in a much more informal high-level w

[2018-06-21 12:37] VivianePons commented on #36
Dear all, a folder for the report is available here: https://github.com/OpenDreamKit/OpenDreamKit/tree/master/WP2/D2.11

Please, go and add all of your dissemination activities using the format of the default event there.

[2018-06-25 09:12] embray commented on #64
I believe this deliverable remains plagued by ill definition.

While some of us (e.g. I and @saraedum) have been (slowly) making progress on trying to make it easier to make new contributions to Sage, that work is very *specific* to Sage and making its development process more accessible.  It doesn't really have anything to do with mathematical software in general or have much applicability outsid

[2018-06-28 12:47] defeo commented on #64
It is.

Worse case, the deliverable will be about your experience, and how it can benefit other projects.

I say, let's not try to stick too close to something that was written 3 years ago, based on a half-formed idea. The spirit of the task should guide our work, let's do something useful, but let's not waste resources by trying to interpret the wording of the proposal.

[2018-06-28 13:09] defeo commented on #64
I may already have talked about this with some of you. I have been thinking for a while of having a field in Jupyter's `kernel.json` giving a url where one can post bug reports in some standardised way.

Then a Jupyter add-on (although this is not really useful if it doesn't get installed by default) could help forming a bug report and sending it to that url.

The add-on could:

- Automatically ex

[2018-06-28 13:14] defeo commented on #64
Of course, that's a tricky question. My proposal says that the kernel is responsible for receiving bug reports. This makes some sense for Sage, but not at all for Python.

One can imagine that the kernel may have an internal mechanism to dynamically decide what the reporting URL should be. For example ipython may allow packages to set the URL at import time. It could form a list of packages that h

[2018-06-28 14:57] embray commented on #64
While there's some potential value in tying something like this to the kernel itself (as in the case of the Sage kernel), I think in general that's not going to be useful for a number of reasons which I've mentioned here before.  Namely: Who do the bug reports go to?  Surely, we do not want the standard Python kernel to send bugs to bugs.python.org, as the majority of even suspected bugs that some

[2018-06-28 15:05] embray commented on #64
While I like the idea of, say, individual packages providing metadata like this (some do in fact; e.g. if you look up the distribution metadata for Python packages, albeit not in a very consistent manner), this is likely to be overwhelming to users.  Most researchers who encounter a problem, unless they are already experts, have no idea what lower-level library (if any) their problem pertains to.

[2018-06-28 19:40] nchauvat commented on #64
On Thu, Jun 28, 2018 at 06:15:01AM -0700, Luca De Feo wrote:

We use http://getsentry.com/ when we want the application to report
its bugs without having to ask the user to do something.

Maybe it could be a source of inspiration in this case?

--
Nicolas Chauvat

logilab.fr - services en informatique scientifique et gestion de connaissances

[2018-06-29 10:14] embray commented on #64
@nchauvat Any chance you could expand on that?  Who is "we" and how are you using it?

[2018-06-29 11:20] nchauvat commented on #64
On Fri, Jun 29, 2018 at 03:14:56AM -0700, E. M. Bray wrote:

We is logilab.fr.

We are using it for the applications we develop and deploy.

The phrase you can read on getsentry.com is "stop hoping your users
will report errors". The idea is to instrument your code (both
server-side and client-side) so that when an error occurs, it is
automatically logged to a server, with all relevant details, wi

[2018-06-29 12:08] embray commented on #64
Interesting.  I could definitely see the use for something like that in Sage, although it raises some questions too.  First of all, it would have to be opt-in which immediately reduces the usefulness, but maybe not by too much.

Something like sentry is pretty explicitly for applications things though, so the question becomes what kinds of errors to report.  I suppose in the case of sage we would

[2018-06-29 12:18] nchauvat commented on #64
On Fri, Jun 29, 2018 at 05:08:36AM -0700, E. M. Bray wrote:

If you take a look at https://docs.sentry.io/clients/ and
https://docs.sentry.io/integrations/ you will see that sentry has a
wide range of communication skills.

One could imagine to plug it into jupyter/binder both server-side and
js/client-site, to plug it into various kernels and to plug it into
notebooks with a special %directive.

[2018-06-29 14:37] florian-rabe opened #271 "MitM use case"
@nthiery @markuspf @kohlhase @tkw1536 @Jazzpirate

I've talked to everybody over the last few days to coordinate how we setup our MitM use case, both in terms of short-term demoability and long-term scalability.

The best design appears to be as follows:

* SageMath, GAP, and MMT run on a dedicated server (the MitM server).
* SageMath and GAP maintain SCSCP connections to MMT, over which MMT sends

[2018-06-29 17:15] nthiery commented on #271
Thanks Florian for the detailed battle plan; that's very helpful.

On Fri, Jun 29, 2018 at 07:37:13AM -0700, Florian Rabe wrote:

I have been working on this yesterday: I actually just changed the
demo server by adding two additional heads:

- eval: takes an OpenMath expression, evaluate it to a Sage object and
  convert back to OpenMath (which may trigger arbitrary calculations)

- apply: takes a

[2018-06-30 05:30] kohlhase commented on #271
@florian-rabe thanks for the detailed plan. There is one piece missing: in the MACIS use case, we also used Singular. And that needs to be integrated as well. @markuspf, could you please report on this?
If I remember correctly there was a simple python wrapper for Singular that could probably be updated to a SCSCP wrappper.

[2018-06-30 14:18] tkw1536 commented on #271
@nthiery that sounds like exactly what we need. Can you commit that code and include it in your Dockerfile?

[2018-07-01 09:44] nthiery commented on #271
Hi @tkw1536,
The code is now committed.  See the following demo on binder:

    https://mybinder.org/v2/gh/OpenDreamKit/MitM-Sage/master?filepath=sage/demo_sage_scscp.ipynb

The notebook manually launches a background Sage SCSCP server, and connects to it to run some calculations.

To setup a docker image running just the server, you should be able to reuse the git repo as is:

       https://gith

[2018-07-02 06:11] kohlhase commented on #142
I have started writing this deliverable.

[2018-07-02 07:39] marcinofulus commented on #86
Hi

We  organize on  16-18.07 in Katowice (Poland)  a small meeting devoted to the   K3D-jupyter development and its integration and future.

Anybody who would like to get involved into K3D-development or create/test examples and applications is welcome.

There will be no strict agenda but we will start from architecture overview on the first day and then we will do sprints.

Marcin

[2018-07-02 11:06] kohlhase commented on #142
@florian-rabe @Jazzpirate I made a first pass on this deliverable. This needs to be iterated, @Jazzpirate could you make a next pass?

@bpilorget could you see if the format is OK? @nthiery

[2018-07-02 14:53] tkw1536 commented on #271
@nthiery That sounds like great work.

I would want to auto-build the docker image on every commit, and automatically update the container on our server. Which means I would want to commit the Dockerfile with a server start script and appropriate ``EXPOSE`` directive.

Can you give me access so that we can commit that to a branch of the repository?

Furthermore, I do not believe that Binder auto-b

[2018-07-02 21:12] nthiery commented on #271
Done!

No indeed; it only rebuilds an image on the fly if someone requests
it. And the image is only pushed to its local registry.

DockerHub should be fine indeed; the build time is reasonable. Of
course we will still need to merge master into the branch on a regular
basis.

Btw: this repo originally was on git@gl.mathhub.info:ODK/Sage.git; I
have been using github for binder purposes lately and

[2018-07-03 04:35] kohlhase commented on #271
For now, (in the experiment phase) this is fine. But I am wondering what the right way to do this will be. Intuitively,
* the Sage code extensions should become part of Sage, so that they do not decay and are maintained together with the system and
* the generated CDs should be on `MathHub/ODK/Sage` so that they become part of the processing pipeline.
I wonder whether that would be possible to set

[2018-07-03 11:18] kohlhase commented on #139
I have (finally) assembled/spliced the parts from the MACIS papers into a (somewhat coherent) story, which is in the repository. It still contains duplicates and some of the recent LMFDB work needs to be integrated as well. I will be working on this some more in the next days, pinging @Jazzpirate,   @nthiery, and @JohnCremona for input.

[2018-07-03 14:19] markuspf commented on #271
I think it'd be better if I run the GAP server on field for the development phase, because that provides faster turnaround times (for me) for debugging.

It's probably not a problem to provide a Docker thingy once the code is stable enough.

[2018-07-03 15:11] JohnCremona commented on #139
Michael, is that D6.5/report.tex?  When I try to process that I get an
error:

! LaTeX Error: File `eudelivreport.cls' not found.

Should I have that file?

John

On 3 July 2018 at 12:18, Michael Kohlhase <notifications@github.com> wrote:

[2018-07-03 15:14] kohlhase commented on #139
Indeed you have that: it is part of the ODK repository (which I assume to be at `<DIR>`)
You should set your `TEXINPUTS` variable with something like
[code]
Then it will be found.

[2018-07-03 15:15] kohlhase commented on #139
@JohnCremona it would be very helpful, if you could write a very high-level description of your use case (see ednote 7).

[2018-07-03 15:38] JohnCremona commented on #139
On 3 July 2018 at 16:14, Michael Kohlhase <notifications@github.com> wrote:

Thanks, that now works (I didn't know about the double trailing //).  Now i
get other latex errors, starting with

Runaway argument?
{\small Progress on and finalization of this deliverable has been tra\ETC.
! Paragraph ended before \multicolumn was complete.
<to be read again>
                   \par
l.135 \maketitle

[2018-07-03 16:02] kohlhase commented on #139
hmmm, weird, I had fixed this error this morning. Are you sure you have pulled lately?

[2018-07-03 16:04] JohnCremona commented on #139
On 3 July 2018 at 17:02, Michael Kohlhase <notifications@github.com> wrote:

Definitely!

[2018-07-03 16:10] kohlhase commented on #139
Could you pull again and check that
[code]
in `report.tex` is indeed commented out?

[2018-07-03 16:24] JohnCremona commented on #139
On 3 July 2018 at 17:10, Michael Kohlhase <notifications@github.com> wrote:

I did (just white space change to report.tex I think), and that line is
commented out.

Perhaps I am using a different version of tex than you (mine is pdfTeX,
Version 3.14159265-2.6-1.40.16 (TeX Live 2015/Debian) (preloaded
format=pdflatex 2017.8.23))

[2018-07-03 16:29] kohlhase commented on #139
Mine is indeed different, but do not really believe that this is the problem.
[code]
I will commit the PDF for now (you can just ignore the error as well).

[2018-07-03 16:36] JohnCremona commented on #139
On 3 July 2018 at 17:29, Michael Kohlhase <notifications@github.com> wrote:

Thanks.  I can now look for ednote 7 and respond (probably tomorrow).

[2018-07-04 07:44] nthiery commented on #139
On Tue, Jul 03, 2018 at 08:11:18AM -0700, John Cremona wrote:

I (semi-automatically) added it to the WP6/D6.5 directory (as we do
for the other deliverables) so that it won't be needed anymore to set
TEXINPUT. Now

        pdflatex report.tex

should work.

[2018-07-04 07:59] JohnCremona commented on #139
On 4 July 2018 at 08:44, Nicolas M. Thiéry <notifications@github.com> wrote:

Thanks.  But on a different machine (yesterday I was using my laptop but I
don't have it with me right now), where TEXINPUT is set but just points to
a directory of my own, I still get an error:

Runaway argument?
{\small Progress on and finalization of this deliverable has been tra\ETC.
! Paragraph ended before \multico

[2018-07-04 08:07] nthiery commented on #139
That sounds like an orthogonal problem, so I am not surprised that
fixing the missing file did not resolve that one. I hope Michael will
be of better help!

[2018-07-04 16:02] JohnCremona commented on #139
I have not yet had time to write what was needed on page 5 (EdNote7) and
will be away for 2 days, but will do so on Monday before our next
conference call (next Tuesday).

On 4 July 2018 at 09:07, Nicolas M. Thiéry <notifications@github.com> wrote:

[2018-07-05 16:51] kohlhase commented on #139
John, I have a couple more ednotes for you, just look for MK@JC.

[2018-07-05 17:55] nthiery commented on #271
Ok. Note that a good deal of the Sage code extensions is actually
generic for Python, and implemented in py-openmath and py-scscp.
Whose long term maintenance we thus need to consider as well.

[2018-07-05 19:37] nthiery commented on #251
Fixed!

[2018-07-06 08:50] embray commented on #66
I can add all this no problem. We didn't include the screenshots thinking
that they padded the report length without adding much value. Maybe just
slightly fewer?

On Thu, Jul 5, 2018, 22:27 Nicolas M. Thiéry <notifications@github.com>
wrote:

[2018-07-06 13:15] nthiery commented on #66
They alternatively could be smaller. I got the impression that the
reviewer appreciate visual stuff, and it also makes the whole thing
more concrete. Since the report won't be printed in big quantities, if
at all, space is not expensive.

Yup, or  alternatively half size.

Thanks!

[2018-07-06 14:03] kohlhase commented on #271
you are right, I was aware of this.

[2018-07-07 16:20] embray commented on #66
@nthiery I'm not sure what you mean by 'a mention of your "status upgrades" in these projects as a consequence of your work'

[2018-07-07 19:17] embray commented on #66
@nthiery I've addressed all of the above except the "status upgrades" point I'm not clear on.  Also the section I added (ef99d195) on contributions to upstream projects feels a bit shoehorned in and I'm not quite sure what to do with it.  Suggestions for improvement, if any, are welcome.

[2018-07-07 19:29] nthiery commented on #66
Thanks! I'll look at it.

[2018-07-09 08:57] embray commented on #66
Done the last checkmark.

[2018-07-09 09:32] embray commented on #64
I'm struggling with how to begin a report for this.  The deliverable has morphed away from "bug reporting and contributing features right in the VRE", for which we can find no clear vision, and more towards simply making contributing to Sage more accessible, as well as making Sage's source code more accessible through the documentation.  It doesn't even have anything to do with SageMathCloud.

I k

[2018-07-09 10:44] JohnCremona commented on #139
On 5 July 2018 at 17:51, Michael Kohlhase <notifications@github.com> wrote:

I think I have addressed the various places needed; also looked at all the
LMFDB parts.  I suggest that we offer to add David L-D as an author --
shall I?

At DLD's suggestion I added the line \usepackage{xstring} to the preamble
as he said that allowed him to process the file.  For me that helps and I
can process the fil

[2018-07-09 11:05] embray commented on #64
One thing for this deliverable that would be very useful to have, though I have not made any moves towards implementing yet, is a simplified version of the magics @nthiery described here: https://github.com/OpenDreamKit/OpenDreamKit/issues/64#issuecomment-312397225

One thing I have implemented for Sage is that the documentation will include an "edit on gitlab" link, which takes the user to the gi

[2018-07-09 11:22] kohlhase commented on #139
I agree DLD should be a co-author. Sorry to have forgotten.

[2018-07-09 11:52] nthiery commented on #64
Thanks for bringing this up.

Yes, for now, focus on the report as if the title was "Ease
contribution to SageMath" or something similar that matches the actual
content. Then we will add a section on the rationale for the change of
scope, either in the report itself or in the general report (or
presumably both, with a more concise version in the general).

If you have some preliminary language ele

[2018-07-09 12:08] embray commented on #64
I do have some text to that effect and had planed to include it.

[2018-07-11 12:07] embray commented on #67
Per my comment [here](https://trac.sagemath.org/ticket/24655#comment:275) I think we should look into drafting a brief proposal to some cloud hosting companies (I mentioned Google, Digital Ocean, and Microsoft, though any others could be valuable as well) to see if they would be willing to donate computing resources for Sage builds.  @saraedum has done some fantastic work potentially improving Sag

[2018-07-11 14:47] embray commented on #64
Almost finished with a draft report of what we have done so far: https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP3/D3.5/status-report.tex

A few more sections to fill in.  Also I'm not sure what to write as a "conclusion", especially since none of this work has gone "live" yet.  There are no results to report really, except for what work was done and why.

[2018-07-12 17:05] kohlhase commented on #142
@bpilorget, @nthiery we have completed this report. Please start the quality review procedures (and make any admin changes that need to be done).

[2018-07-13 10:32] jdemeyer commented on #96
Somebody added xeus-cling on this page, but can we really consider that as part of ODK?

[2018-07-13 12:11] slel commented on #96
I think it's ok, especially since

- Loïc Gouarin is part of the team behind xeus-cling, and conceivably
  devoted part of his OpenDreamKit funding to work on xeus-cling.

- I used OpenDreamKit funded time to work on integration in CoCalc.

[2018-07-13 14:09] jdemeyer commented on #96
I just pushed a major update to the report. Should I add the generated PDF also in the git repo? I don't remember how this is supposed to work.

At the XFEL meeting, somebody mentioned the MMT kernel https://github.com/UniFormal/mmt_jupyter_kernel

I really don't know much about MMT or its user interface, so I don't think that I could write something about it.

[2018-07-13 14:16] nthiery commented on #96
Thanks Jeroen! Don't worry about the PDF; we will add it at the last minute.

@florian-rabe: would you get a chance to write a few paragraphs describing the MMT kernel?

[2018-07-13 14:24] nthiery commented on #142
Excellent. Feels good to see progress! I'll try to get to this in the
coming days.

Do you know of anyone outside of ODK that would be genuinely
interested in the reported and willing to provide feedback?

[2018-07-13 19:30] florian-rabe commented on #96
You can copy-paste from https://github.com/KWARC/OpenDreamKit/tree/master/WP4/D4.11
I wrote that this week.

[2018-07-18 23:03] slel commented on #33
The latest NumFOCUS newsletter reports that

[2018-07-19 07:44] slel commented on #33
Their [About page](http://notes.quantecon.org/about) states the goal:

and lists the team, but has nothing about the software.

[2018-08-01 08:46] minrk commented on #90
@nthiery what's the current status of the report on this deliverable?

[2018-08-02 13:00] minrk commented on #86
@marcinofulus @vidartf I have pushed the first parts of the report on this deliverable to the repo. If you could fill in some info on contributions to K3D and pythreejs/unray/ipydatawidgets/widgets-in-general, that would be very helpful. Some illustrative screenshots of the various tools in action would also be appropriate for this report.

[2018-08-06 13:25] embray commented on #66
@nthiery has asked me to maybe add the name and affiliation of my coauthor on PEP-539.  His name is Masayuki Yamamoto, but to be honest I don't know his exact affiliation.  @ma8ma, care to comment?

For context, this is just a report I'm working on mentioning various work I've done toward the goal of porting SageMath to Windows, and I mentioned PEP-539 as part of that report.

[2018-08-06 16:56] ma8ma commented on #66
Hi @embray,
I don't have relationship to any affiliations about PEP 539, but just my personal interest.

[2018-08-08 13:39] embray commented on #66
Okay, thanks!

[2018-08-09 11:27] jdemeyer commented on #96
Nicolas, you mentioned that I should add widgets but this is already covered by D4.5. It seems strange to me to add that feature to two deliverables, especially in the same reporting period.

[2018-08-11 23:55] nthiery commented on #96
Ah, right, good point. Nevertheless, it's still worthwhile mentioning
with a cross-reference "implemented as part of D4.5", to give a bit of
the big picture to the reader.

Btw: on https://github.com/OpenDreamKit/OpenDreamKit/issues/94 the
item for interacts/widgets is not checked; any reason? Otherwise go
ahead an check it.

[2018-08-16 13:48] nthiery commented on #66
Hi @embray,
I checked your commits since last time I looked at the report, and they sound good. Thanks!
Is there anything else you would like to update at this stage, or shall I submit the report as is?

[2018-08-16 15:09] nthiery commented on #96
I added a brief section about MMT (@florian-rabe: you may want to double-check), and double checked that the work was widgets work was indeed referenced as implemented as part of D4.5.
@jdemeyer: do you see anything else you'd like to change, or shall I submit the report as is?

[2018-08-16 19:45] nthiery commented on #66
Ok! Report submitted. Time to close this one.

Thanks everyone, and in particular Erik and those who earlier lead the port to windows, for all the hard work and this great contribution to Sage; we had been waiting for it for 10 years!

[2018-08-16 19:45] #66 closed

[2018-08-16 20:58] nthiery commented on #47
Hi @defeo,
I finally got to read your report for this deliverable. It makes a good job at selling the work done; thanks! I just made some minor edits.
 One thing we are somewhat throwing under the rug is that this deliverable results from the merge of itself and 2.9, the later being not only about the tool but the service. This is alluded to in the report, but I believe we will need to argue more

[2018-08-16 21:02] nthiery commented on #47
To help our reviewers (and other followers!) assess the tool, we would need to help them navigate.
The README of the planetarium repo could use a bit of love, in particular with links to demo(s) and their repos. Also the static example is rendering as just a list of notebook names for me; did it get somehow broken?

https://opendreamkit.org/planetaryum-example-static/

Thanks in advance
https://op

[2018-08-16 21:18] defeo commented on #47
D2.9?? You must be confusing, that was merged in D2.17, of which I know nothing.

[2018-08-17 09:49] nthiery commented on #47
Right; I meant D2.9 in our original proposal; the numbers changed when we did our first round of deliverable consolidation after the project was accepted. It used to be:

    D2.8 (Due: 24, Type: P, Dissem.: PU, Lead: UVSQ) Community-curated indexing tool (open source)
    D2.9 (Due: 24, Type: DEM, Dissem.: PU, Lead: UVSQ) Community-curated indexing service for OpenDreamKit

[2018-08-17 09:53] nthiery commented on #47
Excellent; that's indeed what we had planned: get the report mostly done first, and then polish the code. I hope this is all not making things difficult with your habilitation deadline!

[2018-08-17 09:54] nthiery commented on #47
FYI: I added a couple suggestions to status-report.md.

[2018-08-17 10:05] defeo commented on #47
Oh, I had completely forgot about this merge.

Having a hosted instance of a "social repository", say like http://notes.quantecon.org/, that goes beyond the PoC is going to be tough. It won't be a nice show.

What we can have, instead, is a couple of different PoCs, showing the different use cases.

[2018-08-18 19:34] nthiery commented on #84
Hi @videlec, @jdemeyer ,
What's the status of this deliverable? Of its report?

We need to submit the report in less than two weeks. Presumably, it can be written cumulatively on top of the previous one, as long as there is a clear highlight of what was achieved since, with an estimate of the manpower spent (after all, if we had known better at writing time, we would have had a single deliverable)

[2018-08-18 20:09] nthiery commented on #87
Hi Jeroen!
How is the report writing going? Could you use some help, maybe from @minrk embray?
Cheers,

[2018-08-18 20:14] nthiery commented on #90
Hi @minrk,
Thanks for querying; Odile (@zerline) has been working hard on this deliverable, and we have a good first prototype working and deployed on binder: https://github.com/sagemath/sage-explorer

We will meet on Monday to start writing the report and plan what can be achieved for the deliverable itself in the coming weeks, and how we want to advertise it and have it beta-tested.

[2018-08-18 20:27] nthiery commented on #67
A lot was achieved here; not quite in the original direction we had foreseen, but certainly achieving the same aim, so it's all good.
@embray, @saraedum: now would be a good time to draft a report. Submission in 14 days!

[2018-08-18 20:29] nthiery commented on #110
Salut @ClementPernet,
How is the report writing going? Only 14 days left!
Thanks in advance,

[2018-08-20 02:03] defeo commented on #47
https://opendreamkit.org/planetaryum-example-static/ works again. Add some notebooks to the GitHub repo, allow a few seconds for the build to complete, and enjoy!

Now, for D2.9, we can host a more serious version of this on opendreamkit.org, for showcase.

Any additional features would require quite some work. I can't say I have much time for that before Sept. 14, but I'm happy to discuss.

[2018-08-20 09:57] florian-rabe commented on #96
I made minor changes to the MMT paragraph. OK otherwise.

[2018-08-20 10:46] embray commented on #67
I'm not really sure what to do.  @saraedum has achieved a lot in this area, and has several months worth of testing to report on.  But it's only testing--none of this has been used in production, and I don't think it would be a very interesting report if we can't report gains in real development.  I believe we *will* be able to make such a report, but it will take time.  Also, the specific work Ju

[2018-08-20 10:48] embray commented on #67
I would suggest that any such report be very brief, because the details are very technical and uninteresting to reviewers.  The biggest achievement is in making docker containers of intermediate build results so that we can more efficiently do incremental continuous integration of Sage; and then the pushing to binder which makes it easier to test new changes to sage without having to build them on

[2018-08-20 10:57] embray commented on #87
There's so much work yet to do here; in fact I'd say the work has barely begun, and Jeroen hasn't received much support on it.  I have a few specific fixes I would like to try out that I think will improve memory usage in Sage's documentation build, but it hardly constitutes "refactoring".  I'm not sure what you want us to do with this.  At best we can say "minor progress has been made towards imp

[2018-08-20 11:39] alex-konovalov commented on #67
I will be ready to add a section with the overview of the current state of continuous integration in GAP. In addition to the private Jenkins CI instance that we use for wrapping and testing release candidates, check for GAP package updates and test new versions of GAP packages, we now use Travis CI to run a number of tests for the main GAP repositories at https://travis-ci.org/gap-system/. These i

[2018-08-20 11:59] defeo commented on #67
I think we have quite some material in terms of reporting on best practices for CI, even if some things are still experimental. I agree with Erik, though: let's keep it short!

We need a good will to start working on the report. I don't feel knowledgeable enough for this (and have other deadlines). @saraedum, would you agree starting the write-up?

[2018-08-20 13:13] embray commented on #67
1. I had said at the beginning of July that I would do it.  However, I'm at a bit of a loss as to how to start, especially since I personally have done very little work related to this, except for occasional maintenance of the Sage "patchbot" program, which I don't really see fitting into this, and reviewing Julian's work and and trying to understand it and help move it towards integration with Sa

[2018-08-20 13:25] defeo commented on #67
I remember that. But it seems that Julian's help in drafting the report would be very valuable here.

Let's not strive to stick to a few paragraphs that were written 4 year ago by people (me) who didn't at have a clear view of the matter at the time.

We ended up not working toward a "common infrastructure" because we realized that wouldn't be useful. We just have to say that, and report on the th

[2018-08-20 13:35] embray commented on #67
Another bit of text from the proposal is:

possibility of evolving it towards a multi-platform tool, and opening it to other mathematical software.

I have discussed this before--I thought on this issue--but apparently not.   There are a few confusing/inaccurate aspects of the wording here.

It reads "SAGE's buildbot" as though Buildbot were a Sage-specific tool, which it is not.  Presumably this

[2018-08-20 13:37] embray commented on #67
See my above comments, however.  It's a bit ranty so the TL;DR is that we could achieve exactly this if we had powerful dedicated OSX and Windows machines that could be shared by multiple projects, so that we don't have to keep facing the question of: "Ok, now how do I get a Windows/OSX machine to build this on?"  I feel like that is a question that is faced repeatedly by many projects, and usuall

[2018-08-20 13:40] embray commented on #67
I know; I agree.  We've talked about that.  I'm just trying to contextualize things and figure out how to define the scope of "what we have done" as it relates to this deliverable.

[2018-08-20 13:43] saraedum commented on #67
Somewhat like @embray already pointed out, we could say that we have a docker image that is now integrated into Sage's development workflow (almost at least,) gets updated automatically with every beta release of Sage... This gives projects that rely on math software the possibility to use it as a basis for their CI needs if they rely on something that is a part of the SageMath distribution. For m

[2018-08-20 13:53] saraedum commented on #67
I met with @slel yesterday and we discussed the next steps of getting CI for Linux, OSX & Windows. I could imagine that we could say something about "common infrastructure" by saying that we are building up a GitLab CI runner system that other projects could use. We have several ideas on how to get lots of Linux runners but that's not so important here as the free runners provided by say GitLab CI

[2018-08-20 13:54] defeo commented on #67
We could have budgeted this in the proposal. It's a shame we didn't.

There may still be money left in Versailles, and I'd be happy to use it for this purpose, but, with no engineers in the CS department, it's probably going to be complicated to host the machine.

However @jpflori, who helped draft this deliverable, just moved to a company that's been mentioned in this thread. Maybe he has some go

[2018-08-20 13:54] saraedum commented on #67
Btw., I am in Paris until at least Friday if you guys want to meet up in person.

[2018-08-20 13:56] defeo commented on #67
That'd be a nightmare to host at a university!

Unfortunately I will only be back in 2 weeks.

[2018-08-20 13:58] bpilorget commented on #67
My first impression is that you are talking about buying infrastructure here. Reimbursement for infrastructure costs is very tricky in EU projects and in any case must never be done around the end of the project.

[2018-08-20 13:58] embray commented on #67
Okay, so something along the lines of:

* Common software infrastructure not practical because different projects have different needs, workflows, goals, etc. that it does not make sense to provide a single common CI system for multiple projects, and there have been an explosion in the last 4 years of useful free (depending on how much computing resources you need) cloud-based CI systems for proje

[2018-08-20 13:59] embray commented on #67
@bpilorget

Then perhaps we don't do that right now, but do explain why it would be something that would be very useful to have some means of funding for :)

[2018-08-20 13:59] saraedum commented on #67
I know. @slel is going to talk to his admins whether they'd be cool about him having a small stack of these in his office. And thay do stack nicely :P

[2018-08-20 14:02] embray commented on #67
@saraedum

It would still also be great to get clarification on how Windows licenses can be used in a virtualization environment.  I'd be curious how you got Windows 10 to be "reasonably fast".  We've talked about that before but I've never been as successful.

[2018-08-20 14:02] defeo commented on #67
Yup, thanks for the reminder. My plan would be to buy on the overheads. There's not enough left in the functioning budget, anyway.

That shouldn't be a problem, right, @bpilorget ?

[2018-08-20 14:04] bpilorget commented on #67
You can do anything you like with the overheads  :) But for the available amount you need to ask your one admin in Versailles

[2018-08-20 14:05] embray commented on #67
I still consider that "a nightmare" in a way.  As helpful and approachable as Samuel is, having "infrastructure" in what amounts (to people who don't know him personally) to "some guy's office at some university" becomes pretty problematic any time something goes badly enough that physical access is required, and multiple projects that depend on that infrastructure grind to a halt.

Really what we

[2018-08-20 14:05] defeo commented on #67
Maybe @sebasguts  knows for Singular?

[2018-08-20 14:06] saraedum commented on #67
I tried to read through the relevant parts of the license and I did not see a problem for our use case. Just buy a bunch of Windows 10 Home N (that's the version I used because it's probably the cheapest) licenses and you should be good to go.

I'll try to upload what I am using somewhere.

[2018-08-20 14:08] embray commented on #67
This by the way is why I mentioned way at the top of this issue working something out whatever we can with Google / Microsoft / Digital Ocean / Amazon / or possibly smaller players who can offer a better deal to see who's willing to provide these kinds of resources for the development of open source mathematics software (from which some of them surely benefit, even if as indirectly as "cryptograph

[2018-08-20 14:16] saraedum commented on #67
@embray

I agree. But it's the best we could come up with.

[2018-08-20 19:53] nthiery commented on #67
Thanks for all the discussion; as Luca said, let's not worry about how the original deliverable / task was framed, and report here about ODK's work around continuous integration. I believe it's fine if some of the work is still in the shape of a plan: coming up with such a plan is already by itself an achievement.

[2018-08-20 19:55] nthiery commented on #67
Great Julian that you are around. @embray, @saraedum: shall we meet some day this week at LRI, and get a first draft of the report together? Any day is good for me.

[2018-08-20 19:58] nthiery commented on #67
Unless UVSQ would have unused overheads, I am fine reserving a few k€ on UPSud's overheads for CI hardware. I am going to get in touch with our local cloud, to check whether they could host such hardware without an intermediate virtual machine layer, and with remote hard reset possibility.

[2018-08-20 20:19] nthiery commented on #67
No need to be sorry: budgeting and later justifying the use of
hardware is a pain with EU grants. Given that we did not have huge
needs for hardware, it was decided from the start to use overheads in
case hardware was needed.

[2018-08-20 20:36] nthiery commented on #87
Yeah, that's life; if we wanted to have an extension for this
deliverable, we should have asked for it months ago. But we did not,
so we have to submit a report next week.

So let's not worry about it, and just honestly report on the current
state: all the good work that was already done (the unforking was
explicitly part of the refactoring!), and the specific plan on how we
want to achieve that p

[2018-08-20 20:51] nthiery commented on #67
The information is there actually:

https://www.informatique-scientifique.u-psud.fr/services/hebergement.html

In addition to it's cloud (to which we could contribute new hardware), UPSud's Data Center can host machines from UPSud's labs under the following conditions:
- the machines must take the form of blades
- UPSud's pays for the physical hosting (space, cooling, electricity, ...)
- the machi

[2018-08-20 21:01] alex-konovalov commented on #67
@embray

Good point about Windows - forgot to mention that we also use AppVeyor: https://ci.appveyor.com/project/gap-system/gap

About Linux vs macOS: package integration tests (all but one badges at https://github.com/gap-system/gap-distribution) use Docker container, hence use Linux. The core system tests used both Linux and macOS builds in the past, but then were disabled because of performance

[2018-08-21 09:50] jdemeyer commented on #87
Working on the report...

[2018-08-21 10:03] jdemeyer commented on #87
Concerning work to do: nobody has tried to assign me to any >M36 deliverable, so I'm essentially free after august :-) I certainly do plan to continue working on this and I will write that in the report.

Also [PEP 580](https://www.python.org/dev/peps/pep-0580) is partially motivated by this deliverable. Unfortunately, due to the current crisis in CPython governance, that's unlikely to be accepted

[2018-08-21 10:19] jdemeyer commented on #84
Concerning the deliverable itself: features that we added that are not in the first deliverable:

1. Plotting support in IPython (thanks to the work which was done for #96)

2. Auto-generating Cython declarations from `pari.desc`

And in https://github.com/defeo/cypari2/pull/59 I'm working on:

3. Keep objects on the PARI stack instead of always copying

I haven't yet started with the report.

[2018-08-21 10:33] jdemeyer commented on #84
Some less spectacular features that we added:

4. Python 3 compatibility.

5. Automatically generate `DeprecationWarning` for deprecated PARI functions.

6. Make it compatible with multiple PARI versions (currently the oldest supported is PARI 2.9.0).

7. Automatic testing using Travis CI and docbuilding on ReadTheDocs.

8. Support for `t_LIST` (PARI linked lists).

[2018-08-21 10:59] iguananaut commented on #87
Right, I meant to mention that as well.  I think that's definitely worth including in the report.

[2018-08-21 11:04] embray commented on #87
Right, I meant to mention that.  That would probably be worth adding to the report.

[2018-08-21 11:08] embray commented on #67
@alex-konovalov So in addition to advisory CI provided by Travis and AppVeyor, you have Jenkins as well?  Interesting.  Would having additional Windows and/or OSX hardware available to you be useful (or perhaps not, since you wrote that the current setup is satisfactory)?  Was it at all painful to get the additional build systems for the Jenkins build fleet?

[2018-08-21 11:50] embray commented on #67
@nthiery @saraedum I'll be in the lab tomorrow, but can meet anywhere else as well.

[2018-08-21 20:42] nthiery commented on #67
I'll be in the lab too! @saraedum: any chance to join?

[2018-08-22 08:02] defeo commented on #47
@nthiery, when you mention Tania's generator, do you mean this https://github.com/trallard/Modules-template ?

[2018-08-22 10:37] embray commented on #47
I looked at https://opendreamkit.org/planetaryum-example-static/  and noticed a few small issues:

1. It seems mathjax is not working on those pages.  See eg: https://opendreamkit.org/planetaryum-example-static/#/nb/notebook/4/fractions

2. I found the "Download" and "Run in Binder" links off the the right side of the page hard to find.  Most of the content of the page is left-justified, and on a

[2018-08-22 11:49] saraedum commented on #67
Sorry for the late reply. I'll leave from Samuel's place in 15 minutes and head there. If you're still there, I see you there, otherwise I had a nice bike ride :)

[2018-08-22 13:26] embray commented on #47
I have no idea.  This would be something to ask the nbconvert experts.  I'm surprised it doesn't include said javascript in the exported HTML.

I had assumed just adding the necessary metadata to the notebooks would be a reasonable modification to make to them.

[2018-08-22 13:31] defeo commented on #47
I was too. But either I'm blind, or it doesn't. I'll investigate more.

[2018-08-22 13:36] embray commented on #47
Whether it's supposed to or not, the Vue.js stuff certainly obscures that.

[2018-08-22 13:47] defeo commented on #47
What I should maybe point out is that I chose Vue.js because it handles nicely hundreds of notebooks (potentially with keyword-based search and dynamic thumbnail loading), only with static hosting (e.g., GitHub pages).
It'd be a bit slow if you tried it now, but I can certainly showcase this by the project review.

[2018-08-22 15:52] defeo commented on #47
FTR, I found the answer:

https://github.com/jupyter/nbconvert/blob/master/nbconvert/templates/html/full.tpl#L14-L42

I'll implement it.

It'd be helpful if nbconvert made this code available in a programmatic way. I'll open a pull request.

[2018-08-22 18:05] embray commented on #47
Ah, good.  That answers the question for widgets.  But what about mathjax?

[2018-08-22 18:30] embray commented on #47
Ah, I missed that. Question is, why isn't it working?

[2018-08-22 18:50] defeo commented on #47
Because I'm not using the full template (`full.tpl`): I'm only exporting the html for the cells (`basic.tpl`). Vue.js dynamically fetches the html snippet and loads it in the page. That means that the assets must be loaded separately by the single page app.

I know, I should document this better :)

[2018-08-22 18:57] embray commented on #67
@saraedum @alex-konovalov There is a (very) rough outline for the report here: https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP3/D3.8/report.tex  I am working on most of the other sections, but if you could please write a few paragraphs of what is currently being worked on for Sage and GAP and/or what has already been achieved please do so (and don't forget to add your names to the auth

[2018-08-22 20:45] nthiery commented on #47
Very nice!

Ok; so we should soon advertise the tool on participants@opendreamkit,
and kickstart collection(s) of OpenDreamKit-related Jupyter notebooks,
to be contributed to by our fellows.

We now have two ways to handle such collections:

- one in the form of a repo hosting the notebooks, using Platentarium
- on in the form of "pointers" to remote notebooks, using @sebastguts's
  "OpenDreamKit

[2018-08-22 21:16] nthiery commented on #47
One more: do you have an idea why the interact picture of "Divisors of a positive integer" did not get picked up for the thumbnail in: https://opendreamkit.org/planetaryum-example-static/ ?

No big deal anyway.

[2018-08-22 21:30] defeo commented on #47
Thx.

Yup. That'll help find bugs. But I have to write some docs first.

Also, the UI is really just a demo, although a (almost) production
ready one. As the report says, the tool is made so that you can stick
whatever HTML+CSS+JS front-end you like. I'll write proper docs to
explain how to use it this way.

I think @sebastgut's pointers are perfect for the "try" page: you can
put whatever text yo

[2018-08-22 21:37] nthiery commented on #64
Hi @embray,
I just finished reviewing the report. Generally speaking, it's looking good, giving a good account
of the motivations, what was achieved, and its relevance.
I have done some minor changes here and there, and left some TODO's. The main remaining item is indeed the conclusion; I put some ideas of future steps, but that's not quite a conclusion. Let's discuss this tomorrow.

[2018-08-22 22:13] defeo commented on #47
Took less than 40 minutes :) That's a testament to the quality of Vue.js!

[2018-08-23 08:13] nthiery commented on #47
Thanks Luca! It works nicely.

[2018-08-23 08:15] sebasguts commented on #47
@defeo This looks super nice!

[2018-08-23 08:32] nthiery commented on #84
Thanks Jeroen for the feedback!

Do you foresee any difficulty in getting the report done early next week to leave enough time for the review? If yes, we can seek for someone to help.

If I understood properly, those are the items in T5.1 that are not yet tackled:
- Integrate the parallelisation features from T5.1 within PYTHON .
- Implement a crossed bug report system between SAGE and PARI (using

[2018-08-23 08:58] nthiery commented on #96
Thanks @florian-rabe!
@jdmeyer: should I submit the report as is?

[2018-08-23 08:59] jdemeyer commented on #96
I thought you wanted me to add something about widgets.

[2018-08-23 09:27] nthiery commented on #85
Hi Michael @kohlhase,
Thanks for the draft of report! I forgot to mention that I went through it mid-July, made some minor changes and added some ednotes.
Let me know when you have a version ready for final review. The sooner, the better :-)

[2018-08-23 09:30] nthiery commented on #49
Hi @marcinofulus,
How is it going with this deliverable, and in particular the report? A draft to review soon would be very helpful. Presumably the report can be fairly short. Let me know if you need any help.
Thanks in advance,

[2018-08-23 09:32] nthiery commented on #87
Thanks @jdemeyer; I am looking forward to it! Feel free to commit early versions for early feedback.

[2018-08-23 09:38] nthiery commented on #87
We indeed should discuss what the priorities are for ODK and how to make the best out of this last year.
From the top of my head: Sphinx, Python 3, packaging, modularization, and dev workflow would all benefit much from your expertise.

[2018-08-23 09:46] nthiery commented on #96
Yeah; in the mean time, I realized that it was already there in Section 4.7; sorry for that noise:
[code]
Unless of course you see something more specific to say!

[2018-08-23 09:47] embray commented on #64
@nthiery You wrote

Originally I used those *always*, every time I mentioned any of those technologies.  But what is the recommendation for that?  I found that when reading the rendered page, if I used those always, it was very distracting.  My approach was to use those macros only when mentioning a specific technology by itself as the subject or object of a sentence, but not in contexts like "Sag

[2018-08-23 09:51] embray commented on #64
You also changed

to

but in my original wording "development" was deliberate.  But what do we mean by "Sage community"?  I do not think it should necessarily include people who do regular, or even infrequent development on Sage.  I don't want to give the impression that the "Sage community" is just the developers, because the "workflow and culture" e.g. of sage-devel and Trac is not representativ

[2018-08-23 09:58] jdemeyer commented on #84
I don't know what it would mean to "Integrate the parallelisation features from T5.1 within PYTHON". If algorithms in PARI are parallel, then the Python interface will use those parallel features. In other words: this deliverable is about providing an interface to PARI and it shouldn't matter to Python that PARI uses multiple threads.

In the report, we could just explain this and show that it act

[2018-08-23 10:01] jdemeyer commented on #84
I could probably get rough drafts ready for both D4.10 and D4.13 but maybe not polished and finished reports.

[2018-08-23 10:02] nthiery commented on #64
Makes sense indeed. I am too much tainted by Sage's origins where
blurring the line between the user and dev community was a vital
priority to reach the critical mass:-)

[2018-08-23 10:03] nthiery commented on #64
I like that rule of thumb! Let's just make sure we use it consistently.

[2018-08-23 11:43] nthiery commented on #84
Ok! Drafts are good: this way we can do a first round of review and
pass them around so that others can chime in here and there.

Thanks!

[2018-08-23 12:02] nthiery commented on #84
@videlec `git praise` says you wrote that line; do you remember the
original intent?

Sounds good.

Ok, good to know.

On a possibly related note: the widget code that Odile is writing in
sage-explorer tends to cause hard crashes, which may be due to
asynchronous (multithreaded?) code evaluation invoked by widgets. We
may thus want to investigate in the future how to make Sage more
thread/async sa

[2018-08-23 12:10] jdemeyer commented on #84
With "widgets", you mean `ipywidgets`? As far as I know, that doesn't use multi-threading.

[2018-08-23 12:14] nthiery commented on #109
@videlec, @hivert, @ClementPernet : where do we stand with this deliverable?

[2018-08-23 12:25] jdemeyer commented on #84
`async` is Python 3 only indeed. I don't know further details of how Jupyter and ipywidgets work internally. I somehow doubt that it could create hard crashes, my gut feeling is that the crashes have a different cause.

[2018-08-23 13:27] embray commented on #64
@nthiery

  mathematical relevance, some mathjax formulae and examples?
  Something we would be proud to highlight as good documentation?}

I agree.  Any recommendations?  What is one of the more exciting/important API doc pages you can think of?

[2018-08-23 14:02] embray commented on #64
@nthiery

I'm not sure how I feel about all this.  This seems to be conflating development of Sage itself with development of VREs.  I'm having trouble picturing a workflow whereby I would make modifications to Sage sources from within a notebook, much less then rebuild and run those changes (which would require at a minimum restarting the kernel).  I just don't see the advantage, and notebooks do

[2018-08-23 14:08] jdemeyer commented on #87
I just pushed a first draft of this report. I admit that it's quite technical, but then again: this is technical material and there is not much cool stuff to show.

It's also more of a work plan rather than a report on finished work, but that's the honest reality.

[2018-08-23 14:39] nthiery commented on #64
The main point is not so much about developing from the notebook: most
of the items above are about simplifying the workflow in general.

Doing development in a JupyterHub/cocalc/... service (aka "in a VRE")
mostly means that you do not need to install and compile Sage locally;
it would still involve opening a shell, etc.

Right; I was just throwing in some random ideas about what could ease
devel

[2018-08-23 14:39] jdemeyer commented on #84
Note that it's not because you see `cysignals` in the traceback that `cysignals` is "involved" in the crash. It's just that `cysignals` handles the crash, so it's natural that `cysignals` appears in every crash log. For example
[code]
What you see here is `cysignals` handling the crash, not causing the crash.

[2018-08-23 14:49] alex-konovalov commented on #67
@embray ok - will do. We use Jenkins since 2009, so it predates the advent of Travis CI. We have some extended tests which do not fit into Travis CI (and AppVeyor) limitations, and also use it to automate release wrapping and package update scripts. Although, our partners outside St Andrews cant' access Jenkins even to see tests status and logs, what's inconvenient - we need someone (me) in St And

[2018-08-23 14:53] nthiery commented on #47
I have created an issue about notebook collections for ODK, to advertise internally the solution and get others involved; feel free to edit and comment:

https://github.com/OpenDreamKit/OpenDreamKit/issues/272

I'll send the link with a few explanation words to ODK's participants later tonight.

I'll send later tonight

[2018-08-23 14:55] nthiery commented on #84
Good point :-)

[2018-08-23 15:25] embray commented on #67
@alex-konovalov Thanks; that's interesting.  Perhaps there is some more future opportunity to cross-polinate on this.  E.g. even if you prefer to continue using Jenkins (which is fine by me, I've used it in the past) it would probably be easier for you if the Jenkins master were hosted somewhere beyond your local firewall such that other GAP developers can view your results.

There used to be a se

[2018-08-24 14:08] nthiery commented on #87
I just finished reviewing the draft of report.  That's a good start, thanks again!

I made some edits, and left TODO's; for some of them, you may want to ping me back if unsure what to do.

[2018-08-24 14:57] alex-konovalov commented on #96
I've a collection of the some GAP Jupyter notebooks at https://github.com/alex-konovalov/gap-teaching/ which I used at the GAP tutorial at [PGTC 2018](http://www-groups.mcs.st-and.ac.uk/~pgtc2018/). One could also run on binder. Is this interesting for this report?

[2018-08-24 16:01] nthiery commented on #139
Hi! What's the status for this report?
For info: I just took care of the ednote I was in charge for, and pushed. I had done a bit of proofreading in late July too.
Cheers,

[2018-08-24 16:12] nthiery commented on #89
Hi @minrk, @vidartf!
Thanks for the progress on the reports. I had a quick look, and threw in a couple suggestions. When would be a good time for a more formal review?
Cheers,

[2018-08-24 20:47] nthiery commented on #86
Hi @minrk, @vidartf, @marcinofulus,
I just went briefly through the report, and read in more details the beginning. I made some edits and added some TODO's. This is taking a good shape; I am looking forward the full report!
Early next week would be great.
Thanks,

[2018-08-25 13:36] kohlhase commented on #139
I will finalize it when I am back tue/Wed next week.

[2018-08-25 14:39] nthiery commented on #109
This deliverable is the culminating point of T5.6: HPC infrastructure for Combinatorics (M1-M36)
It follows up D5.1 (#107): *Turn the Python prototypes for tree exploration into production code, integrate to Sage*, and subsumes D5.8 (#121): *Explore the possibility to interface smoothly Pythran , Cython and Cilk++* which was merged into it.

Therefore the report would naturally give an overview of

[2018-08-25 14:45] nthiery commented on #109
I created a stub report: https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP5/D5.11/report.tex

There just remains to fill it in :-)

[2018-08-26 19:29] nthiery commented on #139
Ok! Thanks for the feedback.

[2018-08-27 10:04] embray commented on #72
Sorry, I was just looking for the actual deliverable and thought this was it for a second.

[2018-08-27 11:53] jdemeyer commented on #87
I'll first finish a draft for D4.10 and then come back here.

[2018-08-27 13:33] nthiery commented on #89
Cool :-)

[2018-08-27 14:02] minrk commented on #86
@nthiery thanks for the review! I'm filling them in. Most should be addressed now.

@marcinofulus and @fcayre could I get an estimate of PMs that you have spent on K3D and scivijs? I'm going to assume it was as-planned in the proposal (4 for Silesia, 10 for Logilab), unless I hear otherwise.

[2018-08-27 14:11] nthiery commented on #86
@fcayre has moved away from Logilab. CC'ing to @martinrenou and @ocayrol.

[2018-08-27 15:45] jdemeyer commented on #84
I pushed a first draft of the report.

There is one TODO which is actually a *feature* that still needs to be implemented. That feature is actually almost ready, but not quite. So here is a question: would it be OK to report on that as if it was finished? It already mostly works, so there is a very high chance that it will be finished before the actual review.

[2018-08-27 15:47] embray commented on #64
@nthiery
I believe I've addressed all of your TODOs in the latest draft.  I also added a few other bits.  I still kept the conclusion a bit vague about specifics, but did tie it again to D3.8, and how it makes it relatively easy to spin up a Sage development container.  I'm happy to add more, but I was concerned that listing too many ideas would require too many words spent contextualizing those i

[2018-08-27 15:54] nthiery commented on #84
Thanks Jeroen! Will review tomorrow.

Go ahead. If relevant, maybe you can put a slight hint that it's
leading/bleeding edge; for example stating that the feature is in beta
version or something like this.

[2018-08-27 21:13] nthiery commented on #96
Thanks for the suggestion Alex! Could you add a few lines about it around:

https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP4/D4.7/report.tex#L111

We should also have a use case around authoring interactive course
notes on our web page, with links to instances including the above:

        https://opendreamkit.org/tag/use-case

Volunteers welcome :-)

[2018-08-28 07:16] marcinofulus commented on #86
Hi

We have spend 50kE for subcontracting which means 500-1000h .  4PM is c.a.
600h. So it fits.
However the work was task driven and spread over all the time.

the best
mk

On Mon, Aug 27, 2018 at 4:11 PM Nicolas M. Thiéry <notifications@github.com>
wrote:

--
Head of Department of Computational Physics and Electronics
Institute of Physics
University of Silesia
ul. 75 Pułku Piechoty 1A
41-500 Cho

[2018-08-28 07:41] nthiery commented on #64
Thanks @embray. Now proofreading!
- Missing file: screenshots/docs-console

[2018-08-28 09:00] nthiery commented on #64
Done with the review. Great report Erik; thanks a lot!
I did a couple minor changes in 0c74ab24bf2ad7ec5372257745c9d222f6fc944d; mostly syntactical. You may want to double check on them. Then, once I have the aforementioned files, I'll recompile and submit.

Very good choice of documentation screenshot in Figure 1 btw.

[2018-08-28 09:36] embray commented on #64
Added the missing files.  FWIW the subject used in the other screenshots is `laplace()` (transform)

[2018-08-28 10:08] jdemeyer commented on #87
Quick question: do we have an "official" way to refer to ODK workshops? Should I just write "the April 2016 OpenDreamKit workshop in Cernay"?

[2018-08-28 10:35] nthiery commented on #64
I am apparently still missing screenshots/docs-console.

Good choice too for laplace.

[2018-08-28 10:37] jdemeyer commented on #87
`\TODO{Any relevant visual?}` -> I don't think so

[2018-08-28 10:38] nthiery commented on #87
This one was Sage Days 77. Let's say "the Sage Days 77 workshop
organized by OpenDreamKit" or some similar phrasing.

[2018-08-28 10:44] nthiery commented on #87
On Tue, Aug 28, 2018 at 03:20:25AM -0700, jdemeyer wrote:

Sorry if I have been unclear; the whole point is indeed to use a
vanilla Sphinx installation. Nevertheless Sage will still use some
custom configuration, if not just for theming, right? this we want to
share with Sage packages one way or the other.

[2018-08-28 10:47] jdemeyer commented on #87
Just pushed another update. I also added a reference to T3.3 (packaging) since this is actually quite relevant for packaging too.

[2018-08-28 10:58] jdemeyer commented on #87
I'm not sure about this actually.

[2018-08-28 11:39] embray commented on #64
Strange. I have right in my bash history `$ git add WP3/D3.5/screenshots/docs-console.png`
But it didn't go through for some reason.

[2018-08-28 11:41] nthiery commented on #87
The less custom we have, the better :-)

Nevertheless, things like our custom trac roles for Wikipedia, trac,
and such, the default role `` -> maths, the thebelab configuration,
that we want to use plugins like intersphinx to crosslink to Python's
standard documentation. That's all configuration that will differ from
Sphinx's default value, right?

[2018-08-28 11:43] jdemeyer commented on #87
OK, I see your point now. But what (if anything) should we write about it?

[2018-08-28 12:01] jdemeyer commented on #87
Regarding
[code]

1. Can we claim it as part of ODK?

2. What it does it quite related to ThebeLab. So, if we report on it, it makes sense to do that on D4.7 (#96), where we already report on ThebeLab.

[2018-08-28 12:12] nthiery commented on #87
What do you think of a brief phrase stating something like: it is
beneficial for Sage packages to use the same theming and configuration
as Sage for building their documentation. We simplified the process by
implementing the sage-package utility (which contains among other
things a copy of the Sage-Sphinx configuration), and illustrating its
usage in the sage-sample package template. We are invest

[2018-08-28 12:18] nthiery commented on #87
Most of it (but of course not the development of sphinxcontrib-jupyter
itself; just the contributions) was done by Olivier Cayrol and myself.
So yes.

I agree it's borderline. Here, most of the work is Sphinx related.
Whereas for ThebeLab most of the work was related to Jupyter, with
just a tiny bit of Sphinx configuration. Hence it seems to fit a bit
better here.

[2018-08-28 12:30] nthiery commented on #64
Go figure ... Got it now as well as the final polishing. The report is submitted now.

Thanks for all the hard work: one more very useful contribution to Sage and a nice report!

[2018-08-28 12:30] #64 closed

[2018-08-28 12:34] minrk commented on #89
We are still putting together a couple of figures, but this should be reviewable now.

[2018-08-28 12:34] minrk commented on #86
@marcinofulus thanks!

@nthiery a couple of figures need to be added, but the text should be reviewable

[2018-08-28 12:47] nthiery commented on #89
Cool! Thanks for the ping. Looking at it soon.

[2018-08-28 13:37] jdemeyer commented on #87
@nthiery I pushed another update adding some of the stuff we discussed today. Please review in particular the last section.

[2018-08-28 13:41] nthiery commented on #84
Hi Jeroen; I just finished reading the report; I made some minor changes and added some suggestions.

[2018-08-28 13:54] minrk commented on #78
@nthiery this task has no deliverables, but its work period is complete. Is there anything (or anyone) you can point me to to summarize for the D1.5 report?

[2018-08-28 21:16] nthiery commented on #90
Hi @markuspf!
In the report for this deliverable (still a draft), we mention Francy in the introduction, and later we have a brief section about it. Could you please have a look at it and check that it's correct? Suggestions welcome too. And of course we should discuss further about it at some point!

https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP4/D4.16/report.tex#L290

[2018-08-29 00:16] defeo commented on #47
@nthiery, I updated the report, addressing your remarks.

I couldn't find any info on D2.9: no GitHub issue, no trace in the list of amendments. IIRC, it was simply merged to 2.7 as "duplicate".

So I don't quite know what to say about it: I remember our intent was to host the SageIndex service, but given how the scope of this deliverable has shfted, that doesn't make much sense anymore. And I don

[2018-08-29 07:49] nthiery commented on #78
Oops, thanks, good catch, this went under my radar. Presumably there was work done by the community on this task, but I don't know if there was ODK contributions. Bordeaux is the lead here;
@videlec?

[2018-08-29 08:29] ClementPernet commented on #110
@nthiery : part of this deliverable consist in scientific publications and I am summarizing them in the deliverable report. Since I read that the report should be self contained, do you think that I should also add the papers as appendix to the deliverable?

[2018-08-29 09:10] nthiery commented on #47
Thanks Luca!

Hmm, our info before the start of the project is indeed a bit hard to track. For the history, see:

        https://github.com/OpenDreamKit/OpenDreamKit/blob/master/Proposal/grantagreement-history.tex#L47

Our original proposal before refactoring can be found in our old repo:

        https://github.com/sagemath/grant-europe/blob/069e964b5d35314d13783eb8387606d548796b8e/H2020/proposa

[2018-08-29 09:11] nthiery commented on #110
+1

Thanks!

[2018-08-29 09:27] defeo commented on #47
Agreed

[2018-08-29 09:51] embray commented on #67
I pushed some more of the completed portions of this deliverable in 27897043 if anyone wants to have look.  There's still work to be done, and I'm waiting for bits from @alex-konovalov and @saraedum : it might be helpful to you guys to look at what I've already written in order to place your reports in context (they still need only be brief).

[2018-08-29 11:57] nthiery commented on #89
Review done! Being well written it made me curious :-) I inserted a few TODO's with questions that the reader may ask himself. I also made minor changes to the introduction for a fully consistent terminology across paragraphs.
Given that the report explicitly mentions cocalc, you may want to ping William for feedback.

With this and the figures, we can press the button, and be done. Thanks!

It wo

[2018-08-29 13:04] nthiery commented on #86
Done reviewing. The report is indeed looking good and close to completion. Thanks @minrk, @vidartf and @marcinofulus!

Since we merged D4.14 (#88) *Computational Fluid dynamics visualisation in web notebook* into this deliverable, I did some edits to bring more focus on the CFD work. Please proofread.

All the cool features that are described or alluded to for CFD really deserve more inspiring scr

[2018-08-29 13:05] ClementPernet commented on #100
@stevelinton @alex-konovalov : could you feed me with some status updated on this task. Even if the delivery is scheduled for next year, we need to write a status update in D1.5 (issue #21 ) of this fall's report. This is urgent (we need to write this update by thursday Aug. 30th).

[2018-08-29 13:06] ClementPernet commented on #99
@KBelabas  @videlec  : could you feed me with some status update on this task. Even if the delivery is scheduled for next year, we need to write a status update in D1.5 (issue #21 ) of this fall's report. This is urgent (we need to write this update by thursday Aug. 30th).
Best would be if you could edit the report of D1.5 with these updates.

[2018-08-29 13:07] ClementPernet commented on #102
@wbhart @wdecker : could you feed me with some status update on this task. Even if the delivery is scheduled for next year, we need to write a status update in D1.5 (issue #21 ) of this fall's report. This is urgent (we need to write this update by thursday Aug. 30th).
Best would be if you could edit the report of D1.5 with these updates.

[2018-08-29 13:08] ClementPernet commented on #104
@hivert @VivianePons : could you feed me with some status update on this task. Even if the delivery is scheduled for next year, we need to write a status update in D1.5 (issue #21 ) of this fall's report. This is urgent (we need to write this update by thursday Aug. 30th).
Best would be if you could directly edit the report of D1.5 with these updates.

[2018-08-29 13:09] ClementPernet commented on #109
@hivert :: could you feed me with some status update on this task. Even if the delivery is scheduled for next year, we need to write a status update in D1.5 (issue #21 ) of this fall's report. This is urgent (we need to write this update by thursday Aug. 30th).
Best would be if you could edit the report of D1.5 with these updates.

[2018-08-29 13:12] wbhart commented on #102
I'm not sure what you mean by "edit the report of D1.5". If I click the link to issue #21 I don't see anything to edit.

[2018-08-29 13:19] ClementPernet commented on #102
It is about editing the tex file for the report of deliverable D1.5.
It is located at:
  OpenDreamKit/WP1/D1.5/WP5.tex

( https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP1/D1.5/WP5.tex )

But feel free to feed me with the status update and I'll merge it to this file.

Clément

Le 29/08/2018 à 15:12, wbhart a écrit :

[2018-08-29 13:21] ClementPernet commented on #99
The report of D1.5 is at https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP1/D1.5/WP5.tex#L53

[2018-08-29 13:35] minrk commented on #86
@nthiery excellent, thanks for the review! I think we are just about set, then. @marcinofulus do you perhaps have another screenshot or diagram to add for the CFD? If so, please add them and then this report should be complete.

[2018-08-29 13:39] wbhart commented on #102
Thanks. Any idea on how much prose you want? 1/2 page, 2 pages?

[2018-08-29 13:47] ClementPernet commented on #102
Max 1/2 page (total for WP5 should be 2-3 pages).
By default the WP5.tex file contains the status update from the previous evaluation period.
Feel free to drop all of it, or to keep some pieces if you find that they would help putting the new
information into context.

Le 29/08/2018 à 15:39, wbhart a écrit :

[2018-08-29 13:52] nthiery commented on #102
yeah, 1/2 page or so; you can find our previous technical report
there:

https://github.com/OpenDreamKit/OpenDreamKit/blob/master/ReportingPeriod_1/Technical_Report/report-final.pdf

and got no complaint about it; of course with time there is presumably
some more to say, and you should adjust to whatever space you need.

[2018-08-29 13:53] wbhart commented on #102
Yeah, the deliverables mentioned in the previous report have all been delivered already and closed. The deliverable we are working on wasn't mentioned at all, as far as I can see. So we'll be removing three sections and adding one in it's place it seems.

[2018-08-29 13:54] minrk commented on #89
Addressed some of the points. I think this is all set, now!

[2018-08-29 14:35] nthiery commented on #89
Thanks Min!
Argl, sorry, I forgot one point: do we have some online references about the prototyping work? Maybe to some relevant issues, mailing list threads, or source code of prototypes? So that the curious reader can explore some more on his own and possibly track future progress.

[2018-08-29 15:03] jdemeyer commented on #84
Some of the TODOs can only be answered in a negative sense, so I suggest to ignore those.

- *a tiny bit of context to assess how the feature is important*: it's not actually important

- *State a few words about the adoption of CyPari2; e.g. is it used by Snappy?*: it's only used by Sage as far as I know

[2018-08-29 15:04] alex-konovalov commented on #100
GAP 4.9 release now includes HPC-GAP (see [here](https://www.gap-system.org/Manuals/doc/changes/chap2.html#X7F52B77B7DBACC17)). I will look at D1.5 later.

[2018-08-29 15:13] nthiery commented on #84
Sure, fair enough. For the latter maybe after the deliverable would be
a good time to get in touch with the Snappy devs if not already done?

[2018-08-29 15:30] jdemeyer commented on #84
I don't really know what to write about
[code]

I cannot really think of any "lessons learned". But maybe that's a good thing too: everything went fine!

I'm pushing an update now, still some TODOs left.

[2018-08-29 15:37] embray commented on #84
@jdemeyer

Indeed, I think that constitutes a lesson in of itself.  In the past some have argued against decoupling parts of Sage, and this is one more piece of evidence that it can be done with no problems and that in the end everyone is (in principle) better off for it.

[2018-08-29 15:41] jdemeyer commented on #84
The main remaining problem is https://github.com/sagemath/cysignals/pull/76

But it looks like we (mostly @vklein) should be able to fix that.

[2018-08-29 15:48] embray commented on #84
In the context of D3.8 (#67) I might be curious if there is anything interesting you learned or problems you encountered using Travis CI for this purpose.  I suspect the answer is "nothing special", but just in case you do have anything more to add to that I'd be interested.

[2018-08-29 15:51] embray commented on #84
A couple minor edits I had to take or leave as you will (though the original text in the first diff is definitely missing some words, so should be edited somehow or other).

In the second diff I thought that "docstring", being a particular term of art, deserved clarification (even if it has been explained before in other reports).

[code]

[2018-08-29 16:06] KBelabas commented on #99
Hi Clément,

* Clément Pernet [2018-08-29 15:07]:

My comment from last year for issue #108
  https://github.com/OpenDreamKit/OpenDreamKit/issues/108
is still essentially accurate.

I'm pasting an updated version below now that 'master' has been released
as PARI-2.11. Is this suitable ? Should need to edit D1.5 myself ?
[It's going to be hard, I'm behind schedule for other short-term deadlines.]

[2018-08-29 16:34] videlec commented on #109
@nthiery thanks Nicolas. I will complete the report for "Refactoring and optimizing Sage's combinatorics code" (which is essentially Cython related). I can take the lead. Sorry for not responding before, I am at a conference.

[2018-08-29 16:59] videlec commented on #110
On the practical side you can also mention some trac tickets

- [#22924](https://trac.sagemath.org/ticket/22924) and [#22970](https://trac.sagemath.org/ticket/22970) (positive review),
- [#24544](https://trac.sagemath.org/ticket/24544)  (needs work because of compilation failure),
- [#23214](https://trac.sagemath.org/ticket/23214) (needs work because depends on [#24544](https://trac.sagemath.org/t

[2018-08-29 17:12] nthiery commented on #109
Perfect. Thanks Vincent.

[2018-08-29 17:38] nthiery commented on #142
Not quite in the coming days, but I finally got to review the report; sorry for the delay.

Generally speaking, the report looks good; thanks! I made some minor edits and threw in some additional ednotes. In addition the abstract could be expanded according to our deliverable recommendations:

    Have an executive summary on the first page (just half a page).
    - why does this deliverable exist

[2018-08-29 21:12] jdemeyer commented on #84
From the CI side of things, mostly nothing special. One unfixed issue is that we test a PARI nightly snapshot (in the literal sense, as in a tarball automatically created every night) but that the result is not updated automatically. For example: if I make a commit now to `master` and you make a PR next month, then that PR might break CI not because of your commit but because something changed in

[2018-08-30 03:08] videlec commented on #78
This task was mostly an initiative of Adrien Boussicault. Nothing has been done on this side.

[2018-08-30 04:59] marcinofulus commented on #49
Hi @nthiery,

The report is ready for proofreading.
I have put the link to books repo inside the report, and the link to hosted (live) version will be in the repo.
I will hopefully make possible to change hosting and keep links working in the future.

mk

[2018-08-30 07:59] ClementPernet commented on #109
@serge-sans-paille : thanks for proposing this. Sure please do. @videlec is also editing a part of the deliverable in the mean time, so maybe first focus on the other parts or try to synch with him to review it afterwards.

[2018-08-30 09:05] ClementPernet commented on #99
Thanks @KBelabas . I'll update D1.5 myself with your input.
What do you mean in the TODO: is this a list of things that you are still working on for this deliverable D5.16, or is it a todo for this text in D1.5 (waiting to elaborate on these topics)?

[2018-08-30 09:29] ClementPernet commented on #110
Thanks @videlec . Which deliverable/task would be best to cite for the Cython efforts ?

[2018-08-30 09:38] jdemeyer commented on #84
"reporting FOO" doesn't sound wrong to me but I'll make the change anyway.

I'll write something along these lines in the report.

[2018-08-30 10:08] jdemeyer commented on #99
Just so you know: in the report of D4.10 (#84) I am showing an example parallel computation using cypari2:
[code]
I also refer to T5.1 in the report.

[2018-08-30 10:11] jdemeyer commented on #64
In a deliverable which is about "integration", certainly!

[2018-08-30 10:35] marcinofulus commented on #86
@nthiery - I have added some better figs for CFD with captions.

[2018-08-30 10:54] Juanlu001 commented on #86
A comment from the peanut gallery - is the draft report publicly viewable somewhere? I can as well wait for the final version, you know :)

[2018-08-30 11:15] alex-konovalov commented on #100
@ClementPernet done in dffd5edd9652b09b9fe4646bafc5167a4a1e88f8

[2018-08-30 11:33] hivert commented on #109
@videlec: Thanks for polishing what I wrote on the report. I wasn't meant to be finished and I planned to edit it more this afternoon but lot's of it is already done by you. I have more to add on the outreach of the work (invitation to seminar, my HPCombi code starting to be used by lib-semgroup itself used both by gap and Sage). To avoid conflict, cas you call me on the phone at my office (016019

[2018-08-30 11:47] embray commented on #109
@hivert Let me know if you would like me to do any proofreading as well.  I would go ahead and do it now but from the sound of it I should probably wait until a bit more editing is done.

[2018-08-30 11:50] embray commented on #86
@Juanlu001 You should be ale to find it in the repository under: https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP4/D4.12/report.tex ; last updated an hour ago.

[2018-08-30 11:53] videlec commented on #109
@hivert sorry for the large rewrite of your part. I tried to simplify a lot the introductory part.

My time zone is GMT-4 (so now is early morning). I will not work on the report before 16:30pm (Paris time). Feel free to do any edit in the mean time.

I also have some edits to do regarding Cythonization in Sage.

[2018-08-30 11:53] embray commented on #84
Thanks, that's good to know.

That's a tricky problem because most CI systems these days are launching Docker containers, and even with that although you could test "different platforms", when it comes to Cysignals, while some issues will be more relevant to the toolchain used to build it (which can be tested easily with containers), other issues may be relevant to the kernel itself, where contain

[2018-08-30 11:55] embray commented on #84
In retrospect I think it's fine either way; at first it sounded a bit strange to me though.

[2018-08-30 12:01] ClementPernet commented on #100
Great. thanks.

Le 30/08/2018 à 13:15, Alexander Konovalov a écrit :

[2018-08-30 12:15] Juanlu001 commented on #86
Thanks!

[2018-08-30 12:19] hivert commented on #109
@videlec : is wasn't meant that much as an introductory... Anyway thanks for the work !

[2018-08-30 12:32] jdemeyer commented on #84
This is very much the case with cysignals since it ties in closely with the OS and the C library. The compiler toolchain, CPU or Python version are much less important.

Typically people consider the OS and C library as one whole (from an application programmer point of view, you mostly don't care about what is implemented where). Docker uses the C library from the container, right? At some point,

[2018-08-30 12:43] videlec commented on #109
@hivert: not everything you wrote is an introduction! Feel free to revert as much as you want if it does not fit. And remember that it is not a scientific report. Emphasis has to be put on results. The "rules" in the mail of Nicolas are of good help

- Context setting
  - what is the problem that is being addressed?
  - Why should we care about the deliverable?
  - what is the thing that has been

[2018-08-30 12:45] KBelabas commented on #99
* Clément Pernet [2018-08-30 11:07]:

It's in the list of things that *could* be included in deliverable D5.16.
Not sure we'll do it in the end:

0) we're currently not working on it but rather focussing on exploiting
the new implementations in new modules [ just relying on faster internal
linear algebra, not parallelizing new stuff ]

1) there are non trivial obstacles in the code base: the seque

[2018-08-30 13:31] nthiery commented on #86
You can also access a recent pdf from the "(Final) report" link on top of this page.

[2018-08-30 13:34] ClementPernet commented on #102
No problem. Thanks

[2018-08-30 13:46] embray commented on #67
@jdemeyer One other question: Do you know why Cysignals isn't using Travis to test on OSX?

[2018-08-30 13:48] nthiery commented on #142
@kohlhase: the manual merge seems to have corrupted this deliverable report as well; it does not compile as of ead1e67705a7969de54b3ef5d861b145569419d0

[2018-08-30 15:35] kohlhase commented on #142
I have fixed the corruption and have now started to read it.

[2018-08-30 15:39] ClementPernet commented on #109
@hivert : could you edit a short paragraph summarizing the status of this deliverable in the report of D1.5
 OpenDreamKit/WP1/D1.5/WP5.tex
https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP1/D1.5/WP5.tex#L170
or simply post a paragraph here which I could copy/past.
Thanks.

[2018-08-30 16:31] nthiery commented on #49
Hi @marcinofulus,

I just finished reviewing your report. You can find the updated file in the D2.9 branch (to be merged in master as soon as the latter is fixed):

https://github.com/OpenDreamKit/OpenDreamKit/tree/D2.9

[2018-08-30 16:31] nthiery commented on #49
Altogether looking good; I added some suggestions.
Thanks in advance!

[2018-08-30 16:42] hivert commented on #109
@ClementPernet: I'm not the best one to do that because most of my work was actually done on D5.8 which was merged with this one. I'd rather wait for @videlec input.

[2018-08-30 16:45] hivert commented on #109
@videlec: I'm mostly done with writing my part (I still need some rereading). However due to the big git problem I've pushed to a new branch namely https://github.com/OpenDreamKit/OpenDreamKit/tree/D5.11 Please pull, complete at will. Since the title of the deliverable concern more your part than mine, I leave it to you to write the introduction and the conclusion. Please ask for some input if nee

[2018-08-30 18:08] videlec commented on #109
@hivert cilk++ is officially deprecated by Intel in favor of TBB. Though there is the Cilk Hub initiative: http://cilk.mit.edu/. Do you want to add a word about this?

[2018-08-30 18:47] jdemeyer commented on #67
Travis CI doesn't support Python projects on OS X.

People do use various workarounds, such as pretending to be a C project and then manually installing Python. Somebody suggested using Conda to test cysignals in a more portable way. That could be made to work, I just need to finish that (see https://github.com/sagemath/cysignals/pull/78)

[2018-08-30 19:11] alex-konovalov commented on #67
@embray pushed https://github.com/OpenDreamKit/OpenDreamKit/commit/0f15b0e3eaa557866d7f929edc0bd7756f52cbb1 - feedback welcome!

[2018-08-30 19:47] fingolfin commented on #67
FYI, we used to use Travis for OSX checks, but stopped it due to reliability/availability issues: We just spent too much time restarting broken OS X builds; or waiting hours for Travis to finally run the OS X jobs (long after all Linux jobs completed), which caused major delays in our work flows (esp. during GAP Days, were we typically trigger gazillion builds).
The main reason we get away with th

[2018-08-30 22:26] hivert commented on #109
I might a a word but it's the first time I'm hearing about it. It seems quite new.

[2018-08-31 04:56] videlec commented on #109
It is now very late for me. I am basically done. I will reread to provide better phrasing. Any proofreading welcome at this stage.

[2018-08-31 06:44] nthiery commented on #49
I merged back the branch in master; please continue edits there. I am about to add two additional suggestions.

[2018-08-31 07:02] nthiery commented on #49
Done!

With little if not change (just converting to markdown), this report, once finished, will make a nice blog post on ODK's site!

We should also have a use case on authoring interactive books on our web page: https://opendreamkit.org/project/use-cases/ volunteers to kick off this are welcome :-)

[2018-08-31 07:04] nthiery commented on #90
@zerline: I merged the D4.16 branch back into master.

[2018-08-31 07:11] nthiery commented on #47
Hi @defeo!
Just preparing my timing for the day; are there further edits you are planning to do today, or is the report to be submitted as is?

[2018-08-31 08:31] jdemeyer commented on #84
I made some final fixes to the report. For me, it is done.

[2018-08-31 09:02] jdemeyer commented on #87
I made some final fixes to the report. For me, it is done.

[2018-08-31 09:10] embray commented on #87
I'll give it another read over.  Based on my last look at it I don't think I'll have much to add on the content; I'm mostly just proof-reading.

[2018-08-31 09:31] ClementPernet commented on #36
I've added 2 linbox dev meetings to the report.

[2018-08-31 09:37] embray commented on #87
getting a PEP accepted is quite slow: at the time of writing this report, the PEP had not been
accepted (nor rejected).

I wonder if it's worth mentioning in a footnote that Guido was mostly positive about the PEP, which might have been helpful in getting it done faster if not for the unfortunate (for your PEP) timing of his retirement from the BDFL role.

[2018-08-31 09:42] embray commented on #87
In other words, the current wording leaves some doubt as to whether or not it will be accepted.  I think, from what I've seen so far, it likely *will* be accepted, eventually, in some form or other.  Even if some of the details change I don't think anyone can disagree (well, I'm sure 1 or 2 people do) that refactoring CPython's function types to have a more consistent interface is a good thing.

[2018-08-31 09:56] embray commented on #67
Huh. I actually did not know that OSX is officially spelled "macOS" now.  I had to look that up.

[2018-08-31 09:57] embray commented on #67
@fingolfin Thank you for that clarification; that's good to know and I will note that in the report.

@alex-konovalov Thanks for your additions--I'm looking them over now!

[2018-08-31 10:01] embray commented on #67
@jdemeyer

Really?  How strange.  I know that didn't used to be the case, so I wonder when that changed.  Sure, for pure (and by "pure" I mean not even using low-level interfaces like ctypes and dlopen) Python projects it doesn't make much sense to test on "macOS", but for anything involving compiling C code it does... :/

[2018-08-31 10:04] embray commented on #47
I'm making some minor proofreading edits.

[2018-08-31 11:12] ClementPernet commented on #110
Done with the report. Open for reviews

[2018-08-31 12:03] jdemeyer commented on #87
Personally, I'm more pessimistic (or realistic?). I think that there is also a real possibility of it just being ignored, neither accepted or rejected (this is certainly the case for many Python PRs).

[2018-08-31 12:33] embray commented on #67
@jdemeyer

two sentences. Especially the "nevertheless" seems out of place --- Jeroen}

multi-platform CI, and in particular the need for a ``common infrastructure''
for CI, did align with our original expectations, for reasons that are
enumerated in the following section.  Nevertheless, significant achievements
were made by OpenDreamKit projects in the area of CI, and there are lessons
learned th

[2018-08-31 12:40] nthiery commented on #47
Thanks Erik. Let me know when done!

[2018-08-31 12:43] nthiery commented on #87
Thanks Jeroen and Erik for the polishing!
I just finished reviewing and pushed some changes; most minor, and a bit of refactoring here and there. I also included the pep as appendix. Let me know if you want to change something (e.g. about the PEP) or whether I should just submit as is.

[2018-08-31 12:47] #270 closed

[2018-08-31 12:48] embray commented on #47
Oh, I was done that before we left for lunch :)

[2018-08-31 12:50] embray commented on #87
OK, I remain optimistic about it in the long term, but you're in the thick of it so I know how frustrating it's been and can easily see how you can be pessimistic (there is precedent for PEPs that looked good in principle but just stalled out indefinitely).  So if you're not comfortable making any claims with confidence then let's just let it be.

[2018-08-31 14:27] embray commented on #67
@nthiery The main text of this report is mostly done, modulo a few minor TODOs.  Most of it has already been well-reviewed by others, so no need for deep scrutiny if you don't have time.    But I would like it if you could look over the few concluding paragraphs I added, especially the last paragraph about working with EGI.  Thanks!

[2018-08-31 15:32] nthiery commented on #211
Hi @minrk!
Would you have a chance to briefly report on this workshop in D2.11 #36 today? I am already quite overloaded :-)
File to be created in https://github.com/OpenDreamKit/OpenDreamKit/tree/master/WP2/D2.11/events
using the template available from this directory.

[2018-08-31 15:51] nthiery commented on #49
Hi @marcinofulus,
Beautiful; thanks for finalizing the report; it now is strikingly impressive! Please transmit my congratulations to all authors. I will submit it soon.
Please edit the first entry of this issue to look like, e.g., that of #64, including in particular a copy of the introduction.

[2018-08-31 16:26] hivert commented on #109
@ClementPernet I've just contributed a small page to the overall WP5 report describing the result for HPC-combi. Please reread and comment.

[2018-08-31 16:41] hivert commented on #104
@ClementPernet : Done. I was waiting for @videlec input... Please reread.

[2018-08-31 16:47] nthiery commented on #22
Deliverable submitted. Thanks Benoît and everyone who contributed!

[2018-08-31 17:08] nthiery commented on #47
Submitted!

[2018-08-31 17:30] nthiery commented on #89
I made some searches and did not find relevant references. Any chances for you to add one
in the next few hours? Otherwise, I'll submit as is?

[2018-08-31 18:59] embray commented on #109
@hiver @nthiery I have pushed my edits to the report.

[2018-08-31 19:00] embray commented on #109
Hold on...merge conflicts...wtf

[2018-08-31 19:04] embray commented on #109
Ok fixed!

[2018-08-31 19:11] minrk commented on #89
Yes, please submit as-is

[2018-08-31 19:16] minrk commented on #211
Yes, I'll write this right now.

[2018-08-31 19:29] nthiery commented on #87
Submitted!
Thanks Jeroen for the long term work on this project and the report; thanks Erik for the proofreading!

[2018-08-31 19:37] embray commented on #67
@nthiery I've made my final updates to this report.  It's ready for final review and submission from my end.  Give me a ping if there are an last-minute fixes needed.

[2018-08-31 19:42] alex-konovalov commented on #67
@embray thanks a lot!

Let's unify style and put your full name or our initials in

https://github.com/OpenDreamKit/OpenDreamKit/blob/a5a3e54f623978602f12b65f4eac240cffbebbcd/WP3/D3.8/report.tex#L7

[2018-08-31 19:48] hivert commented on #109
Thanks to @serge-sans-paille and @embray for the rereading.

[2018-08-31 19:50] nthiery commented on #67
Submitted!

Thank you so much Erik and Julian for the big step in Sage's continuous integration and for report. I did not get to read it all yet, but am looking forward to it. It would make a very nice blog post to disseminate the lessons learned.

Thanks Alex for the additional insight you provided from GAP's perspective!

One small last step (does not need to be tonight): please edit the first e

[2018-08-31 20:00] hivert commented on #109
@videlec: Unless you have something more to to, this deliverable is ready to go !!! Can you confirm that its Ok for you ?

[2018-08-31 20:03] nthiery commented on #67
@alex-konovalov, @embray
Actually, I fumbled my submit. So it's still time for you to fix the author line :-)

[2018-08-31 20:08] minrk commented on #211
Added a writeup of this workshop to D2.11

[2018-08-31 20:26] hivert commented on #110
I'm rereading it right now...

[2018-08-31 20:31] nthiery commented on #142
Hi @kohlhase; how is this going along?

[2018-08-31 20:43] hivert commented on #110
@ClementPernet : Everything looks good to me except for table 1. Maybe you should not show all the cases here but only one of them and detail a little bit more which column corresponds to which computation.

[2018-08-31 20:53] videlec commented on #109
@hivert I am ok. Are you doing the submission?

[2018-08-31 20:55] ClementPernet commented on #110
Ok, I'm on it

[2018-08-31 20:59] ClementPernet commented on #110
I reduced the table and added a paragraph giving more explanations on it.

[2018-08-31 21:00] hivert commented on #109
@videlec : no ! That's the role of the big boss ! I'm telling him we are ready.

[2018-08-31 21:03] hivert commented on #110
Doesn't compile anymore:
[code]

[2018-08-31 21:07] ClementPernet commented on #110
Oups. Sorry. It is fixed now.

[2018-08-31 21:11] ClementPernet commented on #109
@hivert : I checked your report on the WP5 section of D1.5. Looks good to me. I just see that D5.1 is still being mentionned although it has already been delivered. I assume this is to put the remaning things in context. Maybe you could state it more clearly.

[2018-08-31 21:11] hivert commented on #110
I now got now several undefined references and missing citations:
[code]

[2018-08-31 21:14] nthiery commented on #109
Report submitted; thanks @hivert and @videlec for the sprint :-)
I am looking forward more refactoring in the combinatorics code!

[2018-08-31 21:14] nthiery commented on #109
Please edit the first entry of this issue to look like, e.g., that of #64, including in particular a copy of the introduction.

[2018-08-31 21:15] ClementPernet commented on #110
Apologies. I was trying to go too fast.

[2018-08-31 21:15] ClementPernet commented on #110
Should be fixed now

[2018-08-31 21:16] nthiery commented on #109
I am also looking forward the dissemination of all the insight in this report, e.g. in the form of a blog post, or maybe a paper some day?

[2018-08-31 21:34] hivert commented on #110
There where still some ash of a previous sentence and I added a comma to ease the reading. Seems good to me. Pushed the fix.

[2018-08-31 21:36] ClementPernet commented on #109
@hivert : yes. Everything is now fine with me on the WP5 part of D1.5

[2018-08-31 21:36] ClementPernet commented on #110
Thanks

[2018-08-31 21:38] hivert commented on #110
Nicolas is waiting for your green light on this report. No rush is needed. He has plenty more work to do ;-)

[2018-08-31 21:44] ClementPernet commented on #110
Ok, I was waiting for yours, yes green light!

[2018-08-31 22:07] nthiery commented on #110
Submitted!

Thanks @ClementPernet! I did not yet get to read the report in full, but the context is nicely explained and it shows off well the strong scientific work behind.

[2018-08-31 22:12] nthiery commented on #110
It would be worth to advertise this as a blog post on our web site; it could be basically the same content of the report; or maybe something less technical; possibly just the abstract, with links to the reports.

[2018-08-31 22:36] nthiery commented on #84
Changes implemented; submitted!

Thanks Jeroen for leading this report :-)

[2018-08-31 23:16] jdemeyer commented on #84
We don't support all functions because we don't support all prototype codes (in particular we don't support closure arguments).

[2018-09-01 02:38] nthiery commented on #90
Thank you @zerline for all the material for the report and summary! Some more information, a bit of polishing and Voilà.
Submitted :-)

[2018-09-01 02:53] nthiery commented on #211
I appreciate that :-)

[2018-09-01 02:55] nthiery commented on #211
Proofread! Thanks Min :-)

[2018-09-01 02:58] nthiery commented on #67
Ah shoot, I missed your comment while submitting. Oh well, please
proceed and fix that; it won't be in the pdf on EU's portal, but we
can still have it in our repo.

[2018-09-01 06:04] kohlhase commented on #142
I have pushed contextualization and some more content refactorign yesterday, but will need Mo/Tue to complete it.

[2018-09-01 07:55] KBelabas commented on #84
* jdemeyer [2018-09-01 01:16]:

I see. Any technical reason why not ? They would be useful though (e.g.
numerical sumation / integration routines). I know nothing about python/cython
but it look like the basic callback mechanism should be supported:

  https://github.com/cython/cython/tree/master/Demos/callback

Cheers,

    K.B.
--
Karim Belabas, IMB (UMR 5251)  Tel: (+33) (0)5 40 00 26 17
Univer

[2018-09-01 09:26] alex-konovalov commented on #67
Puzzled with the last comment - was email delayed on the way ;-) ?

[2018-09-02 06:06] nthiery commented on #67
Exactly ... I moved from one spot to the other, got some weird network configuration issue, and the e-mail got stuck on my machine for some time ...

[2018-09-02 08:37] slel commented on #47
Somewhat related:

- **Awesome Jupyter**, a curated list of Jupyter projects, libraries and resources
  https://github.com/markusschanta/awesome-jupyter

[2018-09-02 19:34] florian-rabe commented on #139
I've made a complete and substantial revision of the deliverable on September 1. [*]
This involved restructuring the text fragments, tightening their integration, and polishing everything.

[*] My commits include restoring work that I had done a month ago and that somehow got lost in between (at least partially due to my own mistakes, but I have no clue how what happened exactly).
I've been very c

[2018-09-03 07:35] kohlhase commented on #85
I think we should use the modified one (and I have changed it), this is the currently in effect "contract".

[2018-09-03 07:36] kohlhase commented on #85
I have re-read and tweaked/extended the report in various places. Up to a JEdit screenshot I need from @Jazzpirate  (ETA 11:00) this is ready to go.
@nthiery what do we do next?

[2018-09-03 09:02] kohlhase commented on #85
OK, the screenshot is in. We can submit.

[2018-09-03 09:31] embray commented on #67
No big deal, but for what it's worth: b034d46eca8c62957b4522f355b4acbb6662ad08

[2018-09-03 10:59] slel commented on #96
For greater visibility, it would make sense to add binder-enabled examples
of using the GAP, MMT, PARI/GP, SageMath, Singular kernels for Jupyter at
https://github.com/jupyter/jupyter.github.io/blob/master/_data/try.yml
so they can appear at
http://jupyter.org/try

[2018-09-03 12:31] nthiery commented on #85
Well, safe, yeah, I can do it myself like I did for many other
reports. But if you could read the README, that would save me time.
Thanks in advance,

https://github.com/OpenDreamKit/OpenDreamKit/blob/master/README.md#submitting-a-deliverable

[2018-09-03 13:16] embray commented on #67
Done.

[2018-09-03 13:16] #67 closed

[2018-09-03 13:39] florian-rabe commented on #85
@nthiery I've added a description of the deliverable to the issue. (Sorry for not realizing what your ednote meant.)

[2018-09-03 13:59] jdemeyer commented on #84
I have not actually tried. We do support closures (more or less, there are details to be fixed), for example `apply()` is supported. But I never actually looked at what the `I`,` E`, `J` prototype codes mean. If they are literally just passing a `t_CLOSURE`, then yes it should just work.

[2018-09-03 14:45] nthiery commented on #85
Thanks for finalizing this report; I should be able to squeeze the
submission later today.

[2018-09-03 14:45] kohlhase commented on #85
Thanks a lot.

[2018-09-03 14:48] kohlhase commented on #142
Dennis and I made a lot of progress on this report, and are almost finished. But I will need a bit more time. It will be done tomorrow.

[2018-09-03 14:49] kohlhase commented on #139
Dennis and I made a lot of progress on this report, and are almost finished. But I will need a bit more time. It will be done tomorrow.

[2018-09-03 14:54] nthiery commented on #85
It should indeed be the date given in the amended contract, so M36.

[2018-09-03 15:06] florian-rabe commented on #139
Let me know if there's anything for me to do. I'll catch up on sleep today but will check online from time to time. I can do another round tonight.

I noticed the new Sect. 5.4. Was there a special reason not to integrate it into Sect. 6?

[2018-09-03 19:47] nthiery commented on #85
Submitted!

[2018-09-04 05:17] kohlhase commented on #85
Thanks a lot for the support.

[2018-09-04 05:45] kohlhase commented on #139
yes, is is about the LMFDB interface theories (i.e. analogous to GAP/Sage/Singular), not about the virtual theories interface.
But I should probably cross-reference it in both places and explain the difference.

[2018-09-04 06:50] kohlhase commented on #142
@nthiery this report is done now. I have updated also updated the issue description. Sorry for being after the deadline.

[2018-09-04 08:56] nthiery commented on #142
Submitted! Thanks for all the work.

[2018-09-04 15:06] kohlhase commented on #139
@nthiery I went over the report a final time and substantially extended it in many cases (all ednotes can just be hidden (they would be good to keep for the Journal version).

 I am turning it over to Florian for final editing; It should be ready to submit later today (I hope).

[2018-09-04 15:06] kohlhase commented on #139
@florian-rabe your turn now.

[2018-09-04 17:41] florian-rabe commented on #139
Is this still due M24 or has it also been officially moved to M36?

[2018-09-04 18:06] nthiery commented on #139
I just checked, and it's apparently still M24:

- https://github.com/OpenDreamKit/OpenDreamKit/blob/master/Proposal/WorkPackages/WorkPackages.tex
- https://github.com/OpenDreamKit/OpenDreamKit/blob/master/Proposal/grantagreement-history.tex

[2018-09-05 00:00] florian-rabe commented on #139
I've finished this deliverable. It's ready to submit.

I've kept M24 as the due date. Being one year late is awkward, but this is more comprehensive than other deliverables, which should help.

[2018-09-05 15:19] kohlhase commented on #21
@ntheiry I have updated WP6 to this report period.

My understanding is that the report is to be read cummulatively, and that I do not have to delete past achievements.

I am now looking over the other parts of the document.

[2018-09-05 15:21] kohlhase commented on #21
@nthiery
In 2.1. I see `The following people were hired in the past year:` and then the table shows hiring from 2015 and so on.
I am not sure that to do. I have hired
Theresa Pollinger: October 2017 - May 2018
Tom Wiesing: September 2017 -

[2018-09-05 15:22] nthiery commented on #139
Thanks Florian, Michael and everyone who contributed!

[2018-09-05 15:26] nthiery commented on #21
As long as there is a clear distinction between past achievements and
achievements for this reporting period, and if that contributes to the
overall understanding, that's all good!

Thanks!

[2018-09-05 15:30] nthiery commented on #21
Hmm, good catch. We definitely should separate hiring from RP1 and
RP2. And possibly remove the former. If you could start a first draft
of this (especially for the information you have) that would be great,
and I'll finalize.

[2018-09-05 15:44] kohlhase commented on #21
I have done that; highlighting Florian's joint appointment.

But someone will have to read the general text carefully and update all the little things.
I will not have time to do that unfortunately.

[2018-09-05 16:05] nthiery commented on #21
Great, thanks Michael,

Yeah ... that's on me ...

Luckily, that's the internal report; we will be able to do further
polishing for the full technical report due one month from now.

[2018-09-07 04:46] marcinofulus commented on #86
We are experimenting with programatical screenshots, and there is a nice side effect - a movie of an animation renderend with  high resolution and fps:

https://www.youtube.com/watch?v=ZBYP1hxwUcc

[2018-09-07 05:41] nthiery commented on #86
Wow, nice!!! I can almost see the heart beating :-)

This should be in the front page for ODK!

And we should think, for our next project to author our reports in
some interactive format :-)

[2018-09-08 21:33] fangohr commented on #36
It is quite impressive! We could make more of this: a timeline, plot of events on map, an animation with one frame per event,... creative data masters; what can we do? ;)

Many thanks to Vivianne, Nicolas and all to put this together; looks great!

[2018-09-09 06:15] nthiery commented on #36
Right! Maybe a map, endowed with two sliders to specify a time range,
and a default behavior of the sliders moving through time with a one
month window to animate it? Produced with ipyleaflet, and export to
"html+javascript"?

Now this raises a very good point: our data around events is spread
around our infrastructure and not always in machine readable format.
So there is duplication (which means

[2018-10-05 06:52] kohlhase commented on #21
I have started carefully going over this report again, and I have pushed the first results of this. I have
* reorganized the sectioning of the report to save on nesting depth and make reading easier (especially in the WPs)
* I have moved the sections into their own (included) files.
* I am leaving lots of `ednote`s and `oldpart`s, where I have the feeling, the text is not updated yet.
All in all,

[2018-10-05 06:52] kohlhase commented on #21
I will continue doing this all of today.

[2018-10-05 07:06] nthiery commented on #21
Thank you Michael; I really really appreciate this. With Benoit away
and all the rest, I am in submarine mode and this plugs a serious
breach: this deliverable was meant as a draft for our periodic technical report
(due October 10th!) and I never got to finalize it. So let's just work on it
as our final technical report, and submit both on October 10th.

@VivianePons, @defeo, @minrk, @ClementPerne

[2018-10-05 07:08] nthiery commented on #21
About the overall structure: you may want to double check on the [template](https://github.com/OpenDreamKit/OpenDreamKit/blob/master/ReportingPeriod_1/Technical_Report/template.txt)
and our [previous report](https://github.com/OpenDreamKit/OpenDreamKit/tree/master/ReportingPeriod_1/Technical_Report)

[2018-10-05 07:52] kohlhase commented on #21
Wow, that is quite different to the current structure (which I only changed marginally).
I will have a look how to best adapt that.

[2018-10-06 05:13] kohlhase commented on #21
I have adapted the structure of the report (the ToC is now correct) and will continue later.

[2018-10-15 23:25] pdehaye opened #276 "Review meeting does not appear in "events" on website"
Having left ODK for a while, I was looking for information on when the review meeting was.

I went to the website, and tried all the links related to "events" ("reviews", "project meetings", etc), and never landed [here](https://opendreamkit.org/meetings/2018-10-28-Luxembourg/).

This is likely to be flagged by reviewers as they try at the last minute to find information about the meeting (cf firs

[2018-10-16 10:40] nthiery commented on #276
Yeah, just running behind. Done. The post should be up soon.

[2018-10-28 13:32] tkw1536 commented on #174
We have one deployment running within  MathHub on https://jupyter.mathhub.info/, running an MMT kernel.

[2018-10-28 13:50] VivianePons opened #277 "Listing courses where ODK was involved"

[2018-10-28 14:11] slel opened #278 "Package all OpenDreamKit components for Conda"
Following [2018-10 discussion on opendreamkit-participants](https://listes.services.cnrs.fr/wws/arc/opendreamkit-participants/2018-10/msg00033.html).

[2018-10-28 14:16] slel commented on #96
Making everything conda-installable from the conda-forge channel
would also facilitate adoption.

[2018-10-28 15:56] alex-konovalov opened #279 "Refine Google Scholar profile and put a link"
There is the OpenDreamKit Google Scholar profile now at https://scholar.google.co.uk/citations?hl=en&user=GNEP8oMAAAAJ

I have checked it w.r.t. https://github.com/OpenDreamKit/OpenDreamKit/blob/master/lib/publications.bib. We need to check if anything else is missing, and find a place to post a link to it somewhere.

[2018-10-28 16:29] alex-konovalov commented on #278
For GAP, the https://github.com/conda-forge/gap-feedstock started by @isuruf (thanks) in 2017.

[2018-10-28 16:33] alex-konovalov commented on #277
I have been involved in some, in particular:
- Demonstrated GAP Jupyter interface at PGTC 2018 http://www-groups.mcs.st-and.ac.uk/~pgtc2018/#gap
- Software tools for Mathematics http://stm.famnit.upr.si/

[2018-10-28 17:07] serge-sans-paille commented on #278
For Pythran, it's ok too: https://github.com/conda-forge/pythran-feedstock

[2018-10-29 08:33] vidartf commented on #278
The ones I can think of at the moment:
nbdime: https://github.com/conda-forge/nbdime-feedstock
nbval: https://github.com/conda-forge/nbval-feedstock
pythreejs: https://github.com/conda-forge/pythreejs-feedstock
ipydatawidgets: https://github.com/conda-forge/ipydatawidgets-feedstock
ipyscales: https://github.com/conda-forge/ipyscales-feedstock

[2018-10-29 09:46] videlec commented on #277
- AIMS Rwanda (Python) https://github.com/videlec/aims-python-rwanda-2016

[2018-10-29 15:55] nchauvat commented on #277
Logilab has been using its VRE (Simulagora) and JupyterLab to teach Python, Numpy, Scipy, Matplotlib, pandas, etc to more than 300 engineers and researchers each year.

For example https://www.logilab.fr/formations/python-num-intro and https://www.logilab.fr/formations/sci-code

[2018-10-31 08:46] alex-konovalov commented on #277
I am also teaching Python for the 2nd year CS students, and use Jupyter in the course. I have converted former beamer slides to Jupyter notebooks, and during the lecture the students have opportunity to use the static PDF or download and run the .ipynb file on their own or on the lab machine. They also have two group project sduring the course, and for the 2nd one of them the submission should hav

[2018-11-01 07:49] kohlhase opened #280 "OpenDreamKit legacy book."
We are looking into putting together an academic monograph (book) with overview articles, which (as a whole) would give a record of what we achieved as the OpenDreamKit project in these four years.

Special book collections are just one way of leaving an academic legacy, but an important one in the academic world, so I think that this enterprise is worth doing. We  have brainstormed some more abou

[2018-11-01 07:52] kohlhase commented on #280
The [pad](https://hackmd.io/5hTOLuyKTBqSx4jcT5Pyvw#) has a list of topics and some names attached to it. But there are some white spaces on the ODK landscape that I would like to see filled.

[2018-11-01 08:12] kohlhase commented on #280
I think one of the first tasks is to refine the list of possible papers and names, and come up with a pitch for the book, which I can then take to publishers.

[2018-12-07 13:14] IzabelaFaguet commented on #21
Accepted by the EU on December 5th.

[2018-12-07 13:14] #21 closed

[2018-12-07 14:30] IzabelaFaguet commented on #36
Accepted by the EU on December 5th.

[2018-12-07 14:30] #36 closed

[2018-12-07 14:33] IzabelaFaguet commented on #96
Accepted by the EU on December 5th.

[2018-12-07 14:33] #96 closed

[2018-12-07 14:33] IzabelaFaguet commented on #84
Accepted by the EU on December 5th.

[2018-12-07 14:33] #84 closed

[2018-12-07 14:34] IzabelaFaguet commented on #85
Accepted by the EU on December 5th.

[2018-12-07 14:34] #85 closed

[2018-12-07 14:34] IzabelaFaguet commented on #86
Accepted by the EU on December 5th.

[2018-12-07 14:34] #86 closed

[2018-12-07 14:35] IzabelaFaguet commented on #87
Accepted by the EU on December 5th.

[2018-12-07 14:35] #87 closed

[2018-12-07 14:35] IzabelaFaguet commented on #89
Accepted by the EU on December 5th.

[2018-12-07 14:35] #89 closed

[2018-12-07 14:35] IzabelaFaguet commented on #90
Accepted by the EU on December 5th.

[2018-12-07 14:35] #90 closed

[2018-12-19 10:50] IzabelaFaguet commented on #110
Accepted by the EU on December 5th.

[2018-12-19 10:51] IzabelaFaguet commented on #110
Accepted by the EU on December 5th.

[2018-12-19 10:51] #110 closed

[2018-12-19 10:51] IzabelaFaguet commented on #142
Accepted by the EU on December 5th.

[2018-12-19 10:51] #142 closed

[2019-01-09 17:41] #139 closed

[2019-01-23 17:23] dimpase opened #281 "RIOpaper - prepare list of authors"
The list of authors for the RIOpaper is (in draft) in https://github.com/OpenDreamKit/OpenDreamKit/tree/master/Proposal/Paper
(see further details in README.md there).

Each author should get an email address - please provide them

@mikecroucher @lawrennd @minrk @videlec @haraldschilly @serge-sans-paille @saraedum
@kohlhase @alex-konovalov @VivianePons

[2019-01-23 17:24] dimpase commented on #281
@trallard @katjabercic @nthiery

[2019-01-23 17:33] dimpase commented on #281
@fangohr

[2019-01-24 11:21] vinklein commented on #281
@dimpase
Hi, my contact info is updated here #284

[2019-01-24 11:31] marijanbeg commented on #281
List reviewed and updated for XFEL and UOS sites.

[2019-01-25 19:58] pdehaye commented on #280
I might be interested in submitting something on how ODK has affected my transition out of academia.

[2019-01-25 20:13] pdehaye commented on #281
I have a philosophical problem with the idea of submitting to this type of journal what is explicitly framed as a *proposal*, while doing so under such an extensive list of names.

Some people were not even in the picture by the time the money was on the bank accounts, since they were hired later. This is not at all an attempt to fight for authorship/credits. I am just concerned this might give th

[2019-03-02 10:15] dimpase commented on #251
perhaps adding (lib)semigroups to Sage ought to feature somewhere.
https://trac.sagemath.org/ticket/27295
https://trac.sagemath.org/ticket/27396

[2019-03-27 15:54] mtorpey commented on #143
I have just edited the top comment in this thread with an abstract for the deliverable.

[2019-03-28 11:30] nthiery commented on #143
Thanks! I imported it in the repo (by running `make
WP6/D6.9/github-issue-description.tex` from the main directory), so it
will appear in the report next time you compile it.

Thanks for the other improvements to the repo. Did you get a chance to
add "support for methods" in the comparison table?

Other than this, that sounds ready to submit, right?

[2019-04-01 11:02] mtorpey commented on #143
There are actually a few things you suggested that I haven't added yet – I was away ill on Thursday and Friday.  However, I should finish those today, and I'll comment here when I have!

[2019-04-01 14:41] mtorpey commented on #143
Okay, I believe this is now ready to submit, and includes all the feedback I got from @nthiery.  Thanks for all the help! :)

[2019-04-02 09:06] nthiery commented on #143
Thanks for all the good work @mtorpey! The report is now submitted after some tiny touches of polishing.

[2019-04-08 19:49] videlec opened #285 "latex compilation failed (\nbval)"
[code]

[2019-04-09 08:31] nthiery commented on #285
For which document?

[2019-04-16 09:24] IzabelaFaguet commented on #113
Hello everyone!
We are organising an ODK report writing sprint From August 24th to August 31st,
a good opportunity to finish the final reports in a pleasant and friendly environment.
Would someone like to participate?

[2019-04-16 09:25] IzabelaFaguet commented on #114
Hello everyone!
We are organising an ODK report writing sprint From August 24th to August 31st,
a good opportunity to finish the final reports in a pleasant and friendly environment.
Would someone like to participate?

[2019-04-16 09:26] IzabelaFaguet commented on #112
Hello everyone!
We are organising an ODK report writing sprint From August 24th to August 31st,
a good opportunity to finish the final reports in a pleasant and friendly environment.
Would someone like to participate?

[2019-04-16 09:26] IzabelaFaguet commented on #39
Hello everyone!
We are organising an ODK report writing sprint From August 24th to August 31st,
a good opportunity to finish the final reports in a pleasant and friendly environment.
Would someone like to participate?

[2019-04-16 09:27] IzabelaFaguet commented on #252
Hello everyone!
We are organising an ODK report writing sprint From August 24th to August 31st,
a good opportunity to finish the final reports in a pleasant and friendly environment.
Would someone like to participate?

[2019-04-16 10:30] IzabelaFaguet commented on #111
Hello everyone!
We are organising an ODK report writing sprint From August 24th to August 31st,
a good opportunity to finish the final reports in a pleasant and friendly environment.
Would someone like to participate?

The link to the poll: https://framadate.org/tfuHjZgcSU8pHI45

[2019-04-20 02:42] videlec commented on #285
Sorry for this missing part of the log, the document is `WP4/D4.8/report.pdf`

[2019-05-24 12:53] IzabelaFaguet opened #286 "T6.11: Isabelle Case Study"
- **WP6:** [Data/Knowledge/Software-Bases](https://github.com/OpenDreamKit/OpenDreamKit/tree/master/WP6)
- **Lead Institution:** FAU Erlangen Nurnberg
- **Partners:** None
- **Work phases:** 45-48!.6
- **Deliverables:** D6.10 (#134)

See page 55 of the [proposal](https://github.com/OpenDreamKit/OpenDreamKit/raw/master/Proposal/proposal-www.pdf) for the full description.

[2019-05-28 16:28] wbhart commented on #111
Hi all, time for an update on progress. Daniel Schultz has been working extremely hard on this ticket and we now have all the parallel algorithms in Flint that we promised and performance seems to be very good.

The next step is to make this available for users, which we plan to do via Singular. Some of the functionality will be made available directly from Singular, e.g. multiplication, division

[2019-06-13 13:09] alex-konovalov commented on #113
@IzabelaFaguet thanks - we expect at least one of us from St Andrews will be able to come, but don't have a definitive decision yet.

[2019-06-13 13:19] alex-konovalov commented on #113
What should be in the report (based on the notes from the whiteboard from the recent visit of @nthiery)

1. Developments in the core GAP system
    - libGAP (highlight)
    - other changes (see releases overview at https://www.gap-system.org/Manuals/doc/changes/chap0.html)

2. HPC-GAP
    - merging into mainstream GAP releases ([see here](https://www.gap-system.org/Manuals/doc/changes/chap3.html#X

[2019-07-01 13:02] embray commented on #40
✔️ Reminder to self to report on workshop in Nigeria upon return.

[2019-08-22 13:48] KBelabas commented on #114
D5.16 is ready for comments / proofreading at OpenDreamKit/WP5/D5.16

[2019-08-22 15:04] JohnCremona commented on #114
On Thu, 22 Aug 2019 at 14:48, Karim Belabas <notifications@github.com>
wrote:

I read it and it looks good.   Although the reviewers may not appreciate
it, it is impressive that the examples you give are of a very high
mathematical level so this is not just impressive software engineering but
is likely to make quite an impact among computational mathematicians.

(And thanks for updating the bound

[2019-08-23 09:53] nthiery commented on #114
Salut Karim, Bill,
Thanks a lot! I really appreciate the report delivery well ahead of time:-)
I have (proof)read the report (except the documentation in the appendix), and it looks very good to me (playing the non expert guinea pig).

Only three minor requests / suggestions:
- [ ] Edit the first comment in this issue to add an abstract for the report. See e.g. #143 for an example. It will then be

[2019-08-23 09:56] nthiery commented on #114
@ClementPernet: please review!

[2019-08-23 12:06] nthiery commented on #109
For the record, this deliverable was approved on March 14th of 2019. Closing!
Thanks everyone :-)

[2019-08-23 12:06] #109 closed

[2019-08-23 12:09] nthiery commented on #143
After discussion in Cernay: since this report has not yet been evaluated, @mtorpey will make soon some minor updates to report on the GAP implementation and the improvements to the Python implementation.

[2019-08-23 12:32] nthiery commented on #38
Hey @marijanbeg, @fangohr
I am reviewing your report; thanks so much for completing it so much in advance! It reads very nicely.
Here are some suggestions:
- Maybe use past tense in the early part of the introduction to highlight that this was how it was before the work carried out here.
- Please add some context to the introduction to explain how the work fits within ODK: in particular that it wa

[2019-08-23 12:35] nthiery commented on #38
Viviane won't be much available to review WP2 reports. So it would be good to get some additional reviewers.

@minrk: would you volunteer?

@mikecroucher, @trallard : would you be so kind to do one last piece of work for us?

[2019-08-23 14:57] minrk commented on #38
I'll be happy to review this on Monday.

[2019-08-24 11:03] nthiery commented on #23
So we have to deliver a second innovation management plan, as a follow up to our first one was D1.4 #20.

Brief reminder from our discussion for the last time:

Reference: http://www.innovationmanagement.se/imtool-articles/a-process-for-innovation-planning/

Executive summary of the above: the Innovation Management Plan is not so much about what kind of innovation will be undertaken in our project

[2019-08-24 11:05] nthiery commented on #23
@fangohr @defeo @kohlhase @stevelinton @minrk @VivianePons @ClementPernet : suggestions and help appreciated!

[2019-08-24 11:16] KBelabas commented on #114
New version available adressing Nicolas's comments.

[2019-08-24 15:15] nthiery commented on #114
Thank you Karim!
Per your request, I updated the github issue description from the git repo. I made a small edit as well (removing the two first slightly redundant paragraphs). Of course I screwed up a bit, so the git history is not as clean as it should be :-)
I also pushed the pdf so that people can get it by following the "report" link above.

[2019-08-24 17:40] KBelabas commented on #114
Looks good, thanks !

[2019-08-25 06:24] nthiery commented on #23
We discussed with @stevelinton yesterday, and came up with a partial plan (see the issue description). Further suggestions of material welcome, notably along the "more details about the innovations ODK is developing and implementing" we promised.