[2016-07-01 09:57] defeo commented on #189
Sure, we can coordinate that. cc @embray

[2016-07-01 11:42] embray commented on #189
Should be do-able easily enough.  It can't well be automated though--someone will have to manually take the Dockerfiles for each project and finesse them into a single Dockerfile.

Someone will have to explain to me the KWARC stuff and the OOMMF stuff.  Adding sagemath and gap in the same container is straightforward enough.

sage already includes gap but we'd probably want a gap separate from sag

[2016-07-01 12:05] pdehaye commented on #189
@tkw1536 can explain what goes on at KWARC, but their images might need to be expanded.

[2016-07-01 13:12] markuspf commented on #185
I shall contact a couple of people to see whether I can find someone to lead such a project. I'll first have to read the particulars of COST grants though. The next collection date is tentatively set for 1st December.

[2016-07-01 13:18] pdehaye opened #190 "Reorganisation of content repositories for optimal curation"
Suggested reorganisation:

`ODK/math : ODK/ODK
ODK/Sage : ODK/sage-meta
ODK/sage-meta: contains meta theory of sage, explains category, parents, elements,...
ODK/GAP : ODK/GAP-meta
ODK/GAP-meta: contains meta theory of GAP, explains filter, families,...
ODK/interviews: ODK/math -> ODK/Sage, ODK/math -> ODK/GAP, etc
`

[2016-07-01 13:21] pdehaye opened #191 "Organisation of namespaces for curation"
The suggestion is for repositories to be organised according to (discussed in #190 ):

We want to also discuss namespaces now for all this stuff.

[2016-07-04 08:23] fangohr commented on #189
Hi Erik,

thanks for looking into this.

You may want to start with https://github.com/fangohr/oommf to understand the process of installing OOMMF. If you clone that repository, and run 'make' (on linux), it should build the OOMMF software (tested on Ubuntu 14.04).

The actual home of OOMMF is http://math.nist.gov/oommf/software-12.html, and I have taken tar-balls from there and put them on the ht

[2016-07-04 09:13] tkw1536 commented on #189
@pdehaye We currently have three images that I am aware of:
1. [kwarc/tema_search](https://github.com/KWARC/TEMA_docker) for MathWebSearch, I think we do not want to include this in an ODK container
2. [kwarc/localmh](https://github.com/KWARC/localmh_docker) - a localmh ( = **l**ocal  **M**ath**H**ub) container ready for building MathHub content locally. Includes a script that automatically config

[2016-07-04 10:35] defeo commented on #43
- It depends how much you have to say. Try to write something interesting and engaging: you want people to come to the website to read it. Then, if it's too long, we'll cut it for the deliverable. If it's too short, we'll dilute it.
- Blog posts go in the `_post` folder of the website: https://github.com/OpenDreamKit/OpenDreamKit.github.io, following Jekyll conventions. I will improve the README o

[2016-07-04 10:55] fangohr commented on #86
Hi visualisation people. I understand that Simula (Min @minrk ), Logilab (Florent @fcayre), and Silesia (Marcin @marcinofulus) are key players? Southampton acts as providing user requirement (Marijan @mb1a15 and Hans @fangohr).

I wanted to connect the various discussions that are going on. With Marcin, I have had some emails regarding their work based on K3D. A demo can be seen at http://mybinder

[2016-07-04 10:57] fangohr commented on #86
Hi all, I'd like to introduce you to Prabhu Rachmandran (@prabhuramachandran) who is the original author of the Mayavi visualisation package. I promised him to keep him up to date on our work. I think he said he had some interest in running Mayavi (which is based on VTK) in the notebook. His contributions (even if only thoughts and advice) would be very useful of course.

[2016-07-04 12:01] mb1a15 commented on #86
Some examples of data we are interested in visualising in Southampton are now in the new repository visualisation-requirements.

[2016-07-04 13:32] embray commented on #189
I could take a stab at it. Would be instructive.

In principle it would be possible to run an X server in the container and forward it to a display on the host, but I've never tried it.  This blog post seems to suggest that it works: http://fabiorehm.com/blog/2014/09/11/running-gui-apps-with-docker/

A bit of a pain though.  Fine for the reproducibility aspect of containers; less so for ease of po

[2016-07-04 14:55] fangohr commented on #189
@embray Sounds great, do have a go at this OOMMF Dockerfile if you like. [I also found some descriptions of forwarding X to outside the container, but haven't tried it yet.]

On the positive side, we won't have to use the GUI much at all (although it would be good to have it running).

[2016-07-04 15:52] embray commented on #189
You might consider redesigning the GUI to communicate with an underlying service over sockets or something, so that the GUI at least can be fairly independent of the computations.  I don't know exactly what this thing does or how it works though, so I don't know how practical that is in this case.

[2016-07-04 16:08] fangohr commented on #189
Thanks, you are absolutely right. However, in this case we can't change OOMMF; it is a third party tool that we wrap up in the Jupyter notebook. When the product is finished, we don't need to use the OOMMF GUI but it would be useful to have it work for testing during development (and to convince others of Docker as a useful tool).

[2016-07-05 07:38] minrk commented on #86
@fangohr thanks! That's a good summary. For the interactive stuff, we have K3D, X3D, and three.js, and perhaps more tools to look through. Prabhu's idea sounds similar to what matplotlib has done with their recently added `nbagg` backend.

[2016-07-06 22:43] prabhuramachandran commented on #86
FWIW, Mayavi can export X3D, `mlab.savefig('file.x3d')` will work out of the box, this can be easily modified to not generate a file.  The major downside is that if there are many polygons it tends to be slow.  I just experimented a bit with x3dom.js so am not sure this is the best way to do it but it isn't fast enough on my demos.

[2016-07-06 22:49] prabhuramachandran commented on #86
@minrk -- will you be around at SciPy 2016?

[2016-07-07 08:29] minrk commented on #86
I will, we can talk about ideas there.

[2016-07-07 10:59] marcinofulus commented on #86
K3D-tools aimed for an interactive widget with "high" level functionalities (matplotlib style). The point is to prvide the iteractivity  - like live update of data available (as in the demo).

There are some browsers limitations (memory) which will prohibit the display of really big data, but for that purpose there is an option of server side preprocessing. We will build on the K3D CFD visualisati

[2016-07-11 07:42] pdehaye commented on #191
For reference, MMT URIs have the shape

`NAMESPACE ? MODULE ? SYMBOL`

where `MODULE` refers to a "container (e.g., a signature, functor, theory, class, etc.)".

The [Alignments](http://old.kwarc.info/kohlhase/submit/alignments16.pdf) paper discusses three options for organising namespaces (p. 17):
 - flat: all modules/files in the same namespace, regardless of physical location;
 - directory-base

[2016-07-12 12:08] slel commented on #189
Related:
https://github.com/sagemathinc/smc/issues/693 "make a docker container version of single-user SMC-for-development"

[2016-07-12 13:44] kohlhase opened #192 "Integrate polymake into ODK MitM interoperability?"
They have a new XML file format, so we should be able to convert into OpenMath Objects (and back). Their system exports object-like reprsentations. They want to make CD-like structures explicit in the future.
I am hearing a talk about this at ICMS at the moment.

[2016-07-13 08:04] slel commented on #59
Recently read on Sage-devel at
https://groups.google.com/d/msg/sage-support/e91qG-qBGAY/ZXKmYpo3CgAJ

[2016-07-14 16:22] jdemeyer commented on #96
ping (Nicolas?)

[2016-07-15 14:53] bpilorget commented on #96
Ah yes... Well we will ask the Project Officer to take that into account. If Michael really does change partner we will need to to another amendment anyway...

[2016-07-18 00:48] defeo commented on #62
@alex-konovalov, what transport is relevant for SCSCP? Shall we implement the XML Processing Instructions over TCP protocol described in the [SCSCP specs, Sec. 5](http://www.symbolic-computing.org/science/images/7/74/SCSCP_1_3.pdf), or shall we wrap it in SOAP? Which protocol do SCSCP clients in the wild use?

@tkw1536, [zeep](http://docs.python-zeep.org/en/latest/) looks like a good library for S

[2016-07-18 09:25] tkw1536 commented on #62
@defeo To my knowledge all SCSCP clients do it via raw sockets, so I am not sure if we should use something on top of that. Unfortunately I do not know any library for sockets that does both python 2 and 3 either.

[2016-07-18 16:41] #156 closed

[2016-07-18 16:44] nthiery commented on #173
I am updating the milestone to Month 18, in preparation for the formal review that will occur then.

[2016-07-19 07:27] alex-konovalov commented on #62
@defeo:

yes, I suggest that you do exactly this so you do not need SOAP at all. This is the way how all existing implementations work by now.

[2016-07-19 12:25] defeo commented on #62
Ok, thanks to both. I'll think a bit about more the best way to implement in python and come back to you, @tkw1536

[2016-07-21 08:02] prabhuramachandran commented on #86
FWIW, I've added support for x3d based rendering to Mayavi and it works well on jupyter notebooks.  See https://github.com/enthought/mayavi/pull/415.  This will be merged soon.  I'll look at other options later but this is a good start as it is pretty functional.

[2016-07-22 20:02] defeo commented on #62
Just talked to J. Gerhard of Maplesoft. Maple has an SCSCP client in the client version. The SCSCP server is only available in MapleNet. Bad luck for the Sage <-> Maple interface :/

[2016-07-26 09:04] nthiery commented on #94
About interacts:
-  I had a chat with @SylvainCorlay (main author of ipywidgets; aka Jupyter's interacts) over the phone yesterday: he is now based in Paris and happy to give a hand; he probably will visit one day for Sage Days 74 in Cernay; following discussions with @jdemeyer at Sage Days 70 in Berkely, the new ipywidgets version should be close to backward compatible with Sage's interacts in th

[2016-07-26 09:46] SylvainCorlay commented on #94
@nthiery thanks for the ping. (I am not "the main author" of ipywidgets though, jdfreder worked a lot on it before he left jupyter).

[2016-07-26 12:35] markuspf commented on #62
@defeo @tkw1536 what is the status of the SCSCP interfaces you are assigned to above?

Also, what about singular? Can @sebasguts maybe comment?

[2016-07-26 13:40] tkw1536 commented on #62
@markuspf Inside MMT / MathHub we have a working client implementation but it is not really integrated yet.

[2016-07-26 14:40] defeo commented on #62
The Sage implementation is on hold as I am visiting UWaterloo ATM. Will resume the work in one week.

[2016-07-26 15:41] markuspf commented on #93
If the GAP Jupyter notebook is supposed to go into sagemath (cloud?), someone will have to tell me how to get it there. It's not obvious to me how that works.

[2016-07-26 15:43] markuspf commented on #62
Please note that this is due on 2016-08-31, so 5 weeks from now.

[2016-07-26 15:46] defeo commented on #62
Yup, I know. No worries, 5 weeks is enough.

[2016-07-26 20:49] nthiery commented on #93
On Tue, Jul 26, 2016 at 08:41:24AM -0700, Markus Pfeiffer wrote:

I guess this could boil down to something like:

- Preparing a gap package with everything needed to run the gap kernel
  (if needed)

- Preparing a Sage package. That is essentially an install shell
  script in <sage>/build/pkg/jupyter_kernel_gap/ + some metadata
  files; see:
  http://www.sagemath.org/git-developer-guide/packaging

[2016-07-27 21:07] dimpase commented on #93
My understanding that this should happen simultaneously with libGAP (a Sage package, a C-library interface to GAP kernel) being replaced with what Markus is going to provide.

[2016-08-01 11:49] markuspf commented on #93
Thanks @nthiery.

I don't think the Jupyter Kernel is an appropriate GAP Package, since it's a program that wraps around GAP (and can't be loaded in any sensible way).
For the initial implementation as it is available now we only need to have the kernel installed for Jupyter, and make sure that the correct configuration (i.e. the GAP executable) is available.

There might be some merit in distribu

[2016-08-01 11:57] dimpase commented on #93
What kind of OS is this? Do you mean to say there is no binary available, or that it's really unsupported, like it's something like OpenBSD or Hurd?

[2016-08-01 12:00] dimpase commented on #93
If your box supports VMWare or VirtualBox, you can install a supported OS into it and build Sage there.

[2016-08-01 23:08] videlec commented on #93
... or qemu, docker. You can also open an account on https://cloud.sagemath.com where you can do Sage development online (not very handy).

[2016-08-02 14:26] slel commented on #93
To use SageMathCloud at https://cloud.sagemath.com for Sage development,
- open an account,
- create a project,
- email help@sagemath.com with the project id
  and ask them to upgrade the project for Sage development
- you can ssh into your project (after starting it from the web interface)
- a good tool is tmux (or screen) in combination with ssh
- once your project is upgraded you have network a

[2016-08-02 15:24] dimpase commented on #93
By the way, it is interesting to hear that it has nothing to do with libGAP or its replacement. I believe that back in Bremen we heard something different, although I might have misunderstood this.

[2016-08-04 08:33] markuspf commented on #93
We just published a Docker container to deploy the basic GAP/Jupyter interface here: https://github.com/gap-system/gap-docker-jupyter, I also wrote a blogpost about it there: http://opendreamkit.org/activities/2016-08-03-gap-docker-jupyter/ (btw, these activities are not very discoverable or visible on the website).

The roadmap for the next iteration of the Jupyter interface for GAP is to export

[2016-08-04 08:46] markuspf commented on #175
Anyway, for GAP this exists and will be proposed as a PR to the CodeMirror people soon: https://github.com/webgap/CodeMirror

[2016-08-04 09:13] minrk commented on #92
@kohlhase do you still want more time on this one? If so, we should probably do whatever we need to do formally for delaying a deliverable (@nthiery). Is there any help any of us can provide?

[2016-08-04 22:53] jdemeyer commented on #83
I managed step 2 of our plan: uncouple PARI from the coercion model. The actual uncoupling was almost trivial, but the changes to the coercion model are not.

I plan to wait until [#21158](https://trac.sagemath.org/ticket/21158) is closed before continuing to work on CyPari. It's not a good idea to work on top of too many unreviewed tickets.

[2016-08-04 23:15] defeo commented on #83
Perfect timing, I was right back on this too! I'll review it tomorrow.

[2016-08-08 09:49] jdemeyer commented on #93
No, you just run `sage -n jupyter` and start a GAP notebook.

[2016-08-08 09:57] jdemeyer commented on #93
I think a basic Jupyter interface means: a way to use GAP within Jupyter that actually works well enough to use in production. It doesn't need to support stuff like TAB-completion or syntax highlighting, but it should correctly run GAP commands.

The github page for https://github.com/gap-packages/jupyter-gap still has the text "Please note that this software is still in the early stages of develo

[2016-08-08 10:55] dimpase commented on #93
@jdemeyer : "No, you just run sage -n jupyter and start a GAP notebook."
do you mean "choose GAP kernel" in "Kernel" menu?

[2016-08-08 11:23] jdemeyer commented on #93
That's one way but I really meant choose "GAP" from the "New" menu.

[2016-08-08 23:12] videlec commented on #59
@embray do you know of (the recently edited) https://wiki.debian.org/DebianScience/Sage

[2016-08-09 06:26] fcayre commented on #59
@videlec, @embray there are undergoing discussions between Logilab and Jérôme Benoît (calculus@rezozer.net) to see if Logilab will hire him to help packaging Sage in Debian. I'll keep you informed on this thread.

[2016-08-09 07:50] jdemeyer commented on #59
Good news. I hope that we can work with the Debian people to actually improve Sage to make it more distributable. That will benefit not just Debian, but all distros. We already added a few patches from Gentoo.

[2016-08-09 09:52] embray commented on #59
I know of that page, but I didn't know it was recently updated.  Looks like it's been significantly cleaned up since I last saw it.

[2016-08-09 19:12] slel commented on #59
Other possibly useful pages:
- https://wiki.sagemath.org/Distribution
- https://wiki.debian.org/JulienPuydt

[2016-08-10 18:56] slel commented on #59
A dedicated mailing list "debian-science-sagemath" was just created.

- sage-debian-science:
  https://lists.alioth.debian.org/mailman/listinfo/debian-science-sagemath
- announcement on sage-devel:
  https://groups.google.com/d/topic/sage-devel/OO17KRaOj98/discussion

[2016-08-11 15:59] npch commented on #148
It might be interesting to use the tidytext package to do analysis of some of this data extracted into tidy data form - see http://juliasilge.com/blog/Life-Changing-Magic/ http://varianceexplained.org/r/trump-tweets/

[2016-08-11 16:02] alex-konovalov commented on #186
At the moment, the picture looks like the main theme of the workshop is naturally centred around #148  as the chronologically first deliverable for WP7.

[2016-08-16 20:25] dimpase commented on #152
It seems I forgot to link here the annotated bibliography that we [got](https://github.com/dimpase/abib) on this.

[2016-08-16 23:55] dimpase commented on #68
I wonder why Oxford is lead here; IMHO we are not taking part in this work (any more, since libGAP was put on hold).

[2016-08-17 11:06] wbhart commented on #118
Hi all,

I'm just writing to let you know that our project to write a superoptimiser
and optimise for modern processors has hit an unexpected snag. On all
modern Intel CPU's, the rdtsc and rdtscp instructions no longer give cycle
accurate timings required for superoptimisation.

Instead there are performance counters that do this, however they are
switched off by default. To turn them on, one need

[2016-08-17 11:48] wbhart commented on #118
Another possibility is if anyone has any recent Intel OSX machines that we
can gain access to. As they don't use the Linux kernel, the bug likely
doesn't exist there.

By the way, we have verified that the various tools that Linux provides to
control these registers do not work as advertised. Also, there seems to be
an access privilege bug for at least one of the relevant device files in
/dev. Thi

[2016-08-17 12:06] markuspf commented on #68
libGAP was put on hold? Why?

[2016-08-17 12:13] dimpase commented on #68
@markuspf well, the one in Sagemath, that you didn't want to merge into GAP proper. I have not seen any replacements for it. Anyway, I don't see what Oxford should be doing in D3.9 any more.

[2016-08-17 15:56] jdemeyer commented on #94
I started working with interacts at https://trac.sagemath.org/ticket/21267

[2016-08-18 09:06] markuspf commented on #68
Of course, first of all, Oxford is in charge of this deliverable, because the proposal puts you in charge. This means you're responsible for it being delivered one way or another. You could ask for the deliverable to be reallocated if you feel that you will not be able to deliver it. For that we'll have to discuss with @nthiery.

There is a lot more to a semantic-aware interface between GAP and Sa

[2016-08-18 09:45] dimpase commented on #68
I don't know what a "visible benefit" is, but a fact that using it you can embed GAP rather than communicate with it via pipes/sockets/files (as SCSCP does) is a huge deal for GAP. E.g. I recall @wbhart being interested in libGAP, as it would allow them to embed GAP into Nemo.

Our experience with sockets vs library interfaces in Sagemath is that the latter is always much more robust and much fast

[2016-08-18 09:57] dimpase commented on #68
I am obviously not qualified to lead the work on https://github.com/nthiery/sage-gap-semantic-interface (which already resulted in the CICM16 paper). This is interesting theoretical work, but in an area far from my interests and knowledge. While participating in developing the proposal I was under impression that at least part of this will be about libGAP.

[2016-08-18 13:39] markuspf commented on #68
I, personally, as a GAP developer have (at this point in time) no interest in embedding GAP into Sage or Nemo. As someone on the ODK project, I have an interest in having a working Jupyter kernel.

If @wbhart, you, or anyone else want GAP to be embeddable into their software, they have to develop a suitable, non-intrusive solution to do that.

libGAP does exactly that at the moment, outside of the

[2016-08-18 15:19] bpilorget commented on #83
@defeo @jdemeyer @nthiery Hi! How are things going?

[2016-08-18 15:23] defeo commented on #83
Working on this. @jdemeyer will you be there at SD75? That'd be a good time to finalize.

[2016-08-18 15:26] dimpase commented on #68
On 18 Aug 2016 2:39 pm, "Markus Pfeiffer" <notifications@github.com> wrote:

interest in embedding GAP into Sage or Nemo. As someone on the ODK project,
I have an interest in having a working Jupyter kernel.

software, they have to develop a suitable, non-intrusive solution to do
that.

because they have no benefit from it: They are happy to use GAP by itself,
and embed other software into it, for

[2016-08-18 15:35] videlec commented on #68
@nthiery @dimpase @markuspf The libGAP thing is indeed mostly disjoint from the semantic-aware interface. I am willing to take charge of the deliverable. Is that OK?

@markuspf you wrote "libGAP is important if you want GAP to be used more rather than less". Do you imply that using libGAP would not be using GAP? Sage is likely to use more and more of GAP features through libGAP (e.g. the universal

[2016-08-18 15:46] markuspf commented on #68
libGAP is not a contribution to GAP: there are no working pull-requests, there was no (visible to me) discussion how it fits. libGAP is a project done in the GPL spirit, it is maybe a contribution to software infrastructure. It is not a contribution to GAP, because it is not a part of GAP (quite to the contrary: GAP is a part of libGAP).

I suggested in Bremen that I am working on a way to interfa

[2016-08-18 16:00] videlec commented on #68
@markuspf  The goals of the deliverable are pretty clear to me: we want conversion back and forth between GAP and Sage. The slow way of doing this is to use serialization (e.g. MMT). But it is currently not satisfactory (at least on the Sage side) because it is slow. Instead, the approach of https://github.com/nthiery/sage-gap-semantic-interface is to add structures to the GAP-handles in Sage maki

[2016-08-18 16:04] videlec commented on #83
I am looking at [#20686](https://trac.sagemath.org/ticket/20686).

[2016-08-18 16:13] markuspf commented on #68
The tools we are developing in collaboration with Bremen are quite a bit more than serialisation through MMT: They are supposed to provide an automatic way to translate the type information between the systems.
You can of course get type information from GAP objects, but that is GAP type information. If you go the "pedestrian" way (for lack of a better word) you can of course just attach some typi

[2016-08-18 16:14] wbhart commented on #68
I have been mentioned a few times here. Just to update everyone: I will not
be working directly on putting Gap into Julia/Nemo. I believe the task has
been assigned to someone else within our collaboration (not the ODK
collaboration). Also, Nemo was not conceived of when ODK was conceived, so
I think it is a stretch to use it as a justification for anything ODK
related at the moment.

I'm personal

[2016-08-18 16:16] jdemeyer commented on #83
No, I cannot. I could come to Paris in the beginning of september.

[2016-08-18 16:18] defeo commented on #68
Sorry for jumping in late. I also wonder why Oxford is lead here, although I'm sure @dimpase can give very good insights into this deliverable. Thanks Dima for raising the issue.

I remember that part of the proposal being written mostly by @nthiery, and, as the deliverable description says, he and @slel have already done some work in that direction. We might want to wait for their feedback (I kno

[2016-08-18 16:20] defeo commented on #83
All right. I guess it can wait that little. I'll keep working on this at SD75 anyway.

[2016-08-18 16:32] VivianePons commented on #43
Reminder: it is good to have blog posts but we when say "collate" we should
really copy and paste the post content as we were told links are not
enough...

Best

Viviane

2016-08-18 18:26 GMT+02:00 Min RK <notifications@github.com>:

[2016-08-18 17:19] dimpase commented on #68
On 18 Aug 2016 4:46 pm, "Markus Pfeiffer" <notifications@github.com> wrote:

there was no (visible to me) discussion how it fits. libGAP is a project
done in the GPL spirit, it is maybe a contribution to software
infrastructure. It is not a contribution to GAP, because it is not a part
of GAP (quite to the contrary: GAP is a part of libGAP).

of course after St Andrews meeting I assumed that somet

[2016-08-18 18:49] markuspf commented on #68
@dimapase I suggest we take this discussion off this issue, as it has gone off-topic for this deliverable. Please contact me via Email or write to the GAP development mailing with constructive suggestions.

[2016-08-18 20:42] dimpase commented on #68
@markuspf : I've sent you an email on "libGAP 2.0". Hopefully we could work out details.

[2016-08-19 07:09] UrsulaMartin commented on #68
This deliverable is indeed Oxford's responsibility, and as requested the discussion is being taken off line, involving, initially, the Oxford team and the leaders of WP3. Please contact myself or Dima Pasechnik with any further input.  Ursula Martin

[2016-08-19 07:25] nthiery commented on #68
Sorry, for jumping in late; as @defeo mentionned, I am just back from vacations.

If everybody agrees, I am happy to take officially the lead for this deliverable: I initiated it in the proposal, need it personnally for my research, and worked on it with @slel (and the WP6 team).I don't remember exactly why we had put Oxford as official lead here: presumably just because @dimpase is one of the mos

[2016-08-19 07:31] UrsulaMartin commented on #68
Nicolas

Thank you for your interjection - I will respond more fully by the end of the morning.

Ursula

[2016-08-19 08:12] dimpase commented on #68
@nthiery : how about we move libGAP-related discussion to another issue?

[2016-08-19 08:32] dimpase commented on #68
@nthiery : if you rather prefer to leave it as it is, with Oxford in charge, I am fine with it (provided you do the work :-)). Administratively this is probably the easiest for everyone.

[2016-08-19 09:32] serge-sans-paille commented on #59
If as a side effect, pythran could be packaged for debian, that would be great :-)

[2016-08-19 10:10] bpilorget commented on #92
@minrk We are working on the delay. It should not be a problem but we wait for the formal notice to change the due date here

[2016-08-19 10:33] embray commented on #118
Interesting report--that sounds frustrating!  Perhaps it's not so bad, in terms of delays.  As you wrote, the work on the superoptimiser is already done, as is the work on tracking down and addressing the issues in Linux.  Assuming the Linux devs acknowledge the bug and will patch it, while there may be a delay on that it's not the end of the world since no other ODK work is waiting on it.  In pri

[2016-08-19 11:17] wbhart commented on #118
Unfortunately we won't be able to run a custom kernel on our research
machines here. Also, we are completely unsure what is buggy at this point.
There is a particular bit which we need to set in a given CPU register. The
Linux tools for setting it don't work. On one older machine, with an older
kernel, we are able to set it with about 50% probability. On the machine we
need to set it on, we haven'

[2016-08-19 11:30] UrsulaMartin commented on #68
I promised to respond more fully by the end of the morning, though I do not have too much to contribute yet.

Intellectually and scientifically, Nicolas's offer is most welcome. However any change in the contractual, managerial or funding arrangements for the Oxford contribution to ODK need to be determined by those responsible, according to the official procedures of the University and the EU.  I

[2016-08-19 14:38] embray commented on #68
Just piping in to say I agree with @dimpase

Having a library interface (*any library interface*) is better than none in terms of software design.  I think good software design is a benefit in its own right sometimes.  If there are ideas for a *better* library interface that should certainly be entertained.  Apologies if this is already far off-topic.

[2016-08-19 19:08] nthiery commented on #68
@UrsulaMartin, @dimpase: no need to transfer PM's to Orsay; I was anyway planning to work on this deliverable and Dima already has plenty on his plate. From an administrative point of view, this should be no issue as the grant agreement does not specify how many PM's each site spends on each deliverable.

[2016-08-19 19:14] jdemeyer commented on #83
@videlec What about https://trac.sagemath.org/ticket/21005? We still need a reviewer for that.

[2016-08-21 07:21] kohlhase commented on #92
@florian-rabe

Work on this deliverable (D4.3) has been delayed due to the somewhat unexpected uptake of the Math-in-the-Middle (MitM) architecture, which prompted us to re-allocate JacU resources to WP6 in the first year. We proppose to move the submission of this deliverable to month 18 (in time for the first project review, so that it can be presented there; after all it is a demonstrator). In

[2016-08-21 10:16] kohlhase commented on #136
@pdehaye you made a survey in Paris and St. Andrews I recall, could you please write this up as '(including base survey and Requirements Workshop Report)'. I would be very grateful.
cc: @tkw1536

[2016-08-22 05:17] kohlhase opened #193 "Second grant agreement amendment"
- [x] Addition of FAU Erlangen-Nürnberg
  - [x] new site description
  - [x]  Redistribute Fundings and Person-Months between Bremen and FAU (agreement between Bremen and FA admins)
  - [x]  Redistribute tasks, and leaderships to FAU
  - [x] update all the issues to the new responsibilities

- [x] Modify PhD position into postdoc position at UPSud
- [x] Change UJF name into Université Grenoble Alp

[2016-08-22 05:19] kohlhase commented on #193
I have started working on the grant agreement amendment, first changes are pushed.

[2016-08-22 05:20] kohlhase commented on #193
@bpilorget @nthiery If I am forgetting something above, please extend the task list.

[2016-08-22 11:41] slel commented on #189
William Stein [just announced on the sage-cloud mailing list](https://groups.google.com/d/topic/sage-cloud/S9WqlcaZ_9k/discussion):

[2016-08-22 13:03] mikecroucher commented on #116
We have an experimental service on Sheffield's HPC system based on the work done for this task.  User-facing docmentation is at http://docs.iceberg.shef.ac.uk/en/latest/using-iceberg/accessing/jupyterhub.html

[2016-08-22 13:12] bpilorget commented on #92
@kohlhase Yes perfect, thank you.

[2016-08-22 14:15] mikecroucher commented on #116
The code that allows this to happen:

* https://github.com/cadair/sgespawner - Extends JupyterHub such that it can spawn notebook servers on worker nodes by interacting with the Sun Grid Engine queue.

* https://github.com/Cadair/jupyter_environment_kernels. This allows users of the HPC cluster to install specialised environments in their home directory and subsequently make use of them in the Jup

[2016-08-24 06:21] kohlhase commented on #193
It turns out that I have to sort out on personell problem first, before I can make full progress here. This will take one to two more weeks (admin).

[2016-08-24 10:07] tkw1536 commented on #136
I have started writing this up properly. You can find my progress so far at

https://github.com/KWARC/OpenDreamKit/tree/D6.2/WP6/D6.2

@pdehaye So far I have not referenced the survey, I will probably get some work done on that this afternoon. Feel free to insert it already.
@kohlhase I had to switch from bibtex to biber, as for some reason the bst file was broken. If you want me to switch back, l

[2016-08-25 10:04] pdehaye commented on #136
To give a summary of the current situation: the survey is scattered in #123,  other issues referenced from #123, and [here](https://github.com/OpenDreamKit/OpenDreamKit.github.io/tree/master/meetings/2016-01-25-DKS). Far from ideal, but a good starting point.
I am starting to work on this now, first by just dumping the scattered data into the file you are working on (in parallel to installing Late

[2016-08-25 13:36] mikecroucher commented on #116
Report submitted -- PR #195

[2016-08-25 15:15] wbhart commented on #118
Alex Kruppa just informed me that he has found a solution to the
superoptimisation issue on Haswell (and presumably all other recent Intel
CPUs). This means we can get the project back on schedule. Once we clean
everything up, we will be about 4 weeks behind the originally planned
schedule due to this issue, which we've been working on for more than 7
weeks. However, we are now much more hopeful a

[2016-08-26 07:59] UrsulaMartin commented on #68
To sign off this thread - Oxford and Paris have now agreed between us that Paris will take over deliverable 3.9, and not require the transfer of any person months from Oxford. Nicolas will take care of the necessary EU approvals. Any work done by Oxford on the deliverable will be part of the usual day-to-day collaborative development workflow and Nicolas doesn't at present foresee a need to formal

[2016-08-26 08:06] JohnCremona commented on #68
On 26 August 2016 at 08:59, UrsulaMartin <notifications@github.com> wrote:

Thanks for reporting back on the outcome.  I agree that such bilateral
arrangements are best sorted out between the two parties concerned
(including the centre when Paris is not one of the parties), with wider
concensus only being required if a transfer of funds is being proposed.

[2016-08-27 08:16] tkw1536 commented on #136
@pdehaye  I have given you push access to the KWARC fork. I will do a bunch more writing today, I will probably pull in your changes after that.

[2016-08-27 08:19] pdehaye commented on #136
I already pushed to KWARC's repo

On Sat, Aug 27, 2016 at 10:16 AM, Tom Wiesing <notifications@github.com>
wrote:

[2016-08-27 08:26] tkw1536 commented on #136
I was working on the D6.2 branch, so I didn't even see that. I will just move to master.

[2016-08-27 12:25] kohlhase commented on #168
I think we should close this here, since we have a class now.

[2016-08-27 12:25] #168 closed

[2016-08-27 12:27] kohlhase opened #196 "deliverablereport.cls has errors in maketitle"
I get
[code]
and I do not quite know why.
It seems to happen on all reports.
@nthiery @bpilorget

[2016-08-27 12:31] kohlhase opened #197 "deliverablereport.cls does not report the lead correctly"
the title in the ```deliverablereport.cls``` wants to report the lead institution, but fails (maybe this is the error in #196). The problem is that we only read ```../../Proposal/proposal.pdata```, which does not have this information. but ```../../Proposal/proposal.delivs``` does. But we cannot really read that because ```deliverablereport.cls``` uses the ```\deliverable``` macro that is used to

[2016-08-27 12:31] kohlhase commented on #197
I can have a look into this, and upgrade the proposal distribution, but I will write on the deliverable first.

[2016-08-27 12:38] kohlhase commented on #136
@pdehaye I think we should organize this so that the survey itself is given as an appendix to the report and instead of the current section there is a short description of what we learn from this survey. That gives us a self-contained report (by the appendix) and the high-level requirements we need to justify the DK(S) theories.

[2016-08-27 12:51] pdehaye commented on #136
That's a good idea.

[2016-08-27 12:52] kohlhase commented on #136
if you pull, then @tkw1536 has already put your part into a new file in the appendix.

[2016-08-27 13:15] kohlhase commented on #136
@frabe should also subscribe to this.

[2016-08-27 13:25] slel commented on #136
I think you mean @florian-rabe.

[2016-08-27 13:27] kohlhase commented on #136
**Problem** I am a bit worried about the fact that we have promised a design of DKS theories for this report and we are mostly reporting only on DK theories.
**Background** Even though we have studied biform theories in OMDoc, we have not worked on this aspect much in the first 12 months, since we have concentrated on the MitM approach to interoperability.
** Solution?** I have thought about this

[2016-08-27 13:28] kohlhase commented on #136
indeed I do, thanks.

[2016-08-28 22:19] tkw1536 commented on #136
@kohlhase  I have rewritten the introduction towards what you suggested. Apart from adding a figure to illustrate the MiTM architecture it is completed. It would be great to get some feedback.

[2016-08-29 08:32] bpilorget commented on #19
Current plan

I/ Progress on the project
A)	General progress
B)	Focus on tasks to be implemented by now (cf status reports)

II/ Risk management
A)	Recruitment of highly qualified staff
B)	Different groups not forming effective team
C)	Implementing infrastructure that does not match the needs of end users
D)	Lack of predictability for tasks that are pursued jointly with the community
E)	Reliance o

[2016-08-29 10:45] pdehaye commented on #136
Does anybody know how to make "paragraph" behave like "subsubsubsection" ?

\setcounter{secnumdepth}{4}
seems to go part of the way, but it needs a newline at the end, and maybe a
change of font.

I can Google it, but the answers I find are for the general "article", and
don't really work for "deliverablereport".

It's necessary for the survey as it has several layers of nesting:

appendix / syste

[2016-08-29 11:03] kohlhase commented on #197
For the moment this can be fixed by just adding
[code]

[2016-08-29 11:05] kohlhase commented on #196
fixed this, but we still need the workaround in #197

[2016-08-29 11:05] #196 closed

[2016-08-29 11:06] kohlhase commented on #136
actually, deliverablereport is based on ```amsart.cls```, maybe you should try that in your query.

[2016-08-29 11:15] kohlhase commented on #136
actually, I would like to use ```article.cls``` in in any case. Maybe we can change ```deliverablereport.cls```?

[2016-08-29 11:34] kohlhase commented on #136
that is not trivial we need to handle the abstract (amsart does that well)

[2016-08-29 11:34] kohlhase commented on #136
I have tweaked the figures a bit and snippetized the sections, please pull, if you are working on this.

[2016-08-29 11:53] pdehaye commented on #136
Thanks, basing myself on `amsart` seems like a good start. Needs more tweaking from me though. My macros for the packages introduced too many spaces with '\,', but those were needed in some cases. Switched to using `xspace` package.

[2016-08-29 12:24] pdehaye commented on #136
I have finished a first pass at the formatting and proofreading of the text of the survey. It is still very coarse. I still need to do a second pass and add a summary in the text.

The survey for GAP is still empty. As much as I remember, it was never done formally. I see a few options:

 - ask a GAP developer to fill it now;
 - I read the recent papers describing GAP architecture and fill the sur

[2016-08-29 12:27] kohlhase commented on #136
I would try for option 1. In the informal review, the reviewers made it quite clear that they did not like references to the outside too much.

[2016-08-29 12:33] pdehaye commented on #165
Hi all,
We (KWARC + I) are working on D6.2 (due in a couple days) and we are still missing formal input from GAP people to this. There was a survey at [https://github.com/OpenDreamKit/OpenDreamKit.github.io/blob/master/meetings/2016-01-25-DKS/survey-GAP.md](survey-GAP.md). I know you have effectively answered these questions orally or through your papers, but if you filled it, your completed surve

[2016-08-29 13:22] kohlhase commented on #137
Essentially, this is the initial implementation of the design in D6.2 (#136). This needs to say more about the querying interface.
In particular, the OMDoc/MMT schema should be enough.

[2016-08-29 13:24] kohlhase commented on #139
In this deliverable we essentially describe the SageMath export based on the DKSbases design (see D6.2: #136). The Python/Sage foundation mostly gives meaning to the types/categories.

[2016-08-29 16:12] bpilorget commented on #116
@mikecroucher Can you write an abstract of the report here please? So taht people outside the consortium know what theyr are going to read. Thanks X

[2016-08-30 09:06] bpilorget commented on #184
Does "the tool" have a precise shape?

[2016-08-30 09:15] bpilorget commented on #179
The Coordinator and WP2 leader should take action in September to start to set up indicators

[2016-08-30 10:12] tkw1536 commented on #136
I have written an abstract and a conclusion. Apart from one ednote I have to solve together with @florian-rabe the report is finished from my side.

[2016-08-30 11:53] bpilorget commented on #42
@VivianePons is the report over?

[2016-08-30 11:57] VivianePons commented on #42
Not yet, I'm still waiting for some things back from people.

2016-08-30 13:53 GMT+02:00 bpilorget <notifications@github.com>:

[2016-08-30 12:30] bpilorget commented on #43
@defeo Have you begun compiling tyhe differnet articles? FYI, Viviane is writing hers today

[2016-08-30 12:31] bpilorget commented on #62
@defeo Is the report almost over?

[2016-08-30 12:34] bpilorget commented on #93
Is the report close to an end?

[2016-08-30 12:34] bpilorget commented on #94
Is the report close to an end?

[2016-08-30 12:36] bpilorget commented on #95
Is the report close to an end?

[2016-08-30 12:37] bpilorget commented on #117
Deliverable to be postponed

[2016-08-30 12:52] minrk commented on #95
@bpilorget yes, currently finishing it up at #199

[2016-08-30 13:30] kohlhase commented on #136
I have reworked the intro, and Florian will be working on this today. I expect to finish my part tomorrow. We are still waiting for the contribution from @pdehaye (what have learnt from the survey).

[2016-08-30 13:31] minrk commented on #94
@nthiery Paris-Sud is the leader on this. What is the state of the report? Let me know what I can do to help.

[2016-08-30 13:32] minrk commented on #93
@nthiery Paris-Sud is the leader on this as well. Let me know if there is anything I can do to help finish this report.

[2016-08-30 13:35] bpilorget commented on #62
The README gives info on how to write deliverables: https://github.com/OpenDreamKit/OpenDreamKit

[2016-08-30 13:36] bpilorget commented on #93
The README gives info on how to write deliverables (scroll down): https://github.com/OpenDreamKit/OpenDreamKit

[2016-08-30 13:36] bpilorget commented on #94
The README gives info on how to write deliverables (scroll down): https://github.com/OpenDreamKit/OpenDreamKit

[2016-08-30 13:37] bpilorget commented on #95
@minrk Perfect
The README gives info on how to write deliverables (scroll down): https://github.com/OpenDreamKit/OpenDreamKit

[2016-08-30 13:37] bpilorget commented on #117
The README gives info on how to write deliverables (scroll down): https://github.com/OpenDreamKit/OpenDreamKit

[2016-08-30 13:38] bpilorget commented on #43
The README gives info on how to write deliverables (scroll down): https://github.com/OpenDreamKit/OpenDreamKit

[2016-08-30 13:50] serge-sans-paille commented on #117
Ack!

[2016-08-30 14:23] bpilorget commented on #116
Deliverable finished. To be submitted.

[2016-08-30 15:00] defeo commented on #43
I only got feedback from @tkw1536, for the moment. I'm waiting for everything else. Ping to @embray, @minrk, @markuspf and @nthiery.

[2016-08-30 15:00] defeo commented on #62
Next week.

[2016-08-30 15:24] alex-konovalov commented on #165
@pdehaye I've just pushed update of survey-GAP.md](https://github.com/OpenDreamKit/OpenDreamKit.github.io/blob/master/meetings/2016-01-25-DKS/survey-GAP.md) - is that OK? @markuspf anything to add?

[2016-08-30 15:43] markuspf commented on #43
There's basically nothing useful I can say about JupyterLab at the moment, other than "yeah, would be interesting as an HPC-GAP frontend."

[2016-08-30 15:53] markuspf commented on #175
CodeMirror does not accepts PR-d highlighting anymore, and instead suggests using npm deployment of the langauge plugins. For GAP this should be imminent. Also apparently Manuel moved his work to  https://github.com/mcmartins/CodeMirror

[2016-08-30 18:23] pdehaye commented on #165
Thanks, yes, excellent!

On Tue, Aug 30, 2016 at 5:24 PM, Alexander Konovalov <
notifications@github.com> wrote:

[2016-08-30 18:37] florian-rabe commented on #136
I've significantly revised the overall structure as well as the (new) sections 1, 3, 5.1, and 5.3.
I will still do section 5.2 but not necessarily today.

[2016-08-30 18:39] florian-rabe commented on #136
@Jazzpirate has added subsections 6.1 and 6.2.

[2016-08-30 19:25] VivianePons commented on #43
I'm writting my piece, should be finished tomorrow.

2016-08-30 17:00 GMT+02:00 Luca De Feo <notifications@github.com>:

[2016-08-30 20:21] florian-rabe commented on #136
Finished 5.2 after all. Please check if what I wrote makes sense.

@Jazzpirate I left some ednotes for you in this section

[2016-08-30 20:27] florian-rabe commented on #136
By the way, we should turn this deliverable into a journal paper.
Is anybody volunteering to take the lead on that?

[2016-08-31 04:06] pdehaye commented on #136
I am traveling right now, and will be until Saturday. I can work on Sunday on it. Sorry for introducing slight delay on delivery. My understanding is that this is inconsequential if it is very limited.

[2016-08-31 08:52] kohlhase commented on #136
I guess I would be the natural candidate for this. I think we should definitely write about this, but for a journal paper, we need to be able to evaluate the success of this new foundation better. But we are working towards this. So I guess that we should wait until spring with a submission.
That being said, we can definitely refine our ideas by writing up something more substantial after we have

[2016-08-31 09:46] minrk commented on #95
@bpilorget the D4.2 report should be complete and ready for submission now.

[2016-08-31 11:41] embray commented on #43
Sorry, I'm going to need more time on this.  I haven't even tried out the Ubuntu-on-Windows yet, though Bill Hart has written up some useful notes on his experience with it (as it pertains to Sage) so far, so maybe I can just draw from that.

[2016-08-31 11:47] minrk commented on #43
We have had [issues](https://github.com/jupyter/notebook/issues/1331) in Jupyter with Ubuntu on Windows, stemming from zeromq. It appears that the zeromq socket library when retrieving binaries from distributions such as conda, do not work on Ubuntu-on-Windows. However, people who are careful to use zeromq installed via apt-get, then things seem to work. That tells me that it's currently a very pr

[2016-08-31 12:23] nthiery commented on #94
Ah right, that's a good point @minrk. Jeroen is coming to Orsay next Monday. I'll write the report with him then, as I need to touch base with him to check on the status of a couple things. It should be short anyway. I'll update the PO that we will be late by a couple days.

[2016-08-31 12:25] VivianePons commented on #43
Hi everyone,

@bpilorget I think it would be more reasonable to ask a delay on this one. October 1st seems ok. I don't have a better excuse than "it is the end of the summer and everyone is busy", we should have foreseen this and obviously, we didn't. Also, to be honest, I don't know who's ideas it was to include this deliverable but it seems that nobody had a clear idea what to do with it.

A del

[2016-08-31 12:56] defeo commented on #43
Do we need a one month delay? From what I gather, things are not going to be much more mature on the Windows/Ubuntu side in one month. As for JupyterLab, I guess we (@minrk and I?) can just extract from the official post on the Jupyer blog.
If we are late delivering by one or two weeks, I guess we don't need an official extension. Is this enough time for you @VivianePons ?

[2016-08-31 13:00] VivianePons commented on #43
One or two weeks is definitely enough for me, I want to be finished with this as soon as possible. What do we do for Windows/Ubuntu? At this point, what are we going to include in the report?

[2016-08-31 13:12] defeo commented on #43
Nothing? If there's nothing people can say about it, this means that
the technology is not emerging yet.

[2016-08-31 13:16] VivianePons commented on #43
So what are our emerging technologies so far?

[2016-08-31 13:23] defeo commented on #43
- SageMathCloud
- Docker on Windows
- JupyterLab
- Cloud infrastructure ???

If people can think of something obvious I'm forgetting, let me know.

[2016-08-31 13:24] VivianePons commented on #43
In anycase, we should notify the PO that we are going to be a bit late.

[2016-08-31 13:41] nthiery commented on #43
On Wed, Aug 31, 2016 at 06:24:20AM -0700, VivianePons wrote:

Will do.

[2016-08-31 13:44] nthiery commented on #43
On Wed, Aug 31, 2016 at 06:12:36AM -0700, Luca De Feo wrote:

We should at least mention it, say what the potential could be for us,
state that we did experiments and report on the outcome, mention it's
not mature enough at this stage to be sure it will fulfill it's
potential and that we will keep closely monitoring progress.

Cheers,

[2016-08-31 14:06] jdemeyer commented on #94
I have continued to work on the interact convergence. It's not done, but I would like somebody to review the following first:
- https://trac.sagemath.org/ticket/21256
- https://github.com/ipython/ipywidgets/pull/725
- https://github.com/ipython/ipywidgets/pull/744
- https://github.com/ipython/ipywidgets/pull/745

It would be great if this could be done before or while I'm in Orsay next week.

[2016-08-31 15:08] minrk commented on #43
A brief mention along the lines of "UoW brings the prospect of linux software on Windows closer to reality, but is not yet sufficiently mature to recommend. Docker on Windows, however..." should cover it. Linking to the Jupyter issues where people have encountered trouble might be appropriate.

[2016-08-31 15:31] embray commented on #43
I will write something.  I have a bit more than a sentence to say on it (even so without getting too technical).  And important point to make about the Windows Subsystem for Linux is that even Microsoft is positioning it solely as a tool for developer convenience and not for end-user software distribution / execution.

[2016-08-31 17:04] nthiery commented on #19
Dear workpackage leaders (@OpenDreamKit/coordination)

I have writen a first draft of progress report overview in https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP1/D1.3/report.tex. For each workpackage, we want to have a couple paragraphs about the major achievements and ongoing work. Please have a look at the preliminary stuff I put there for your workpackage, and expand!

Yeah, sorry

[2016-08-31 17:08] nthiery commented on #19
@dimpase: oops, sorry, I just noticed you were *not* yet in @OpenDreamKit/coordination. Fixed!

[2016-09-01 14:12] nthiery commented on #43
@defeo: do you have something specific in mind for the "cloud infrastructure" item? Right now, I would not know what to say.

[2016-09-01 14:59] defeo commented on #43
Definitely not. I don't know who added that item, and it is not clear
to me what it was meant by it.

[2016-09-01 22:05] nthiery commented on #93
Oops, right, PSud is lead here. Let's gets things moving, and aim for having kernels for Pari, Singular, and GAP installable in Sage as optional packages.

- @markuspf: I am working on an optional spkg for Sage which basically runs the installation instructions posted on your git repository. Would you be available at some point tomorrow Friday in case there are some technical things to polish toge

[2016-09-01 22:30] nthiery commented on #93
@markuspf, @dimpase: oh wait, but we don't have io and json installed in Sage's gap, even with the optional gap_packages spkg. That probably explains the failure.

@dimpase: would it be meaningful / easy to add those to gap_packages?

[2016-09-01 22:39] nthiery commented on #93
Ok, once io and json installed by hand, this seems to work smoothly. Cool :-)
So I'll write an spkg tomorrow, and then we have to decide how to "package" io and json in Sage (each in it's own spkg, in gap_packages, ...).

[2016-09-01 22:42] nthiery commented on #93
@markuspf: within Sage, the gap command is called ... gap. Would it be sensible to set 'gap' as default value for JUPYTER_GAP_EXECUTABLE, rather than complaining that it is not defined?

[2016-09-01 23:09] dimpase commented on #93
@nthiery : adding io properly (to GAP as well as to libGAP) is a bit tricky, as it has a GAP kernel module (although IIRC @vbraun was able to do this back in January); it looks as if json is also like this.
On the other hand if one ignores libGAP it should not be a problem, they can be then GAP-only packages.

[2016-09-02 08:05] jdemeyer commented on #93
Yes, see https://pypi.python.org/pypi/pari_jupyter

It is also an optional Sage package.

[2016-09-02 08:18] dimpase commented on #93
anyhow, let me whether you'd like me to make a io/json@GAP package for Sage.

[2016-09-02 08:57] nthiery commented on #116
Let's keep this open until the report is actually uploaded on the EU portal. I am working on it.

[2016-09-02 10:02] markuspf commented on #93
@nthiery [this](https://github.com/gap-packages/jupyter-gap/commit/1dda8b569c7d29cd0609713dfadadc23d1cf9afe) should do what you want I guess?

[2016-09-02 10:04] markuspf commented on #93
I noticed that I *could* make the kernel independent of `io` and `json` now, but I wasn't going to bother since I'll obviously be abandoning the REPL wrapping as it is done currently.

[2016-09-02 10:08] jdemeyer commented on #93
@markuspf : what's your opinion on https://github.com/gap-packages/jupyter-gap/issues/26 to simplify installation?

[2016-09-02 10:46] markuspf commented on #93
@jdemeyer If it was a pull-request I'd click merge ;)

[2016-09-02 11:14] jdemeyer commented on #93
Great! I will look into this now.

[2016-09-02 11:47] jdemeyer commented on #93
I did not manage to get the GAP kernel working. The Jupyter debug output says
[code]

[2016-09-02 11:52] jdemeyer commented on #93
The kernel is correctly (I guess) executing the command
[code]

Manually running this command gives
[code]

And yes, I did install the `io` and `json` packages that Nicolas mentioned.

[2016-09-02 12:02] markuspf commented on #93
This means that `io` is not loaded (which in turn probably means it wasn't loadable in `GAP`, because the Jupyter GAP glue code tries loading it). Debugging this usually involves executing the gap command manually and then `DisplayPackageLoadingLog(DEBUG_LOADING)` to find out where it went wrong.

[2016-09-02 12:11] jdemeyer commented on #93
Hmm, that says
[code]

I must have messed up installing the package, although I don't see what went wrong...

[2016-09-02 12:17] jdemeyer commented on #93
Here is what I did: I unpacked the tarball of the GAP `io` package and then did
[code]

This seems to have worked without errors.

[2016-09-02 12:29] jdemeyer commented on #93
Got it! The packages need to be manually(!) copied to the `pkg` directory inside the GAP installation.

[2016-09-02 12:31] jdemeyer commented on #93
The GAP kernel works now...

[2016-09-02 12:32] jdemeyer commented on #93
I would say: add it to `gap_packages`.

[2016-09-02 12:47] dimpase commented on #93
On Fri, Sep 2, 2016 at 12:32 PM, jdemeyer <notifications@github.com> wrote:

if it works with libGAP I'll do this. Else I'd create another separate spkg.

[2016-09-02 14:40] jdemeyer commented on #93
It seems that installing the packages `io` and `json` break libGAP in Sage:
[code]
and many more failures. All these failures went away after removing the `io` and `json` packages.

[2016-09-02 15:01] nthiery commented on #116
I proofread the document, made micro improvements and improved the report style file. I have now submitted report-final.pdf on the EU portal.
Nice features, clear report, all delivered on time. I love you guys :-)
Now looking forward further progress on this front!

[2016-09-02 15:02] #116 closed

[2016-09-02 15:04] dimpase commented on #93
@jdemeyer : oh, this is bad news; still, we can disable autoloading of io and json, then everything would function well as long as they are not loaded. Add file named `NOAUTO` in `gap-<...>/pkg/` with names of packages not to be autoloaded; e.g. to disable IO put there line

    IO

this would do as a workaround while we update libGAP...

[2016-09-02 15:21] markuspf commented on #93
I just released a new version of the jupyter wrapper that does not depend on `io`, but still depends on `json`, sorry. (really, a sufficiently inclined person could write a json printer/reader in GAP and that would make json go away as well. I am not quite inclined enough right now).

[2016-09-02 15:25] jdemeyer commented on #93
Just curious why you need JSON...

My PARI wrapper kernel certainly does not need it, nor does the bash kernel. Why do you need it for GAP?

[2016-09-02 16:16] markuspf commented on #93
IIRC, I wrap relevant output in JSON, and do side-channel messaging to display graphs etc.

I had very low motivation looking at this right now, because the new kernel based on something that looks not quite unlike libgap is basically around the corner anyway.

In any case, I made the JSON printing work without JSON and will commit that later today too...

[2016-09-02 16:26] nthiery commented on #93
@markuspf: within Sage, the gap command is called ... gap. Would it be sensible to set 'gap' as default value for JUPYTER_GAP_EXECUTABLE, rather than complaining that it is not defined?
Jeroen: how did you handle this? Setting this variable in Sage's scripts?

[2016-09-02 16:27] nthiery commented on #93
Strange, io seems to not break Sage for me:

    sage: libgap.LoadPackage("io")
    true
    sage: libgap(10+10)
    20
    sage: a = libgap(10)
    sage: a + 10
    20

[2016-09-02 16:30] nthiery commented on #93
Thanks guys for all the progress today while I got distracted looking over the other deliverables!
The plan is to make gap_kernel into a pip package, and have an essentially trivial spkg on top of it, right?

[2016-09-02 17:27] jdemeyer commented on #93
Markus listened to you and he already fixed this issue.

[2016-09-02 20:50] dimpase commented on #93
@nthiery : libGAP behaviour depends upon GAP workspace used.
To reproduce, run

     ./sage -tp src/sage/libs/gap/libgap.pyx

2 or more times (the 1st run might be OK, as the workspace still does not have IO loaded, the 2nd run for me always produces errors). Then you will need to update your GAP workspace to have functioning libGAP.

[2016-09-02 23:33] markuspf commented on #93
https://github.com/gap-packages/jupyter-gap/pull/29 works without `json` or `io`, as far as I can tell at the moment. It's ugly though.

[2016-09-04 14:20] nthiery commented on #95
Hi Min, Martin,

I have just been through the report and it looks good! Great job on nbdime; that's a major feature, well delivered on time!

I have made minor formating changes; see the commits.

I believe the importance of nbdime could be further highlighted in the report by a short discussion about its relevance to reproducible research, in particular in connection with the upcoming #98: foster

[2016-09-04 15:18] nthiery commented on #136
Thanks everybody for the hard work.

@pdehaye: let me know when you are done!

I guess this would be a good time for merging this fork back into trunk: it makes it easier to keep an overview on the status of all reports (single repo to track); I have also made some tweaks to deliverablereports.cls.

[2016-09-04 15:22] kohlhase commented on #136
I have reworked section 4. Moving on to the conclusions.

[2016-09-04 15:23] kohlhase commented on #136
yes, but Tom does not have write access there (that was the reason for using a fork in the first place).

[2016-09-04 15:34] kohlhase commented on #136
we are merging upstream from time to time.

[2016-09-04 15:43] tkw1536 commented on #136
@kohlhase Concerning the ednote on "We need one or two diagrams that show how the theories hold together". I would consider both Figure 2 and Figure 4 to do exactly that. Figure 2 (even though it also serves as a general theory graph example) shows most of the theories involved and Figure 4 shows the data flow from the database to a Virtual Theory.

[2016-09-04 15:53] kohlhase commented on #136
I agree. So you can remove that ednote.

[2016-09-04 15:53] kohlhase commented on #136
Could you also re-read the MitM section? I am sure that there are grammar problems in the new parts.

[2016-09-04 15:55] tkw1536 commented on #136
ok. ednote has been removed, will re-read mitm right now. Other than that I have taken care of all the ednotes assigned to me.

[2016-09-04 16:06] kohlhase opened #201 "Remove or Replace Deliverable D6.8 (Due: 36, Type: OTHER, Dissem.: PU, Lead: UZH) LMFDB Algorithm Verification with respect to a Triformal Theory"
This is deliverable #142 I want to remove or replace.

In the WP6 discussions in the first year, it became clear that we want to de-emphasize the verification aspect of software (this is not on the critical path to a VRE). So this deliverable does not really make sense. This was not really clear at proposal time.
I would ideally like to just remove the deliverable (we have another deliverable on m

[2016-09-04 16:11] tkw1536 commented on #136
Fixed a few typos and mostly an incorrect figure reference.

[2016-09-04 16:53] kohlhase commented on #136
I have merged the fork back to trunk, so that everyone can see the current state. We will continue to develop on the fork and re-merge when we have more.

[2016-09-04 19:52] nthiery commented on #136
Thanks Michael for merging! I'll have a look later tonight or tomorrow morning.

Oh, I see. That being said, @tkw1536 is in the Participants team, so he should have write access to all our public repos.
Tom: could you give it a try?

[2016-09-04 19:55] nthiery commented on #136
Micro question: in our proposal, the S of DKS stands for Software; in the current report abstract it stands for System; which one is preferable?
Cheers,

[2016-09-04 20:04] pdehaye commented on #136
Software for sure.

On Sun, Sep 4, 2016 at 9:55 PM, Nicolas M. Thiéry <notifications@github.com>
wrote:

[2016-09-05 05:09] kohlhase commented on #136
I agree.

[2016-09-05 05:51] mikecroucher commented on #116
Thanks Nicolas, greatly appreciated.

[2016-09-05 07:28] jdemeyer commented on #93
I created https://trac.sagemath.org/ticket/21416 to add a Sage package for the GAP kernel.

[2016-09-05 07:40] bpilorget commented on #201
I will see the legal process for deliverable deletion, though I am not 100% sure it is feasable.
In any case it should be validated in  an amendment to the grant, potentially in the same amendment related to the change of your position.

[2016-09-05 09:28] kohlhase commented on #201
thanks, I will wait until you have news.

[2016-09-05 10:31] VivianePons commented on #43
I posted my SMC piece, it's on a branch "smc-post" on the website. Could someone ( @defeo @nthiery ?) proof read it and then merge to the main branch?

Best

Viviane

[2016-09-05 11:14] minrk commented on #95
@nthiery on it, will push by the end of today. I will also clarify the comments about output - it is not that output is ignored, but that different choices *may* be made about changes in generated output, depending on circumstances.

[2016-09-05 11:26] minrk commented on #95
@nthiery added note about reproducibility, #98.

[2016-09-05 14:36] bpilorget commented on #19
@dimpase , @kohlhase @ClementPernet @defeo , Please have a look at section 2.3

[2016-09-05 15:15] fangohr commented on #43
Regarding 'Clould Infrastructure' -- aren't things like GitHub, CircleCI/Travis/..., Readthedocs, codebeat, docker hub, all cloud hosted infrastructure? They have already made a big difference to how code in science and maths is developed/hosted/continuously built, tested and deployed, and there is probably more emerging?

[2016-09-05 16:41] florian-rabe commented on #136
I've revised sections 1-6.

@pdehaye Section 2 is still missing.
@tkw1536 I added one ednote for you.

[2016-09-05 16:46] kohlhase commented on #137
@nthiery @bpilorget, We would like your advice.

In the process of writing up **D6.2** (see #136) the initial design has been sufficiently stabilized that we have implemented large parts of the "initial design" in the MMT System. This makes sense, since we could otherwise not be sure that the design is sensible. But this is a problem for writing up the two deliverables D6.2/3. In D6.2 we want to a

[2016-09-05 16:47] kohlhase commented on #136
what is your plan there?

[2016-09-05 16:49] kohlhase commented on #137
We could also mention that we want to write a journal paper about the content of D6.2/3 which can serve as an update.  The draft of this could become an ODK report that is not a deliverable.

[2016-09-05 17:19] tkw1536 commented on #136
@florian-rabe Added the relevant fragment of the schema theory. The text after that made sense with it in place.

[2016-09-05 17:21] kohlhase commented on #136
I synchronized (pull/push) with the ODK upstream.

[2016-09-05 19:59] kohlhase commented on #19
I have added some paragraphs about WP6.
Unfortunately, final.pdata does not seem to have a definition for ```\@pdata@def{deliv}{dksbaseslfmverif}{issue}``` I wonder where the others came from.

[2016-09-05 20:21] nthiery commented on #19
On Mon, Sep 05, 2016 at 12:59:32PM -0700, Michael Kohlhase wrote:

I have just updated the proposal style file so that we could add
github issue numbers to the proposal file, and recover them from the
pdata (makes it easy to link back to github from our files, etc). And
then I manually added the issue numbers to 4 of our 7 WP's. Three more
to go. Ok, I'll do that now :-)

Benoît: I'll let you do t

[2016-09-06 05:36] kohlhase commented on #19
ah, I see, clever. I had been looking through the code of my proposal class and was wondering whether I had though of it and forgot, ... :-). That being said, it would probably be easy to generate the issue numbers if we make sure that the issue generating script and the issues are evaluated in the same way.

[2016-09-06 07:22] nthiery commented on #19
On Mon, Sep 05, 2016 at 10:36:56PM -0700, Michael Kohlhase wrote:

Yup! That will be for our next project :-) I finished entering all the
issue numbers for the deliverables, and it took 10 minutes for the
last three workpackages. It's less geeky and more error-prone but that
worked for now.

Cheers,
				Nicolas
--
Nicolas M. Thiéry "Isil" <nthiery@users.sf.net>
http://Nicolas.Thiery.name/

[2016-09-06 07:41] nthiery commented on #62
Just in case that could be relevant: I stumbled on [mathdon](https://github.com/scoder/mathdom), a Content MathML DOM parser for Python. Incidentally mathdom is developped by  @scoder, core dev of Cython and of LXML, the later being a fast XML Dom parser written in Cython.
For the record, Content MathML is one of the official idioms for OpenMath, and is likely to be endorsed by the OpenMath societ

[2016-09-06 08:37] bpilorget commented on #137
If everything planned for D6.3 an be written right now in a combined D6.2/D6.3 deliverable, I don't see any objection. Maybe make clear in titles of the document what parts are more 6.2 and what aprts are more 6.3.
The update througth a journal apper is also a good idea and it can be said int he introduction of the front page.

[2016-09-06 09:00] defeo commented on #43
They are. But they all were well established before we wrote the proposal.

Is there anything "emerging" right now, which we didn't know about one
year ago? If so, do you feel like writing a short piece on it, Hans?

[2016-09-06 09:02] defeo commented on #43
Speaking of emerging technologies, there is Cap 'n Proto (https://capnproto.org/​), that could be relevant for WP5. I had a quick chat about it with @ClementPernet, but I don't have enough experience on it ATM to write anything significant about it.

[2016-09-06 09:40] sebasguts commented on #93
On the status of the Singular Kernel:

Current version is available at https://github.com/sebasguts/jupyter-singular

Currently, there is a beta version, depending on the ipykernel. It communicates with Singular using libSingular, and a python wrapper for the Singular command line, available at https://github.com/sebasguts/SingularPython
Current features of the kernel are, besides of stable wrappi

[2016-09-06 10:05] dimpase commented on #93
perhaps instead of surf you can try jmol and/or jsmol? While it's not ideal, it does work, it's used in Sagemath as the default 3D viewer.

[2016-09-06 10:13] fangohr commented on #43
Regarding "established before we wrote the proposal": yes, and no. Of course Github was there, but we can also read 'emerging' as 'being used more widely' in the community. I have just convinced somebody here to try continuous integration with Travis -- for many computational scientists (and mathematicians?) these are new technologies (although those involved in putting the proposal for this proje

[2016-09-06 13:27] jdemeyer commented on #93
Can you clarify the "and"? Why does it need two different ways to communicate to Singular?

[2016-09-06 14:04] bpilorget commented on #19
Issue number added to tasks in WP files

[2016-09-06 15:33] kohlhase commented on #137
excellent, then that is what I will (attempt to) do.

good idea. I will do that.

[2016-09-06 15:55] bpilorget commented on #201
It is "unusual" to delete a deliverable, but as for any other matter, it is all up to the Project Officer. We must clearly explain the reason behind the deletion and, and also we need to show how it is good for OpenDreamKit (by turning the deliverable into a new one for example). But at least you are programming this very early and it is always a big plus!
If the change is accepted, it will have t

[2016-09-06 16:02] sebasguts commented on #93
Actually, the python wrapper is on top of it.

The python module SingularPython accesses the Singular parser through libSingular. So this module wraps the C commands to do this in python.

[2016-09-06 21:55] defeo commented on #43
I think you are absolutely right about Anaconda: it would feel weird not mentioning it here. I'm more sceptical about brew or Travis, and Tom has written something on Docker.

I'm not asking you to lead anything, but if you feel like sharing some paragraphs on things you know about these technologies, I'll be happy to merge them.

[2016-09-06 22:31] nthiery commented on #201
I agree that it would not make much sense to keep focusing manpower for a deliverable that has now been identified as of little relevance to the aims of ODK. Of course we need to argue that this is a shift of manpower for more relevant work.

Would there a way to rethink this deliverable to keep its original aim (grossly speaking evaluating the relevance of triformal theories for validating sofwar

[2016-09-06 22:38] slel commented on #43
Not sure if they can be useful for this review, but here are my "tech watch" notes.

- SageMathCloud news

  - SageMathCloud docker image
    sage-cloud post by William Stein, 2016-08-22
    https://groups.google.com/d/topic/sage-cloud/S9WqlcaZ_9k/discussion

  - SageMathCloud customized institutional setup
    sage-cloud post by Robert Lowe, 2016-08-26
    https://groups.google.com/d/topic/sage-c

[2016-09-06 22:44] defeo commented on #43
wow, you're some watchdog, @slel! Thanks

[2016-09-06 23:17] defeo commented on #19
I expanded it a bit. Maybe there's something more to say on
SageMathCloud, I have to read Viviane's report first...

[2016-09-07 12:24] nthiery commented on #197
The workaround seems not to be needed anymore; see  9846bfe. Please double check!

[2016-09-07 12:25] kohlhase commented on #197
I will do that, when I am back.

Michael

On 07/09/16 14:24, Nicolas M. Thiéry wrote:

--
----------------------------------------------------------------------
Prof. Dr. Michael Kohlhase,  http://kwarc.info/kohlhase, skype: mibein42

Professur für Wissensrepräsentation & -verarbeitung
  FAU Erlangen Nürnberg, Martensstr. 3, D-91058 Erlangen, Room 11.139,
  tel/fax: (49) 9131-85-64052/55, michael.

[2016-09-07 12:37] nthiery commented on #137
Hi Michael!
Given the situation I agree that it's more meaningful, and in fact more practical for the reviewers, to have a single true report with all the material (of course with proper indications of what's design and what's implementation).

Technically speaking, I will need to upload two pdf's; however one of them could be reduced to a short document explaning that D6.2 ending up being subsume

[2016-09-07 12:42] kohlhase commented on #137
OK, I can do that, sounds reasonable.

The report is done in essence (still waiting for a contribution from @pdehaye ) and with the merging overhead, I  expect that I will be done with everything by friday night.

[2016-09-07 14:03] nthiery commented on #137
On Wed, Sep 07, 2016 at 05:42:29AM -0700, Michael Kohlhase wrote:

Great!

[2016-09-07 14:15] nthiery commented on #42
@bpilorget. @kohlhase: I just added a description of the WP6 workshop in January in St Andrews. Please proofread!
https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP2/D2.2/events/2016-01-25-DKS.tex

[2016-09-07 14:19] nthiery commented on #42
Other than that, I agree with Benoît that this is good to go. I added a link to the current pdf above.

[2016-09-07 14:20] nthiery commented on #42
Note: the PO told me that we should get the referee reports for this June's review very soon, and she suggested that we might as well for them before we submit, in case there are special requests about our reports.

[2016-09-07 15:43] bpilorget commented on #19
@videlec Peux-tu vérifier que je ne me suis pas trompé dans la partie recrutement, au niveau du paragraphe sur le CNRS stp?

[2016-09-07 16:03] videlec commented on #19
@bpilorget  done

[2016-09-07 16:59] nthiery commented on #42
@VivianePons, @kohlhase
Oops, I had forgotten to write a blurb about our participation to CICM. Done and pushed. Needs proofreading :-)

[2016-09-07 19:51] slel commented on #93
For visibility, would kernel developers/ maintainers add them to the wiki page
listing existing Jupyter kernels?
I would do it but I would not know how to fill in the "dependencies" column.
https://github.com/ipython/ipython/wiki/IPython-kernels-for-other-languages

[2016-09-07 20:17] markuspf commented on #93
My student made a codemirror mode, I think he's trying to figure out how it should be distributed (via npm I guess).

[2016-09-07 21:57] pdehaye commented on #136
I will integrate the remainder tomorrow into the report.

[2016-09-08 09:01] nthiery commented on #43
One more project that I learned about from @gouarin at the "Cafe LOOPS" on Tuesday: mybinder.org

Here is a draft of blurb about it:

You have a (github?) repository full of jupyter notebooks? Define a running environment (e.g, by a docker file, Python requirements or a conda environment), and you get a badge on your repo allowing anyone to start playing with your notebooks live. So similar to tmp

[2016-09-08 09:12] nthiery commented on #43
@gouarin: since you have played around with mybinder, would you be up for turning the above quick notes into a short blog post as described above by Luca?

[2016-09-08 15:24] nthiery opened #202 "Participation to the "Design Your E-infrastructure workshop", Krakow, Sept 27 of 2016"
We have been strongly encouraged to participate to this workshop, and it indeed seems quite relevant.
In general it would make much sense to participate to the [Digital Infrastructure for Research](http://www.digitalinfrastructures.eu/) event that follows (28th-30th).

Here is the full invitation to the workshop

``I work for the EGI pan-European e-infrastructure as Technical and Customer Outreach

[2016-09-08 15:30] nthiery commented on #202
In general it would make much sense to participate to the [Digital Infrastructure for Research](http://www.digitalinfrastructures.eu/) event that follows (28th-30th).

With teaching starting, it's a bit hard for me to go there, especially on the 29th. Anyone interested / available?

I have started preparing a use case. Please have a look at ... and edit!

[2016-09-08 16:42] nthiery commented on #202
I have started preparing a [use case](https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP3/2016-09-27-DesignYourInfrastructureWorkshop-UseCase.md). Please have a look and edit!

[2016-09-08 22:04] alex-konovalov commented on #202
Worth mentioning to others that the deadline for the use case is tomorrow September 9th!

[2016-09-09 07:53] kohlhase commented on #42
this looks good, I have added more citations to the talks and tutorials.
The last line "see this [blog post]" is problematic, since the link is invisible, so I never thought to click, something needs to be done here.

[2016-09-09 07:54] kohlhase commented on #42
that sounds very reasonable, let's do that.

[2016-09-09 08:15] VivianePons commented on #42
I haven't looked at the current version, but the blog post could be added
to the bib file with proper url if not done already.

2016-09-09 9:54 GMT+02:00 Michael Kohlhase <notifications@github.com>:

[2016-09-09 08:18] bpilorget commented on #19
@dimpase , @ClementPernet,  Please have a look at section 2.3 and add the information needed for WP5 and WP7

[2016-09-09 08:22] embray commented on #43
Where are we supposed to be putting these blog posts?  I'm working on a report about the Windows Subsystem for Linux today, before I leave for vacation.

[2016-09-09 08:25] VivianePons commented on #43
I put mine in the activites section of the website

https://github.com/OpenDreamKit/OpenDreamKit.github.io/tree/master/_activities

I put mine in a separate branch to allow proof reading before publusing, a
pull request is another option

Best

Viviane

2016-09-09 10:22 GMT+02:00 Erik Bray <notifications@github.com>:

[2016-09-09 08:28] embray commented on #43
@VivianePons Thanks--sounds like a good strategy (I will make a PR--still puts it in a separate branch but gives others an opportunity for review before publishing).

[2016-09-09 08:28] nthiery commented on #43
On Fri, Sep 09, 2016 at 01:22:29AM -0700, Erik Bray wrote:

Go to http://opendreamkit.org/activities/, and click Edit this
page. The README has instructions.

Thanks!

[2016-09-09 08:36] nthiery commented on #43
On Fri, Sep 09, 2016 at 01:25:57AM -0700, VivianePons wrote:

Variant: put page as layout. The file still gets compiled by Jekyll on
github and can be browsed by guessing its url; but it is not linked as
a post.

Feel free to edit the README to add such suggestions.

Cheers,

[2016-09-09 08:51] kohlhase commented on #42
yes, that is probably the best way. I will do that.

[2016-09-09 09:13] florian-rabe commented on #202
I've looked briefly at EGI and EUDAT and could not make up my mind if they can be useful to us.
My impression is that

 * they have missions to provide services and are in need of people to use their services,
 * their services use a high level of abstraction and therefore cannot be math-aware.

So if we can think of something high-level that we want, they might do it for us.
Maybe they could host

[2016-09-09 09:57] kohlhase commented on #42
I am reading, ...
I think that for Event 7 (the June HB meeting with @markuspf) Markus  should probably also say something about all the code refactoring that went into the GAP kernel.

[2016-09-09 09:59] kohlhase commented on #42
Also for Event 7 we should say what happened from the UPSud side. I remember that there was a little bit of progress on the SageMath exporter.

[2016-09-09 10:00] kohlhase commented on #42
other than that, the report is OK from my side.

[2016-09-09 10:08] dimpase commented on #202
It seems that EGI does offer some cloud resources on which you can run stuff (like one does it on commercial systems like AWS (Amazon), Google Cloud, Azure (Microsoft)).
E.g. https://appdb.egi.eu/store/vappliance/docker.ubuntu.14.04

It's worth exploring in more detail IMHO, it seems there are things one can use for free; apart from the traditional hardware one gets access to GPGPU (graphics cards

[2016-09-09 10:23] dimpase commented on #202
I can do 27-28 or 27-29.

[2016-09-09 10:36] nthiery commented on #202
On Fri, Sep 09, 2016 at 02:13:31AM -0700, Florian Rabe wrote:

At this point, this is indeed what came up to my mind: providing
hardware resources + services like resource management,
authentication, assistance in the design and setup, long run
maintenance, ... This for a whole range of services starting from
tmpnb style server (could be deployed immediately) to full-featured
VRE's.

See:

[2016-09-09 11:11] dimpase commented on #202
OK, I can also do the whole http://www.digitalinfrastructures.eu/ event there. Let me know soon.

[2016-09-09 11:38] nthiery commented on #42
Done with the description of PSud's participation for Event 7.

[2016-09-09 11:41] nthiery commented on #42
Well, that's just a standard latex hyperlink. Putting the URL in the text would be rather cumbersome/verbose in such cases. Do you mean that we should update the style file so that hyperlinks would be more proeminent? With my pdf viewer, the hyperlinked text appears with a blue box around it.

[2016-09-09 11:43] nthiery commented on #42
Speaking of hyperlinks: upon request from the reviewers, I have added our
deliverablereport style file to include the following at the end of all our reports:

    Disclaimer: for auditing and reviewing purposes, this document is self contained. Hyperlinks to external resources are meant as a convenience for the casual readers; they have been checked for correctness at the time of submission of th

[2016-09-09 11:47] nthiery commented on #42
Two caveats about using citations for links:
- It takes more time
- It's less practical for the reader (two-clics away instead of one)

I would tend to reserve this for material that really deserves a citation (an actual paper, ...).

[2016-09-09 11:50] nthiery commented on #93
I will start shortly writing the report for this deliverable. @sebasguts, @markuspf, @jdemeyer, could you prepare a screenshots demonstrating the kernel and some of its features, for Singular, GAP,  and Pari respectively? @jdemeyer: in case you could do one for Sage, that would be welcome.

[2016-09-09 11:58] nthiery commented on #93
Additional instructions: put the screenshots as screenshot-<component>.png files in https://github.com/OpenDreamKit/OpenDreamKit/tree/master/WP4/D4.5. Also save the corresponding notebook as demo-<component>.ipynb there, or add a link from the description of this issue if you have this demo already hosted somewhere (like for @sebasguts Demo.ipynb).
Thanks!

[2016-09-09 12:17] kohlhase commented on #42
feel free to change back to the href, I do think a blog post is just as citable as any other paper.

[2016-09-09 12:19] kohlhase commented on #136
actually, this might take until sunday, ... (semester is starting) ...

[2016-09-09 12:27] VivianePons commented on #42
I agree that we shouldn't cite every link but I think we should cite blog
post when it's relevant. Also, nothing stops you from putting a biblio ref
and a link...

2016-09-09 14:17 GMT+02:00 Michael Kohlhase <notifications@github.com>:

[2016-09-09 13:14] embray commented on #43
I added the first draft of my post in a pull request--see link above.

[2016-09-10 00:02] pdehaye commented on #136
I think I am good for my part. Sorry it took so long.
I also re-read the whole thing. The most significant change I made is in adding a footnote concerning the progression of workshops. The intent there was to highlight that while many of the OpenDreamKit participants had attempted to do similar stuff in the past, what is new now is the MMT approach. I felt that was very relevant to this deliverab

[2016-09-10 07:26] kohlhase commented on #136
@pdehaye I looked over the changes, well done.
actually, I am a bit surprised that you do not have the bibliography. We made a git subrepo at ../../lib/kbibs and that should be pulled automatically for you. Could you have a look?

[2016-09-10 07:45] pdehaye commented on #136
Actually, yes, I do have the bibliography. Either I missed it or I looked
before you included it?
Anyways, I have made the necessary changes now (i.e. added FindStat
reference).

On Sat, Sep 10, 2016 at 9:26 AM, Michael Kohlhase <notifications@github.com>
wrote:

[2016-09-10 08:18] kohlhase commented on #136
excellent. I made a first pass over explaining the "two-deliverables-in-one-report" design. I will make a first D6.3 deliverable stub now.

[2016-09-10 08:24] pdehaye commented on #136
There is also the pesky problem of author ordering. I absolutely don't care except I want to make sure it is intentionally non alphabetical.

[2016-09-10 09:02] nthiery commented on #136
On Sat, Sep 10, 2016 at 01:24:49AM -0700, pdehaye wrote:

Just being curious: why not alphabetical? It's the customary way to
resolve author ordering in the math community, isn't it?

[2016-09-10 09:03] kohlhase commented on #136
I have also not thought about it, but I will make it alphabetical. I am working on these things ATM.

[2016-09-10 09:04] kohlhase commented on #136
I think that the order was just that everyone just added themselves at the end, no malice or so here.

[2016-09-10 09:06] kohlhase commented on #137
@nthiery I made a first stub. Could you have a look whether this is sufficient?

[2016-09-10 09:23] nthiery commented on #136
Speaking of authors: for our reports, should the authors be the people having written the report itself, or should it include those that did major work on the content? (brainstorm and implementations here, implementation elsewhere, ...). I am wondering because of other reports like D4.4 (#93), where I'll probably write the bulk of the report, while most of the implementation was done by others.

[2016-09-10 09:36] kohlhase commented on #136
I have no clear opinion on this, and I think we should have a general "rule" so I guess you (as the coordinator) should  say something public about this.
I guess my personal preference to have as **authors** the people who wrote the report, and make the **contributors** clear in the report (acknowledgements?)

[2016-09-10 09:43] kohlhase opened #203 "deliverablereport.cls breaks table of contents"
Somehow the table of contents breaks in ```deliverablereport.cls```: instead of having "Contents" as the "heading", it appears below the table. We should try to fix this before submitting the current crop of reports.
I have tried a couple of things, but do not really know what is going on. I noticed on D6.2 (#137), but it seems to happen on old reports as well.

[2016-09-10 09:57] kohlhase commented on #203
hmmm, in 6.2 it goes away, if I do not include ```local.sty```, looking on.

[2016-09-10 10:07] kohlhase commented on #203
Ah, this reveals the culprit: ```parskip.sty```. This problem is described in http://tex.stackexchange.com/questions/54233/table-of-contents-title-removed
So I guess that if we want to keep parskip in, we should make the recepie introduced there into ```deliverablereport.cls```.  Or base the class on something else than ```amsart.cls``` (which I find horrible in any case).

[2016-09-10 10:13] kohlhase commented on #203
it seems that we only use parskip in reports D6.1 and D6.2, I removed it from both, so this is fixed.

[2016-09-10 10:13] #203 closed

[2016-09-10 10:15] kohlhase commented on #136
OK, I have taken care of all the ednotes. From my point of view, this deliverable is done.

[2016-09-10 10:21] fangohr commented on #136
Re authors, I'd include everybody who has contributed to the task/deliverable. The report is meant to represent the work done, so it should include the people involved. (If the categories of 'author' and 'contributor' are suggested, then @kohlhase 's suggestion seems reasonable, otherwise I'd just use one category [i.e. authors or contributors], and put everybody into that.)

[2016-09-10 19:44] pdehaye commented on #136
re: authors, I didn't mean to imply there was malice. Apologies that it came out that way.

This is starting to look finished. There is still two ednotes in, one concerning a latex presentation bug for the listings, and one on the handling of constructors/assessors.

There is also one typo in the github issue descriptions. It should be "issue", not "issue's". I tried changing it but there seems to

[2016-09-10 20:10] nthiery commented on #136
On Sat, Sep 10, 2016 at 12:44:30PM -0700, pdehaye wrote:

You just need to fix the issue description on github; I'll upload the
latest version anyway upon submitting the deliverable.

Cheers,
				Nicolas
--
Nicolas M. Thiéry "Isil" <nthiery@users.sf.net>
http://Nicolas.Thiery.name/

[2016-09-10 20:25] pdehaye commented on #136
The typo is in the template that processes the GitHub issue description and
introduces it in the latex. It seems the typo originates in the Makefile
itself, but then was propagated. My sed skills are not up to par to do a
global fix: hard to the escaping correctly on s/issue's/issue/g  !

On Sat, Sep 10, 2016 at 10:10 PM, Nicolas M. Thiéry <
notifications@github.com> wrote:

[2016-09-11 05:56] nthiery commented on #136
On Sat, Sep 10, 2016 at 01:25:31PM -0700, pdehaye wrote:

Oh, I see. I fixed the Makefile. This will propagate automatically
next time I'll refetch the issue description and rebuild the reports.

Thanks for spotting this!

[2016-09-11 06:07] kohlhase commented on #136
these two are mostly for the journal version, we want to eventually make from this report. I have hidden them.

[2016-09-11 11:31] nthiery commented on #202
Oh, sorry Dima; I somehow missed your comments (too many notices these days). It's great that you can go.
It could be nice to have someone from the Jupyter side as a complement. @mikecroucher, @minrk maybe?

[2016-09-11 11:32] nthiery commented on #203
Thanks Michael for investigating!

[2016-09-11 11:46] nthiery commented on #136
Thanks for the feedback on authorship. I added the following to our [README](https://github.com/OpenDreamKit/OpenDreamKit):
``Defining authorship is tricky, as most deliverable involve close collaboration with the community, and the report is often written by a subset of the contributors. Let's use the following simple rule of thumb: the authors of the report should include all persons funded by O

[2016-09-11 11:48] nthiery commented on #136
We probably want something stronger than "non trivially".

[2016-09-11 12:08] nthiery commented on #137
I edited a bit the stub, and left two TODO's there. Once done I believe this will do the job!

[2016-09-11 12:56] nthiery commented on #19
Done with the paragraphs about risk management. Please proofread.

[2016-09-11 13:02] nthiery commented on #19
I would like to send this ASAP to our project coordinator, to have feedback on the new format of our deliverables, and as a way for her to get an overview on our progress. I believe we just need @dimpase and @ClementPernet to finalize the short subsection on their workpackage.

[2016-09-11 13:04] nthiery commented on #19
As discussed on another deliverable, the author list should consist of all those that made a nontrivial contribution to the deliverable. For now, we have ``NT, BP, et al.'' as author list. Shall we be more specific, mentionning all the work package leaders?

[2016-09-11 15:28] dimpase commented on #202
@nthiery : has anyone sent         https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP3/2016-09-27-DesignYourInfrastructureWorkshop-UseCase.md
to the workshop organisers?

[2016-09-11 19:50] nthiery commented on #202
On Sun, Sep 11, 2016 at 08:28:32AM -0700, Dima Pasechnik wrote:

I had pointed them to our use case, but nothing formal. So it's good
that you got in touch directly and registered. Thanks!

[2016-09-11 20:34] nthiery commented on #94
Hi Jeroen,
How did the discussion go with Sylvain? What timeline do you foresee at this stage for interacts?

[2016-09-11 21:04] VivianePons commented on #42
Hi,

I quickly checked the document and it seems fine to me:

 * I have added the slides of relevant talks to the "annexes" folder
 * I have counted around 129 PM for this (from the file SitesAndPM.md) not sure where I should put it
 * The report-final does not seem up to date but I cannot update it myself because I have an issue with the biblio (when I compile the report .tex I get Florian's talk

[2016-09-12 04:36] kohlhase commented on #137
I have extended the explanation. could you have another read?

[2016-09-12 08:58] jdemeyer commented on #94
I would say that the meeting went quite well. My main request for upstream ipywidgets was to add the needed hooks that we can override in Sage.

I am currently waiting for review of https://github.com/ipython/ipywidgets/pull/725 and https://github.com/ipython/ipywidgets/pull/762

Most interacts already work with the work that I have done, so I consider it almost done. Maybe I need a few more days.

[2016-09-12 09:01] SylvainCorlay commented on #94
Same here. I imagine the features could be code-complete and merged quite soon.

The release of a version of ipywidgets including those changes is a different matter. There are a few things that we need to fix before 6.0. We are going to sprint on ipywidgets integration into jupyterlab next week with Jason Grout and Brian Granger among other subjects.

[2016-09-12 16:42] ClementPernet commented on #19
Hi.
I had a paragraph written up last friday for WP5. In case you find it not complete enough I added a
paragraph on D5.5 today, if it's still time.
Let me know if you think of something specific that need to be improved.

Clément

Le 11/09/2016 15:02, Nicolas M. Thiéry a écrit :

[2016-09-15 08:40] bpilorget commented on #43
FYI, maybe not for this deliverable but to keep in mind when time comes ->
Some of you may already know this: https://www.softwareheritage.org/mission/
The goal of this archive is to become the "Library of Alexandria of software". This was funded by INRIA (Institut National de Recherche en Informatique) and is supported by Microsoft, the Linux foundation and other organisations.

[2016-09-15 08:43] nthiery commented on #19
Merci Clément!

@dimpase: there just remain your blurb about WP7:
https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP1/D1.3/report.tex#L333
Thanks in advance,

[2016-09-15 08:51] nthiery commented on #19
Hi @jdemeyer,
https://www.lri.fr/etherpad/p/sage-days77-documentation is now back online. Could you move its content to the sage wiki, and write a very brief summary with a link to the wiki page around
 https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP1/D1.3/report.tex#L249?
Thanks in advance!

[2016-09-15 08:57] nthiery commented on #19
@bpilorget: could you have a look at the item left in this issue description:
- [ ] Agregate the site reports from project meeting
Do you think there remains something to be done in this direction?

[2016-09-15 13:46] bpilorget commented on #19
@nthiery It's done. Minor improvements followed

[2016-09-15 15:44] dimpase commented on #19
Hi, sorry for holding this up, travelling from one conference to another.
Will do tomorrow.

On 15 Sep 2016 2:46 pm, "bpilorget" <notifications@github.com> wrote:

[2016-09-15 18:22] defeo commented on #43
Just pushed in https://github.com/OpenDreamKit/OpenDreamKit/tree/master/WP2/D2.3.
Feel free to comment, exp. if you're the author of one of the pieces.

@embray, @VivianePons, concerning your blog posts, isn't it a bit weird to have them in `_activities`, rather than in `_posts`? I suggest:
1. To move them to `_posts`,
2. To change the publication dates to some date in the future (we could publish

[2016-09-15 21:36] nthiery commented on #19
On Thu, Sep 15, 2016 at 08:44:14AM -0700, Dima Pasechnik wrote:

Thanks! Enjoy the conferences :-)

[2016-09-16 14:14] bpilorget commented on #43
Hi, I guess all the paragraphs are in there then. Is it ready to be polished (typos etc.)?

[2016-09-16 14:40] defeo commented on #43
Yup

[2016-09-16 22:38] nthiery commented on #137
On Sun, Sep 11, 2016 at 09:37:00PM -0700, Michael Kohlhase wrote:

Sounds very good. I have asked our PO whether this was ok. Thanks!

[2016-09-16 22:44] nthiery commented on #137
A more technical question: we want the github issue description for our deliverables to be helpful for our followers. One way to achieve this without duplication is to move the abstract of the report into the github issue description, which itself is included in the report. Is this something we want to do here? Systematically?
One little drawback is that we can't use our macros for cross linking o

[2016-09-17 06:52] kohlhase commented on #137
I like the idea of having the abstract of the reports in the issue description systematically.
But just to get this clear, this would be **after** the report was published, correct?
Or are you envisioning systematically going around and making up "abstracts" for upcoming deliverables? While this might be a useful exercise, I think it might be unrealistic.
But afterwards I see this as useful (BTW,

[2016-09-19 10:10] nthiery commented on #137
I moved the text of the report to the github description, finalized the later, and did minor proofreading edits.
This is ready to be submitted.

[2016-09-19 10:39] nthiery commented on #43
I have just proofread the whole document, and made minor edits. It's in fact a very interesting read; thanks for the hard work! Maybe there could have been a few more reviews, but as long as we keep this watch for further emerging technologies, and writing posts about relevant ones, I believe we are all good.

[2016-09-19 10:41] nthiery commented on #43
About the author list: should @minrk be there? (I don't know who wrote the JupyterLab part). If you feel like it you may add me for the binder section + proofreading, but both were minor actions.

[2016-09-19 10:43] nthiery commented on #43
About SageMathCloud:

This does not include real time collaborative editions, right? Maybe this should be clarified.

[2016-09-19 10:44] nthiery commented on #43
Once those two items are taken care off, this will be ready for submission.

[2016-09-19 10:45] nthiery commented on #43
Just to keep this info around for history:
- [x] Windows support for Ubuntu @embray (OpenDreamKit/OpenDreamKit.github.io#36)
- [x] Docker on Windows and Mac @tkw1536 (https://github.com/OpenDreamKit/OpenDreamKit.github.io/pull/33)
- [x] SageMathCloud evolution @VivianePons (https://github.com/OpenDreamKit/OpenDreamKit.github.io/tree/smc-post)
- [x] JupyterLab, Thebe, ... @minrk?

[2016-09-19 10:47] nthiery commented on #43
@bpilorget: could you please browse through my diff, and implement the changes I made in the corresponding blog posts (not all them are up yet)? Thanks.

[2016-09-19 11:06] defeo commented on #43
I wrote it, taking excerpts from

  http://blog.jupyter.org/2016/07/14/jupyter-lab-alpha/

(I think the excerpts are within the limits allowed by reasonable
citation practice)

Sure.

Dunno. @VivianePons?

[2016-09-19 12:30] nthiery commented on #43
We just checked with @VivianePons on one of her test SMC project. SMC uses a patched version of Jupyter that indeed allows real time collaborative edits. It just has a slightly lower granularity then for SMC notebooks: it's more at the level of the cell than the character.
This is documented here: https://github.com/sagemathinc/smc/wiki/sagejupyter#ipython-nb
We don't know if the patch was submitt

[2016-09-19 12:30] nthiery commented on #43
Thanks Luca for the feedback!

[2016-09-19 13:13] nthiery commented on #93
@sebasguts, @markuspf, @jdemeyer: ping for the screenshots!

[2016-09-19 13:20] nthiery commented on #93
Besides, we are missing pip/Sage packages for GAP, Pari (just the pip one) and Singular. Anyone has time to make progress on them? Once the pip package is done, the work for the Sage one is essentially trivial; I could possibly handle it.

[2016-09-19 13:44] sebasguts commented on #93
@nthiery: I just pushed a screenshot. I will try to do the pip packages soon.

[2016-09-19 14:00] VivianePons commented on #43
Following the discussion with Nicolas, I added an extra paragraph on two interesting aspects:
 * real time synchro on Jupyter notebook on SMC
 * Jupyer kernels used through the SMC worksheet
I added it both on the latex and on the md file for the blog posts.

I also moved the post from _activites to _posts (knowing that anyway, I intend to merge those two in the near future).

At the moment, the p

[2016-09-19 14:10] bpilorget commented on #43
@nthiery I could only find the Docker for Mac and Windows post. Do you know where the other documents are?

[2016-09-19 14:37] defeo commented on #43
SageMathCloud: https://github.com/OpenDreamKit/OpenDreamKit.github.io/blob/smc-post/_posts/2016-08-30-SMC.md

Ubuntu 4 Win: It's happening here: OpenDreamKit/OpenDreamKit.github.io#36, ask Erik for the rights

[2016-09-19 16:11] nthiery commented on #136
I did some little finalization on the report: moving the abstract to the github description, reusing the same story as for D6.3, adding a link to the report, ...
There just remains to possibly update the author list according to what we discussed above (who is considered as having worked on this deliverable). Then it's ready to submit.

[2016-09-19 16:43] williamstein commented on #43
Heh, I'm here and can answer any questions about this.   @haraldschilly can also.

More details: the "patching" is monkey patching that happens *entirely* client side at the Javascript level.  No original source code of Jupyter is changed.  Instead, after the Jupyter iframe loads, some javascript is executed to add some hooks.

Sync should work at the exact same level of granularity as SMC workshe

[2016-09-19 22:09] nthiery commented on #43
On Mon, Sep 19, 2016 at 09:43:38AM -0700, William Stein wrote:

Great, thanks a lot for the details, that's helpful; I wasn't sure
you'd have time to jump in. Glad to hear as well that their are
already plenty of discussions going on on that topic. Then we can
focus our energy elsewhere :-)

This impression came just from using it. SMC felt more reactive; it
may well have just been some unrelated

[2016-09-20 01:12] williamstein commented on #43
I may have set a throttling or debouncing parameter differently to reduce
potential or perceived slow-down during usage.   But it still operates at
the character level, not cell level.

William

[2016-09-20 05:55] kohlhase commented on #136
I have updated the authors.

[2016-09-20 05:55] kohlhase commented on #137
I have updated the authors to the ones of D6.2.

[2016-09-20 11:29] jdemeyer commented on #93
@nthiery: There is a pip package for `pari_jupyter` (it is even linked from the issue description at the top)

I will have a look at screenshot and demo.

[2016-09-20 12:11] jdemeyer commented on #93
Done for PARI.

[2016-09-20 15:34] nthiery commented on #136
On Mon, Sep 19, 2016 at 10:55:20PM -0700, Michael Kohlhase wrote:

Thanks! pdf updated for D6.2 and D6.3.

[2016-09-20 20:47] nthiery commented on #93
On Tue, Sep 20, 2016 at 04:29:58AM -0700, jdemeyer wrote:

Yes, sorry, I just meant GAP / Singular.

Thanks Jeroen and Sebastian for the screenshots!

[2016-09-20 21:48] nthiery commented on #93
Crude preliminary report pushed. Anything to be put there besides the screenshots and the above issue description?

[2016-09-21 13:04] defeo commented on #43
Corrected date and authors and submitted to the EU portal. Thanks to everyone.

[2016-09-22 06:50] nthiery commented on #43
Good to know that you can upload on the EU portal (apparently Benoît could not nor Michael). One less thing I have to manage myself. Thanks!
The reason I had not uploaded earlier is that I was waiting for feedback from our PO about the style of our latest deliverables w.r.t. the reviewer's request. But that's allright.

[2016-09-22 09:05] defeo commented on #43
It still says "draft" on the portal, I guess you have to validate it anyway.

[2016-09-22 09:13] nthiery commented on #43
On Thu, Sep 22, 2016 at 02:05:55AM -0700, Luca De Feo wrote:

Ah perfect.
Next time, let's close it once it's completely submitted.

Cheers

[2016-09-22 09:40] defeo commented on #43
Nothing forbids re-opening the issue.

[2016-09-26 00:02] dimpase commented on #19
how does one use `\delivref` macro? I don't see how e.g.
`\delivref{component-architecture}{portability-cygwin}` relates to the wp and deliverable numbers. Is this correspondence specified anywhere? Thanks in advance.

[2016-09-26 06:25] nthiery commented on #19
On Sun, Sep 25, 2016 at 05:02:29PM -0700, Dima Pasechnik wrote:

This uses the same labels as in our proposal: \delivref{<wp>}{<deliverable>}.
So the correspondence can be retrieved from the sources of the WP
description, e.g. <ODK>/Proposal/WorkPackages/SocialAspects.tex.

Alternatively, I find convenient to make searches in
<ODK>/Proposal/final.pdata, since it contains all the info:
deliverable

[2016-09-29 06:27] kohlhase opened #204 "refactor defliverablereport.cls"
I think it would probably be better refactor ```deliverablereport.cls``` into two: the basic functionality in ```LaTeX-Proposal/eu/eudelivreport.cls``` and a class ```odkdelivreport.cls``` that mainly contains a ```\LoadClass{eudelivreport}``` and instantiates it to (e.g. with our logo). But where would that live?
@nthiery @bpilorget

[2016-09-29 06:41] nthiery commented on #204
I'd say: let's put odkdelivreport.cls in <ODK>/Proposal/ since that's where we already have all our latex stuff, including the common macros, the pdata database, etc. With time, the directory name is becoming a bit of a misnomer since we have more than just the proposal there, but that's good enough.

Thanks!

[2016-09-29 06:45] kohlhase commented on #204
OK, that makes sense. Maybe we should add a ```Proposal/README.md``` describing what is there. Also we should probably have a short description of what is in the repos and why to the ```README.md``` at top level. Let me see what I can do there.

[2016-09-29 06:57] nthiery commented on #204
Sounds good.

[2016-09-29 08:02] kohlhase commented on #204
OK, I have started refactoring and fixed all the links to the deliverables. Also I have updated the ```README```s a bit. This is done for now.

[2016-09-29 08:02] #204 closed

[2016-09-29 22:40] hivert commented on #204
Hi there,

I checked the report for Deliverable D5.1. It looks very nice. Thanks ! However, there where a lot of links in the github-issue-description.md that where lost in the report. As a consequence lots of sentences doesn't really makes sense. What should we do ?

See https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP5/D5.1/github-issue-description.md compared to https://github.com/Op

[2016-10-01 12:50] nthiery commented on #204
I do see the links here. Can you specify which one?
We can have a brief look together when I pass by your home this afternoon.

@kohlhase: to recompile the file, I had to add a link to eudelivreport.cls. Is this what we want to do for each deliverable, or do we want to somehow hardcode the path to eudelivreport.cls from odkdelivreport.cls, as we already do for the pdata and other files from Propos

[2016-10-01 12:52] nthiery commented on #204
Note: I just updated the pdf w.r.t. the new style file.

Ah, one thing Florent: which of the linked document do we want to consider as being officially part of the report, and thus attach as appendix? The slides maybe?

[2016-10-01 14:25] hivert commented on #204
The link are Ok. It's just Github viewer that don't support hyperlink. Now concerning the linked document, I think that both the [slides](https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP5/T5.6/HPC-Combi.pdf) and the [documentation](https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP5/T5.6/documentation.pdf)  deserve to be included as an annex in the final report.

[2016-10-14 10:20] jdemeyer commented on #93
What is missing here is actual packaging of the GAP and Singular kernels and uploading them to PyPI. See https://packaging.python.org/distributing/ for general information on packaging and distributing Python projects.

@sebasguts and @markuspf: can you do that or do you need help?

[2016-10-17 16:10] defeo commented on #204
Do we have an answer to this question? I had the same problem.

[2016-10-17 16:34] defeo commented on #62
Hello, work on this on the Sage side is essentially done: https://github.com/OpenMath/py-scscp. Of course, it may be helpful to add documentation and comment the code :innocent:

How's work on the other components? @tkw1536 said:

anything new? Singular?

I can start writing the Sage part of the report, but maybe @alex-konovalov wants to setup the scaffold before that?

[2016-10-18 05:53] kohlhase commented on #62
I am thrilled to hear about progress on the SageMath side.
For me the next step would be to test the communication between the (three) systems that is possible now. I guess until the OpenMath Interface of Sage is further, it would be a good first step to send around integers between SageMath, MMT, and GAP as a hello world.
After that we should really start working on getting the Use Case we talked

[2016-10-18 07:33] defeo commented on #62
I agree. Unfortunately I was not able to obtain a copy of gap with a working scscp package (did not try very hard, but the linux arch package is currently broken). Any help appreciated.

[2016-10-18 13:45] jgmbenoit commented on #62
have you tried to play with the [gap-scscp debian package](https://packages.qa.debian.org/g/gap-scscp.html) (on a testing)) box ?

[2016-10-18 15:27] alex-konovalov commented on #62
@defeo You need GAP and also IO and OpenMath packages. Install GAP from the source distribution, and build packages, including the IO - then all should work.

[2016-10-18 15:59] kohlhase commented on #62
@alex-konovalov don't you have a SCSCP-enabled GAP running on some machine somewhere, so that they can just connect up to that? After all, that is what SCSCP is meant to do.

[2016-10-18 18:58] defeo commented on #62
I am skeptic about hosting a public facing SCSCP server, especially a
testing one. Looks like a huge security risk.

I'd be happy enough with a docker container.

[2016-10-18 19:10] alex-konovalov commented on #62
@defeo

Then please see https://hub.docker.com/r/gapsystem/gap-docker/ - accidentally it has instructions how run SCSCP server. That is GAP 4.8.5 BTW.

[2016-10-21 14:28] jdemeyer commented on #94
Any idea on the release date of ipywidgets 6?

[2016-10-21 14:32] SylvainCorlay commented on #94
@jasongrout released one of the main blockers, so we should be able to sprint to have a proper release now. The remaining item is a usability / css restyling...

[2016-10-24 08:49] dimpase commented on #94
There is a lot of demand (say, on `sage-suppport` list) for a guide to use `jupyterhub` in a multiuser setting where users are not authenticated via dedicated Unix account s, something akin to the `SageNB` authentication model (this is a setting most convenient for teaching a class using SageMath). How to set this up, and whether this is possible at all, is not clear ATM.

[2016-10-24 13:25] bpilorget commented on #133
# DELIVERABLES UPDATE

@kohlhase As you know , during the interim review in Bremen, reviewers gave advice to improve deliverables. UPSud tried to follow their advice by updating D5.1 #107
The main critic is that deliverables should be static document. Therefore we went through the #107 report to check if all links were still working and also if the information contained on the links was necessary

[2016-10-24 13:42] bpilorget commented on #91
# Deliverable updates
@kohlhase As you know , during the interim review in Bremen, reviewers gave advice to improve deliverables. UPSud tried to follow their advice by updating D5.1 #107
The main critic is that deliverables should be static document. Therefore we went through the #107 report to check if all links were still working and also if the information contained on the links was necessary f

[2016-10-24 13:44] bpilorget commented on #34
# Deliverable updates
@VivianePons  As you know , during the interim review in Bremen, reviewers gave advice to improve deliverables. UPSud tried to follow their advice by updating D5.1 #107
The main critic is that deliverables should be static document. Therefore we went through the #107 report to check if all links were still working and also if the information contained on the links was necessa

[2016-10-24 13:46] bpilorget commented on #58
# Deliverables update
@defeo  As you know , during the interim review in Bremen, reviewers gave advice to improve deliverables. UPSud tried to follow their advice by updating D5.1 #107
The main critic is that deliverables should be static document. Therefore we went through the #107 report to check if all links were still working and also if the information contained on the links was necessary for

[2016-10-24 13:51] bpilorget commented on #42
# Deliverables update
@VivianePons  As you know , during the interim review in Bremen, reviewers gave advice to improve deliverables. UPSud tried to follow their advice by updating D5.1 #107
The main critic is that deliverables should be static document. Therefore we went through the #107 report to check if all links were still working and also if the information contained on the links was necessa

[2016-10-24 13:52] bpilorget commented on #43
# Deliverables update

@defeo  As you know , during the interim review in Bremen, reviewers gave advice to improve deliverables. UPSud tried to follow their advice by updating D5.1 #107
The main critic is that deliverables should be static document. Therefore we went through the #107 report to check if all links were still working and also if the information contained on the links was necessary fo

[2016-10-24 13:53] bpilorget commented on #62
# Deliverables update

@defeo @alex-konovalov  As you know , during the interim review in Bremen, reviewers gave advice to improve deliverables. UPSud tried to follow their advice by updating D5.1 #107
The main critic is that deliverables should be static document. Therefore we went through the #107 report to check if all links were still working and also if the information contained on the links

[2016-10-24 13:58] bpilorget commented on #83
# Deliverables update
@jdemeyer @defeo  As you know , during the interim review in Bremen, reviewers gave advice to improve deliverables. UPSud tried to follow their advice by updating D5.1 #107
The main critic is that deliverables should be static document. Therefore we went through the #107 report to check if all links were still working and also if the information contained on the links was nec

[2016-10-24 14:00] bpilorget commented on #93
# Deliverables update
@minrk As you know , during the interim review in Bremen, reviewers gave advice to improve deliverables. UPSud tried to follow their advice by updating D5.1 #107
The main critic is that deliverables should be static document. Therefore we went through the #107 report to check if all links were still working and also if the information contained on the links was necessary for

[2016-10-24 14:00] bpilorget commented on #94
# Deliverables update

@minrk As you know , during the interim review in Bremen, reviewers gave advice to improve deliverables. UPSud tried to follow their advice by updating D5.1 #107
The main critic is that deliverables should be static document. Therefore we went through the #107 report to check if all links were still working and also if the information contained on the links was necessary for

[2016-10-24 14:01] bpilorget commented on #95
# Deliverables update

@minrk  As you know , during the interim review in Bremen, reviewers gave advice to improve deliverables. UPSud tried to follow their advice by updating D5.1 #107
The main critic is that deliverables should be static document. Therefore we went through the #107 report to check if all links were still working and also if the information contained on the links was necessary fo

[2016-10-24 14:06] bpilorget commented on #136
# Deliverables update

@kohlhase  As you know , during the interim review in Bremen, reviewers gave advice to improve deliverables. UPSud tried to follow their advice by updating D5.1 #107
The main critic is that deliverables should be static document. Therefore we went through the #107 report to check if all links were still working and also if the information contained on the links was necessary

[2016-10-24 15:34] bpilorget commented on #19
@dimpase  Hi Dima. I don't see your inpu on WP7. Have you had time to write something?

[2016-10-24 22:53] dimpase commented on #19
@bpilorget : Hi,  I hear you, I'm working on it.

[2016-10-26 08:27] bpilorget opened #205 "Join EGI/EUDAT proposal for EINFRA-12-2017(A) Call?"
# Call: [EINFRA-12-2017](https://ec.europa.eu/research/participants/portal/desktop/en/opportunities/h2020/topics/einfra-12-2017.html)
- Topic identifier:     EINFRA-12-2017
- Publication date:     14 October 2015
- Types of action:  RIA Research and Innovation action
- DeadlineModel:    single-stage
- Planned opening date:  08 December 2016
- Deadline:     29 March 2017 17:00:00

[Repository for O

[2016-10-26 08:32] bpilorget commented on #205
@OpenDreamKit/steering
You can express your interest here.

I am available to help you prepare to join the proposal if the choice is taken to join EGI/EUDAT as it is a task to disseminate and outreach ODK.
However I must warn you that I would not implement this new Grant as UPSud will of course not be the lead coordinator and as I would not have time at all to deal with this. But I guess such a bi

[2016-10-26 08:35] bpilorget commented on #202
Dima joined the meeting

[2016-10-26 08:35] #202 closed

[2016-10-26 08:50] bpilorget opened #206 "Open science in the European Research Area, Ministry of research, Slovenia, 17 November 2016"
# Conference FAQ
- What: Conference on Open Science in the European Research Area for Slovenian researchers
- Where: Slovenian Ministry of Education, science and Sport
- When: Thursday, 17 November 2016
- What for: 30 min presentation on the topic of virtual research environments
- Money: The University of Ljubljana will cover plane ticket + local transport + hotel accommodation

Weblink to the [c

[2016-10-26 08:52] bpilorget commented on #206
@OpenDreamKit/participants
Dear all, ODK is invited to do a presentation on virtual research envirionments within Open Science at the Slovenian Ministry of Research. @nthiery is unavailable and I am maybe not the best person to do this. Would someone be interested in this?

[2016-10-26 12:35] bpilorget commented on #193
Hello @kohlhase and @nthiery . I am back again in the game. What is the current situation of the amendment? Is it clear what we want to do with the Bremen site? That piece of information would clarify the Resources situation.
I have warned the UPSud administration. Once everything is clear we can start the process

[2016-10-27 10:54] kohlhase commented on #193
very  good to hear that, the amendment is done from my side, and I had asked Nicolas and you to proof-read from the admin side.

I would like to make progress on this, so that I can hire my people in Erlangen for the next year (otherwise I have to leave more months in Bremen), which would be less than ideal, since that misdirects my overhead.

[2016-10-28 14:56] bpilorget commented on #179
# List of realistic and meaningful indicators thought through

- Number of downloads of SageMath, Pari-Gp and other systems
- Number of install aptpacman
- Number of users of Sagemathcloud (via W. Stein) -> who is creating lessons, accounts for institutions etc
- Number of Cloud-GAP users (chen number will be available)
- Webstats of ODK website /sagemath.org/Tmpmb

- % of tickets/commits by ODK p

[2016-10-28 15:01] bpilorget commented on #179
@VivianePons @nthiery @defeo  I've summarised all the relevant KPI for us. Can you proofread them please?

[2016-10-28 16:12] bpilorget commented on #193
@nthiery @kohlhase
OK I began to look it around. I need to go through the updated PDF version of the proposal file to be able to read everything easily (to check id deliverables leads were correctly changed etc).
I saw you wrote the site description and also moved some resources to Nürnberg.

I have two remarks:
1) Resources tables seem wrong for FAU and Bremen. Adding all cost lines, it should be

[2016-10-28 16:28] JohnCremona commented on #179
On 28 October 2016 at 15:56, bpilorget <notifications@github.com> wrote:

The value of this number has nothing whatsoever to do with the success or
otherwise of the ODK project!  So please remove it.

I do not know what the latter means.  Since most LMFDB developers have
never heard of ODK, I think they would be suprised to learn that ODK was
claiming credit for increased traffic to the LMFDB webs

[2016-10-28 16:36] bpilorget commented on #179
@JohnCremona All these indicators are roughly thought. They need to be proofread and watched over a second time so nothing is final there.

[2016-10-28 16:53] defeo commented on #179
@bpilorget, I just edited your list to make it more precise.

@JohnCremona, this is a list of things related to ODK that we know how to measure (fairly) easily. We now have to choose which are good KPIs (we only need a handful).

Note that the individual numbers are usually bad KPIs, but composite numbers can make sense. For example, the number of requests/data queries on LMFDB (or any other proje

[2016-10-28 16:57] defeo commented on #179
@bpilorget # Twitter followers / other social media?

[2016-10-28 17:44] nthiery commented on #179
On Fri, Oct 28, 2016 at 09:28:13AM -0700, John Cremona wrote:

The formulation was probably ambiguous: the indicator is of course not
the number of installations of the Windows operating system, but of
Sage's Windows port by Erik&co. Which is very relevant to ODK.

Cheers,
		Nicolas

[2016-10-30 17:14] tkw1536 opened #207 "Integration Use-Case for DKS theories"
To make some progress with Triform / DKS theories inside MMT we should get an integration use-case going. This has been planned for some time and we should get an issue on this going to make sure we know where we are.

So, far the use case looks is as follows:

A GAP user wants to find all elliptic curves for which the conductor is divisible by 5. The user formulates this query inside GAP, which t

[2016-11-01 22:34] fangohr commented on #28
Hi all, for the micro magnetic prototype it seems to make little sense to try to bring that together with the SAGE etc community as the researchers involved are from quite different domains and have no obvious reason to get together. For information: we are running a workshop with users of the micromagnetic prototype this week in New Orleans, and will feedback later. This is embedded with one of t

[2016-11-02 08:24] bpilorget commented on #28
Oh you are at the MMM in New Orleans? Try to look out for the MAGicSky crew :)

[2016-11-02 10:50] fangohr commented on #28
Yes, I am in New Orleans at the MMM. I haven't seen Vincent yet but Andre Thiaville has bought be a coffee yesterday - so it is all going well. Regarding Stefan Blügel: I'll try follow that up. Why do you think he might be interested?

[2016-11-02 11:12] slel commented on #28
@fangohr, Benoît works 50% for OpenDreamKit and 50% for MAGicSky.

[2016-11-02 13:09] bpilorget commented on #28
Vincent stayed at the lab for the week, he is too busy this week.
Forschungszentrum Juelich (FZJ) developed a programme for numerical simulations. It is available here: https://spirit-code.github.io/
And I know that generally speaking FZJ is very interested in new opensource programmes enabling them to do their experiments and calculations. So talking to someone from their institution could maybe

[2016-11-02 16:20] defeo commented on #43
@bpilorget, I confirm that this deliverable is ready and complete, and needs no appendices.

[2016-11-02 16:23] defeo commented on #58
@bpilorget, I confirm that this deliverable is complete and needs no appendices. Do you want me to update the pdf with the new "disclaimer" on links being informative and so and so?

[2016-11-03 08:44] bpilorget commented on #58
Yes that would be good, thanks.

[2016-11-03 21:27] defeo commented on #58
Done

[2016-11-04 08:59] bpilorget commented on #206
Anybody? @OpenDreamKit/participants

[2016-11-04 19:57] fangohr commented on #206
Marijan and I can work something out, and Marijan can go and present. This will be focussed around Jupyter, workflows and reproducible science. I'll contact Min and Benoit for support offline in a moment.

[2016-11-07 10:49] #206 closed

[2016-11-10 14:29] fcayre commented on #86
Hi there, @martinRenou has been working on this at Logilab, results can be seen [here](https://www.logilab.org/blogentry/8541176) with a live demo [here](https://demo.logilab.fr/SciviJS). Martin is currently working on a Jupyter widget.

Any feedback very welcome. Thanks to @mb1a15 and @fangohr for the data and requirements.

[2016-11-10 14:39] defeo commented on #86
My 2 cents: Sage devs have been working for a looong time on three.js integration, and this seems to be almost ready now: https://trac.sagemath.org/ticket/12402

[2016-11-10 14:53] alex-konovalov opened #208 "ODK-CoDiMa dissemination workshop (ICMS, Jan 2017)"
We are preparing a joint [OpenDreamKit-CoDiMa dissemination workshop]( http://opendreamkit.org/meetings/2017-01-16-ICMS/) in Edinburgh on 16-20 January 2017 (CoDiMa is a EPSRC-funded community-building collaborative computational project: http://www.codima.ac.uk/).

Venue: International Centre for Mathematical Sciences - http://www.icms.org.uk/. Facilities include lecture theatre (98 seats) and al

[2016-11-10 15:23] fcayre commented on #86
@defeo good to know, thanks.

Current ticket is so general that a lot of very different use cases fit in.

Southampton's requirements are pretty clear and similar to ours: 3D visualization of mesh-based computational data, that's why we are focusing on this use case, and there is a lot of work to be done for browser application to get close to what mayavi and paraview have been doing for years.

[2016-11-10 16:05] alex-konovalov commented on #208
There maybe several tracks at this workshop: research and development, applications, training, teaching, ...
- **research and development**: participants coming together to work jointly on some functionality or research problem, benefiting from the opportunity of having many experts around for technical support
- **applications**: participants coming to tell about their research problems and inter

[2016-11-10 17:14] takluyver commented on #208
I didn't realise before that this was due to be Jupyter related. From the Jupyter side, Min is busy that week, but I could be there. @SylvainCorlay (a "recovering mathematician" who's also on the Jupyter project) might also be able to make part of the meeting. Let us know how many Jupyter people you'd like and what areas of the project it would be most useful to have expertise in.

[2016-11-10 17:52] sangwinc commented on #208
Please keep me posted.  I'd very much like to attend, and/or contribute.  I can also help advertise the event.

Chris

[2016-11-10 22:53] alex-konovalov commented on #208
@sangwinc thank you - this is great! I think that attendees looking for tools to assist teaching may be interested to learn about STACK. We will appreciate if you could give a talk on it (and maybe on a more general picture of e-Assessment), and if you'd like to suggest something for the coding/documentation sprint, then please do this as well!

[2016-11-10 23:08] alex-konovalov commented on #208
@takluyver thank you - if you could come and if @SylvainCorlay could do this too, this will be very nice. We would like to cover both research and teaching, and not only discrete computational mathematics, but wider scope. For Jupyter, it may be interesting to cover complete workflow of using it in teaching - making course materials, grading, etc., this may include:
- how to work with different ke

[2016-11-14 12:28] alex-konovalov commented on #208
FYI the "official" webpage for this workshop has been just created: http://opendreamkit.org/meetings/2017-01-16-ICMS/. More details and the link to the registration site will appear there shortly. Please now refer to that URL if you will mention the workshop to prospective participants.

[2016-11-14 14:03] SylvainCorlay commented on #208
Hi all, I should be available for the Edinburg workshop. I have material for all of the above, except for nbgrader which I have not worked on specifically, but I have experience with server and notebook extensions at large, and could use nbgrader as an example.

Do you expect a tutorial format or more of a talk on all of these?

[2016-11-14 14:30] alex-konovalov commented on #208
@SylvainCorlay wonderful! I think more of a tutorial-style session, to give practical experience. Let's see about nbgrader...

[2016-11-14 14:39] martinal commented on #98
@takluyver I think it makes sense to build on nbval rather than creating a new tool, what is missing from nbval to cover this deliverable? I'll look more into it some time soon.

[2016-11-14 15:54] rgaiacs commented on #208
Hi all,

I'm available to attend. :-) And my interest is on

Depending on how things going on during Christmas I'm planning to work again on my patch to Software Carpentry lesson template, http://lists.software-carpentry.org/pipermail/maintainers/2016-September/000328.html, and I would love to have some tests cases involving heavy math.

[2016-11-14 22:36] mikecroucher commented on #208
I've trained a few of lecturers in the use of SageMathCloud for teaching.  Things that I'd like to do during this workshop if there is sufficient interest:

* Improve the documentation **An introduction to SageMathCloud' for lecturers** (and teach a session based on it if you like?)

* Come up a **Jupyter Interactions** repo. What I mean here is notebooks that are primarily centred around an ipywi

[2016-11-15 11:01] drvinceknight commented on #208
I would have very much loved to attend this but sadly will be in Namibia at the time. Perhaps next time. If I can offer any information/comments please let me know.

[2016-11-16 13:57] alex-konovalov commented on #208
More details and a link to the registration page are now available at http://opendreamkit.org/meetings/2017-01-16-ICMS/. Before we will publicise it wider, please have a look and let me know if you have any suggestions/corrections/improvements, or edit/submit PR to https://github.com/OpenDreamKit/OpenDreamKit.github.io/tree/master/meetings/2017-01-16-ICMS. If you are already ready, please proceed

[2016-11-16 14:40] nthiery commented on #208
On Mon, Nov 14, 2016 at 02:36:33PM -0800, Mike Croucher wrote:

+1

At some point, there has been an effort to build such a repo of Sage
interacts (using the interacts from the legacy Sage notebook):

        https://wiki.sagemath.org/interact

This could indeed be a good occasion to

- revive that project,

- check how they work with the new Jupyter notebook; by then, Jeroen's
  portability work

[2016-11-16 20:57] jdemeyer commented on #208
On 2016-11-16 15:40, Nicolas M. Thiéry wrote:

I used that wiki as inspiration for my work on interacts. So most of
those examples should work with the new Jupyter interacts.

[2016-11-17 07:30] nthiery commented on #208
On Wed, Nov 16, 2016 at 12:57:20PM -0800, jdemeyer wrote:

Great; I should have guessed that :-)

[2016-11-18 15:38] bpilorget commented on #19
@dimpase Dima??

[2016-11-18 16:40] bpilorget opened #209 "Resubmit deliverables according to reviewers' recommendations"
## Deliverables submitted in June or before to resubmit:

- [x] D1.1: Basic Project Infrastructure #17
- [x] D2.1: Starting press release #34
- [x] D3.1: Virtual images and containers #58
- [x] D4.1:  Python/Cython bindings for PARI and its integration in Sage #83
- [x] D4.2: Active/Structured Documents Requirements and existing Solutions #91
- [x] D5.1: Turn the Python prototypes for tree explora

[2016-11-18 17:12] markuspf commented on #19
Sorry, I was clicking in the wrong place.

[2016-11-21 16:11] bpilorget commented on #44
@mikecroucher (lead beneficiary) and @VivianePons (WP leader)
This deliverable is due for February 2017

[2016-11-21 16:12] bpilorget commented on #20
@nthiery We need to take care of this for February 2017

[2016-11-21 16:18] bpilorget commented on #97
@minrk (WP leader), and I see @kohlhase was assigned?
This deliverable is due for February 2017

[2016-11-21 16:19] bpilorget commented on #98
@minrk (WP leader) and @kohlhase (Lead Beneficiary)
This deliverable is due for February 2017

[2016-11-21 16:20] bpilorget commented on #115
@ClementPernet (WP leader and lead beneficiary)
This deliverable is due for February 2017

[2016-11-21 16:23] bpilorget commented on #118
@ClementPernet (WP leader) and @wbhart (Kaiserslautern=lead beneficiary)
This deliverable is due for February 2017

[2016-11-21 16:24] bpilorget commented on #119
@ClementPernet (WP leader) and @wbhart (Lead beneficiary)
This deliverable is due for February 2017

[2016-11-21 16:25] bpilorget commented on #120
@ClementPernet (WP leader) and @wbhart (Lead beneficiary)
This deliverable is due for February 2017

[2016-11-21 16:25] bpilorget commented on #148
@dimpase (WP leader and lead beneficiary)
This deliverable is due for February 2017

[2016-11-21 16:31] bpilorget commented on #61
@defeo (WP leader) and @VivianePons (lead beneficiary)
This deliverable is due for February 2017

[2016-11-21 16:33] bpilorget commented on #92
@minrk (WP leader) and @kohlhase (lead beneficiary)
This deliverable is due for February 2017

[2016-11-21 16:34] bpilorget commented on #117
@ClementPernet and @serge-sans-paille
This deliverable is due for February 2017(No postponement allowed!!)

[2016-11-21 16:36] wbhart commented on #119
The Block Wiederman is in good shape. The triple large prime variant, not
so much. I'm working on it myself, but am only able to work about 6 days a
month on it. Anders Jensen was the person we had hired to work on this, and
he left us for a permanent position.

At this stage I am certain I can get the single large prime variant working
in time. I *think* I can get the double large prime variant w

[2016-11-21 16:41] wbhart commented on #118
We had about two month of delays due to issues I reported previously. The
superoptimiser is done and will be delivered. We are pretty sure we will be
able to deliver an optimised version of MPIR for modern processors in time,
though it has certainly been a tough project and we aren't completely out
of the woods yet!

On 21 November 2016 at 17:23, bpilorget <notifications@github.com> wrote:

[2016-11-21 16:44] wbhart commented on #120
This is not a massive project and should be no problem to deliver on time.
Thanks for reminding me it is one of the deliverables for February!

On 21 November 2016 at 17:25, bpilorget <notifications@github.com> wrote:

[2016-11-21 16:47] bpilorget commented on #119
Thank you for all the information. The problem is that Month 18, February 2017, is a very strict deadline for the Commission. I let @ClementPernet and @nthiery react if they have any suggestion to help you with this.

[2016-11-21 17:15] serge-sans-paille commented on #117
Not an issue for me, I am to deliver this on december :-)

[2016-11-21 20:25] wbhart commented on #119
My post was simply meant to be an up-to-date progress report. We are of
course fully aware of all the issues locally and can work through potential
solutions here.

If I were to request any changes at this stage it would simply be to change
the wording of the deliverable from triple to double large prime variant.
Even with this change, we would still be delivering a parallelised,
internationally c

[2016-11-22 17:09] videlec commented on #208
And we just discover https://www.geogebra.org/materials/ at Sage days 79

[2016-11-22 17:20] mikecroucher commented on #44
The SageMathCloud (SMC) tutorial is largely done and has been used here at Sheffield to teach lecturers in several departments including Physics, Biomedical sciences and Computer Science.  It's also linked to from SMC itself as part of its documentation.  There is a plan to hack on this further in January https://github.com/OpenDreamKit/OpenDreamKit/issues/208#issuecomment-260486047 and I'll spend

[2016-11-23 10:26] slel commented on #208
Let me also mention SageMath resources in Polish [0] and in Spanish [1].
It might be worth checking the licenses and possibly translating some of
that material into more languages.

[0] https://wiki.sagemath.org/po-polsku
[1] https://riemann.unizar.es/sage-wiki

Many courses taught using SageMathCloud are listed at [2] with in most
cases a link to a course page which often has course materials. We

[2016-11-23 11:41] nthiery commented on #93
Just a crossref since we discussed the topic earlier:  dynamic loading with libgap currently does not work at this stage because we compile libgap in Sage with all c functions prefixed to avoid potential name conflicts. There is a preliminary branch by Volker to remove this prefixing and thus reenable dynamic loading in libgap: https://trac.sagemath.org/ticket/19915

[2016-11-23 13:54] wbhart commented on #119
Ping!

Just wondering if anyone has any comments about our suggestion to change
the deliverable from a triple large prime variant sieve to double large
prime variant.

I'd prefer to deliver something proven and solid than to take a risk on
something unproved (which could only feasibly improve things in the 110-135
digit range, on very large clusters anyway).

But it depends on what other ODK parti

[2016-11-24 09:14] nthiery commented on #119
No strong opinion myself;so by default I will just trust your judgement. We can use the upcoming amendment to adjust the deliverable.

Opinion anyone? Especially potential users of such features?

[2016-11-24 09:27] JohnCremona commented on #119
On 24 November 2016 at 09:14, Nicolas M. Thiéry <notifications@github.com>
wrote:

I think Bill's suggestion is eminently reasonable.  From the outside, the
difference between "double prime" and "triple prime" looks like a small
incremental change, but of course implementing these is a lot of work and
extremely hard to estimate in advance how long it would take.

[2016-11-24 19:45] minrk commented on #94
@nthiery I don't see a report on the status of this deliverable. Do you have one?

[2016-11-24 20:05] jasongrout commented on #94
Relevant recent discussion: https://groups.google.com/forum/?fromgroups#!topic/sage-devel/t11JSxxCgpw (see the end where it talks about Jupyter/SageNB convergence), and https://trac.sagemath.org/ticket/21267

[2016-11-24 21:54] nthiery commented on #94
On Thu, Nov 24, 2016 at 11:45:59AM -0800, Min RK wrote:

Not yet. That's indeed becoming urgent. I'll try to work on it next
week, but help is welcome.

Cheers,

[2016-11-24 21:56] KBelabas commented on #119
* Nicolas M. Thiéry [2016-11-24 10:14]:

Triple large prime variation will not matter unless users run a major
factoring effort (few months of sieving first). IMHO it's a good
research goal, but certainly not a critical feature for users.

I'd release PPMPQS as a finished product on schedule. And (then or
later) PPP as a prototype, for alpha-testing and feedback.

Cheers,

    K.B.

P.S. I'm inter

[2016-11-24 22:25] wbhart commented on #119
Thanks for the support everyone!

We had a brief discussion locally about this, and I've actually come up
with an even better strategy and suggested it to Wolfram. It's closer to
what Karim recommends, but is slightly more involved. Therefore I'll wait
until Wolfram has had time to follow the whole thing up.

Of course I'll update the ticket once we've decided exactly which changes
we want to requ

[2016-11-25 10:34] ClementPernet commented on #119
I agree with the previous comments: having a strong double large prime to deliver is good enough, and potientially an alpha version later on of the triple version even better. Keep up informed about your new strategy.

[2016-11-28 22:26] fangohr commented on #98
@martinal We have gathered a wish list of features for nbval at https://github.com/computationalmodelling/nbval/issues

[2016-12-03 07:26] nthiery commented on #27
Potentially interesting technology to review, e.g. as blogposts, as a followup to #43:
- [ ] http://mybinder.org/ (more in depth)
    References:
    - https://blog.ouseful.info/2015/10/31/running-github-hosted-jupyter-previously-ipython-notebooks-as-online-applications/
- [ ] https://datproject.org/: Data sharing for research and beyond

@defeo: I don't remember, do we already have a list somewhe

[2016-12-03 10:32] defeo commented on #27
I don't think we have such list. This is a good place to take notes.

[2016-12-03 12:41] marcinofulus commented on #86
@fcayre  Do you think that K3D-jupyter and SciviJS could possibly benefit from each other?

[2016-12-04 14:17] haraldschilly commented on #208
the fourth teaching part sounds interesting, I've a long-standing project in the background about converting lecture notes about elliptic curve cryptography into sagemath/ipynb worksheets.

[2016-12-04 22:53] nthiery commented on #208
I have been playing with [binder](mybinder.org) last week. It's a really neat and simple to use service that turns the notebooks from a github repository into live documents. Great for distributing notebooks+underlying software without requiring the reader to install anything.
It would be worth showcasing this service during the workshop (demo, or maybe even tutorial).

[2016-12-04 23:26] fangohr commented on #208
Hi Nicolas, yes, Binder is great.

We have used it, for example, in this repository:
https://github.com/maxalbert/paper-supplement-nanoparticle-sensing which shows how to create figures in a publication (http://stacks.iop.org/0957-4484/27/i=45/a=455502).
However, there was a time (some months ago) when Binder was unavailable due to too much demand. I find this understandable (it's basically provid

[2016-12-05 10:33] fcayre commented on #86
@marcinofulus the fact that both K3D and scivijs are based on Threejs makes it at least possible to mix their objects in the same Threejs scene, which could be pretty interesting. I can think of a few use cases, but yours are very welcome.

[2016-12-05 10:55] nthiery commented on #208
On Sun, Dec 04, 2016 at 03:26:46PM -0800, Hans Fangohr wrote:

Good to know. This says that we really should pair up with EGI to
deploy more mybinder instances on their infrastructure.

References:
- https://github.com/OpenDreamKit/OpenDreamKit/issues/205
- https://github.com/OpenDreamKit/OpenDreamKit/issues/202
- http://opendreamkit.org/activities/2016-09-27-egi-workshop-krakow/
- https://github.

[2016-12-05 12:11] takluyver commented on #208
I've talked with a few people (I forget who) about something similar to Binder but allowing the user to bring their own cloud computing. So you could provide the repository to reproduce some work, and I could come along, click a button and be prompted to log in to Amazon/Rackspace/Azure/etc. to run it in my account.

That obviously avoids the problem with running out of resources, but you would ha

[2016-12-05 12:20] nchauvat commented on #208
FWIW a service to fork and run notebooks in the cloud could be built on top of Simulagora.com without too much work, since most of the functionnality is already there and only some varnish would be needed. Please note Simulagora itself is run by Logilab, but is not a free service.

[2016-12-05 22:31] alex-konovalov commented on #208
Thanks to all in this thread who has registered - and please be encouraged to register at http://opendreamkit.org/meetings/2017-01-16-ICMS/ if you haven't yet done that.

I've posted a link to this issue at the workshop page suggesting to discuss the programme here, but as far as I can see that discussion diverted, so it will be hard to follow it for those who are just interested to see which acti

[2016-12-06 11:19] wbhart commented on #120
I have removed the non-existent "Knight's Bridge" from the description of this deliverable. We now have more of an idea of what is required here, and we think SIMD support such as SSE and AVX is what is required.

[2016-12-06 11:51] wbhart commented on #119
Wolfram Decker and I finally had a chance to catch up with Nicolas and we discussed the way we want to handle this deliverable.

Firstly, the deliverables D5.6, D5.7 and D5.13 have a common theme of factorisation. The polynomial arithmetic we are working towards has as an ultimate aim (beyond ODK) of doing fast multivariate factoring. The quadratic sieve is also necessary for factoring integers, w

[2016-12-07 10:56] nthiery commented on #208
For the record: I have collected the links about existing collections of notebooks and other resources and put them on #33. Please expand it there if you stumble on other cool references.

[2016-12-07 16:43] bpilorget commented on #205
An "`[e-infrastructure proposer's day](https://ec.europa.eu/digital-single-market/en/news/einfrastructure-proposers-day-2017)`" for this call well be organised in Amsterdam on the 19/01/2017
It is the same day than the project meeting in Edinburgh. But maybe we can contact the EGI meeting beforehand.

@OpenDreamKit/steering

[2016-12-08 13:45] martinRenou commented on #86
We improved our SciviJS demo: https://demo.logilab.fr/SciviJS/
You can see that it's really interactive. We will (very) soon be able to include this GUI on Jupyter as an ipywidget with a simple python function call in our coming-up ipyscivijs extension. And also support vtk as a data input format.

[2016-12-08 14:04] gouarin commented on #86
It's a really impressive work. Do you plan to open the code soon ? I would like to know what you have done and probably give my help if it's possible.
For example, I can work on the HDF5 support if it is not already done.

[2016-12-08 14:14] martinRenou commented on #86
Probably this month, that would be great !

[2016-12-12 11:51] christianp commented on #208
@takluyver are you talking about this kind of thing? https://github.com/betatim/carina-jupyterhub

[2016-12-12 14:04] takluyver commented on #208
Yep. Hopefully one day it will be a bit easier than downloading and re-uploading files, though. :-)

[2016-12-13 15:25] bpilorget commented on #205
Use case available to work on the call: https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP3/2016-09-27-DesignYourInfrastructureWorkshop-UseCase.md

[2016-12-16 05:23] kohlhase commented on #98
I think that the the assignment of me to this deliverable is in error. I
do not seem to be affiliated with this in any way, in particular not as
lead beneficiary, deliverable lead is SR.

On 21/11/2016 17:19, bpilorget wrote:

--
----------------------------------------------------------------------
Prof. Dr. Michael Kohlhase,  http://kwarc.info/kohlhase, skype: mibein42

Professur für Wissensrepr

[2016-12-16 09:11] minrk commented on #98
@kohlhase it certainly is. Unassigned, and assigned myself.

[2016-12-16 10:54] bpilorget commented on #98
@kohlhase is the lead for "Facilities for running notebooks as verification tests" which was here D4.9 whereas it is D4.8 in the grant. Hence the confusion. I corrected it.

[2016-12-16 14:56] minrk commented on #208
I've been asking around for people with nbgrader experience to come, but haven't found one who is available, yet. I'm pretty sure one of the JupyterHub devs can come to talk about deploying JupyterHub itself.

[2016-12-16 15:06] minrk commented on #95
This is delivered.

[2016-12-16 15:06] #95 closed

[2016-12-16 15:08] alex-konovalov commented on #208
@minrk thanks! and what about #95?

[2016-12-16 15:22] minrk commented on #208
@vidartf will be there, so he should be able to present on nbdime if desired.

[2016-12-16 15:25] alex-konovalov commented on #208
@minrk wonderful! @vidartf, demo/tutorial on nbdime would be great to have. Please register as soon as you can at http://opendreamkit.org/meetings/2017-01-16-ICMS/ and add your item to http://opendreamkit.org/meetings/2017-01-16-ICMS/programme/.

[2016-12-19 18:58] minrk commented on #92
@kohlhase what needs to be done to finish this deliverable for February?

[2016-12-19 18:58] minrk commented on #97
@kohlhase what needs to be done to finish this deliverable for February?

[2016-12-19 19:08] yuvipanda commented on #208
I'm one of the people @minrk mentioned, and I will be very happy to come! I maintain a very public JupyterHub instance for Wikimedia (paws.wmflabs.org) and help a lot with UC Berkeley's installation as well. I've also worked on various deployment methods for JupyterHub, and am a devops person by trade.

I could do a 'various ways to deploy JupyterHub for your use cases', do both tutorials as well

[2016-12-19 22:35] alex-konovalov commented on #208
@yuvipanda brilliant - this sounds very useful indeed! When you will be ready, please register as soon as you can at http://opendreamkit.org/meetings/2017-01-16-ICMS/ and add your item to http://opendreamkit.org/meetings/2017-01-16-ICMS/programme/. Thanks @minrk for the suggestion!

Regarding `nbgrader`, maybe we can do the following: organise a coding sprint to try to get it working, following it

[2016-12-28 15:16] serge-sans-paille commented on #117
Deliverable sent to logilab, merged into the trunk of pythran and advertise in a blogpost http://serge-sans-paille.github.io/pythran-stories/from-pythran-import-typing.html

[2017-01-04 15:27] nthiery commented on #83
Hi Luca, Jeroen!
I am finally in the process of uploading the reports. Is the report for this deliverable final?
Do we want to check the last item on the  above TODO list or comment further on it?

[2017-01-04 15:28] nthiery commented on #58
Resubmitted on the EU portal (finally).

[2017-01-04 15:35] defeo commented on #83
Uh, there's still a couple of tickets open from before Xmas. I don't expect the report to change, but we both would feel more comfortable if those tickets were closed, before saying this deliv is complete. It's not much work, however I do not have time for this before 1 or 2 weeks.

[2017-01-04 15:45] nthiery commented on #91
Hi @kohlhase,
I am finally in the process of resubmitting the deliverables. I have fixed two typos in the report. There is one undefined reference (fig:web, in ActiveDocumentsOverview.tex). Could you double check on this, and use the occasion to double check the external links as mentionned above?
Thanks!

[2017-01-04 15:55] nthiery commented on #133
The reviewers had pointed to this specific report as a good example. I checked it briefly, recompiled it w.r.t. the latest style file, and resubmitted.

[2017-01-04 16:36] nthiery commented on #95
Report submitted to the EU portal.

[2017-01-04 16:57] nthiery commented on #42
Report submitted on the EU portal.

[2017-01-04 16:57] #42 closed

[2017-01-04 17:08] nthiery commented on #43
Report submitted on the EU portal.

[2017-01-04 17:08] #43 closed

[2017-01-04 17:11] nthiery commented on #83
Ok, this sounds fair enough. Thanks for the update!

[2017-01-04 17:19] nthiery commented on #137
Submitted to the EU portal. Thanks!

[2017-01-04 17:19] #137 closed

[2017-01-05 09:57] nthiery commented on #117
Great, there just remain to write the report. Who is handling this? @serge-sans-paille ? @fcayre ?

[2017-01-05 10:59] nthiery commented on #136
Report finally submitted to the EU portal. I fixed the SageMath figures (there was a bug last june which caused duplicate categories to be exported). I also fixed undefined WP links.

[2017-01-05 10:59] nthiery commented on #136
@kohlhase: I made a small edit to eudeliverablereport.cls to reimplement WPref and add longWPref to link to the relevant githup page (rather than attempting an internal link in the PDF as in the proposal file).

Btw: the current implementations of taskref, longref, WPref in eudeliverablereport.cls are ODK specific; maybe we should move them to our own deliverablereport.cls, or find a way to abstra

[2017-01-05 11:20] kohlhase commented on #136
I think we (I actually) should make the git issues generation a regular feature of the proposal class. Then we can have a macro ```\prop@gitissues``` (or so; maybe make this a key in the ```\begin{proposal}```) and use your definition if that exists. Otherwise we could just reference the proposal generating something like ```WP 6.2 in \cite{proposal}```.  What do you think? Then we could commit th

[2017-01-05 11:21] kohlhase commented on #136
@bpilorget do we need to resubmit to the EU here?

[2017-01-05 12:37] nthiery commented on #136
The version I submitted today to the EU portal uses the latest style file; so we are good.

[2017-01-05 12:37] #136 closed

[2017-01-05 12:44] nthiery commented on #136
Sounds good indeed!

I imagine that the typical reader will be more interested in accessing the actual WP description rather than tracking provenance information. So I'd say a direct link sounds better than a citation. Also web pages tend to be easier to navigate than a pdf file, which promotes linking to the page rather than the pdf.

Just 2 cents though ...

[2017-01-05 13:52] jdemeyer commented on #83
There are a few things to be done but I think that the hardest part has been done. At this point it's just a matter of priorities. The last months I worked more on building & packaging Sage (WP3) instead of this.

[2017-01-05 14:33] nthiery commented on #83
Hi Jeroen!

Good question about priorities. Building&packaging progress is indeed great long term investment; thanks for all your work in this direction!

The hard deadline of Month 18 (February 28th) is coming very soon though, and there are several deliverables PSud/Versailles/Gent are involved in that remain to be finalized (this one, SCSCP #62, Jupyter kernels #93, Sage/Jupyter convergence #94

[2017-01-05 15:28] nthiery commented on #62
Hi Alex!
There is not much time left for this deliverable. Do you mind starting to write the report, and making sure that anything that remains to be done is being actively worked on?

Thanks!

[2017-01-05 19:54] jdemeyer commented on #83
I'm only reading this now. You still mean today or should we do it another day? In any case, I guess we will meet in Edinburgh (I will come tuesday evening).

[2017-01-06 06:29] kohlhase commented on #62
Yes, that would be very good. @tkw1536 (Tom) could you indicate whether you have time to help in the near near future?

[2017-01-06 09:16] jdemeyer commented on #94
Relevant Sage ticket which needs review: https://trac.sagemath.org/ticket/22125

[2017-01-06 10:30] nthiery commented on #61
Dear SageMathCloud fans,

Let's face it: there has been exciting long term developments elsewhere (e.g. cygwin port, packaging, ...) and we (ODK partners) have not been devoting as much manpower as planned (10PM total) on the SageMathCloud deliverables (#61, #63, #64). After a head start at Sage Days things been lagging behind. #61 has already renegotiated to be delivered on Month 18 which is in l

[2017-01-06 11:02] nthiery commented on #208
Hi @alex-konovalov, @markuspf,

Happy new year! I am looking forward the workshop :-)

I just got an e-mail from Olivier Cayrol from Logilab. He is considering to join, but could only come for 2-3 days, plausibly thursday-friday, to discuss usage of Jupyter for writing training material. To take his decision, it would be helpful for him to have a preliminary planning of the main tutorials. Do you

[2017-01-06 11:28] nthiery commented on #83
On Thu, Jan 05, 2017 at 11:54:15AM -0800, jdemeyer wrote:

No worry, it was a last minute notice, just in case you'd be
around. Thanks for getting back to us.

We mostly discussed what to do with the SMC deliverable (see this
morning's comment on #55). Erik has volunteered to put some work
there. In case you'd be interested too (e.g. around an SMC deployement
in Gent?)  please comment there.

We a

[2017-01-06 11:31] nthiery commented on #93
Hi @sebasguts, @markuspf, @jdemeyer,

We will all be attending the Jupyter workshop in two weeks from now. Shall we use the occasion to have a quick sprint together and finalize this ticket? All that remains to do is the pip/sage packaging. Sitting side by side, this should be a breeze.

[2017-01-06 12:19] jdemeyer commented on #93
+1

Note that I will arrive Tuesday evening in Edinburgh.

[2017-01-06 12:20] jdemeyer commented on #83
I will be there too.

[2017-01-06 12:21] sebasguts commented on #93
Sounds good to me. I will be there the whole week, so plenty of time.

[2017-01-06 13:00] tkw1536 commented on #62
@kohlhase I will do my best to help, but as I am currently in the process of finding a new apartment I am not sure how much time I will have.
Concerning status inside MMT, we have a working client implementation, and the beginnings of a server version.
Is it correct that for this deliverable we only need support for the protocol itself? If we also need to determine how to tightly integrate MMT fun

[2017-01-06 13:21] dimpase commented on #93
I will be there only for Thursday and Friday, as I must attend to visitors in Oxford.

[2017-01-06 13:38] kcrisman commented on #63
@nthiery says this has "basically been implemented" by SMC devs - can someone point me to this?   That would be a huge thing, since then people wouldn't need to be online to edit a `.sagews` file.

[2017-01-06 13:59] JohnCremona commented on #63
See https://github.com/sagemathinc/smc/blob/master/src/dev/docker/README.md
which I use to run my own SMC (on a server at the university which I can
also access from elsewhere).

On 6 January 2017 at 13:38, kcrisman <notifications@github.com> wrote:

[2017-01-06 14:06] williamstein commented on #61
On Fri, Jan 6, 2017 at 5:33 AM, Nicolas M. Thiéry <notifications@github.com>
wrote:

Can you get somebody to deal with some of our Docker issues:

https://github.com/sagemathinc/smc/issues?q=is%3Aopen+is%3Aissue+label%3AA-docker

Most of these are very clearly defined, probably less than a day of work,
and it's annoying that they aren't done.  One is "support sagetex", which
is probably 2 lines of

[2017-01-06 15:41] alex-konovalov commented on #208
@nthiery trying to establish it now, taking to account various constraints. Preliminary Wed-Thu might be better than Thu-Fri (or Wed-Fri ideally), but let's wait.

[2017-01-06 15:43] nthiery commented on #61
Thanks a lot William for the feedback!

[2017-01-06 15:47] nthiery commented on #208
On Fri, Jan 06, 2017 at 07:41:30AM -0800, Alexander Konovalov wrote:

Great, thanks!

[2017-01-06 16:33] kcrisman commented on #63
Can this work well on a personal computer too, then?  (I assume so, though
I know nothing about Docker or how that interacts with filesystems - I
don't even know if it's virtualized.)

[2017-01-06 17:15] JohnCremona commented on #63
On 6 January 2017 at 16:33, kcrisman <notifications@github.com> wrote:

I don't see why not, but have not tried and no nothing at all about docker,
I just followed the instructions.

John

[2017-01-06 17:51] alex-konovalov commented on #208
To all involved in this thread - if you're coming and have not registered yet, please do this via the link to Eventbrite which is located at workshop's page http://opendreamkit.org/meetings/2017-01-16-ICMS/. It's helpful for me to know numbers for catering (so I'll appreciate knowing which days you're attending), and that I can send announcements to all participants via Eventbrite. Thanks!

[2017-01-06 18:29] alex-konovalov commented on #208
@takluyver I am working on the schedule - could you please let me know the title of your talk?

all: we have advanced Jupyter topics, but we also need an introductory talk oriented on those never using it before. Who could do this (Monday or Tuesday)?

[2017-01-06 18:46] takluyver commented on #208
Sorry, I've just got back after New Year. Since you fortuitously mentioned those two things together, why don't i do an introductory overview of Jupyter for those who haven't used it before?

[2017-01-06 18:52] SylvainCorlay commented on #208
Hi All, I am looking at my travel plans for the end of the month. It seems that I could be around in the end of the week. I could present on custom widget libraries and how to extend jupyterlab.

[2017-01-06 19:43] alex-konovalov commented on #208
@takluyver - very nice! you read my mind! :)

@SylvainCorlay - both topic are very nice too! @jdemeyer also will cover ipywidgets, so you may figure out together who does what. jupyterlab will be demonstrated by @yuvipanda earlier in the week, so it naturally leads to you telling how to extend it.

[2017-01-06 20:30] yuvipanda commented on #208
I'm only doing JupyterHub, not JupyterLab :D

On Fri, Jan 6, 2017 at 11:43 AM, Alexander Konovalov <
notifications@github.com> wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2017-01-06 23:41] alex-konovalov commented on #208
The tentative programme is now available here: http://opendreamkit.org/meetings/2017-01-16-ICMS/programme/. Please check it and let me know if you have any suggestions or spot any omissions. Pull requests or edits to https://github.com/OpenDreamKit/OpenDreamKit.github.io/blob/master/meetings/2017-01-16-ICMS/programme.md with fixed typos, added short abstracts for the coding sprints, as well as sug

[2017-01-07 07:55] nthiery commented on #208
Hi Alex,

Thanks for the planning! That was quick :-)

+1 to an introductory tutorial on ipywidgets and a later sprint on how
to implement custom widgets, as you planned.

If that's possible, I would suggest to do the introductory tutorial
earlier in the week: it's a beginners feature of Jupyter that many
people will be interested in, and this leaves time to "students" to
further explore by themse

[2017-01-07 08:46] jdemeyer commented on #208
Yes, I could focus on the "user" side of widgets, while @SylvainCorlay could do the "developer" side.

[2017-01-07 22:49] alex-konovalov commented on #208
It could it make sense to swap @yuvipanda and @jdemeyer (also to please @videlec who is there since Wednesday and is particularly interested in JupyterHub), but to my knowledge @jdemeyer is there only since Wednesday. Furthermore, @mcmartins is only there from Wednesday too, what holds me from moving his and @markuspf slot to Tuesday... Also, Wednesday is thought to be very much oriented on lectur

[2017-01-08 02:27] yuvipanda commented on #208
Feel free to schedule me whenever!

On Sat, Jan 7, 2017 at 2:49 PM, Alexander Konovalov <
notifications@github.com> wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2017-01-08 08:54] jdemeyer commented on #208
Indeed. I will arrive tuesday evening.

[2017-01-08 10:15] videlec commented on #208
More precisely, I will arrive tuesday late afternoon (15:35 at the airport).

[2017-01-08 17:33] SylvainCorlay commented on #208
@alex-konovalov thanks! I will be in Edinburgh from Wednesday afternoon so Thursday is fine!

[2017-01-09 08:54] embray commented on #61
Since I'm planning on helping with this task I can definitely help bang away at the docker issues.

ISTM that for personal installs Docker is the fastest, easiest way to get up and running.  But it would also be good to expand on the documentation for getting it working without Docker too, as well as expanding on the documentation of the overall system architecture, how Kubernetes is used, etc. (t

[2017-01-09 09:44] markuspf commented on #208
@alex-konovalov I'd rather @mcmartins and I just have one joint slot together.

[2017-01-09 12:45] kohlhase commented on #91
I have fixed the references (multiple and undefined).

I am a bit confused, I saw that the report did not have a githubissuedescription so I added that in the process I looked at D4.1 D5.1 and they only consist of the issue description (no content) is that intentional?

[2017-01-09 13:27] alex-konovalov commented on #208
Ok, let's have have both GAP-Jupyter and IPywidgets on Wednesday, Jupyter Hub on thursday, and just more time for two other tutorials on Tuesday morning.

[2017-01-09 13:29] SylvainCorlay commented on #208
My plane lands at 11:40 AM wednesday so it might be a bit short.

[2017-01-09 14:28] kohlhase commented on #128
@nthiery @bpilorget @florian-rabe @m-iancu @pdehaye
I have just added a [first draft (thanks to my student Enxhell Luzhnica who has done most of the work) of an OEIS report that reports on the work done for this task](tree/master/WP6/OEIS).
This is one of the main parts of deliverable 6.4 (see #138), but we can already report on this now. Therefore I would like to make an ODK report for the formal

[2017-01-09 14:36] nthiery commented on #91
On Mon, Jan 09, 2017 at 04:45:50AM -0800, Michael Kohlhase wrote:

Thanks!

I'll merge the abstract in the github issue description and submit on
the EU portal.

I am confused too: D4.1 has a good page of text in addition to the one
page of overview in the issue description:
https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP4/D4.1/report.tex

For D5.1, it was deemed sufficient to give an

[2017-01-09 14:39] nthiery commented on #128
On Mon, Jan 09, 2017 at 06:28:07AM -0800, Michael Kohlhase wrote:

Great :-)

Would you have time for a chat? I am on https://appear.in/odk

[2017-01-09 14:52] alex-konovalov commented on #208
@SylvainCorlay thanks - I meant that on Weds @jdemeyer will focus on the "user" side of widgets, and then you will do the "developer" side on Thursday.

[2017-01-09 15:49] kohlhase commented on #92
I will write up something; we already have done the work (mostly) and I can copy/paste a report.

[2017-01-09 16:04] kohlhase commented on #97
(begin internal note)
Originally, we wanted to base this on jupyther interaction, but I think that this is probably unrealistic. I guess what we should do is to use the SCSCP connection to GAP and embed that into the generated documents.
(end internal)
 @tkw1536

[2017-01-09 16:08] nthiery commented on #91
Resubmitted on the EU portal.

[2017-01-09 16:16] kohlhase commented on #128
@nthiery and I chatted and we agreeed that I would make an "interrim report for D6.4" out of this, which can then be extended to full D6.4 when we have the other parts.

[2017-01-09 16:19] nthiery commented on #19
Hi @minrk: could you throw in a few lines on Jupyterhub improvements by ODK in 2015-2016, and maybe expand a bit on the Jupyter paragraphs just above?
See around:
https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP1/D1.3/report.tex#L251

@dimpase: still looking forward a couple paragraphs for WP7:
https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP1/D1.3/report.tex#L338

I'd like t

[2017-01-09 16:19] kohlhase commented on #138
(see discussion #128). We have a [first draft of the OEIS part](tree/master/WP6/D6.4) here, we can show this off at the review meeting.

[2017-01-09 17:09] dimpase commented on #19
oh, I haven't understood I am delaying a deliverable here, sorry. Will be done in a day or two.

[2017-01-09 17:57] minrk commented on #19
Yes, I'll do that tonight or tomorrow.​

[2017-01-09 19:13] williamstein commented on #61
Very good -- thanks.  If you need access to any build infrastructure, let me know.    I have a very powerful dedicated machine at the university that can be used for docker build, and I can make an account for you.

Very much so -- it will definitely significantly change.    It may not remain entirely open source, since it's exactly the sort of thing that is not needed for personal or small instal

[2017-01-09 22:50] nthiery commented on #19
On Mon, Jan 09, 2017 at 09:57:23AM -0800, Min RK wrote:

Great. Let me know if you are touching this right now, as I am doing
some pieces just below and there may be overlap.

[2017-01-10 10:01] nthiery commented on #20
For the record: http://www.innovationmanagement.se/imtool-articles/a-process-for-innovation-planning/

[2017-01-10 10:53] bpilorget commented on #193
@martinal @minrk We should change the PI of Simula. this means adding a CV in the proposal and reallocatiing Hans-Peter's person-months. Is Martin taking the lead officially?

[2017-01-10 14:23] nthiery commented on #20
Executive summary of the above, if I understood correctly: the Innovation Management Plan is not so much about what kind of innovation will be undertaken in our project, but the steps we take to foster innovation, from creative thinking to selection of the good ideas and actual implementation of them.

In this case, innovation management is just what we do everyday as researchers :-) So it feels a

[2017-01-10 14:51] minrk commented on #19
@nthiery just added some Jupyter notes

[2017-01-10 21:20] nthiery commented on #19
On Tue, Jan 10, 2017 at 06:51:01AM -0800, Min RK wrote:

The notes are informative. Thanks!

[2017-01-11 01:17] dimpase commented on #19
Added stuff on WP7 - not sure whether it already is TeX-able without errors. Please have a look.

[2017-01-11 07:06] kohlhase commented on #138
We need a general introduction that recaps what we generally want to do (c/p from the proposal/MitM paper?) and then branch to the respective chapters. @pdehaye, could you do that?
I would really like to already show this at the review meeting.

[2017-01-11 10:23] nthiery commented on #19
On Tue, Jan 10, 2017 at 05:17:33PM -0800, Dima Pasechnik wrote:

Thanks Dima! It compiles smoothly; I just add the "publication.bib"
resource for the references.

I refactored a bit the text, attempting to further highlight the
scientific content of the work in addition to the more administrative
aspects (measure of the progress on deliverables). I left too
suggestions of small additions. Can you

[2017-01-11 11:49] dimpase commented on #19
@nthiery where are your updates/suggestions?

[2017-01-11 15:09] nthiery commented on #19
On Wed, Jan 11, 2017 at 03:49:09AM -0800, Dima Pasechnik wrote:

Sorry, I was in the train over the phone and did not see that my push
had failed. It's pushed now!

[2017-01-11 15:34] nthiery opened #211 "Workshop on live structured documents"
There are many use cases for "live structured documents" and many approaches and toolchains have been explored (Jupyter notebooks, MathHub.info, PreTeXt (former MathBookXML), TeXmacs, LMFDB, Sage's Single Cell server...). It would be a good time to bring together people from the above projects and users/authors with a variety of background to share experience and seek venues for collaborations.

A

[2017-01-11 16:07] minrk commented on #211
This sounds great! I think Simula could be a good host for this.

[2017-01-11 16:19] kohlhase commented on #211
indeed, alternatively (I would love to come to Norway), I could organize something in Erlangen.

[2017-01-11 17:31] nthiery commented on #211
Me too :-)

Thanks to both of you for offering! Shall we start by making a
preliminary list of potential participants, and see from there where
the barycenter is? It might end up being on the other side of the
Atlantic.

[2017-01-11 23:53] rbeezer commented on #211
This looks like a great idea, and I'd be happy to help with organization.  While I will shift the barycenter significantly to the west, visiting Norway would be enjoyable for me.

I have a sabbatical leave for the 2017-18 academic year, but have also begun planning other travel, so setting dates would help me with that.

Unfortunately, the UTMOST grant got chopped way down before getting funded, s

[2017-01-12 02:01] kcrisman commented on #211
It would make a lot of sense to invite some people who know about Shiny and/or other R/RStudio apps, with a view toward allowing more broad data science/visualization/statistics participation in the "live structured documents" ecosystem.  E.g. https://bookdown.org/yihui/bookdown/ even though it's based on md 😉 but has very nice examples of [embedding Shiny](https://bookdown.org/yihui/bookdown/web-

[2017-01-12 13:44] martinal commented on #193
@bpilorget yes. What do I need to do?

[2017-01-12 16:18] yuvipanda commented on #208
Heya! Unfortunately I won't be able to make it due to a family medical
emergency :( I'm going to cancel my flights and hotel now.

Massive apologies for not being able to make it this time! Hopefully at a
future event.

Good luck for the event, and I'll try to lurk!

On Mon, Jan 9, 2017 at 6:52 AM, Alexander Konovalov <
notifications@github.com> wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2017-01-12 16:29] tkw1536 commented on #62
@alex-konovalov Did you already start a report on this? Is there a plan on how to split it up between the different systems? @kohlhase has asked me to write the report from the KWARC side.

@defeo What is the status of the SCSCP implementation in Sage / Python?

[2017-01-12 16:49] takluyver commented on #208
Sorry to hear that, Yuvi :-( - I hope things work out OK

[2017-01-13 11:03] nthiery commented on #61
@haraldschilly, @mikecroucher, @pdehaye, @VivianePons, @defeo, @dimpase, @minrk

In case you'd be interested in participating to the tentative (online?) sprint on SMC in February, please fill in urgently the  [date poll](https://framadate.org/BIDCVrho8UD2OQKo). So far, only Erik and Jeroen signed in (thanks!).

[2017-01-13 13:46] defeo commented on #62
@tkw1536 `pip install scscp` :)
(or the equivalent command in Sage)

[2017-01-15 06:02] kohlhase commented on #62
Wow, that sounds good.
@tkw1536 I am looking forward to a report on how this works in an example.

[2017-01-16 13:21] bpilorget commented on #193
@martinal You should add your CV in the repository (OpenDreamKit\Proposal\CVs), replace Hans-Peter's CV with yours in the Proposal and also change the resources allocation (OpenDreamKit\Proposal\resources) to include the PM change in the small paragraph concerning Simula.

[2017-01-16 14:30] bpilorget commented on #193
@mikecroucher Please Mike, when you will have talked with Lucy Moffat from Sheffield, please do the following changes in the Proposal: in the OpenDreamKit\Proposal\resources docuemnt, modify the paragraph about Sheffield to add yourself as PI and do the PM change

[2017-01-16 23:38] fangohr commented on #19
Am just working through this. I notice that tasks (such as T3.8) are printed in bold face in the pdf but deliverables (such as D4.9) are in normal font. I would actually prefer if the tasks where also in normal font (i.e. not bold): they see to attract too much visual attention in the document.

If there are no objections, can somebody do this ? @kohlhase maybe?

[2017-01-17 21:40] fangohr commented on #211
I'd be interested in participating. I'd expect @takluyver might be as well?

[2017-01-18 15:51] kohlhase commented on #138
yes, that is the idea. But this is an optional thing. It would be nice if we could show something early. So do not feel bad.

[2017-01-18 21:21] #165 closed

[2017-01-18 21:22] pdehaye commented on #171
Closing because now is not the time to add something to our task list...

[2017-01-18 21:22] #171 closed

[2017-01-18 21:22] #162 closed

[2017-01-18 21:22] #123 closed

[2017-01-18 21:22] #124 closed

[2017-01-18 21:45] pdehaye commented on #193
@nthiery  @bpilorget @kohlhase Shouldn't the second-to-last point concerning Bremen and @florian-rabe be presented differently? (judging from Steering Committee slides I have peeked at ahead of time)

[2017-01-18 21:53] #170 closed

[2017-01-18 22:51] pdehaye commented on #201
Just discovered this thread, I wasn't flagged in the initial issue posting. I came to the same conclusion as @kohlhase independently, given the manpower we have (and you will have).  To address @nthiery's concern, some verification is (almost) already done as part of @kohlhase's student work on D6.4 (on OEIS), so this might be a much better point to start with a prototype for verification, directl

[2017-01-19 01:18] pdehaye commented on #138
@kohlhase I have read the interim D6.4 report now. Very nice work! I have decided to focus for tomorrow on a little explanation of how the different deliverables/goals/tasks fit together, poached from screenshots of the MITM paper. Will work on the introduction later, and aim to get that ready by the review moment. Getting this polished by then would buy WP6 significant goodwill from our officers

[2017-01-19 02:21] florian-rabe commented on #193
Regarding Paul's questions:
I will remain in Bremen in the immediate future (with at this point undecided long-term status).
The current plan is to retain Bremen as a site with me as the only person.

So, indeed, the wording of the second-to-last point is a bit misleading (presumably because it was written at a point when my future was even less predictable).

[2017-01-19 03:16] pdehaye commented on #193
Thanks @florian-rabe for the response. I have edited the line accordingly.

[2017-01-19 04:52] kohlhase commented on #138
@pau, that sounds great. I also think that the OEIS work will make a good impression.

[2017-01-19 05:30] kohlhase commented on #201
As we had discussed on an e-mail with the relevant players, I have changed the title of D68. to
*Curated Math-in-the-Middle Ontology covering exemplary parts
of LMFDB, OEIS, FINDSTAT, GAP, SAGE knowledge bases.*
in the proposed grant agreement (to be voted on today). So if accepted this issues should be taken care of.

[2017-01-19 05:32] kohlhase commented on #201
I think the wording of this title is sufficiently careful that we can actually achieve it. (OEIS is mostly done, we are working actively on GAP, Sage, and LMFDB, and FindStat seems smaller).

[2017-01-19 05:41] kohlhase commented on #19
I have done that, they were just a ```\textbf{...}``` away.

[2017-01-19 06:09] pdehaye commented on #138
I have prepared my slides for now (have to take a break due to school run).

Have a look [here](http://opendreamkit.org/meetings/2017-01-19-EdinburghSteeringCommittee/ProgressReports/Zurich/). It really consists of the UZH progress report, and then more slides. The goal is to reexplain WP6, with a cue for you about D6.4, and then to explain deliverables after that and end with a hint for you again

[2017-01-19 10:08] ClementPernet commented on #115
The aim of this project was to optimize the overall performance of Cython code
that uses Numpy arrays.

Indeed, when operations are done on Numpy arrays, Cython relies on the original
Numpy package to compute them. This involves a fall back to the Python
interpreter. It thus misses several optimisation opportunities, espacially with
complex expressions.

The Pythran project is a Python to C++ comp

[2017-01-19 11:30] JohnCremona commented on #201
+1

[2017-01-19 11:57] jdemeyer commented on #179
The titles of the KPI's seem very vague to me. I don't know the difference between "More effective collaborations between researchers" and "Higher efficiency and creativity in research" and "Accelerated innovation in research".

[2017-01-19 12:02] defeo commented on #179
https://github.com/OpenDreamKit/OpenDreamKit/blame/3ad46237fc71cb6ec2fde568ea1d0f7525e2a8dc/Proposal/impact.tex#L69-L75 😄

[2017-01-19 12:07] jdemeyer commented on #93
I just volunteered to lead this deliverable.

[2017-01-19 12:07] jdemeyer commented on #94
I just volunteered to lead this deliverable.

[2017-01-19 13:18] embray commented on #61
For what it's worth, I've spent the last couple days diving into understanding how SMC works, and am working on writing an introductory document to its architecture (as I understand it) and more importantly all the different technologies it depends on.  It's quite daunting, especially for anyone who hasn't worked with many modern web development technologies, or the Node.js ecosystem in particular

[2017-01-19 13:51] VivianePons commented on #61
That is great! Thank you a lot

Le 19 janv. 2017 13:18, "Erik Bray" <notifications@github.com> a écrit :

[2017-01-19 14:06] dimpase commented on #61
here is a good link on [modern web technologies](https://hackernoon.com/how-it-feels-to-learn-javascript-in-2016-d3a717dd577f#.s6m261i68).

[2017-01-19 14:11] nthiery commented on #61
Hi Erik,
Thanks for your work on this! I disscussed with @fcayre: he is interested in joining the effort and should be able to participate to a local sprint. He will bring plenty of expertise on web technologies.

[2017-01-19 14:41] williamstein commented on #61
On Thu, Jan 19, 2017 at 6:06 AM, Dima Pasechnik <notifications@github.com>
wrote:

If you're actually working hard to solve real problems involving a team of
developers, modern web technologies are a MASSIVE improvement over what was
available in 2007.   It's so much easier and better now than it used to be.
  I wrote a ton of code using both technologies, and I greatly appreciate
all the hard wor

[2017-01-19 15:23] embray commented on #61
@dimpase I feel much the same way--although many of the technologies used in SMC are not entirely new to me (I've played around with ReactJS before, for example) the last time I built a large web application myself, "ajax" was still a buzzword, and for many people even that has passed them by.  William is right too though--there's no way he could have almost single-handedly built SMC without all t

[2017-01-19 17:29] wbhart commented on #119
@KBelabas you said you were interested in timings in the < 90 digit range. Here is what I have so far. As you can see this Carrier-Wagstaff/Bradford-Monagan-Percival approach we have taken absolute rubbish below 170 bits. But it is working nicely from about 170 bits onwards.

In future, we might use the Pari strategy for smaller factorisations. I (re)read the Pari source code the other night to re

[2017-01-19 18:00] takluyver commented on #211
I would indeed.

[2017-01-20 00:28] KBelabas commented on #119
* wbhart [2017-01-19 18:29]:

[...]

Interesting, thanks! Can you send me the benchmark code used for Pari ?

Cheers,

    K.B.
--
Karim Belabas, IMB (UMR 5251)  Tel: (+33) (0)5 40 00 26 17
Universite de Bordeaux         Fax: (+33) (0)5 40 00 21 23
351, cours de la Liberation    http://www.math.u-bordeaux.fr/~kbelabas/
F-33405 Talence (France)       http://pari.math.u-bordeaux.fr/  [PARI/GP]
`

[2017-01-20 09:12] markuspf commented on #93
The GAP jupyter kernel is now available as a pip package: https://pypi.python.org/pypi/jupyter_gap_wrapper/0.8 (though I am still fiddling with the release process, in particular I'd like to synchronise the sources available from github and from pypi). Also note that I am more actively working on a standalone version using GAP itself (no python in between).

[2017-01-20 10:16] wbhart commented on #119
It was very primitive @KBelabas. I just did something like the following in
GP:

f(b,k)={for(i=1,k, s =
nextprime(random(2^(b/2)))*nextprime(random(2^(b/2))); factorint(s, 14))}
#
f(30,100000)

for 30 bits, and so on. Of course I divided by the number of iterations to
get the average time.

The number of iterations varied between the two systems, especially where
Flint was so much slower. But for

[2017-01-20 10:17] markuspf commented on #93
Right, I renamed the package to `jupyter-kernel-gap` to be in line with `jupyter-kernel-singular`: https://pypi.python.org/pypi/jupyter-kernel-gap and I polished it a little bit.

I will get @mcmartins to integrate the syntax highlighting we have into it too (today).

[2017-01-20 12:12] markuspf commented on #211
I would be interested, too.

[2017-01-22 14:38] dimpase commented on #59
I wish one could channel debian-science activity more towards improving Sage, instead of at times being the cart before the horse; e.g. they updated libGAP to GAP 4.8.6 on their own debianised fork, and we only now found out about this as they started to [ask about failing Sage doctests](https://groups.google.com/d/msg/sage-packaging/O2PAsuAELMA/l15ZfN4HBAAJ).

[2017-01-22 19:02] jgmbenoit commented on #59
Hello Forum,

On 22/01/17 18:38, Dima Pasechnik wrote:

Isn't this approach too Sage centric ?
Sage is an umbrella of a miryad of software packages:
do you really think that it is reasonable to freeze all them
because Sage ?

I updated libGAP to 4,8.6 because GAP was updated to 4.8.6 by following
the latest libGAP material, nothing else.

May I add that Singular was frozen to please Sage, version

[2017-01-22 19:06] dimpase commented on #59
@jgmbenoit: "Sage-centric?" Not at all. libGAP has a very well-defined upstream to which you chose not to contribute for a reason I fail to comprehend.

[2017-01-22 19:28] nthiery commented on #59
On Sun, Jan 22, 2017 at 11:06:27AM -0800, Dima Pasechnik wrote:

I did not follow the technical details, so I can't judge on that
specific issue. However the Debian-Sage team has done an extraordinary
job packaging everything in a super tight schedule to get Sage in the
next Debian release (I did not expect that to be feasible). This is
extremely valuable for the Sage community.

Achieving this ce

[2017-01-23 04:09] jgmbenoit commented on #59
Hello Forum,

On 22/01/17 23:06, Dima Pasechnik wrote:

please have a closer look to the Debian package [1], and you will see
that your comment is unfunded: The upstream approach is respected.

Second I pushed some git patches, without any feedback so far:
contribution involves the two parties in general.

Thanks,
Jerome

[1] http://sources.debian.net/src/libgap-sage/4.8.6%2B3%2B20160327g69a66f0%2

[2017-01-23 09:51] dimpase commented on #59
On 23 Jan 2017 4:09 a.m., "Jérôme Benoit" <notifications@github.com> wrote:

Hello Forum,

On 22/01/17 23:06, Dima Pasechnik wrote:

please have a closer look to the Debian package [1], and you will see
that your comment is unfunded: The upstream approach is respected.

No, I merely said that you have improved upsteam, and kept totally silent
about it.
If you did let us know back in Nov that you h

[2017-01-23 10:07] alex-konovalov commented on #59
Hello @jgmbenoit. Any reasons why you're keeping to say "Hello Forum" - just in case, this is not a GAP Forum, but an issue tracker of the [H2020 OpenDreamKit project](http://opendreamkit.org/).

[2017-01-23 10:26] marcinofulus commented on #86
Hi

@fangohr  - can you give me a couble of representative vtk files from MM simulation which you might want to be displayed in notebook?

mk

[2017-01-23 13:12] bpilorget commented on #208
Workshop ended: issue closed

[2017-01-23 13:14] alex-konovalov commented on #208
No, please don't close it @bpilorget: there are post-workshop actions:
- [ ] collect and link all talks from the workshop page
- [ ] write a blogpost
- [ ] publish Storify of tweets
etc.

[2017-01-23 19:02] jgmbenoit commented on #59
Hello All,

On 23/01/17 13:51, Dima Pasechnik wrote:

No. I meant the git repository of libgap at Bitbucket [3]

[2] is mainly meant for Debian contributors.

Basically the Debian package follows the instruction in <libGAP>/README file, section Hacking,
modulo some workaround to avoid copyright issues: target override_dh_auto_configure in debian/rules.
I guess that the upstream maintainer expects

[2017-01-23 19:39] dimpase commented on #59
On Mon, Jan 23, 2017 at 7:02 PM, Jérôme Benoit

Right, now I see. My apologies. The main author of libGAP did not react,
and my "watch" settings for this repo were not verbose enough, as I found
just a couple of days ago.

Perhaps you could have posted something on sage-devel or
sage-packaging, to alert about the situation.

[2017-01-24 13:20] wbhart commented on #119
The parallel version of the sieve is working. It maxes out at about 8 threads on my machine, with a roughly 6x speedup for sufficiently large factorisations.

[2017-01-24 15:20] embray opened #212 "Don't litter the document structure with symlinks"
Since 8d4a1b0d57c5bfa4849fdb4f00a0fdb1feeeb451, there are symlinks everywhere to the document class files and style files.

This creates a problem for building the reports on Windows where symlinks aren't really supported without a lot of fidding, and LaTex software for Windows doesn't understand them.

Instead let's just put these files in place, and provide some documentation (for those who don'

[2017-01-24 15:28] embray commented on #212
Looking at the cls files I realize this proposal currently doesn't work because it tries to include from `../../Proposal` in several places as well, so may this should be put together as a proper package...

[2017-01-24 16:31] nthiery commented on #212
On Tue, Jan 24, 2017 at 07:28:05AM -0800, Erik Bray wrote:

Thanks Erik for investigating this!.

Those ../.. are indeed ugly. IIRC we had worked around some them in
Proposal/ by specifying the tex path in the Makefile; but this
prevents running latex directly which is annoying, especially on
Windows.

One alternative would be to just put copies (instead of links) of the
style files in the directo

[2017-01-24 20:39] wbhart commented on #120
The multiple core version of the FFT is now implemented.

[2017-01-24 21:34] nthiery commented on #205
EGI/Eudat made an explicit call to join. Deadline for applying is this Friday. If you haven't received Benoît's email on the topic, let him know.

[2017-01-25 04:24] jgmbenoit commented on #205
Am I the involved Benoit ? If so, please give me a relevant link about it.

[2017-01-25 07:26] nthiery commented on #205
I meant @bpilorget :-) That being said, in case you would be interestested in the deployement of services like mybinder or JupyterHub on the EU cloud, you are of course welcome to join.

[2017-01-25 14:03] embray commented on #212
Yes, doing something in the Makefile would make sense.

[2017-01-25 15:08] takluyver commented on #205
I'm having a go at the proposal, at Hans' request, but I haven't done anything like this before, so I'm not sure if what I'm writing is suitable.

[2017-01-25 16:14] minrk commented on #205
Thanks, Thomas. Let me know if you'd like a hand with anything in particular.

[2017-01-25 16:52] takluyver commented on #205
Thanks. I've been focussing on the 'relevance' section; I've just pushed comments for a couple of points that I don't know what they mean. If they're clearer to you, that would be valuable.

Looking at the template, I think we also need some more detail on the services we're talking about and how we propose to integrate them with the infrastructure. I don't know if that means we're meant to know t

[2017-01-25 16:57] takluyver commented on #205
I'm also having trouble fitting the pieces we're proposing into the 'service' description the template uses - things like an access policy and a business model assume that it's something you already run as a massive centralised deployment, whereas we're proposing new deployments of existing software.

[2017-01-25 17:03] nthiery commented on #205
On Wed, Jan 25, 2017 at 08:52:28AM -0800, Thomas Kluyver wrote:

@mikecroucher: you have a good experience highlighting what's important for software for research (version control, reproducibility, ...); could you have a look?

I would say that this is fine; they plausibly run a variety of infrastructure anyway. In fact, we can argue that discussing the fine details of integration is precisely one

[2017-01-25 17:03] dimpase commented on #205
@takluyver - our "massive centralised deployment" can be SageMathCloud. Indeed, the call wants something that was already demonstrated to be feasible (and jupyterhub, naturally).

[2017-01-25 17:04] nthiery commented on #205
And also the current mybinder deployement which has proven the value of the model; being in fact too successful for the underlying resources!

[2017-01-25 17:07] nthiery commented on #205
For the lock-in: you can further advertise that the Jupyter architecture is highly modular. In particular that the users can switch computing backend while remaining in the same environment.

[2017-01-25 17:11] nthiery commented on #205
I guess unequal footing would be when people in rich institution/countries have access to plenty of resources (because the institution can pay for hardware, licences, ...) and not others.

[2017-01-25 17:15] nthiery commented on #205
Thanks @takluyver, this is taking a good start!

[2017-01-26 09:57] sebasguts commented on #93
So, even if everything is already checked in the boxes above, I will give a quick summary on the jupyter kernel for Singular:
* Kernel is available on PyPI as jupyter_kernel_singular
* Kernel is integrated into SageMathCloud
* Fully functional interface to Singular
* Either interacts directly with the Singular interpreter from Python via the PySingular Python module, available on PyPI, or
  with t

[2017-01-26 16:02] bpilorget commented on #205
Hi @takluyver  it is important to respect the template that was fiven for the call. The information we are providing must (perfectly) fit in their template , and not the other way around :)

[2017-01-26 16:05] bpilorget commented on #205
At this stage all information I have legally speaking is that OpenDreamKit is not an adequate legal person to legally create a Jupyter hub for the Proposal we are answering to.
However we can still use the ODK brand, propose a Work Package (or tasks) around Jupyter while clearly stating your legal institutions would have to get on board.

I'll push something in the Proposal myself to explain this.

[2017-01-26 16:40] bpilorget commented on #205
@takluyver
For the 4th challenge of EINFRA-12 to answer (Train people in academic and research): On the official call it is written: "adoption of standards-based common interfaces, open source components enabling access and processing of underlying data collected/stored in different platforms and formats. Empowering users to customise application and services tailoring them to specific requirement

[2017-01-26 16:50] bpilorget commented on #205
I'm going to make changes to the proposal now so that all you have to do is fill in the paragraphs

[2017-01-26 16:52] takluyver commented on #205
Thanks @bpilorget !

[2017-01-26 17:41] bpilorget commented on #205
Ok I'm done updating the document for now @takluyver

[2017-01-26 17:51] bpilorget commented on #205
@nthiery @takluyver @minrk @dimpase @mikecroucher @fangohr
After some admin research it seems that OpenDreamKit is not a right legal body in order to apply to become a partner of the furture EINFRA12 consortium project. Even through UPSUD.

So I am proposing in the Expression of interest that is being filled now we still use the "umbrella" OpenDreamKit while stating that the legal bodies per se wi

[2017-01-26 18:21] mikecroucher commented on #205
In addition to the three services mentioned above, would there be scope to use this call expand on the work Sheffield has done on integrating Jupyter with Sun Grid Engine schedulers? https://github.com/OpenDreamKit/OpenDreamKit/issues/116

I'm thinking more schedulers, integration with the new Tier-2 HPC infrastructure that the UK is developing (strategy - https://www.epsrc.ac.uk/files/research/ti

[2017-01-26 19:09] minrk commented on #205
@mikecroucher that seems appropriate to me. We just need to work out how much time we have to spend on each. Dask & Joblib would be effectively the same work - dask and IPython Parallel function as backends for joblib, so if you can get dask or IPython Parallel on the cluster, you can run joblib on top.

[2017-01-26 19:14] dimpase commented on #205
Please feel free to allocate Oxford  few pm's, or scratch it out all together; it looks very jupyter-centric to me, and I don't see how I can contribute meaningfully, unless it is backend and testing only.

[2017-01-26 19:17] dimpase commented on #205
something about alpha-testing for teaching purposes; we teach some large classes using SMC, but would gladly try out something more flexible in deployment sense.

[2017-01-26 20:17] jdemeyer commented on #205
This is a bit off-topic, but I have been looking for a while for a robust multiprocessing library in Python. Anybody has a suggestion?

I am looking for something simple (a pool of workers on a single machine) but it needs to be robust under failure conditions. I could actually write it myself (I did that for the Sage parallel doctester) but I don't want to reinvent the wheel. The Sage doctesting

[2017-01-27 08:52] mikecroucher commented on #205
I've been adding minor additions to the document but think I need to discuss stuff with co-authors in something close to realtime. @minrk, @takluyver, @nthiery -- do any of you use Slack or similar?

[2017-01-27 08:59] ClementPernet commented on #112
I gave a presentation at the Runtime Day ("Journée Runtime") in Paris about our experience in parallelization of recursive tasks for LinBox.
The conference programme: http://calcul.math.cnrs.fr/spip.php?article275
The slides of my presentation : http://calcul.math.cnrs.fr/Documents/Journees/janv2017/runtime_pernet.pdf

[2017-01-27 09:22] fangohr commented on #205
Hi Mike, I'll catch up with Thomas in a moment, and will then have a look at where we are and try to see what is missing. I am happy on Slack for example opendreamkit.slack.com - if anybody wants to join, please shout and I'll send an invite. I need another 2 hours or so to do the catch up, but then it'll be high time to get this proposal idea completed :)

[2017-01-27 09:27] mikecroucher commented on #205
Sounds great. I am more than happy to be involved but I don't have the resources or experience to lead this I'm afraid.

[2017-01-27 09:33] minrk commented on #205
@fangohr I'd like an invite. I'll be around today, but also working on presentation things that I need to finish by this evening.

[2017-01-27 09:55] bpilorget commented on #205
I will be available all afternoon if needed so you can send me an invite too

[2017-01-27 10:27] nthiery commented on #205
Hi Mike!

On Thu, Jan 26, 2017 at 10:21:39AM -0800, Mike Croucher wrote:

What we can request is funding for work on integration of Jupyter in
the EGI/EUDAT infrastructures. If some of those insfrastructures
include use Sun Grid Engine schedulers, or if there is generic stuff
that would be both useful for SGE and other infrastructures, then I
believe the answer is yes.

In any case, pointing out t

[2017-01-27 10:28] nthiery commented on #112
On Fri, Jan 27, 2017 at 12:59:29AM -0800, Clément Pernet wrote:

Cool! Any feedback from the audience?

You may want to add this to our activities page
http://opendreamkit.org/activities/

Cheers,
                                        Nicolas

[2017-01-27 10:33] nthiery commented on #205
On Fri, Jan 27, 2017 at 01:22:51AM -0800, Hans Fangohr wrote:

I should be able to join on and off today. Please send an invite!

[2017-01-27 23:00] takluyver commented on #205
Thanks everyone for helping to get this together in time! We submitted the expression of interest document with 20 minutes to spare. I'm going to close this issue now; if they invite us to submit more info we can either work in a new issue or reopen this.

[2017-01-27 23:00] #205 closed

[2017-01-28 09:51] dimpase commented on #205
where can one find the submitted doc?