[2017-01-28 09:58] takluyver commented on #205
It should be with the working materials in github. The folder is under WP3.

On 28 Jan 2017 9:51 a.m., "Dima Pasechnik" <notifications@github.com> wrote:

[2017-01-28 10:01] dimpase commented on #205
OK, it's 918d0d32b64944f544782c087d3d09ce8b076441 --- thanks!

[2017-01-31 10:29] jdemeyer commented on #208
I just added my slides from the workshop. It's just an `.ipynb` file for now, but I'll try to put it on mybinder.

[2017-01-31 11:04] nthiery commented on #61
Brief update: @embray has been working hard digging in, and has a [preliminary architecture writeup](https://gist.github.com/embray/cfeedba5d814d12e123710a8f43603fa#file-overview-rst). On Friday, he met with @fcayre and @defeo to discuss this further, and they will probably meet again soon.
Altogether, this seems on a good track.
@jdemeyer: given the progress, it's probably not worth the trouble t

[2017-02-01 12:38] jdemeyer commented on #94
Volker made me a collaborator of `sagenb_export` (https://github.com/vbraun/ExportSageNB). I am testing this on real-world examples and fixing various issues.

[2017-02-01 16:39] nthiery commented on #117
Ping! Since it's jut a matter of a short report, it would be good to get this done.

[2017-02-01 17:22] nthiery commented on #212
Done: c3ec983508243499aa0e85d4682c1cf699263023
There still remains a few links in  WP4/D4.2 and  WP4/D4.3, but those are submitted and need not be recompiled, so that's fine.

[2017-02-01 17:22] #212 closed

[2017-02-01 19:28] serge-sans-paille commented on #117
Woops missed that one. I'll write the report, @nthiery can you just point me to the place I should put it?

[2017-02-02 07:45] nthiery commented on #117
On Wed, Feb 01, 2017 at 11:28:38AM -0800, serge-sans-paille wrote:

See our main README :-)

https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable

[2017-02-03 00:32] alex-konovalov commented on #211
Same for me.

[2017-02-06 17:49] nthiery commented on #117
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:49] nthiery commented on #92
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:50] nthiery commented on #61
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:50] nthiery commented on #148
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:50] nthiery commented on #120
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:51] nthiery commented on #119
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:51] nthiery commented on #118
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:51] nthiery commented on #115
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:52] nthiery commented on #98
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:52] nthiery commented on #97
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:52] nthiery commented on #44
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:52] nthiery commented on #20
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:53] nthiery commented on #94
Dear M12 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:53] nthiery commented on #93
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:53] nthiery commented on #62
Dear M18 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it

[2017-02-06 17:54] kohlhase commented on #97
I am just seeing that this is called D4.9 in the title, but in the proposal, it is D4.8. It seems that there are more such errors in the titles.
Should we (manually) correct the titles?

[2017-02-06 17:55] kohlhase commented on #97
I just want to point out that there is already a draft in the repository WP4/D4.8, it is not complete yet, but gives you a hint of where it is heading.

[2017-02-06 17:55] nthiery commented on #83
Dear M6 deliverable leaders,

Just a reminder that reports are due for mid-february, to buy us some time for proofreading, feedback, and final submission before February 28th. See our [README](https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable) for details on the process.

In practice, I'll be offline February 12-19, and the week right after will be pretty busy. Therefore, it w

[2017-02-06 20:09] nthiery commented on #97
On Mon, Feb 06, 2017 at 09:54:46AM -0800, Michael Kohlhase wrote:

@bpilorget: Do you mind cross-checking this with the deliverable list
on the EU website? That's what we have to be consistent with, and then
we should fix either our file or github. Thanks!

[2017-02-06 20:10] nthiery commented on #97
On Mon, Feb 06, 2017 at 09:55:25AM -0800, Michael Kohlhase wrote:

Good. I'll have a look!

[2017-02-06 21:39] alex-konovalov commented on #62
FYI, new releases of OpenMath and SCSCP packages for GAP, now hosted on GitHub and GitHub pages:
- https://gap-packages.github.io/openmath/
- https://gap-packages.github.io/scscp/

[2017-02-07 05:27] kohlhase commented on #62
very good to know. What has changed?
I see that the acknowledgements in the OpenMath manual do not include ODK (have not checked SCSCP) and that the issues URL in SCSCP manual has no link.

[2017-02-07 05:47] kohlhase commented on #97
This is also important for the naming of the subdirectories of the **WP?** directories in the repository, they should be consistent with the grant agreement as well.

[2017-02-07 05:47] kohlhase commented on #97
In this case I am using D4.8 since that is is in the proposal.

[2017-02-07 09:05] bpilorget commented on #97
@nthiery and @kohlhase After having checked the EU participant portal, the names of D4.8 and D4.9 an the right ones on github so no need to change anything here.
![capture](https://cloud.githubusercontent.com/assets/14076235/22684480/d61b3442-ed1c-11e6-9848-32d68e5ebc13.JPG)

[2017-02-07 10:10] bpilorget commented on #97
And in the Proposal I have file UserInterfaces.tex, the two deliverables being discussed refer to the right issue. And I also checked the official Proposal on the EU website, and the signed version after the 1st amendment shows that the github issues are right. But I noticed that in draft versions of the proposal for the 1st amendment the 2 deliverables names were confused.

I pushed the latest De

[2017-02-07 11:09] kohlhase commented on #97
I have seen the rename (got me a bit of a hard merge from my fork). BUT the proposal on ODK.org still shows me the 4.8. Should we not update that?

[2017-02-07 11:50] bpilorget commented on #97
Sorry for the not so smooth merge... Yes, we'll update the proposal. Maybe the rename was a human mistake at some point but now what counts is the official document.

[2017-02-07 12:20] kohlhase commented on #97
all is fine as long as we resolve the inconsistency before it really bites us.

[2017-02-08 18:33] defeo commented on #83
@nthiery, I've updated the report. I think it is ready for submission, maybe @jdemeyer wants to comment on it.

[2017-02-08 22:54] nthiery commented on #97
Hi,
I am missing the calbf style file and docicon tikzlibrary to compile the report. Is this part of a typical texlive distribution (I believe I have texlive-all here)? Or should they be added to the repo?

Cheers,
                           Nicolas

[2017-02-09 05:15] kohlhase commented on #97
sorry, I had already added them on the KWARC fork, but had not pushed. Now they should be there.
the styles are not "official", calbf is just a convenience macros set; docicon might be useful for anyone who uses tikz (it provies a document icond node).

[2017-02-09 05:17] kohlhase commented on #97
BTW, the report and implementation are on track, @tkw1536 is working on that as we speak.

[2017-02-09 08:47] nthiery commented on #83
On Wed, Feb 08, 2017 at 10:33:50AM -0800, Luca De Feo wrote:

Great, thanks! I'll submit tomorrow.

Suggestions:

- Edit the github description to state, as in the text, that the last
  item (CyPari replacement) is planned as part of D4.10.

- Include as appendix the ticket description for #20238 (e.g by
  printing the ticket to pdf and \includepdf its first pages; see
  WP2/D2.1/report.tex for an

[2017-02-09 10:55] nthiery commented on #97
Ok, thanks for the quick feedback!

[2017-02-09 12:44] kohlhase commented on #97
@nthiery @bpilorget I think we should do that very soon, since the generated titles are wrong otherwise.

[2017-02-09 14:08] defeo commented on #83
Done

[2017-02-09 14:52] bpilorget commented on #97
As far as I understand the proposal files, the generated titles are right. What I need to update is the Grant Agreement PDF version on the website.

[2017-02-09 14:54] kohlhase commented on #97
no, that is not true, the reports have the line
[code]
 which reads ```proposal.pdata``` and in this case, this contains that the deliverable ```UI:adcomp``` is D4.8, hence the wrong title of my report :-(

[2017-02-09 14:55] kohlhase commented on #97
and I suspect that this is true for other deliverables as well (i.e at least all D4.y, where y>=9).

[2017-02-09 15:40] bpilorget commented on #97
I right now don't know how to modify (nor open) the proposal.pdata document.
If you know, please have a go. I need to update my tools next week with Erik. I currently cannot create a pdf document from the latex files. So this will have to wait Monday or Tuesday.

[2017-02-09 15:43] kohlhase commented on #97
I think that @nthiery or I should have a look at this.

[2017-02-09 17:33] nthiery commented on #97
I was offline for the day for a seminar. I'll work on this tomorrow
morning, unless you are quicker :-)

Cheers,
                                        Nicolas

[2017-02-09 17:35] kohlhase commented on #97
not likely, I have my last course tomorrow, and it is not prepared yet. Sorry.

[2017-02-09 21:03] minrk commented on #98
@nthiery @fangohr @takluyver I've pushed a draft of the D4.8 report if you'd like to have a look, propose more content. In particular, I'd like to know who I should add in the authors list.

[2017-02-09 21:05] minrk commented on #94
Let me know if there's anything I can do to help get this report finished on time.

[2017-02-09 21:06] minrk commented on #93
@nthiery my understanding is that this report is all complete as of November. Is there anything more to do?

[2017-02-09 21:08] minrk commented on #92
@kohlhase is there anything I can do to facilitate getting a draft of this report in soon?

[2017-02-10 05:22] kohlhase commented on #92
no, not really. But I will have something at the end of the weekend.

[2017-02-10 10:37] nthiery commented on #83
Thanks Luca! I submitted the report to the EU portal after tiny format edits.

Thanks everyone for all the hard work on this challenging deliverable!

[2017-02-10 10:37] #83 closed

[2017-02-10 11:10] bpilorget commented on #83
Yay! Congratulations!

[2017-02-10 13:27] nthiery commented on #117
Final report, as of 28859db3f523812229b4dae72bf5df30226942fd submitted on the EU portal.

Thank you Serge for this nice improvement to Pythran and its report!

[2017-02-10 13:27] #117 closed

[2017-02-10 13:36] nthiery commented on #115
Hi @ClementPernet,
I just proofread your post above and made minor edits. It's a good start for the report. In fact, I suggest that you move the text to this issue's description.

[2017-02-10 13:50] fangohr commented on #98
Hi Min, many thanks for putting this together. I'll try to read / extend / give feedback soon. Regarding authors: we had many people involved in the initial development, but they probably don't need to feature on the deliverable report.

[2017-02-10 14:17] nthiery commented on #97
Hi @kohlhase,
I am recompiling the proposal. I just fixed one typo in the style file which caused trac issue numbers not be included in the pdata (7ace63c0fee5f2d7c94b2bd51704d2a961510b8f), and a trivial one in a bib file of yours (4a270f9cc24072efdded1b210eed85db7393a893).

There remains one issue that you would be quicker to track and fix: after a `make final` on my machine, the task titles curr

[2017-02-10 14:28] kohlhase commented on #97
did you push?

[2017-02-10 14:37] nthiery commented on #97
Oops. Now, yes :-)

[2017-02-10 14:52] nthiery commented on #98
Hi @minrk,

I just had a look, and this is a good start!

Could you edit the github description with some words of context (what
are Jupyter notebooks; task at hand; how it fits within the
reproducible science aim of ODK), brief description of what was
achieved, connection with nbdime. This will make for a nice abstract
for the report.

Little suggestions of additions (unless I missed them):
- nbv

[2017-02-10 14:54] nthiery commented on #98
For the description of what Jupyter notebooks are, you can e.g. copy paste that from D4.4's (#93) issue description.

[2017-02-10 14:59] nthiery commented on #93
Hi @minrk,
For the report itself, all that remains to do is fetching the latest github issue description and adding a screenshot for the GAP interface (it currently is a copy of the screenshot for Singular).
Other than this, the more of the remaining items we can tick in the issue description, the better. @jdemeyer?

[2017-02-10 15:43] kohlhase commented on #97
I have fixed the titles, but unfortunately, I am still getting that the in-place computation is D4.8 there.
I am not sure where this discrepancy may come from. Can you post the deliverables list of the EU?
I fear that we will need to compare final.pdf  to that list manually

[2017-02-10 15:43] minrk commented on #98
@nthiery thanks, I've updated the GitHub description.

@fangohr the [guidelines](https://github.com/OpenDreamKit/OpenDreamKit/#steps-for-the-deliverable-lead) suggest that the authors should include only the ODK participants on the report, since it's a mostly internal thing. I'm just not sure which contributors from your side are on that list.

[2017-02-10 15:47] kohlhase commented on #97
Ah, I think I understand what is happening. We just have to switch the deliverables D4.8 and D4.9 in the proposal source, and then things should line up again. Let me try this and see if that works.

[2017-02-10 18:04] takluyver commented on #98
I just made a few minor changes.

[2017-02-11 05:51] kohlhase commented on #97
OK, this seems to indeed solve the inconsistency.

[2017-02-11 05:52] kohlhase commented on #97
We can go back to real work on the report now.

[2017-02-11 09:57] fangohr commented on #205
Update: this expression of interest was not successful:

<pre>
Thank you for your application to the e-Infra-12 Thematic Services call and for the time you have
invested in preparing your contribution. Over 60 high-quality applications were submitted in this call.

I regret to inform you that your application has been evaluated with great interest, but was not
shortlisted by the evaluators, reason

[2017-02-11 10:47] dimpase commented on #205
let's hope it's just a temporary setback.

[2017-02-11 13:05] jdemeyer commented on #93
I'll have a look at this on monday.

[2017-02-11 13:05] jdemeyer commented on #94
I'll have a look at this on monday.

[2017-02-12 14:21] kohlhase commented on #97
I have a relatively feature complete version of the report. @tkw1536 will work on the implementation some more (so that it conforms more to the specification), we will have this demoable for the review.
The next steps are to let this rest a bit, reread, and declare victory.

[2017-02-14 11:20] embray commented on #63
Based on my investigation for #55, I'm not entirely sure that this is a worthwhile goal.  Maybe outside of some narrow testing cases, I'm not convinced that there's much value in running a SMC server on one's personal computer (though it's debatable--I could be convinced otherwise).

What *is* worthwhile, however, is being able to run a local instance, such as in a lab or at a university, of a SMC

[2017-02-14 11:21] nthiery commented on #205
On Sat, Feb 11, 2017 at 01:57:46AM -0800, Hans Fangohr wrote:

Too bad. At least we got a quick answer and feedback showing tentative
interest. So it was worth the shot.

It would have been helpful if they had advertised in advance all the
calls they were planning for, so that we could have aimed right away
at the most appropriate one.

Anyway, we should apply for the "specialized services call",

[2017-02-14 11:23] fangohr commented on #205
Thomas has already requested the notification.

[2017-02-14 12:09] defeo commented on #63
I think there was a confusion at the time of writing the proposal between SMC and its own Sage notebook. What must have been in people's mind at the time was probably a "stripped down version of SMC" that would allow running the SMC Sage notebook locally (at least, that's what was in my mind).
That would still be an interesting goal, in my opinion, but it might be strategically unsound. ODK has mo

[2017-02-14 17:04] kcrisman commented on #63
For what it's worth, I think that having something that can run SMC worksheets locally is very valuable.  Otherwise you are a captive audience to the hosted versions.  Whether that falls under ODK auspices is another matter.

[2017-02-15 09:45] embray commented on #63
Well, that's partly why I bring it up. I haven't personally used it enough for real projects so I wouldn't be surprised if I don't have a feel for why a personal version would be useful.  To me it seems like overkill for anything I'd want to do offline, and most of the things you can do with it can be done without it just as well if you're working locally.  I see most of the benefits coming very m

[2017-02-15 10:57] defeo commented on #63
By talking to end users (I mean students as well as researchers), I
realized that one of the features they really like is the
click'o'matic UI, where they can easily find mathematical functions
and objects, classified by domain, through the drop-down menus. It may
look minor to us power-users, but let's not forget that end users
seldom use tab-completion, and even less they read manual.

That's wh

[2017-02-15 14:42] embray commented on #61
For what it's worth, I'm trying to work on something for this.

[2017-02-15 15:01] embray commented on #63
realized that one of the features they really like is the
click'o'matic UI, where they can easily find mathematical functions
and objects, classified by domain, through the drop-down menus. It may
look minor to us power-users, but let's not forget that end users
seldom use tab-completion, and even less they read manual.

This is a feature specifically of the new Sage worksheet in SMC though, which

[2017-02-16 11:19] kohlhase commented on #92
OK, I have completed the report document (it grew to 15 pages, since we had to describe the setup). This can be submitted from my PoV. It would be great, if someone could have a look at it soon, since I will be traveling from Saturday morning and probably offline until March 14.
If there is anything pressing to do, you can contact @tkw1536 or @Jazzpirate But I think that should be un-necessary.

[2017-02-16 11:34] kohlhase commented on #97
I did that, and had to do a bit more for real feature-completeness. The only work that needs to be done is in section 4, which @tkw1536 will do.

So (as with D4.3, see #92) it would be good if Nicolas or Benoit could have a look at this deliverable and tell me if something else needs to be done before I travel.

[2017-02-16 12:09] minrk commented on #97
Thanks, @kohlhase!

[2017-02-16 12:10] minrk commented on #92
Thanks!

[2017-02-17 09:53] embray commented on #61
I'm trying to work on improved processes and documentation for development of SageMathCloud, which I think is a key piece to the goal of "documenting" SMC.  In fact, it's probably more important than documenting the source code itself, which is frequently in flux (in fact, in the middle of writing my notes on SMC's source code William merged the PostgreSQL migration--I knew this was coming so I di

[2017-02-17 13:53] jdemeyer commented on #93
@markuspf : could you provide an example notebook which shows a simple GAP computation? I know essentially nothing of GAP, so it's best if somebody else does that.

[2017-02-17 15:12] embray commented on #61
In any case, I have made a rough outline and started adding some introductory text for a report here: d88d1e0

Anyone who is interested in helping on this deliverable, please feel free to add stuff, remove stuff, rewrite stuff, etc. as you see fit.  This is just a rough idea I'm putting out to help get things started, and my text is probably needlessly chatty as usual.

[2017-02-17 17:10] williamstein commented on #61
Erik -- maybe we should video chat or something soon?  That might make it
easier to "get in my head" regarding architecture of SMC...

On Fri, Feb 17, 2017 at 7:12 AM, Erik Bray <notifications@github.com> wrote:

--
William (http://wstein.org)

[2017-02-17 18:00] embray commented on #61
easier to "get in my head" regarding architecture of SMC...

Yes--originally @nthiery was trying to put together a 1 or 2 day workshop on the subject to which you would be invited. But it never quite materialized due to peoples' schedules (I guess?).  Plus, I think it was a worthwhile exercise to understand as much as I could on my own.  But now I'm at a point, anyways, where I've understood thing

[2017-02-17 18:13] alex-konovalov commented on #62
@kohlhase

Both packages were not updated for a while (SCSCP since 2013, OpenMath since 2016) and apart from cosmetic updates of all URLs for the new hosting, there were various compatibility fixes to work with the new GAP release and GAP development version, cleaning up of obsolete variables, improving testing setup, etc. Also, `<OMOBJ>` tags now include `xmlns` and `version` attributes.

Fixed f

[2017-02-18 17:15] tkw1536 commented on #62
@alex-konovalov @defeo
For testing, I have just deployed an MMT SCSCP server instance on ash.eecs.jacobs-university.de on port 26133, (212.201.49.2, I haven't tested IPV6). It is minimal in the sense that it can currently only do ```scscp_transient_1 / addition``` and no other computations. I did some testing with the MMT client and that worked without problems. Concerning GAP and Python / Sage, I

[2017-02-20 01:08] VivianePons commented on #61
Thank you very much Erik for your work. I am still on holidays and will be
back on wednesday. I won't be in the office this week but looking at what
you did already and finishing up the report is my first priority.

Best

Viviane

2017-02-17 14:00 GMT-04:00 Erik Bray <notifications@github.com>:

[2017-02-20 19:03] nthiery commented on #63
On Tue, Feb 14, 2017 at 03:20:57AM -0800, Erik Bray wrote:

Thanks Erik for bringing that up and everybody for the comments.

At the time of the proposal writing, my understanding of that
deliverable was that the deployment of a full SMC instance was a
serious challenge and that it was useful to set an intermediate goal;
in that case making it "easy" to deploy SMC on a single machine,
possibly eve

[2017-02-21 10:32] embray commented on #63
Yes, I think that makes more sense.  In fact, William tells me that the new Kubernetes-based configuration for SMC is not going to be open source, which makes sense for a number of reasons. But really it is not needed for anything more than a large scale installation anyways.  It is definitely much easier to deploy SMC running on a single machine, and that is still adequate for uses cases like tho

[2017-02-21 10:35] embray commented on #63
Having played more with and learned more about the Sage Worksheets in SMC it actually has a somewhat different philosophy, UI-wise, than Jupyter.  So it's not fair to say that the "menus" are the only difference.  I have no opinion about if or how it should factor into ODK's goals though.

[2017-02-21 10:38] bpilorget commented on #120
T5.4 #102

[2017-02-21 10:38] bpilorget commented on #120
#102

[2017-02-21 13:44] jdemeyer commented on #93
What exactly does "SageMathCloud integration" mean?

[2017-02-21 18:04] nthiery commented on #93
Hi Jeroen,

Just that the jupyter-XXX kernel is installed on cloud.sagemath.org,
so that a user can choose XXX as kernel when running Jupyter notebooks
there.

Cheers,
		Nicolas

[2017-02-22 09:25] bpilorget commented on #148
@dimpase How is everything going? A report must be delivered by the 28th February

[2017-02-22 11:25] jdemeyer commented on #93
I just sent a request to help@sagemath.com for the GAP and PARI/GP Jupyter kernels.

The report is updated with examples of all 4 kernels (thanks to @dimpase for the GAP example).

Note that some Sage tickets are still in needs_review, I hope that is not a problem.

[2017-02-22 21:27] nthiery commented on #93
That's fair enough. They are non controversial; as long as we keep
pushing them, they will get in soon, maybe even before the reviewers
read the report.

Thanks for all the work!

[2017-02-22 22:42] nthiery commented on #19
Submitted on the EU portal.
Note: task references were still in bold (as taken from final.pdf). No big deal, so I moved on.
Thanks everybody for the feedback!

[2017-02-22 22:42] #19 closed

[2017-02-23 06:56] jdemeyer commented on #93
Well, the PARI one might be because I'm adding lots of patches to PARI which are not (yet?) accepted by upstream.

[2017-02-23 08:07] nthiery commented on #93
I just proofread the issue description and report. I made some minor edits (larger screenshots, markdown syntax fixes to not confuse pandoc, fixed our Makefile so that trac references would not get messed up). I believe it's good to go, up to the tick boxes for the SMC integration. Please ping me if there is progress there, and I'll then submit. Otherwise, I'll wait until Monday and submit as is.

[2017-02-23 13:45] VivianePons commented on #61
Hi Erik,

I have had a quick look to the document, it seems to me on a very good way.
Thank you very much for the work you have engaged into this. I read that
some of your work has been put into SMC's source tree, do you have a link
or something? Otherwise, where is this to be read?

About Section 5 on "OVERVIEW OF SAGE MATH C LOUD ’ S SOFTWARE DEVELOPMENT
PROCESS". I understand you won't have tim

[2017-02-23 16:16] nthiery commented on #97
Hi,

I just browsed through the report. It looks good, thanks!

I fixed some typos. Note that I allowed myself to use \delivref rather than \cite to refer to other deliverables, for consistency with what we have done in other reports.

Things that remain to do:
- Detailed proofreading; there certainly are quite a few remaining typos. @minrk maybe?
- Writing down an abstract in the github descripti

[2017-02-23 16:21] nthiery commented on #120
Hi @wbhart,
What's the status of the current report? Ready for final proofreading and submission?
Same question for your other deliverable reports?

[2017-02-23 17:24] wbhart commented on #120
Yeah, I haven't formally gone through and checked everything off on the
checklist, and am still doing some minor edits around the edge. But
basically it's ready to go.

I just wrote a blog on the quadratic sieve [1].

I hope to find time for a blog on the assembly superoptimiser too, perhaps
tomorrow.

[1] https://wbhart.blogspot.de/2017/02/integer-factorisation-in-flint.html

On 23 February 2017

[2017-02-23 18:31] minrk commented on #97
@nthiery I'll give it a proofreading pass.

[2017-02-23 19:49] tkw1536 commented on #97
@nthiery Finalising this report is on my list for tomorrow. In section four I in particular still have to describe a demo I have been working on as well as replace some sketches with actual screenshots.

[2017-02-23 21:32] nthiery commented on #120
On Thu, Feb 23, 2017 at 09:24:57AM -0800, wbhart wrote:

Thanks for the feedback. I'll try to read the current reports tomorrow
then.

Note that the deadline is only about the reports; so, no rush for the
blogs: it can easily wait a couple days, unless you are planning to
include its content in the report.

Cheers,

[2017-02-23 21:53] nthiery commented on #92
Hi!
I have just been through the current report. Altogether it looks good. I just pushed a couple typo fixes and minor todo's. Here are some others todo's

- Write an abstract to be put on the github issue description. The current introduction could basically serve as one. The only thing is to decide how to handle the one citation there; the references to other deliverables are not a problem. In t

[2017-02-23 22:02] nthiery commented on #44
Hi @mikecroucher; the report for D2.4 is becoming urgent! Let me know if you are missing information to proceed.
Thanks!

[2017-02-23 22:12] nthiery commented on #115
Hi @ClementPernet,
Thanks for the report!
Is it in final form? Did you have someone else proofread it already?
The following file is missing in the repo: benchs/float/graph.pdf.
Could you add one or two sentences to this github issue description (aka abstract for the report) about what was achieved for this deliverable?
Thanks,

[2017-02-23 22:14] nthiery commented on #115
Since this seems almost ready, if you get a chance to do the above tomorrow morning, that would be great, as I could then submit it in the afternoon and tick the box to focus on the others :-)

[2017-02-23 22:17] nthiery commented on #98
Hi @minrk, @takluyver, @fangohr,
Is there any thing else you are planning for the report, or shall I just do a last pass of proofreading tomorrow and submit?

[2017-02-23 22:30] wbhart commented on #120
I'm not planning on including the blogs in the report. They have a wider
scope and are really designed to draw focus down to the specific ODK
deliverables.

On 23 February 2017 at 22:32, Nicolas M. Thiéry <notifications@github.com>
wrote:

[2017-02-23 22:33] nthiery commented on #120
Ok, sounds good. Then, let's focus for now on getting the reports done
and submitted :-)

[2017-02-24 07:46] aguinet commented on #115
Hello @nthiery ,

I'll add this one in the morning, sorry about the missing file!

[2017-02-24 08:47] nthiery commented on #44
Great, thanks!

[2017-02-24 09:08] mikecroucher commented on #44
@nthiery Sorry to be a pain but can you remind me where the report template is please?

[2017-02-24 09:10] minrk commented on #98
Almost there. I am going through a checklist, but will be done by the end of the day.

[2017-02-24 09:10] nthiery commented on #118
Currently proofreading the issue description; don't edit to avoid conflicts.

[2017-02-24 09:21] ClementPernet commented on #115
I added the files. They were by default not added due to a gitignore rule. So I forced them to be added.
@aguinet Can I let you write up the abstract as requested by @nthiery  ?

[2017-02-24 10:02] nthiery commented on #118
Done with the proofreading! The issue description is fair game again.

This looks very nice. I just left a few little TODO's; @wbhart can you take care of them? It would be nice as well if the github description contained a link to the upcoming blog post. Maybe you can create a stub page for this post or just guess in advance what its URL will be?

 And then I believe this is good to go. Yeah!

[2017-02-24 10:07] nthiery commented on #44
For your deliverable, that will be:

https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP2/D2.4/report.tex

See https://github.com/OpenDreamKit/OpenDreamKit/#submitting-a-deliverable for instructions :-)

Cheers,
		Nicolas
--
Nicolas M. Thiéry "Isil" <nthiery@users.sf.net>
http://Nicolas.Thiery.name/

[2017-02-24 10:34] ClementPernet commented on #115
The Cython PR seem faily close to be merged:  https://github.com/cython/cython/pull/1607
I was delaying the polishing of this report, hoping to be able to declare the code as merged, but this seems to be unfeasable. @aguinet do you confirm ?
@nthiery apart from that the report is in its final form. I meant to go through the deliverable checklist one last time to check if we missed something. I'll

[2017-02-24 10:49] wbhart commented on #118
Thanks Nicolas. I will take care of the TODOs. I can link to the blog. One
is written, another will be done today.

On 24 February 2017 at 11:02, Nicolas M. Thiéry <notifications@github.com>
wrote:

[2017-02-24 10:52] minrk commented on #98
@nthiery I believe this one is ready to go.

[2017-02-24 11:51] minrk commented on #97
I did a proofreading pass, excluding section four to avoid conflicts.

[2017-02-24 12:30] nthiery commented on #119
Note: I am now proofreading the issue description above.

[2017-02-24 13:00] alex-konovalov commented on #62
@nthiery I've edited issue description (one item from @tkw1536 needs at least couple of words).

[2017-02-24 13:09] nthiery commented on #119
Proofreading done. The issue description is fair game again. Same as for D5.5: this is looking good; I just left a little TODO.

[2017-02-24 13:15] nthiery commented on #120
Hi @wbhart: I probably won't get to proofread the issue description this afternoon. Could you add a little section of context at the top of the issue description, in the vein of that of D5.5 and D5.6? Please also implement the other little cosmetic changes I did in D5.5 and D5.6 (reminder of what Bulldozer/... are, code blocks for shell instructions, software names in backticks, paragraphs on a si

[2017-02-24 13:32] nthiery commented on #62
Thanks; that's useful info!

Can you add an abstract of a couple paragraphs with some words of context (how this fits within ODK's aim, a brief description of what SCSCP is, what was achieved)? In case that feels too redundant with the introduction in report.tex, then maybe that introduction should become the abstract by being moved here?

[2017-02-24 13:39] embray commented on #61
I finished fleshing out the rough draft here: https://github.com/OpenDreamKit/OpenDreamKit/blob/master/WP3/D3.2/report.tex  Indeed, there's no time before the deliverable's due date to implement all of my recommendations, though that work is underway.

I still have some uncertainty as to how this work will fit into OpenDreamKit in the end, so @nthiery @VivianePons @defeo, and others may wish to pa

[2017-02-24 14:01] VivianePons commented on #61
Thank you very much Erik. I will take it from here: on my side, I have
quite a clear idea of the general overview. I will work on it this week-end
and it leaves Monday for a final review before submitting.

2017-02-24 14:39 GMT+01:00 Erik Bray <notifications@github.com>:

[2017-02-24 14:23] embray commented on #61
Updated the issue description with a link to the latest version of my SMC documentation, now in the SMC repository itself: https://github.com/sagemathinc/smc/blob/master/src/doc/design_overview/overview.rst

[2017-02-24 15:06] wbhart commented on #120
Sure thing. No problem.

On 24 February 2017 at 14:15, Nicolas M. Thiéry <notifications@github.com>
wrote:

[2017-02-24 16:00] bpilorget commented on #92
@nthiery Will do the English line by line proofreading by tomorrow

[2017-02-24 16:24] wbhart commented on #118
I wrote a blog for this deliverable here [1].

I still need to write a blog on the parallelisation of the FFT. I'll
probably do that on Monday, as well as tidy up those minor TODOs you've
made for me.

[1]
https://wbhart.blogspot.de/2017/02/assembly-superoptimisation-in-mpir.html

On 24 February 2017 at 11:49, Bill Hart <goodwillhart@googlemail.com> wrote:

[2017-02-24 17:20] tkw1536 commented on #97
@nthiery I have just pushed some work on section 4 as well as all over the report. There also is a first version of the abstract (committed separately as abstract.tex) which I have just put into the description of this issue. Content-wise the report is done from my side, but I still want to read through it once more over the weekend. Also I still have to fix a minor issue with regards to one of th

[2017-02-24 19:46] alex-konovalov commented on #62
@nthiery Updated issue description again - please check https://github.com/OpenDreamKit/OpenDreamKit/issues/62

[2017-02-24 20:04] fangohr commented on #98
Nothing from me to contribute further - making sure we have items from the check list should complete the item; thank you @minrk . @nthiery I have updated the report some time ago already taking into your account your feedback from 14 days ago.

[The only remaining consideration for change would be to include the documentation in the report, but if we link to its URL, that should be just as well.

[2017-02-24 20:05] fangohr commented on #98
I am very pleased with the tool :)

[2017-02-24 20:19] alex-konovalov commented on #62
P.S. @nthiery is there a tool to convert markdown to latex, or I have to do it manually?

[2017-02-24 20:22] defeo commented on #62
@alex-konovalov, if you're trying to include the issue description, just use the command `\githubissuedescription`. Otherwise, I recommend pandoc.

[2017-02-24 20:30] alex-konovalov commented on #62
@defeo githubissuedescription is there, but it does not convert updated github-issue-description.md to github-issue-description.tex

[2017-02-24 20:31] nthiery commented on #62
On Fri, Feb 24, 2017 at 12:22:53PM -0800, Luca De Feo wrote:

Indeed: fetching the markdown, converting it to latex & such is
handled automatically when doing:

        make WP3/D3.3/report.pdf

In other words: don't worry about it and focus on the issue
description on one hand, and the rest of report.tex on the other hand,
and I'll finalize the pdf production.

Cheers,

[2017-02-24 20:33] alex-konovalov commented on #62
@defeo indeed `pandoc -o github-issue-description.tex github-issue-description.md` works. Need manual tweaking to enter new lines when the final version will be out.

[2017-02-24 21:29] serge-sans-paille commented on #118
@wbhart this blogpost is super-great! Any pointer to more detailed information, like:

- what's the limitation of traditional ``rdtsc`` in thr context of a super-optimizer?
- how did you get around the issue, any code to share if we meet the same issue?
- when doing super optimization, are you using brute force, or do you use some heuristic when exploring the possible combinations?

[2017-02-25 09:20] tkw1536 commented on #97
OK, I have gone over it once more and have fixed a bunch of typos. From my side the report is now completely done and ready to be submitted with the exception of one thing: Do I include the abstract written above into the document itself? If so, how?

[2017-02-25 09:37] wbhart commented on #118
Thanks for the feedback.

The rdtsc instruction no longer gives cycle timing. We don't know why:
there are multiple theories. But it nowadays gives some kind of scaled
value, and the scaling changes.

I don't have all the details of how we precisely got around the issue,
since I didn't write the code and the person who did is no longer working
on ODK. The things I recall:

1) Turn off hyperthreadi

[2017-02-25 09:47] wbhart commented on #118
I forgot to say, obviously you need to time the code a number of times and
then throw away any outliers. On modern CPUs there can be interruptions for
any reason. One has to handle things like context switches, parts of the
CPU being switched off to preserve power and so on. For many, many reasons,
things aren't as consistent as they used to be, so some of the timings have
to be excluded. Of cours

[2017-02-25 10:49] aguinet commented on #115
@ClementPernet it seems complicated yes, I don't know how long it will take.

About the abstract, if I understand correctly, I have to make something shorter than what's a the top of this issue?

[2017-02-25 15:57] VivianePons commented on #61
Ok, I proof-read the whole document, edited and updated the github description and edited a bit the introduction. I also added Erik's "overview.rst" documentation as an appendix. For me, it's all good, I let @nthiery  @defeo and @embray check if they're happy with it.

Thank you again Erik for such an impressive work. Your overview document is really great, it gave me a much clearer understanding

[2017-02-26 00:19] williamstein commented on #61
@VivianePons -- where?

[2017-02-26 00:27] dimpase commented on #61
@williamstein see https://github.com/OpenDreamKit/OpenDreamKit/tree/master/WP3/D3.2 for the report.tex etc.

[2017-02-26 09:42] mikecroucher commented on #44
I've updated the description of the deliverable at the top of this issue but the `\githubissuedescription` command is still pulling down an old version. The text `DELIVERABLE DESCRIPTION, AS TAKEN FROM GITHUB ISSUE #44 ON 2017-02-08` gets included in the report.

How can I kick this so that the updated text appears?

[2017-02-26 10:53] mikecroucher commented on #44
First draft completed. Would you mind taking a look please @nthiery

[2017-02-26 16:31] williamstein commented on #61
It's possibly bad if there are now two divergent versions of the document:

  https://github.com/sagemathinc/smc/tree/master/src/doc/design_overview

and

   https://github.com/OpenDreamKit/OpenDreamKit/tree/master/WP3/D3.2

[2017-02-26 16:59] VivianePons commented on #61
The one on D3.2 is not supposed to be changed in the future. It is just
here to be appended to the deliverable so that we keep a copy of its
current state for the sake of the reviewers.

2017-02-26 17:31 GMT+01:00 William Stein <notifications@github.com>:

[2017-02-26 17:05] dimpase commented on #148
@bpilorget @nthiery I commited the 1st draft, will do a bit of fiddling, like proofreading etc, but that's basically done, as far as I am concerned.

[2017-02-26 20:49] nthiery commented on #44
On it.
I fetched the latest description from the github issue, by using:

    ODK >rm WP2/D2.4/report.pdf WP2/D2.4/github-issue-description.*
    ODK > make WP2/D2.4/report.pdf

and committed and pushed.

[2017-02-26 21:17] mikecroucher commented on #44
Thanks. Does the report look OK for the EU?

[2017-02-26 21:26] nthiery commented on #44
I'll commit a few minor edits in a couple minutes. Altogether, that looks good indeed!

Further suggestions:
- Reproofread the issue description after my changes
- Give some figures in the report: e.g. number of attendees to the workshop, "size" of the website
- There is a tiny bit of repeat between Section 1 and the first paragraph of Section 3.
- Mention some web technologies used to produce the

[2017-02-26 22:12] nthiery commented on #97
I updated the abstract above to try to give some more context to the reviewers (please proofread/edit! you know better what this deliverable is about), and integrated into the report by running:

    rm WP4/D4.9/report.pdf WP4/D4.9/github-issue-description.*
    make WP4/D4.9/report.pdf

Reading the report now!

[2017-02-26 22:21] nthiery commented on #97
Two minor things, and then it's indeed good to go:
- Maybe refer to Figure 5 in 2.1? Maybe even put the picture in 2.1 to make things right away more concrete?
- For consistency with our other documents, please refer to other deliverables by using e.g.  `\delivref{UI}{mathhub-editing}` or its `\longdelivref` counterpart rather than with citations. To find the deliverable labels, I usually search t

[2017-02-26 22:33] nthiery commented on #115
Hi @aguinet,
Sorry, I missed your call for info. Please expand a bit further the abstract (i.e. the first comment on this issue description): What Pythran is (done), what Cython is, their relevance to ODK, what's been achieved in this deliverable to fuse their featureset.
Thanks!

[2017-02-26 23:06] nthiery commented on #148
Hi @dimpase,

Thanks for this first draft; that's an interesting survey of the litterature.

I proofread the tex file, fixed some minor typos and pushed.

For the abstract (aka github issue description), please edit the first comment on this issue, rather than the markdown file in the repo. To automatically update the latter:

    rm WP7/D7.1/report.pdf WP7/D7.1/github-issue-description.*
    make

[2017-02-26 23:43] dimpase commented on #148
@nthiery Thanks. I followed your instructions: edited the 1st comment; removed `github-issue-description.*`, then `make` failed, as it complained about inability to find `github-issue-description.md` - and so I put the latter back. Then `make` did run, and created pdf - with an empty abstract.
Do you mean to say that `github-issue-description.tex` is meant to be generated by getting the 1st commen

[2017-02-27 00:33] alex-konovalov commented on #148
Thanks. From a quick glance what I can see is:
- need to update issue description in the report
- figure 2 matches my impression
- Figure 3 also matches my "if it's done, it's done" motto: most of PR are closed quickly.
- figure 3 is not easy to read initially; both figures would benefit from some text describing what's there.
- can we have an equivalent of figure 3 for open issues?
- for GAP, you

[2017-02-27 00:50] alex-konovalov commented on #148
Time permitting, I'd like a better horizontal resolution and individual months on Fig.3, and also more clearly indicated month markers on the horizontal axis.

[2017-02-27 06:43] nthiery commented on #148
On Sun, Feb 26, 2017 at 03:43:06PM -0800, Dima Pasechnik wrote:

Yes.

Ah, I see from the repo that you committed an updated abstract. So I
assume this worked at the end, right?

[2017-02-27 07:14] dimpase commented on #148
@nthiery it did work, yes---although there is some strange ` {.notoc}\n` string that makes it all way into the resulting pdf. Not sure where it comes from, it is already in markdown.

[2017-02-27 08:06] nthiery commented on #148
Just to avoid conflicts: I am now about to do some minor edits to the issue description and report, and check the .notoc thingy at this occasion.

[2017-02-27 08:51] nthiery commented on #148
On Sun, Feb 26, 2017 at 11:14:05PM -0800, Dima Pasechnik wrote:

This is probably just a glitch due to a different version of
pandoc. Just ignore it; I'll do the very final update.

Cheers,
		Nicolas
--
Nicolas M. Thiéry "Isil" <nthiery@users.sf.net>
http://Nicolas.Thiery.name/

[2017-02-27 08:52] dimpase commented on #148
just for the record: I used
[code]

[2017-02-27 09:00] nthiery commented on #148
Ok; thanks for the info. My pandoc is older :-) Anyway; no big deal, to be investigated later.

[2017-02-27 09:03] dimpase commented on #148
are you done? I'd like to add more graphs...

On Mon, Feb 27, 2017 at 9:00 AM, Nicolas M. Thiéry <notifications@github.com

[2017-02-27 09:03] nthiery commented on #148
@OpenDreamKit/wp7: feedback on the report for this deliverable is welcome! You can access the current pdf by clicking "Final report" above. Well, it's not quite final, but will be soon :-)
@dimpase: you may want to update report-final.pdf from time to time.

[2017-02-27 09:04] nthiery commented on #148
Yes, I am done! (see also my private e-mail)

[2017-02-27 09:30] nthiery commented on #120
Thanks; ping me when you are done!

[2017-02-27 10:08] jdemeyer commented on #93
I made some minor edits to the GitHub issue description. If you regenerate the corresponding TeX, you can submit.

[2017-02-27 10:31] nthiery commented on #98
I did some minor edits, and added nbval's home and documentation as appendices to the report f31abeaefac54322c2b70ed24bbabf292599a161. About to submit!

[2017-02-27 10:34] nthiery commented on #98
By the way: two suggestions about nbval itself (not needed for the report):
- Better advertise the documentation notebook in the README (I missed it)
- Plausibly advertise ODK's report there: it contains relevant design and discussion material! Alternatively, that material could be moved to nbval's repo at some point.
- The documentation notebook could have a more informative title (maybe "nbval's

[2017-02-27 10:38] nthiery commented on #98
Submitted! Thanks everyone for all the cool work!

[2017-02-27 10:38] #98 closed

[2017-02-27 10:43] wbhart commented on #120
I think this is done now. I will add a link to a blog article as soon as
one is written (either today or tomorrow).

On 27 February 2017 at 10:30, Nicolas M. Thiéry <notifications@github.com>
wrote:

[2017-02-27 11:01] wbhart commented on #118
TODOs for this report have now been fixed. I've also added a link to the relevant blog post.

[2017-02-27 11:09] dimpase commented on #148
I've edited the D7.1 description to indicate software availability, as discussed, and pushed the corr. changes. Now to teaching, till the evening.

[2017-02-27 11:14] wbhart commented on #119
I've dealt with the TODO and added a link to the blog post.

[2017-02-27 11:20] #93 closed

[2017-02-27 11:27] wbhart commented on #118
@nthiery All done I think.

[2017-02-27 11:27] nthiery commented on #94
Hi @jdemeyer!
I guess that's the next thing on your plate, right? Do you need help for how to best finalize the report, and describe where we stand?

[2017-02-27 11:27] wbhart commented on #120
@nthiery All done here too I think.

[2017-02-27 11:28] nthiery commented on #44
Thanks; I'll look at this after lunch!

[2017-02-27 11:28] wbhart commented on #119
@nthiery All done I believe.

[2017-02-27 11:28] mikecroucher commented on #44
Thank you @nthiery. I've tried to act on all of your suggestions and have added a couple of appendices that include the BMS353 case study and Mark Quinn's slide deck from the January meeting which tells the story of the Physics teaching here. I think it shows evidence of great impact (Fundamentally changing how 500+ students are taught!).

[2017-02-27 11:28] nthiery commented on #44
Yeah, that's quite impressive :-)

[2017-02-27 11:34] nthiery commented on #92
@florian-rabe, @kohlhase: anybody available from Kwark to finalize the little points mentionned above?
@bpilorget: how far are you with the proofreading?

Thanks,

[2017-02-27 11:37] embray commented on #61
Like @VivianePons said, I think the copy in this repo can just be considered like a tagged snapshot.  I think the report itself should still also link to the copy in SMC's repo.  I think I mentioned in the report that it was added to the upstream docs, but I'll double-check that.

[2017-02-27 11:38] SylvainCorlay commented on #94
For those who may have missed it, we have published a release candidate for ipywidgets 6 which includes the work of @jdemeyer on the convergence with Sage.

[2017-02-27 11:41] nthiery commented on #201
Hi @kohlhase,
Could you update the github issue description accordingly? Maybe you want to add one line at the beginning of the issue description stating that the deliverable was originally called XXX, explain the shift of focus and refer to here.
Thanks!

[2017-02-27 11:43] VivianePons commented on #61
Yes, I added the link already. The idea is that the report should be
self-contained and not depend on external website, which is why I also
included the current state of the documentation.

2017-02-27 12:38 GMT+01:00 Erik Bray <notifications@github.com>:

[2017-02-27 11:45] nthiery commented on #119
Excellent, thanks! Submission planned for after lunch :-)

[2017-02-27 12:16] jdemeyer commented on #94
I pushed a first version of the report. I doesn't mention yet the live documentation, which is unfortunately broken (due to a missing XSRF cookie): https://trac.sagemath.org/ticket/22458

[2017-02-27 12:18] jdemeyer commented on #94
As far as I can tell: 1 other person besides me tried it and it didn't work, possibly because of
[code]
See https://github.com/ipython/ipywidgets/issues/1161

[2017-02-27 12:58] ClementPernet commented on #115
@aguinet What's the status of the abstract ? We need to polish the deliverable today. Keep us updated.

[2017-02-27 13:00] SylvainCorlay commented on #94
This almost certainly due to the fact that he has another version of the js installed from a previous installation.

I have written a Jupyter Enhancement proposal on how to improve the extension mechanism to make this sort of confusing situation impossible.

[2017-02-27 13:16] jdemeyer commented on #94
Shouldn't an installation of a newer version overwrite the old version?

[2017-02-27 13:23] minrk commented on #97
I updated it to use delivref where appropriate. I'll leave it to the authors to decide what to do about the Figure, if anything.

[2017-02-27 13:41] embray commented on #61
@VivianePons I noticed you added an `\includepdf{overview/overview.pdf`.  Would you like me to create a PDF version of that document?

[2017-02-27 13:48] SylvainCorlay commented on #94
It is actually a bit more subtle than that.

 - widgetsnbextension, which holds the js, is installed in the notebook prefix.
 - ipywidgets has no static assets and is installed in the kernel prefix

the static assets of the notebook extension can be installed / enabled / disabled at different levels of precedence (system, user, sys-prefix)... The current semantics for notebook extension is bad and

[2017-02-27 14:05] nthiery commented on #119
Submitted! Thanks a lot @wbhart  :-)

[2017-02-27 14:05] #119 closed

[2017-02-27 14:24] tkw1536 commented on #97
Concerning moving Figure 5, I think it is better to leave it as is. We first introduce some of the possible applications (in section 2), then describe our approach (section 3) and then only in section 4 we show what we have concretely achieved. Moving Figure 5 away from section 3 might make it more concrete in the beginning, but could also be interpreted as the screenshot showing something that al

[2017-02-27 14:28] aguinet commented on #115
@ClementPernet @nthiery

I added some notes about what's Cython and its usage within SageMath and OpenDreamKit.

[code]

[2017-02-27 15:01] nthiery commented on #120
Ok. It's ready to submit on my side too. Ping me when the blog post is online.

[2017-02-27 16:06] minrk commented on #97
@tkw1536 thanks! In that case, I think this report is ready to submit.

[2017-02-27 16:07] minrk commented on #94
I've been working on the Thebe issue, and it seems relatively difficult to resolve. Thebe ships with a copy of old notebook javascript, which doesn't set the xsrf token that Jupyter requires to protect against cross-site request forgeries. I tried a simple update in Thebe, but it hasn't worked as I hoped.

The simplest (insecure) fix is to disable xsrf checking, e.g. by launching a notebook server

[2017-02-27 16:30] tkw1536 commented on #92
@kohlhase is currently on vacation (~ until end of March), I will have a look at the points above.

[2017-02-27 16:40] alex-konovalov commented on #148
I can't build the bibliography. Can you?

[2017-02-27 16:44] dimpase commented on #148
well, yes, how would I have built the pdf otherwise?
What's the error you get?

On Mon, Feb 27, 2017 at 4:40 PM, Alexander Konovalov <
notifications@github.com> wrote:

[2017-02-27 16:46] alex-konovalov commented on #148
@dimpase I am now doing some minor edits in a branch - will make a PR for you to review

[2017-02-27 16:58] VivianePons commented on #61
I converted it automatically from the rst. I believe it's ok like this...

2017-02-27 14:41 GMT+01:00 Erik Bray <notifications@github.com>:

[2017-02-27 17:23] nthiery commented on #118
Submitted! Thanks @wbhart, and congratulations on yet another deliverable!

[2017-02-27 17:23] #118 closed

[2017-02-27 17:31] tkw1536 commented on #92
@nthiery I have just committed and pushed:
* Added an abstract in the github description: also pulled that into the report itself
* I updated Figure 1 as much as I could, but I am not exactly a tikz expert. There is more spacing now, but some of the texts don't quite want to center

I will do some proof reading later on (also counting on @Jazzpirate s help for that).
I will also try to incorporate

[2017-02-27 17:33] alex-konovalov commented on #62
@nthiery: we will be waiting for an example from @tkw1536 on Tuesday morning.

[2017-02-27 17:40] embray commented on #61
Oh, turns out I accidentally added the overview.pdf in an unrelated commit.  How do we feel about rebasing?

[2017-02-27 17:42] nthiery commented on #97
Ok. On it!

[2017-02-27 17:49] nthiery commented on #44
Submitted! Congratulations @mikecroucher and everybody who helped for making this happen so successfully, and thanks the nice report.

[2017-02-27 17:49] #44 closed

[2017-02-27 18:04] dimpase commented on #61
all your base are belong to us!

[2017-02-27 18:36] nthiery commented on #97
I allowed myself some tweaking of the figures and listings for better readability.

[2017-02-27 18:36] nthiery commented on #97
Submitted!
Thanks and congratulations @tkw1536, @kohlhase for a nice deliverable and @minrk for the help!

[2017-02-27 18:36] #97 closed

[2017-02-27 18:42] defeo commented on #61
Bad. Your commit is already buried pretty deep, it would be very painful to make sure that anyone with push rights checks out the new head, without eventually losing local modifications, and discards the old history.

I would only rebase for security critical reasons (e.g., someone commits a password in the history).

[2017-02-27 18:48] nthiery commented on #115
Thanks @aguinet; the above text reads nicely. I am uncomfortable though: in good parts this text duplicates the content the report without being quite shorter; so that does not fits the need (remember: the text is meant to appear at the beginning of the report, playing the role of an abstract).
Can you or @ClementPernet make a shorter version of this text (maybe 4-5 paragraphs?), and move whatever

[2017-02-27 18:51] nthiery commented on #92
Thanks @tkw1536! Do whatever you can for the last point, and let me know when you have run out of time and we should just consider this as done.

[2017-02-27 19:11] mikecroucher commented on #44
and thanks for all of your help. You're a star.

[2017-02-27 19:33] aguinet commented on #115
Okay i'll do that tonight!

[2017-02-27 19:38] ClementPernet commented on #115
I merged new content of Adrien's post to the deliverable. I will write up an abstract later tonight.

[2017-02-27 19:39] ClementPernet commented on #115
Ok @aguinet , send me your abstract when it's ready and I'll merge everything together.

[2017-02-27 20:32] bpilorget commented on #92
@nthiery @tkw1536 Corrected minor typos after line by line proofreading

Most of "TODOS" are gone in the latest version. But I noticed two flaws in "editing.tex":

-  paragraphe from lines 155 to 160 don't seem to make much sense (a lot of hyphens cutting the sentence)
- Still one Todo line 162: must be erased or corrected

[2017-02-27 20:44] bpilorget commented on #92
+ updated the github issue

[2017-02-27 21:46] ClementPernet commented on #115
Updated version of the report pushed. Ready for proof-reading.

[2017-02-27 22:10] defeo commented on #61
Just finished proofreading. I made a pull request to SMC with some typo fixes.

Thanks @embray for this thorough overview.

[2017-02-27 22:54] alex-konovalov commented on #148
I've submitted PR #219 merged by @dimpase. I also think that the section "Openness, licensing, etc" is not necessary. There is no unique point of view here - while @dimpase argues that GPL-style licenses are "better in sense of keeping the community together", many open science advocates will advice to use as permissive license as possible to facilitate maximal reuse and this may point to other li

[2017-02-27 23:09] nthiery commented on #115
Thanks @ClementPernet, @aguinet.

I moved your material from github-issue-description.tex into, well, the github issue description :-), and allowed myself to work some more on it. I reverted the lead to "UJF", since the change of name is not yet in the grant agreement, and this resulted in the report showing both affiliation. I also added @aguinet as coauthor; on other occasions, I would have pref

[2017-02-27 23:09] #115 closed

[2017-02-28 08:14] dimpase commented on #148
Well, flow of code and patches depend on the license type, no doubt.

The only place where more permissive is better is commercialisation. Licenses are akin to locks.
If you do not lock your bicycle it will be more used, and indeed it's more convenient not to bother with the locks, the problem is that very soon you might not see it again :-). As we are interested in building an open-source VRE, a

[2017-02-28 09:28] bpilorget commented on #20
@nthiery Github description is done. From my view only the second section of the document (obviously) needs more information. But then again if you are under water this is merely the first version.

[2017-02-28 09:32] embray commented on #61
That was my feeling as well.  Maybe in the future it will be better to work in a branch until the final is complete.

[2017-02-28 09:38] embray commented on #61
Thanks @defeo and @VivianePons for helping finish this up.  I think this is ready to go, unless @nthiery has any last comments?

[2017-02-28 10:00] VivianePons commented on #61
It's ok for me. Sorry for the overview.pdf, I thought I had included it on
my own commit but it I hadn't!

2017-02-28 10:38 GMT+01:00 Erik Bray <notifications@github.com>:

[2017-02-28 10:08] nthiery commented on #61
On Tue, Feb 28, 2017 at 01:38:10AM -0800, Erik Bray wrote:

Great, thanks a lot for the hard work!

I'll look at the report after my class, say around 2pm, and let you
know if I see anything to polish.

[2017-02-28 11:44] jdemeyer commented on #94
I just pushed a new version of the report, adding live documentation. I didn't mention that it actually doesn't work currently.

[2017-02-28 12:40] nthiery commented on #62
@tkw1536: Tuesday morning over :-)

[2017-02-28 13:04] jdemeyer commented on #94
@fcayre, @nthiery: I added you as authors too, so maybe you want to read the report? For me, it can be submitted.

[2017-02-28 13:12] nthiery commented on #94
I am finishing up submitting D3.2, and I'll hop on this one. Thanks for the notice!

[2017-02-28 13:30] alex-konovalov commented on #62
Checklist:
- [ ] finish conclusions
- [ ] add authors
- [ ] update GitHub issue in the pdf
- [ ] hopefully one more example from @tkw1536

[2017-02-28 13:44] nthiery commented on #61
Hi @embray, @VivianePons,
I have been through the report; it's really nice.
I made some tiny edits and, for more consistency, switched to a systematic use of SMC / ODK (rather than SageMathCloud / OpenDreamKit. I also reworked the github issue description for consistency with D2.4. You may want to proofread.
Just one point: the font in the appendix is kind of small. In case it would be quick, coul

[2017-02-28 13:50] embray commented on #61
Yes, I could increase the font size.

[2017-02-28 13:51] embray commented on #61
Agreed on the consistency with D2.4 (which I didn't even really know about until this morning when I read the final report, and realized it had a tiny bit of overlap with this one).

[2017-02-28 13:55] VivianePons commented on #61
I just read the new description, it's fine with me!

2017-02-28 14:51 GMT+01:00 Erik Bray <notifications@github.com>:

[2017-02-28 13:58] nthiery commented on #61
Ok, thanks! Ping me when overview.pdf with larger fonts is committed, and I'll submit!

[2017-02-28 14:00] embray commented on #61
@nthiery I'm not sure I agree with the mass replacement of `SMC` -> `\SMC`.  The latter expands to the full name "SageMathCloud", and so I deliberately didn't use it in most places, in favor of the acronym, for the sake of flow.  Is it clearer without using the acronym? I'm not so sure...

[2017-02-28 14:00] embray commented on #61
Oh nevermind, I see you redefined the `\SMC` command.  That makes sense then.

[2017-02-28 14:23] embray commented on #61
@nthiery Okay, I've made the font 25% larger. Let me know how that looks.

[2017-02-28 14:25] wbhart commented on #120
@nthiery I have added a link to the now complete blog post

[2017-02-28 14:45] nthiery commented on #94
I fleshed up a bit the github issue description, did some minor reordering in the report for consistency with the feature order in the description, and enlarged the figures in landscape mode for more readability. I committed the final pdf. I'll submit in half an hour unless someone requests some change!

[2017-02-28 14:50] nthiery commented on #62
Fixed in fdc63d4fe465671133d7c3f660d01e7b3549d40b and pushed.

[2017-02-28 14:54] nthiery commented on #61
Looks great, thanks! About to submit.

[2017-02-28 15:01] tkw1536 commented on #92
I have just pushed some more edits, in particular I updated some of the screenshots and fixed a bunch of minor typos. I will do some more typo checking, but otherwise the report will have to stay as is form my side.
Concerning paragraph 155: I think it does make sense the way it is, one just needs to read the sentence a bit more carefully.

[2017-02-28 15:01] jdemeyer commented on #94
Fix typo: open souce :-)

(open source sauce?)

[2017-02-28 15:09] nthiery commented on #61
Submitted!
@embray: that was an impressive sprint; you really saved that deliverable :-)
@VivianePons, @defeo, @williamstein, @fcayre, ... thanks for the help!

[2017-02-28 15:09] #61 closed

[2017-02-28 15:10] jdemeyer commented on #94
There is some inconsistency between `SageMath`, `Sage` and `\Sage`.

In the github description, I changed to using `SageMath` consistently but I have not changed the report.

[2017-02-28 15:11] nthiery commented on #94
Ok. I'll update the report. Anything else, or should I just submit when done?

[2017-02-28 15:25] tkw1536 commented on #62
Sorry for not doing anythign this mornign, I was working on D4.3. I am working on the example right now.

[2017-02-28 15:39] nthiery commented on #120
Submitted!
And one, and two, and three deliverables for Bill!
Congratulations for all the hard work you put in with your teammates.

[2017-02-28 15:39] #120 closed

[2017-02-28 15:48] nthiery commented on #92
Ok, thanks. Let me know when you are done with the typo check, and I'll submit.

[2017-02-28 15:57] alex-konovalov commented on #62
@tkw1536 thanks. @nthiery as far as @stevelinton and me are concerned, after having a look at @tkw1536 new example this will be ready to go. The issue description above has been updated last time this morning, if you wish, you can convert it to latex in the meantime.

[2017-02-28 16:08] tkw1536 commented on #92
@nthiery You can go ahead and submit now. I have read the report over once more and found no further typos.

[2017-02-28 16:16] embray commented on #61
Thanks for submitting! Relieved to have this "done".

[2017-02-28 16:48] tkw1536 commented on #62
@alex-konovalov I have just pushed the second example. I also re-did the first example and it now has proper syntax highlighting.

[2017-02-28 17:15] nthiery commented on #94
Submitted!
Thanks Jeroen for leading this deliverable and its reporting, and for all the hard work on interacts, migration wizard, and the zillion other little details that make the difference for our users. Thanks @vbraun too for pushing so hard on the Jupyter Sage kernel! And @SylvainCorlay, @fcayre, @dimpase, @videlec, @seblabbe, Thierry, and many others for the help on the Jupyter migration.
I

[2017-02-28 17:15] #94 closed

[2017-02-28 17:43] alex-konovalov commented on #62
@tkw1536 thanks, that looks good. @nthiery this is now ready to go, only needs your magic to fetch the latest issue description from GitHub.

[2017-02-28 17:46] nthiery commented on #92
Submitted!
Thanks @tkw1536 and @kohlhase for pushing forward interfaces for collaborative edition of mathematical documents.
Thanks @minrk and @bpilorget for the help on the report.

[2017-02-28 17:46] #92 closed

[2017-02-28 18:06] nthiery commented on #62
@alex-konovalov: could you fix the "Distrubuted" typo in READMEs/Parallel-GAP-SCSCP.pdf?
Then I'll submit.

[2017-02-28 18:26] dimpase commented on #148
as far as I am concerned it is ready for submission. But feel free to modify...

[2017-02-28 19:11] alex-konovalov commented on #62
@nthiery Fixed! Also updated issue description in both places to avoid overfull line with the long URL. Please submit!

[2017-02-28 19:57] nthiery commented on #62
Submitted!
Thanks @defeo for your hard work on implementing SCSCP for Python, @alex-konovalov for leading this very thorough report and spearheading SCSCP, and everyone who helped.
Now let's see how this supports the wider adoption of SCSCP. Keep it up!

[2017-02-28 19:57] #62 closed

[2017-02-28 20:03] nthiery commented on #148
Cool. @alex-konovalov or anyone from @OpenDreamKit/wp7: let me know if you still want to do some work on this deliverable.
By default, I am now planning to spend about one hour on D1.4, and submit this one after.
Cheers,

[2017-02-28 20:29] alex-konovalov commented on #148
@nthiery I have several typos fixed - will push soon. But the question about section 6 still remains open...

[2017-02-28 20:39] nthiery commented on #148
I agree with @dimpase that there is something to be said about licences; they certainly do influence the flow of code and patches. So often it's licensing issues that have prevented the flow of code from otherwise usefull software. We could mention a couple striking examples which hurt us badly, like gap3, Nauty, or graphviz which we could not include as standard packages in Sage.
That being said,

[2017-02-28 20:50] dimpase commented on #148
I can tone this down, but I don't think removing it completely makes sense. IMHO in UK in particular it has become so customary to ignore open source as something that does not make £££ (impactwise, too EPSRC until recently absolutely did not encourage any open-source projects whatsoever), and so the opinion in universities was always tilted toward easy commercialisation. But we are not aiming at

[2017-02-28 21:10] alex-konovalov commented on #148
@dimpase it's basically about the 2nd paragraph.

[2017-02-28 21:26] nthiery commented on #148
I agree about mentionning our point of view about open source licenses. But for GPL vs BSD this is not even something there is a consensus about in ODK. E.g. Jupyter uses revised BSD.

[2017-02-28 21:28] nthiery commented on #148
I can just remove the paragraph about GPL vs BSD. But then section 6 becomes rather tiny, unless it gets fleshed up a bit, e.g. with some Nauty/... story.
Thus, let me ask again: is there someone ready to take the time to implement that now?
We need to submit, and I need to go to bed not too late :-)

[2017-02-28 21:49] alex-konovalov commented on #148
Interesting link: https://choosealicense.com/appendix/

[2017-02-28 22:13] nthiery commented on #20
Second section fleshed up a bit; cross-proofreading with @bpilorget done. Submitted.
Thanks @bpilorget for writing this up!

Let's circulate this v1 among the participants to brainstorm toward adding some depth in v2.

[2017-02-28 22:13] #20 closed

[2017-02-28 22:21] nthiery commented on #148
For the record: we resolved the Section 6 status by chatting on gitter.

[2017-02-28 22:22] dimpase commented on #148
I propose to include in Sage a module written in this [language](https://en.wikipedia.org/wiki/Brainfuck) and licenced under https://choosealicense.com/licenses/wtfpl/

[2017-02-28 22:23] nthiery commented on #148
Submitted!
Thanks @dimpase for your work on this deliverable and report, both being borderline w.r.t. our usual comfort zone :-)
Thanks @alex-konovalov for the reviewing help!

[2017-02-28 22:23] #148 closed

[2017-03-02 08:54] nthiery opened #220 "Add deliverable status and blog link to the proposal metadata"
I propose that we add the status of a deliverable and link to relevant blog post to the proposal metadata:

      \begin{wpdeliv}[due=6,id=pari-pythonlib1,dissem=PU,nature=OTHER,lead=UB,issue=83,
                               status=submitted,blog=http://truc/foo]
	  {Python/Cython bindings for \Pari and its integration in Sage}
      \end{wpdeliv}

This will enable the automatic generation of, e

[2017-03-02 08:55] #209 closed

[2017-03-02 09:03] nthiery commented on #172
Our current workflow of writing the material in  <ODK>WPX/DX.Y/report.tex or nearby files, with an abstract (or extended abstract) in the github issue description and a tracked copy in the repo is a bit clumsy, but seems to have worked reasonably for our first 30 deliverables. I propose that we keep it this way, and am therefore closing that issue.
Please repoen if you stumble on a use case where

[2017-03-02 09:03] #172 closed

[2017-03-02 09:04] #158 closed

[2017-03-02 09:33] nthiery commented on #21
I left a comment in #193 about fixing the title as well in the grant agreement.

[2017-03-02 09:35] jdemeyer commented on #87
I am going to look again at this now.

[2017-03-02 09:38] nthiery opened #221 "Periodic technical report"
For the project review, we need to prepare a Periodic Technical Report.

This can essentially be an updated (and maybe fleshed up a bit?) version of D1.3: Internal Progress Report for year 1 #19 and it's followup D1.5 for year 3 #21.

In principle, it just have to be delivered on the day of the review, but it would be good to provide it to the reviewer some time in advance so that they can have th

[2017-03-02 09:47] nthiery opened #222 "Prepare the Formal Review presentations"
This issue is to prepare the  presentations for the formal review.

- [Agenda, with links to the slides on the review website page](http://opendreamkit.org/2017/04/24/first-project-review/)
- Notes on the content in the [README](https://github.com/OpenDreamKit/OpenDreamKit/blob/master/README.md#organization-of-official-meetings)
- Notes on the content in the [Edinburgh steering committee minutes](

[2017-03-02 09:50] nthiery opened #223 "Organize the First Reporting Period review meeting in Brussels and follow up workshop"
# General

- [X] [Web page](http://opendreamkit.org/2017/04/24/first-project-review/) @bpilorget
- [x] Manage participants @bpilorget
- [x] Quality Review Board meeting? @fangohr
- [x] Steering Committee meeting @bpilorget
- [x] Invite members of the advisory board; organize a meeting thereof? @nthiery / @bpilorget
- [x] [Slack channel](https://opendreamkit.slack.com/messages/C51ASH3V3/)

# Review

[2017-03-02 10:38] alex-konovalov commented on #208
Closing now.
- slides and supplementary materials linked from the workshop programme.
- blog posts by @rgaiacs (many thanks!): https://www.software.ac.uk/blog/2017-02-07-computational-mathematics-jupyter and https://www.software.ac.uk/blog/2017-02-13-computational-mathematics-jupyter-sprint
- Storify: https://storify.com/CIRCA_StAndrews/computational-mathematics-with-jupyter
- news on ODK and CoDi

[2017-03-02 10:38] #208 closed

[2017-03-02 11:25] nthiery opened #224 "Improved task and deliverable description on github"
Our github issues for tasks and deliverables are the primary place where ODK participants, outsiders, and our *EU reviewers* can learn about, track, and get an overview of our work. The more informative and easy to navigate those issues are, the better. We discussed this on the mailing list on Nov. 2nd of 2015, and set some guidelines which can be found in the [README](https://github.com/OpenDream

[2017-03-02 14:47] nthiery commented on #87
Excellent! That indeed looks like the major next big task. For this
deliverable, but in the first place because the Sage developers are
looking forward to it!

Feel free to ping again the Sphinx devs to encourage them to come
again to Cernay.

[2017-03-02 19:24] jdemeyer commented on #223
@pdehaye The person I know at VUB (Vrije Universiteit Brussel) and who is a GAP package developer is not available during that week. I am not really inclined to let the workshop be organised by somebody who is totally unrelated to ODK. So I think that Gent would be the best location for the follow-up meeting on thursday and friday.

[2017-03-02 19:32] jdemeyer commented on #223
Do you have an idea on the practicalities of the Brussels -> Gent move? Is the plan that participants would stay a few days in a hotel in Brussels and then a few days in Gent? If so, it would be most practical to decide on a common time to move. I assume that the dinner after the review will be in Brussels, so it looks most practical to move Thursday morning.

The fast train from Brussels-Central

[2017-03-03 07:56] kohlhase commented on #220
Good idea, I will take care of this, but probably only after I come
home, so do not hold your breath for this month.

Michael

On 02/03/2017 10:54, Nicolas M. Thiéry wrote:

[2017-03-03 08:18] nthiery opened #225 "Effective use of communication channels: mailing lists, issue comments, slack, gitter, ..."
This issue is to discuss how to best use our communication channels (mailing lists, comments on issues, slack, gitter) for effective communication, leaving a usable history behind and not flooding our fellow participants. As outcome of the discussions, some recommendations should be inserted in our [project README](https://github.com/OpenDreamKit/OpenDreamKit/blob/master/README.md#project-discussi

[2017-03-03 08:33] nthiery commented on #225
@alex-konovalov on the participants mailing list:

[2017-03-03 08:45] nthiery commented on #225
About the flood of github notifications: it's supposed to be easy to configure github notifications to various levels of verbosity. E.g. to only get noticed on issues were one has been explicitly @mentionned. Could someone report on this? It's my job to watch everything (hmm, big brother of some kind?), so I am not a good test case myself.

I agree with recommending the use of chat (gitter/slack/a

[2017-03-03 09:40] jdemeyer commented on #87
I think it was @hivert who invited them, certainly not me.

[2017-03-03 10:16] willfurnass commented on #225
@nthiery It looks like there might be two mechanisms for disabling automatic email notifications (other than explicit mentions) for your Organizations' repositories:
 - Turn off 'watching' per repo: https://github.com/watching
 - Disable automatic watching when you are given push access to a repo: https://github.com/settings/notifications

I'll give those a test.

[2017-03-03 10:42] alex-konovalov commented on #225
Of course, there is no universal solution since each of us has different habit of working with emails and Github. I certainly know that the user can switch off watching per repository but that is not something that I want to. I also know that I can set up mail rules and they will be put into some mailbox - also not something that I want to, because then I will never look at them. So my fate is to

[2017-03-03 11:02] nthiery commented on #225
On Fri, Mar 03, 2017 at 02:42:17AM -0800, Alexander Konovalov wrote:

For most participants it would be fair to only watch issues where they
are @mentioned explicitly. Especially for people like you that monitor
on slack/gitter the creation of new issues and can decide to
explicitly watch those of interest. Of course you are a more advanced
participant so your mileage may vary.

+1

+1

Even for i

[2017-03-03 13:30] defeo commented on #225
I confirm @willfurnass findings. As watchers of this repo, we're automatically subscribed to all issues and pull requests made to it (unless you've configured your global preferences not to be notified for issues/pull requests/etc.).

You can also subscribe/unsubscribe to individual issues: click the "unsubscribe" button in the (right) sidebar of this issue, and you will stop receiving emails for

[2017-03-03 13:35] defeo commented on #225
I find it very hard to reach people on gitter: the only ones I can constantly find through it are Alex, POD and Hans. Even you, @nthiery, are pretty hard to wake-up via Gitter. I think we should encourage people to activate gitter mail notifications when they are @-mentioned (top-right menu, "Room settings").

It was decided to not use Slack, so I would avoid duplicating our channels, as that may

[2017-03-03 16:23] nthiery commented on #5
Ok, we haven't touched the logo in a year. We may as well consider it as final and close this issue.

[2017-03-03 16:23] #5 closed

[2017-03-06 19:35] JohnCremona commented on #223
More practical questions: I am planning to book my travel soon, arriving
late afternoon Sunday and leaving early Thursday.  Where in Brussels will
we be staying?  Has someone decided on a hotel?

On 2 March 2017 at 19:32, jdemeyer <notifications@github.com> wrote:

[2017-03-06 22:03] nthiery commented on #223
@bpilorget: could you please have a look at this? Unless one of our
Belgium fellows would have some specific suggestions?

[2017-03-07 09:14] jdemeyer commented on #223
I don't have any particular suggestion. But I'm sure that there are plenty of places to stay near the review location (I added the address in the issue description).

[2017-03-07 09:23] pdehaye commented on #223
Me neither. Haven't lived there in a long time... and certainly not organized à conference !
Paul

[2017-03-08 17:36] bpilorget opened #227 "Periodic Technical Report - Part B"
# Periodic Technical Report for Reporting period 1

- *Period covered*: from 01/09/2015 to 28/02/2017
- *Internal deadline*: 16/04/2017
- *Authors:* WP leaders, coordinator, administrator
- **[Final report](https://github.com/OpenDreamKit/OpenDreamKit/raw/master/ReportingPeriod_1/Technical_Report/report-final.pdf)**, [Source file](https://github.com/OpenDreamKit/OpenDreamKit/blob/master/ReportingP

[2017-03-08 17:50] bpilorget commented on #227
@nthiery @VivianePons @defeo @minrk @ClementPernet @kohlhase @dimpase

As you know, a Periodic Technical Report is due for the Review (26/04/2017). The coordinator and the Work Package leaders are in charge of this. I addedthe official template to our repository here: https://github.com/OpenDreamKit/OpenDreamKit/blob/master/Periodic%20Report/RP1/report.tex

We discussed this with Nicolas and we th

[2017-03-08 17:59] bpilorget commented on #223
@OpenDreamKit/participants
The Commission has negotiated prices for researchers and experts coming to brussels for EU project matters. Here is the pdf version of the list of hotels with negotiated prices: http://ec.europa.eu/research/participants/data/support/expert/hotel-list_en.pdf. They are all in the area of the CLORA premises.

We at Paris-Sud advise and will go to the Best Western hotel (pag

[2017-03-08 18:07] bpilorget commented on #223
@jdemeyer Yes, we are planning to organise a dinner on the Wednesday evening in Brussels, so the move from Brussels to Ghent will take place on the Thursday morning if possible.

[2017-03-08 18:11] bpilorget commented on #223
For the record, it was technicaly not possible to have the rehearsals in the same room as the one booked for the Review. However it is in the same building, with the same infrastructures and I know people working there so things should be smooth.

[2017-03-08 20:39] jdemeyer commented on #223
Is there a chance of getting 2 beamers? I can imagine this would be useful, for example to use for presentation slides and a second one for demonstrating the software. I would certainly use 2 beamers if I could.

[2017-03-08 22:00] nthiery commented on #223
On Wed, Mar 08, 2017 at 12:39:53PM -0800, jdemeyer wrote:

That would be nice indeed. Benoit?

Worst case, I have a small portable LCD beamer I could possibly bring
with me; although I don't know if it's powerful enough for a larger
room; besides I'll be flying from Montreal.

[2017-03-09 07:13] fangohr commented on #222
Let's start with the constraints: we have a whole day (from when to when?) and how many rooms (@bpilorget?) at the same time to show what we have done.

[2017-03-09 07:16] fangohr commented on #222
I really liked the suggestion of having posters or (probably better:) demonstrators where reviewers can quiz some of us in greater detail - this allows them to follow their interests. I also think - at least for the parts of the project I know - that a life demonstration (or ability of the reviewer to run a demonstrations themselves) can show important aspects of the work that we cannot communicat

[2017-03-09 07:23] fangohr commented on #222
Here is a first draft an agenda, based on the idea that we have some talks and some demonstrations. I think brief talks first, then the demonstrator session is best.

9:00 arrival and coffee
9:30 Welcome and overview of the day, maybe quick overview of project (Nicolas)
Various talks [needs to be discussed]
11:00 Coffee break
11:30 demonstrator and poster session
13:00 lunch
14:15 Reviewers privat

[2017-03-09 08:42] jdemeyer commented on #223
In that case, I guess it's easier if I bring one from Gent.

[2017-03-09 09:01] bpilorget commented on #223
I will ask for the beamers. Me and viviane can bring beamers from UPSUD in any case. No need for Nicolas to fly from Montreal with this in your luggage :)

[2017-03-09 09:04] bpilorget commented on #222
Hans for the rooms see #223

[2017-03-09 16:02] bpilorget commented on #222
Dear Hans, thank you for drafting this agenda. I think presentations deserve more time, especially since 1 presentation per WP will be needed. Maybe we can plan to end the meeting at 5:30 pm / 6pm?

[2017-03-09 16:42] fangohr commented on #222
Sure, just wanted to get the discussion going ;)

We could also have one or a few talks that are 'orthogonal' to the work packages and present one or two or three activities that extends over multiple work packages. The talk I gave in Edinburgh about the micro magnetic demonstrator is a possible candidate for this: it explains some of the motivation for the project (i.e. what is not ideal at the m

[2017-03-09 16:56] JohnCremona commented on #222
Surely the great EU machine has specified how long the session should be,
start time and latest finish time?  I cannot imagine that any EU official
works overtime.

On 9 March 2017 at 16:42, Hans Fangohr <notifications@github.com> wrote:

[2017-03-09 17:08] dimpase commented on #222
surely, 40+ years of shameless local anti-EU propaganda must have left a mark on John...

[2017-03-09 17:27] dimpase commented on #222
In case anyone wonders, working days in sessions of the EU Parliament last for about 14 hours.
See e.g. [here](http://www.europarl.europa.eu/sides/getDoc.do?type=AGENDA&reference=20170314&secondRef=SIT&language=EN).

[2017-03-09 17:31] JohnCremona commented on #222
On 9 March 2017 at 17:27, Dima Pasechnik <notifications@github.com> wrote:

I thought someone would interpret my comment as anti-EU, but it was not
meant that way!  (But do MEPs get paid by the hour I wonder...)

[2017-03-09 17:41] dimpase commented on #222
@JohnCremona MEPs are paid [38.5% of the basic salary of a judge](http://www.richardcorbett.org.uk/transparency/salary-expenses/) in  the European Court of Justice. About 6200 euro p.m. after tax.

[2017-03-09 22:27] nthiery commented on #222
Thanks @fangohr for getting the ball rolling. I am about to copy your initial draft of schedule to the first comment and will do some edits.

Cross-work package presentation(s) would be nice indeed. In fact, I already asked @mikecroucher if he could prepare a short (20min?)  version of his talk [Is your research software correct?](https://mikecroucher.github.io/MLPM_talk/). I believe it sets up th

[2017-03-10 12:32] dimpase commented on #223
Anyone interested in sharing an AirBnB apartment instead of Best Western? Would be about half the price, I think.

[2017-03-10 13:51] bpilorget commented on #222
@JohnCremona Actually the agenda is up to the project. It can be organised and last as long as we want

[2017-03-11 07:37] nthiery commented on #223
If it's nearby the hotel, I am on it. Do you mind investigating what's
available?

[2017-03-11 10:55] dimpase commented on #223
I am about to book a place that will be able to host 3 or 4 people, it is 800m from the hotel.

[2017-03-11 20:09] dimpase commented on #223
OK, I've booked the place mentioned in the previous comment;
it has 4 beds in 3 rooms, that is to say that we (I assume Nicolas is joining) are looking for 1 or 2 more persons to stay there, too.

[2017-03-12 15:06] nthiery commented on #223
I confirm. Thanks Dima for the booking!

[2017-03-13 10:05] bpilorget commented on #220
OK. Not sure I understand the last line on the TODO list. You can show me next time we see each other this week.
Benoît

[2017-03-13 22:28] nthiery commented on #94
Hi @minrk,
I am sitting with @jdemeyer, and we are discussing the Thebe issue. Thanks for investigating it! We now need to decide on whether to disable xsrf checks for the local sage-jupyter notebook, as a temporary workaround.
- If we had to guess when there will be a new Thebe based on JupyterLab, what would be your guesstimate?
- How bad a security hole would this be in you opinion? Is this som

[2017-03-14 12:38] minrk commented on #94
I think we can have it in the next few months. I can work on this.

The known issue is relatively small, discussed [here](https://blog.jupyter.org/2016/12/21/jupyter-notebook-4-3-1/#431). Only some browsers are affected, and only limited actions can be taken.

[2017-03-14 13:13] nthiery commented on #220
Looking at the latex side ...

[2017-03-14 13:36] bpilorget commented on #220
We can do it tomorrow together Nicolas!

[2017-03-14 16:18] nthiery commented on #220
For the last item, I made an example on D5.6 (#119).

[2017-03-14 17:13] nthiery commented on #220
The style file now supports the metadata (but does nothing with it beside writing it to the pdata file).

The proposal metadata is now available in yaml for our web page in:
https://github.com/OpenDreamKit/OpenDreamKit.github.io/blob/master/_data/proposal.yml

To update it when the proposal is modified:

    cd <ODK>/Proposal
    make install-proposal-metadata

[2017-03-15 18:39] bpilorget commented on #193
Amendmznt was submitted today

[2017-03-15 18:40] kohlhase commented on #193
wonderful, when are we expecting it to become effective?

[2017-03-15 18:41] kohlhase commented on #193
Because once it does, we need to augment the web site (e.g. the FAU logo and that of Hans' new affiliation need to be added).

[2017-03-15 18:44] bpilorget commented on #193
The Project Officer needs to accept. From memory it is 45 or 60 days for them to answer. But it can be much faster as they were already aware of all the changes. FYI the addition of FAU is retroactive to 1st Sept 2016 so that all your expenses since then there can be eligible.

[2017-03-15 18:47] bpilorget commented on #193
Also at this ppint i havent added  withdrawal date for Southampton and Jacobsuni as no one can tell for now until when they will have OdK related expenses. If no amendment is required in the future they will simply become "ghost" partners

[2017-03-15 19:22] bpilorget commented on #220
Deliverables due M18 were generated automatically today. Still need to check if blogposts must be added to deliverables. In the making

[2017-03-16 07:08] kohlhase commented on #193
yes, that is a good way to deal with this (at least for JacU). In particular, we do not know when/if @florian-rabe  will leave Jacobs.

[2017-03-16 10:49] fangohr commented on #193
Yes, also good for Southampton - thank you @bpilorget for managing this so well with plenty of foresight.

[2017-03-16 14:17] minrk commented on #86
We're starting to focus on this deliverable, and I think we need to set some more specific goals than we have in the grant.

I think the first thing we need to do is a survey of the existing tools, and how well they serve specific use cases. For that, I think we need to collect a few use cases to explore. Can @fangohr and some others provide a few examples of 3D vis cases that they would like to r

[2017-03-16 15:36] marcinofulus commented on #86
Hi,

I am about to start subcontracting for k3d-jupyter development. I plan to
spend 30% of my subcontracting funds in next 2-3 months. This will deliver
quite functional k3d-jupyter with some vtk support, axes etc.

Still If somebody will propose to go other way I will be glad to discuss.
So far I did not spend any funds from H2020 for this work so it is open in
a sense.

There are some examples,

[2017-03-16 21:42] defeo commented on #179
go to https://webservices.opendreamkit.org/piwik for opendreamkit.org webstats

[2017-03-17 02:49] defeo commented on #179
http://webservices.opendreamkit.org/statoverflow/ (taken once per week)

[2017-03-18 21:33] alex-konovalov commented on #179
@defeo that's nice, thanks! GAP community on stackoverflow is mostly represented at /math.stackexchange.com: see the tag `gap` here: http://math.stackexchange.com/questions/tagged/gap. Tags on other sites e.g. http://mathoverflow.net/questions/tagged/gap and http://stackoverflow.com/questions/tagged/gap-system are less popular.

[2017-03-19 02:09] defeo commented on #179
@alex-konovalov, done.  `gap` tag will appear with the next fetch.

[2017-03-20 10:26] bpilorget commented on #179
@defeo Thanks a lot Luca! That looks great. Will have a look at what can be done in addition to that

[2017-03-20 10:35] bpilorget commented on #179
@defeo Is there an ODK account created for PIWIK? It asks me for it and there is nowhere I can find how to sign in

[2017-03-20 13:24] defeo commented on #179
@bpilorget, account data is in the private ODK repo Participants (file Analytics.md)

[2017-03-21 13:25] nthiery commented on #222
Hi,
I have reworked a tiny bit the tentative agenda for the review meeting (adding 1/2 hour for the WP presentations). With that, we have 1.5 hours for "2-3 story telling presentations" and three hours for the WP presentations. This means:

- about 25 minutes per story telling presentation
- 30 minutes per WP presentation, including questions and transitions (WP1 and WP2 should be quite short; so

[2017-03-21 16:55] bpilorget commented on #222
Considering I will need to present the use of resources-/KPIs, , and that many many dissemination events are organised that could last a bit more than 30 min for both of them.

[2017-03-21 18:49] fangohr commented on #222
Hi Nicolas,

the agenda looks very reasonable to me.

Just two comments/questions; none of them major:

1. I would possibly skip the demonstrations at 9:00, and instead get project partners to set up posters / demonstrations in that time, and use the 30 minutes for a leisurely arrival of reviewers, informal introductions etc. As we haven't been in the particular room yet (if I recall correctly), w

[2017-03-21 22:21] fangohr commented on #222
Forgot to respond to the idea of the Q&A session: I wouldn't schedule anything on this. This is the kind of questioning that the reviewers can either conduct informally during the poster sessions, or at the end of each talk (where I expect we invite questions - in fact I would suggest to encourage questions throughout all presentations, while at the same time we will not overrun ...).

Finally, th

[2017-03-22 09:13] nthiery commented on #222
On Tue, Mar 21, 2017 at 09:55:58AM -0700, bpilorget wrote:

The reviewers will already have read a detailed reports about the
events for year 1 (D2.2). Briefly stating some figures about all the
events organized (number, types, total number of participants, ...),
with highlights on a few typical ones (maybe Women in Sage, Cernay,
and the Jupyter one in Edinburgh?) should be enough, shouldn't it?
T

[2017-03-22 09:30] VivianePons commented on #222
Yes, I agree, I think it should take me 10~15 minutes to present to whole
WP.

2017-03-22 10:13 GMT+01:00 Nicolas M. Thiéry <notifications@github.com>:

[2017-03-22 10:12] nthiery commented on #222
Ok, sounds good; no specific Q&A session then, unless someone really
cares for it. Thanks Hans for the feedback.

[2017-03-22 11:04] nthiery opened #228 "How to run automatic demos based on Jupyter"
For ODK's formal review (and certainly elsewhere), we will want to have self-running demos that our reviewers can glance through. A nice way to author such demos would be to produce a collection of Jupyter notebooks. And then have some "run demo" gadget that would take each notebook in turn, and execute the cells one by one at a slow pace (every 10s maybe?). And then pause longer and switch to the

[2017-03-22 11:26] nthiery commented on #222
We need a good concise title for the 9:45 session, which is about short cross work-package presentations telling a story to set up the stage. Here are some I came up with, but am not happy about:
- Cross work-package presentations
- User stories
- Overview presentations

[2017-03-22 11:27] nthiery commented on #222
Also: in this session, we would need a mathematics-centered story.

[2017-03-22 13:27] nthiery commented on #228
This could actually be relevant for #151.

[2017-03-22 14:37] minrk commented on #228
I'm not aware of such a thing. The slowly step through the notebook (ignoring user intervention) is pretty simple. Switching to other notebooks and allowing it to pause/resume when users interact with it would be a bit more complicated.

[2017-03-22 14:57] defeo commented on #228
Very hackishly: embed a link "next notebook" in the last (markdown)
cell. When execution is finished, change `window.location` to it.

I agree. Doable, but certainly more painful.

I can give a hand. But you certainly know the JS API better than me.

[2017-03-22 14:59] minrk commented on #228
Here's a bit of javascript that will cause the notebook to step through each cell every ten seconds until the end:

[code]

This could be loaded in an extension to run such a demo for a single notebook. Switching between tabs automatically would be more challenging without running afoul of pop-up blockers.

[2017-03-22 15:35] nthiery commented on #222
Feedback from our PO:
- Start at 9 am sharp with a welcome (remove the 20 mins arrival)
- Move the session 1 at the end – I’d prefer to have all the all technical work presented as a priority
- Closed reviewers + PO meeting at 16-17:00 parallel with the coffee break
- Feedback and discussion at 17:00

[2017-03-22 16:15] nthiery commented on #222
With @bpilorget, we refactored the agenda according to our PO suggestions. Please check. Now the poster and demonstrations will be during the morning coffee break and lunch break.

[2017-03-22 16:25] nthiery commented on #228
Thanks @minrk, @DeFeo for investigating this! That's already a nice
start. @minrk Could you provide an example notebook demonstrating your
javascript code in action? For now, it's fine if, e.g., the first cell
of the notebook is dedicated to loading the javascript from some
external file (to not clutter the notebook) and running it.

We can do without the "stop and restart" feature for the project

[2017-03-22 17:45] fangohr commented on #222
Would it make sense to Mike Croucher's talk first, and then the Jupyter show case? Mike's talk basically outlines all the things that can go wrong, and in in the Jupyter-OOMMF story we start to address that with solutions, so it would be natural to outline the problems first? (@mikecroucher)

[2017-03-22 23:03] minrk commented on #228
@nthiery Sure. I'll try to put up a demo notebook soon.

[2017-03-22 23:06] nthiery commented on #222
Good point! I changed that.

[2017-03-23 09:13] nthiery commented on #228
Great, thanks!

[2017-03-23 11:08] bpilorget commented on #179
Hello @haraldschilly @wbhart @alex-konovalov @videlec @JohnCremona @embray @williamstein

We will soon need the first measures of the above Key performance Indicators. They are due for the review on the 26th April and the sooner we have them the better.

Can each of you take a look at the description of this issue (#179)? Your names are written next to 1 or several indicators that I and @nthiery t

[2017-03-23 11:24] haraldschilly commented on #179
Hi @bpilorget, uhm, I'm mentioned twice, but I don't know why you think that I can help here?

* **sagemath download numbers:** we don't have that. there are many mirrors and we don't even have solid numbers for the one we're running by the project. what I can give you is are some general indicators, like number of website visits and activities on the download page, but I don't think they're accur

[2017-03-23 12:09] defeo commented on #179
Hi @haraldschilly, thanks for the reply.

Yes, that will do. We already gathered some approximate download data from sources we had access to, see https://github.com/OpenDreamKit/sagemath-ppa-stats/blob/master/index.ipynb. From many inaccurate data, we can see something more or less accurate emerge.

I think Benoît is meaning cumulative stats, i.e. downloads from Adam & Eve until Feb. 28. Yearly o

[2017-03-23 14:44] haraldschilly commented on #179
ok, let's start simple, attached are monthly website users. I don't have yearly numbers...
[Analytics sagemath.org Audience Overview 20080228-20170228.xlsx](https://github.com/OpenDreamKit/OpenDreamKit/files/865094/Analytics.sagemath.org.Audience.Overview.20080228-20170228.xlsx)

[2017-03-23 15:13] haraldschilly commented on #179
monthly download numbers: they're only from tracking clicks on the mirror pages, which I think isn't really accurate at all, but it's at least something to hold on to. The real numbers are higher. The sum across all them is half a million, though.
[Analytics sagemath.org Top Events 20090228-20170228.xlsx](https://github.com/OpenDreamKit/OpenDreamKit/files/865173/Analytics.sagemath.org.Top.Events.2

[2017-03-23 15:23] haraldschilly commented on #179
regarding SMC, I'll discuss with @williamstein what we want to share. we have [a stats page](https://cloud.sagemath.com/7561f68d-3d97-4530-b97e-68af2fb4ed13/raw/stats.html) and besides that, and to give you a solid benchmark number, in the year 2016 there were 81000 active users.

[2017-03-23 15:30] bpilorget commented on #179
Thanks Harald for all the info. This year's benchmark is also the occasion to see which measure is technically possible and meaningful so it's totally fine if you can't give an answer to all questions.

[2017-03-23 19:52] JohnCremona commented on #179
Number of datasets in LMFDB:

50 in production database (see www.lmfdb.org/api)
84 in beta database (see beta.lmfdb.org/api)

Support SCSP

Unknown.  I could not find SCSP in Google.  I presume 0.

Nr of requests on LMFDB and MMT

On LMFDB:  a snapshot from Google analytics in www.lmfdb.org shows in the last week:
1357 sessions
885 users (split 50/50 between new and returning)
6950 page views
4m21

[2017-03-23 20:13] jdemeyer commented on #228
It might be useful to have support for ipywidgets too, for example showing some interact and change the widgets. I know that one can easily modify widgets from Javascript, so this shouldn't be too hard.

[2017-03-23 21:03] defeo commented on #179
That's SCSCP. And I don't think LMFDB supports it ATM.

[2017-03-23 21:06] haraldschilly commented on #179
On Thu, Mar 23, 2017 at 8:52 PM, John Cremona <notifications@github.com>
wrote:

​on top of that, the number in the brackets give you the number of
documents (aka "row") in the table.​ it would be a neat exercise to sum
them up to know how many there are in total in the entire lmfdb :-)

[2017-03-24 09:04] nthiery commented on #228
Good point!

If some widget (e.g. a slider) is connected to some Python variable v
via a traitlet, an easy approach for the notebook author would be, in
a cell just below, to write a little script that changes `v` as
desired. The advantage is that this is very flexible while not
requiring anything new.

Could this be made to work with an interact? E.g. do we have a way to
access the traitlets / va

[2017-03-24 09:31] bpilorget commented on #222
@nthiery The agenda is good to go?

[2017-03-24 09:31] JohnCremona commented on #179
On 23 March 2017 at 21:06, Harald Schilly <notifications@github.com> wrote:

For the beta database that is 82824717 individual objects.  This is
something of an overcount since it includes indices and some test
collections.  It also does not include two large collections kept
separately from the main mongo database:  (1) 2^40 class groups of
imaginary quadratic fields (2.1 terabytes); (2) 103,800,

[2017-03-24 10:18] nthiery commented on #222
I would not mind having a good title for the "cross workpackage presentation session". And a third presentation title. Other than that, it's good to go. So go ahead if need me.

[2017-03-24 10:38] minrk commented on #228
@nthiery if you use `interactive` instead of `interact`, you have a handle on the widgets.

[2017-03-24 10:43] fangohr commented on #222
Words like 'context' and 'motivation' would be good to refer to Mike's talk as he outlines what the challenges are. It's not so clear how we capture the first results we include, that these go across work packages but are also not at all an exhaustive representation of the project (other than through 'case study'). Maybe 'Context and case study'? I think we can improve on this, input is welcome, b

[2017-03-24 10:49] nthiery commented on #228
I was precisely trying this out; thanks for the tip though! it works smoothly:

    from ipywidgets import interact, interactive
    from IPython.display import display
    import time

    def f(z=(0,10)):
        return z^2
    I = interactive(f); display(I)
    slider = I.children[0]
    for i in range(10): time.sleep(1); slider.value=i

This clutters a tiny bit the notebook but nothing bad.

[2017-03-24 10:52] jdemeyer commented on #228
You can do it with `@interact` too:
[code]

[2017-03-24 10:56] nthiery commented on #222
I like "Some context and case study". Let's go with that. Thanks Hans!

[2017-03-24 11:05] nthiery commented on #228
Ah ah, much better! I had tried something like that, but had missed
that the widget was inserted into f as an attribute.

I guess that does the job for your use case, right?

[2017-03-24 13:14] nthiery commented on #222
About a third more mathematically oriented "Context and case study": what about a quick demo of using SageMathCloud + Jupyter for collaborative experimental research and teaching?
@VivianePons: would you be up for it?

[2017-03-24 13:48] bpilorget commented on #222
That would be a good idea! It definitely gives a better picture of how the ODK VRE can be used on a daily basis! 👍

[2017-03-24 14:47] VivianePons commented on #222
Sure, that sounds feasible.

2017-03-24 14:48 GMT+01:00 bpilorget <notifications@github.com>:

[2017-03-27 13:01] florian-rabe commented on #223
I'm confused about the state of the follow-up workshop.

Moving to a different city for two days seemed strange in the first place, and as far as I can see (Maybe I'm missing something?) there is not much organization going on.

The ODK participants seem to be unconvinced of the follow-up workshop, too: The poll for attendance shows only a few participants.

* Is it worth having it at all in the p

[2017-03-27 13:08] kohlhase commented on #223
Dear all,

I will not be able to do the thursday, and I am not thrilled to come
back for the friday, so I would be happy if we substituted some other
meeting for WP6.

Michael

On 27/03/2017 15:01, Florian Rabe wrote:

[2017-03-27 13:32] vidartf commented on #86
Sorry for the delay, but I have completed a review of the existing packages, with a report in PR #229.

Please consider the report as a short summary of the different current tools, to help make an informed decision about how to best proceed. I wanted to keep it brief to make it something that can quickly be skimmed through, but please let me know if there is any other information you feel is impo

[2017-03-27 13:52] bpilorget commented on #227
@nthiery @VivianePons @defeo @minrk @ClementPernet @kohlhase @dimpase
I filled in most of the WP1 section. You can take it as an example for your own WP you are leading.

[2017-03-28 08:02] minrk commented on #227
Thanks, @bpilorget!

[2017-03-28 09:19] nthiery commented on #223
About the location: the rationale for moving to Gent was that we don't
have a meeting room in Brussels and accommodation is expensive there.

About the topic: as planned, that was to be decided depending on
potential participants. Here is the list:

        Nicolas, Paul, Dima, Jeroen, Min?, Michael?, Erik, Luca? Florian?

        plus our invitee Thomas

So few people available and not a clearly

[2017-03-28 09:35] dimpase commented on #223
Cancelling the workshop is a bit too late for me at least, I already booked my ticket to Brussels.
(well, I can find something to do there or in the neighbourhood...)

I'll check whether AirBnB can be extended now.

[2017-03-28 09:50] jdemeyer commented on #223
The main reason to have the follow-up workshop was to have something "fun" to do after the review. I agree that staying in Brussels might have made more sense, but it didn't work out to organize that (there are universities in Brussels but there is nobody close enough to ODK to organise something). So then we decided to move to Gent.

Well, it's only two days and a few people, so not much needs to

[2017-03-28 10:10] pdehaye commented on #223
I just had a chat with Nicolas, and offered to take over organisation if it
takes place in Brussels.
I think this would be best, given that we can easily find a good space
there for the number of people we are, possibly the AirBnB. Jeroen, thanks
for offering repeatedly to host, but one has of course to factor in the
individual trouble of moving from one place to another, finding bearings,
etc.
Di

[2017-03-28 10:13] jdemeyer commented on #223
Fine for me.

[2017-03-28 10:54] dimpase commented on #223
Yes, it's possible to extend (for 1 or 2 days - I didn't check for more). Tell me the exact departure day (I will leave on Friday evening).
I suppose we can negotiate with the host to leave in the afternoon rather than in the morning...

[2017-03-28 11:06] pdehaye commented on #223
I think Friday afternoon would work well. By later we will be a very small
group indeed!
Paul

On Tue, Mar 28, 2017 at 12:54 PM, Dima Pasechnik <notifications@github.com>
wrote:

[2017-03-28 11:26] minrk commented on #223
It is my current plan to participate in the Thursday part of the workshop, returning Thursday evening. But I don't know what work is planned during the workshop, so I'm not sure if it's useful to people for me to stick around. I can get a cheaper/earlier flight home if the workshop is focused on other things.

[2017-03-28 11:33] jdemeyer commented on #223
I would certainly find it interesting to discuss some Jupyter-relating things.

[2017-03-28 11:42] minrk commented on #223
@jdemeyer Perfect! Then I'll leave Thursday evening on the latest flight I can book.

Since I won't stay Thursday night, the Gent / Brussels move doesn't matter too much to me, other than potentially consuming workshop time early on Thursday.

[2017-03-28 12:34] minrk commented on #223
@dimpase I'd like to join the AirBnB if there's still a slot. I'll be there Sunday-Thursday.

[2017-03-28 12:36] dimpase commented on #223
@minrk OK, great, you are in! please email me what I should enter as your contact details for the AirBnB host.

[2017-03-28 14:00] florian-rabe commented on #223
I understand we're converging on a Thursday and possibly Friday workshop in Brussels.

Then I'll book accordingly.

If it helps with organizing, I'm fine having the follow-up meeting in a very informal environment.

[2017-03-28 14:04] takluyver commented on #223
Just to check, is that me, or another Thomas? If it's me, I've totally missed the invitation.

[2017-03-28 14:39] pdehaye commented on #223
Different Thomas. Will explain if he actually comes, and not through GitHub
notifications, maybe.

On Tue, Mar 28, 2017 at 4:04 PM, Thomas Kluyver <notifications@github.com>
wrote:

[2017-03-28 14:44] dimpase commented on #223
OK, AibBnB is rebooked so that we depart on Friday, and also a confirmation that on Friday we can stay longer for 1/2 day extra price. @nthiery - could you confirm your AirBnB invite?

[2017-03-29 09:31] videlec commented on #223
I will be around the whole week and available for the workshop in Bruxelles or Gent.

@dimpase I have my own accomodation in Bruxelles. No airbnb for me.

[2017-03-29 15:09] bpilorget commented on #222
Agenda is set: no more changes allowed

[2017-03-29 15:24] pdehaye commented on #223
So to confirm we are all on the same page: the extra two days some of us will stay in Brussels, not too many though, so it will actually be possible for all to work together in the AirBnB.
Correct? If so I or someone else should send a separate message to the list of participants because I am afraid this info is buried here in notifications not everyone is reading.
Paul

[2017-03-29 15:27] bpilorget commented on #223
@pdehaye It seems so. @jdemeyer please take the lead on this. Nicolas is currently packing for Canada and won't be back to work before Monday I'm afraid. Here is the Review poll if it can be of some help for the organisation: https://framadate.org/MPxYiQTu1JZjHuJp

[2017-03-29 15:36] pdehaye commented on #223
I promised I would take the lead if it was in Brussels so I will do an announcement separately on that. Will gather needed information first with individuals who have it.
Thanks Benoît for sending the poll which I had lost.
Paul

[2017-03-29 16:11] nthiery commented on #223
Thank you Paul for leading this and Jeroen for all the time taken
previously investigating the options in Gent! Sorry for the last
minute change of plan ...

[2017-03-30 09:31] embray commented on #65
@nthiery and I have talked a bit before about making a package template for Sage related projects, and there has already been some work on that I think, though I forget where.  I've mentioned before that [cookiecutter](https://github.com/audreyr/cookiecutter) might be a good system to use for easy bootstrapping / customization of a Sage-related package.

I bring this up again, now, because the Ast

[2017-03-30 10:58] slel commented on #65
@embray wrote:

A summary is in a Sage-devel discussion:
https://groups.google.com/d/topic/sage-devel/H1PfTgSPgd0/discussion

Suggestion: renaming `sage-sample` to `sage-package-template` and
moving it from github.com/nthiery to github.com/sagemath would
probably make it easier to discover (making sure to use the appropriate
renaming procedure on github so that a redirection is set up).

[2017-03-30 12:38] minrk commented on #86
@marcinofulus thanks!

After reviewing K3D and ipyvolume, they appear to have a lot in common in terms of goals, and ipyvolume seems to be in a more mature state. @vidartf is going through the SageDays74 examples from K3D to see what the same examples would look like in ipyvolume, or find if there is significant functionality in K3D not in ipyvolume. If it appears that ~everything there can be don

[2017-03-31 11:11] marcinofulus commented on #86
Hi Min,

Since the time is marching on, I will sign  now a contract with 33% of my funds with the group of developers. However it is not written in the agreement k3d specifically but - "equivalent" features.
It will of course be much more productive for those guys to continue with k3d.
@vidartf  - let me know how things are going

[2017-03-31 11:38] vidartf commented on #86
@marcinofulus Hi!

At the current standing IPyVolume does not yet have surface/line plotting, but this is stated as an eventual goal. As most of the SageDays examples are using surfaces, those do not currently transfer. On the other hand, the scatter plots examples does transfer well.

The two projects seem quite similar in what they want to do (although I cannot be entirely sure of K3D's intended

[2017-04-03 08:10] bpilorget commented on #227
PING

[2017-04-03 08:15] bpilorget commented on #179
PING

[2017-04-03 09:39] jdemeyer commented on #87
Some tickets needing review:
- https://trac.sagemath.org/ticket/22604
- https://trac.sagemath.org/ticket/22490
- https://trac.sagemath.org/ticket/22560
- https://trac.sagemath.org/ticket/22588

[2017-04-03 12:42] kohlhase commented on #179
Actually, we are building a connection beween lmfdb and MMT and that can speak SCSCP, so we expect an SCSCP-based front-end for lmfdb (but probably not before the review meeting).

[2017-04-03 12:56] kohlhase commented on #179
We can also add numbers on the size of the MitM ontology and the Sage/GAP exports.
Last week (after @nthiery extended the Sage export) was

#Categories: 297
#Axioms: 26
#Methods: 1168
#Classes 111

@Jazzpirate can you update the numbers after @pdebuyl s new generation?
@markuspf, can you please update the GAP import so that we can count.

[2017-04-03 12:58] pdebuyl commented on #179
Expeditive autocomplete?

[2017-04-03 12:58] kohlhase commented on #179
indeed, sorry I meant @pdehaye

[2017-04-03 13:00] kohlhase commented on #179
I am not sure about the way we want to do the KPIs, do we regularly collect them? In this case, we should have a service that computes statistics as the ones above.

[2017-04-03 13:46] bpilorget commented on #179
What was decided was to collect the KPIs at months 18, 36 and 48.

[2017-04-03 14:24] pdehaye commented on #179
Mais bonjour à ta sœur, non? ULB physique?   :-)

[2017-04-04 07:47] kohlhase commented on #227
I am not sure what I should do here.

I have committed a version that fixes all LaTeX problems except one (a WPref, where I do not know the target). The report now has a title (see the stuff after the ```\makeatletter```).

[2017-04-04 08:02] bpilorget commented on #227
Thanks. Nicolas meant to find a solution for the title.
As WP6 leader you must write a summary of the activities of WP6, task per task. You can follow the example of WP1 if you don't see what I mean.

[2017-04-04 16:17] jasongrout commented on #86
CC @maartenbreddels, @sylvaincorlay

[2017-04-04 16:21] jasongrout commented on #86
CC also @choldgraf, who I think may be interested in development of 3d visualization in the notebook.

[2017-04-04 16:29] jasongrout commented on #86
I'll also throw in that I've been looking at [regl](https://github.com/regl-project/regl) as a possible webgl library to wrap in interactive widgets. Regl was written by @mikolalysenko, IIRC the same guy that wrote the stackgl framework that plotly uses (or used?). It's lower level than three.js, I think basically providing an easy way to use shaders directly (but we apparently can use [glslify](h

[2017-04-04 16:31] choldgraf commented on #86
![](http://media2.giphy.com/media/dOJt6XZlQw8qQ/giphy.gif)

[2017-04-04 16:33] choldgraf commented on #86
here's one example of a visualization in neuroscience that would meet a lot of the neuro usecases:

![](https://cloud.githubusercontent.com/assets/1839645/15911487/eec6d8e6-2d84-11e6-8fca-deccdeed4447.png)

Note that it has:

* interactive 3D surface rendering
* Coloring etc on that surface (ideally with some kind of interpolation + spread function around a focal point but that can probably be don

[2017-04-04 16:34] maartenbreddels commented on #86
On the volume vs non-volume rendering. I started with volume rendering because I needed it, and knew how to add glyphs to that, since I was using that in vaex as well. After that, putting in scatter plots, or any solids (non-transparent) is trivial. The other way around isn't though, it is not easy adding in volume rendering as an add on. Of course this is my completely biased view as author of ip

[2017-04-04 16:36] maartenbreddels commented on #86
@jasongrout I'd say threejs is really simple to use, making it easier for 3rd party contributers.

[2017-04-04 16:37] jasongrout commented on #86
The other huge plus about threejs is that it is quite popular and active.

[2017-04-04 16:39] choldgraf commented on #86
I would like to give a +1 to @maartenbreddels's comments re: simple to use. I think this is a challenging space for the OS scientific community because (excepting most folks in this thread) most scientists don't know javascript. Using libraries that are easier to grok in a short amount of time will make it easier for new people in the open science community to get involved, IMO.

[2017-04-04 16:58] SylvainCorlay commented on #86
Between pythreejs and ipyvolume, and the folks of the two packages working together on most issues, I think we have a good chance to come up with the right solution.

:+1: on an ipyvolume / pythreejs synergy on this.

[2017-04-04 17:00] choldgraf commented on #86
if at the end of this there is a viable 3D plotting solution in python that works interactively + easily converts to static images + works on both python 2/3 + doesn't take 2 weeks to get set up properly, I will buy you all 🍻

[2017-04-04 18:35] maartenbreddels commented on #86
threejs also has many batteries included, such as marching cubes algo, making isosurface rendering quite trivial.

@choldgraf I'd see that visualization should be possible with ipyvolume in the not so distant future. The volume rendering may need some work to get it to look like that. The scatter needs support for sprites (2d textures always facing the camera the same way), this is on my wishlist

[2017-04-04 19:38] gouarin commented on #86
Hi,

I am also interested by this topic and I should have some good tests cases in fluid mechanics: Lattice Boltzmann schemes (https://www.math.u-psud.fr/pyLBM/gallery.html : 3D cases will coming soon), adaptive refinement, fluid/particles interaction, micro swimmers. I think that it should be great to be able to use this package with cling and I hope that with the work of @SylvainCorlay and @Joha

[2017-04-04 20:09] mikolalysenko commented on #86
Just want to say that this project sounds really cool and if you all need any help don't hesitate to ask.  Regarding regl, there is a gitter channel https://gitter.im/mikolalysenko/regl where someone is usually around to take questions.

[2017-04-05 17:14] choldgraf commented on #86
I just had a conversation about this with folks in my lab and they brought up a really good point:

It will be really hard for this to be generally useful unless it's also possible to generate 2D images from the 3D viz. Also, annoying but importantly, this should be possible **without** a web browser.

For example, many people are starting to work on clusters that don't have any kind of proper UI,

[2017-04-05 17:24] SylvainCorlay commented on #86
- @choldgraf one thing that is already possible without a web browser, and even without any sort of front-end is to generate the serialized `jupyter-widgets` mime type in pure html which, when (eventually) opened by any web browser will result in the same rendered widget. Actually, this is how I generated the content for the page http://jupyter.org/widgets and also how the sphinx extension works a

[2017-04-05 17:32] maartenbreddels commented on #86
With ipyvolume, you can get a 2d image, but only from within a browser. There are headless browsers around, so I think it is technically possible, but as @SylvainCorlay mentions, it's easy to save the html output, open that in your browser and get an image from there (actually, I maybe should do a 'download as image' button in ipyvolume).

Also, if you run from some cluster hardway around the worl

[2017-04-05 18:08] choldgraf commented on #86
It sounds like it's "sort of" possible assuming people are willing to jump through hoops etc.

I agree with the general sentiment that one could attach a remote jupyter instance to a local web browser, though I think that for many scientists this is too much hoop to jump through. For example, what if I parallelize a computation that runs on 1000 files and generates a 3D viz for each one, writing i

[2017-04-05 18:18] jasongrout commented on #86
Two comments: (a) I *think* there are ways to run a headless browser and get opengl rendering (seems I recall doing something like running some sort of headless frame buffer in X, or something, a long time ago). (b) if vector format is needed, I'll mention http://www.geuz.org/gl2ps/ as an approach for rendering opengl calls (I've been keeping my eye on that project for about a decade, wanting to h

[2017-04-05 18:23] choldgraf commented on #86
I'm guessing, yeah. Though probably more important is in generating actual PNG files etc. It seems a smaller use-case problem to me for somebody to want a pop-out window for the viz, but who refuses to have this in the browser. A more common use case might be a user that isn't working interactively (e.g. is using this script to generate many many figures automatically).

[2017-04-05 18:26] maartenbreddels commented on #86
In think in this use case you'd have to jump through hoops (doing offscreen rendering), or use software rendering. Maybe we're going off topic here, but I don't see a human going through 1000 3d visualizations, is this a real use case? :)

Write you own software in Qt ;). But seriously, the browser is a really good platform, people just need to get used to is, many of these things are possible bec

[2017-04-05 18:28] choldgraf commented on #86
I agree with all of your points, I'm just saying that a large number of scientists need to turn their visualizations into static 2D images. Many of them need to do this in a way that isn't interactive, and some of them need to do this without a browser. I'm not saying it's required to support all these use-cases, just trying to lay it out so that it's clear!

[2017-04-05 18:34] maartenbreddels commented on #86
I'd say VTK/Mayavi would cover that use case, and is pretty good at that right? I'd be nice to have one package, but that may be a difficult to reach goal. (I have to say that I also agree with you, and I have thought of bringing Qt/OpenGL into ipyvolume... )

[2017-04-05 18:36] choldgraf commented on #86
It depends on your feelings about Mayavi ;-) I can tell you for sure that for many scientists, when I describe this 3D viz development in jupyter, think to themselves "oh my god I will finally be able to uninstall Mayavi" :P

[2017-04-05 18:37] choldgraf commented on #86
which again is not saying that it *needs* to replace mayavi at all, just trying to convey what potential users have been telling me :)

[2017-04-05 18:42] maartenbreddels commented on #86
Well, if ipywidgets gets a Qt frontend, I'm happy to make a start for a Qt/OpenGL rendering for ipyvolume.

[2017-04-05 18:57] mikolalysenko commented on #86
For `regl`, you can use https://github.com/stackgl/headless-gl which works in most CI environments and on Linux/OS X/Windows.   This lets you save the pixels of the framebuffer out to a file and can be used to generate raster images.

[2017-04-06 05:56] prabhuramachandran commented on #86
I agree that it is very important to be able to generate plots without the need for a UI, this is what will truly facilitate reproducible computing.  It would be very nice from the point of view of reproducibility to automatically generate plots. This is hard with Mayavi as offscreen rendering is surprisingly hard to get properly setup and configured on all platforms.  I think it is doable but I j

[2017-04-06 15:31] choldgraf commented on #86
++1

Actually you're right that the installation is getting easier and easier. I apologize if that came off as harsh, I love Mayavi and use it all the time. I think I may have PTSD from spending many half days trying to get VTK / Mayavi / etc installed on other people's computers.

I think that in my use case it's just that we don't have a huge demand of the 3D graphics, and most people want somet

[2017-04-06 15:47] SylvainCorlay commented on #86
I don't know if I made it clear that with the widgets solution, it *is* possible to generate the plots without a browser. The browser is only required to *render* the plot eventually.

[2017-04-06 16:10] kohlhase commented on #220
I have added that to the official LaTeX-proposal.

[2017-04-06 16:10] #220 closed

[2017-04-06 17:20] nthiery commented on #220
Thanks @kohlhase!
@bpilorget : please either check the box above if all blogposts have been added. Otherwise please reopen the issue.

[2017-04-07 10:16] VivianePons commented on #29
Hi all,

I'm writing the technical report for the review. Do we have anything to say on this task except that we did #44 ?

@fangohr ? @mikecroucher ?

[2017-04-07 10:24] VivianePons commented on #30
Anything happened yet on this task? @fangohr

[2017-04-07 10:29] VivianePons commented on #31
Anything happened on this yet? @fangohr

[2017-04-07 10:30] fangohr commented on #30
Yes, I'll ask @mb1a15 to give you some details. (According to the work phases, we shouldn't have started this task yet, but I suppose it doesn't do any harm to be ahead of schedule.)

[2017-04-07 10:34] fangohr commented on #31
Yes! @mb1a15 - could you provide a paragraph to Viviane that describes the kind of workshops we have done already, please? Do include the one at the Intermag in April as well.

[2017-04-07 10:36] VivianePons commented on #32
Anything happened there yet? (For the technical report fo rthe review) @marcinofulus ?

[2017-04-07 10:38] fangohr commented on #29
I think #44 is a great story, and this item here should definitely refer to that.

I think there may be an additional case of people at Southampton using the notebook/nbgrader where this hasn't happened before. I'll check and get back to you.

[2017-04-07 10:39] VivianePons commented on #33
I see there were many discussions on this task, did we reach any conclusion at all? I'm about to write the technical report and want to give an update on our progress.

[2017-04-07 10:41] VivianePons commented on #30
Yes exactly. And as we are asked to update on each task, it's good to show
that we have some vision and planning things ahead of time!

2017-04-07 12:30 GMT+02:00 Hans Fangohr <notifications@github.com>:

[2017-04-07 11:46] mb1a15 commented on #30
We created a GitHub organisation named JOOMMF, where the micromagnetic VRE code is publicly hosted (https://github.com/joommf). For each JOOMMF package we use continuous integration on Travis CI (e.g. https://travis-ci.org/joommf/discretisedfield) where we perform tests and monitor the test coverage, which we then make available on Codecov (https://codecov.io/). Documentation for each package cons

[2017-04-07 12:02] mb1a15 commented on #31
We had several workshops and tutorials so far where we demonstrated the use of our Micromagnetic VRE, received feedback and feature requests from the community:

- two workshops at the 61st Annual Conference on Magnetism and Magnetic Materials in New Orleans,
 LA, USA (2nd and 3rd November 2016).
- tutorial at the Deutsche Physikalische Gesellschaft Fruehjahrstagung (Spring Meeting) of the Condens

[2017-04-07 12:04] nthiery commented on #30
Hi Marijan,

Thanks, that's very helpful. Please copy this text in the issue
description (first comment on the issue), and keep it updated! This
way people (including ourselves) browsing through the tasks on github
can quickly get a sense of where we are at.

@VivianePons & everyone: same for the other tasks.

[2017-04-07 14:00] VivianePons commented on #26
I was wondering where we are concerning Singular workshop. Did any of them happen already? Are they planed? @wdecker ?

[2017-04-07 14:36] fangohr commented on #32
At Southampton, we have started to create interactive notebooks that support teaching of mathematics and computing to engineers. In particular, we have studied the feasibility of converting existing teaching materials (in LaTeX) containing code snippets into interactive notebooks. This is work in progress.

We worked together with the Simula team in directing the design of the (NBVAL) software dev

[2017-04-07 14:38] fangohr commented on #29
At Southampton, the Jupyter Notebook and nbgrader were used to support teaching of large (~500 students) and more specialised engineering design teaching modules for students in the first year of their engineering degree programmes. (For reference: FEEG1001 & SESA1015).

[2017-04-07 15:28] VivianePons commented on #30
Thank you, I have included your update to the technical report.

[2017-04-07 15:29] VivianePons commented on #29
Thank's for the update, I put it in the technichal report as well as in the issue description.

[2017-04-07 15:29] VivianePons commented on #31
Thanks @mb1a15 I've added it to the technical report

[2017-04-07 15:30] VivianePons commented on #32
Thanks, I've added it to the technical report.

[2017-04-07 15:32] marcinofulus commented on #32
Hi

There are 3 books which we commited to deliver.

The first one (M24) is Linear Algebra (lectures for physicists), and it is
under active development https://github.com/Hadriamit/iODKbook2 now. I
think at m24 we will have this finalized - the main issue is now to
complete the English version (it exists in polish).

It uses sphinx+sagecell plugin.

The remaining two are in pieces now (as schedul

[2017-04-07 15:57] fangohr commented on #86
Hi all, thanks for the discussion. I wanted to add one more viewpoint: 3d visualisation and production of publication quality graph have commonalities but are also somewhat different:

- 3d visualisation has emphasis on interactivity and our ability to explore the data to understand it. (If we can keep that interactivity in static html, then that's great, but it is not what is needed for tradition

[2017-04-07 15:57] VivianePons commented on #32
Thanks for the update @marcinofulus I have edited the report as well as the issue.

[2017-04-07 16:08] choldgraf commented on #86
I think you make good points. FWIW I think this one is pretty domain-specific.  I think it'd be interesting to get some data from scientists on this point...I wonder if any surveys etc have ever been conducted about how scientists use 3D visualization (e.g. only for exploration, or also for final-product figures) and how that breaks down by fields.

Maybe it's the case that most people are just ex

[2017-04-07 16:13] nthiery commented on #86
Just a triviality: in case there can't be tool that does both
interactive visualization and static rendering, it's good to enable a
smooth transition path from the former to the later. Many parameters
(e.g. camera position, angle, ...) are more efficiently chosen
interactively; so we want to export them as starting points for the
static rendering.

[2017-04-07 17:57] jasongrout commented on #86
+1. That's part of the reason we made camera position transparently synced between the frontend and the python side in pythreejs, which means you can not only easily save the camera position and attributes, but it's also easy to interactively control it from python.

[2017-04-10 20:31] defeo commented on #33
I'm afraid this is still in flux.

[2017-04-11 22:21] nthiery commented on #221
Thanks @bpilorget for the initial file and everyone for starting to flesh it up. I have added the appropriate style files and did some tweaks on the latex file. It now compiles smoothly.
We should submit it to the reviewers by the end of the week. Please keep the work on it up!

[2017-04-12 09:31] VivianePons commented on #33
Ok I've tried to summarizes with a few sentences the current state of things, I've added it to the report and to the task description.

I see that the deliv  is due at M24 which is not that far away. It might be good to decide what we want to deliver more precisely.

[2017-04-12 09:34] VivianePons commented on #221
All done for WP2!

[2017-04-12 10:07] minrk commented on #227
I've filled out WP4 with one exception: I'm not sure what to put for D4.11 (#79) the micromagnetic VRE case study. Perhaps @fangohr could provide a brief report there?

[2017-04-12 10:13] minrk commented on #228
I made [this](https://github.com/minrk/nbautoplay) as an example of stepping through a notebook automatically.

[2017-04-12 10:35] fangohr commented on #227
Yes, @minrk, I am on the case for D4.11.

Related question from briefly reviewing the report: do we collect publication in the report (I don't think we do at the moment), and/or do we report them anywhere? Should we?

[2017-04-12 12:41] nthiery commented on #221
Oops #221 and #227 duplicate each other. I am closing this one since more discussions happened on the other side.

[2017-04-12 12:41] #221 closed

[2017-04-12 12:55] nthiery commented on #227
Good question. I would say no. On the other hand, we probably want to put figures about the publications.

In general, @bpilorget, where should we report on the KPI's? Here, in Part B of the Tech report?

[2017-04-12 12:58] nthiery commented on #227
Thanks @VivianePons and @bpilorget  for leading the move with the WP1 and @WP2 part! Thanks @minrk, @fangohr for the WP4 part. I am about to proofread them.

[2017-04-12 12:59] kohlhase commented on #227
I am currently working on WP6, you should expect a push before tonight.

[2017-04-12 13:01] bpilorget commented on #227
Publications are reported on the Part A of the Report for which I and Nicolas are in charge.
KPIs are to be shortly reported in the WP1 of the technical report but the real report will happen at the presentation I think.

This is what I did for the other project and it went smoothly.

[2017-04-12 13:02] bpilorget commented on #227
@nthiery I haven't had the chance to work again on the report until now because of other more urgent things but I should be roughly 100% on ODK until the Review now.

[2017-04-12 13:54] embray commented on #223
Nearly forgot this is already coming up 😨   I'm planning my travel now, but I'll probably just be there Monday/Tuesday/Wednesday and head home Thursday.

[2017-04-12 13:56] kohlhase commented on #227
I have just pushed what I intend to write for WP6. I have commented on all the tasks that have started (according to the proposal) before Month 18. In particular, I left out all the others. Is that correct?

[2017-04-12 13:56] kohlhase commented on #227
There are still a couple of citations in the text. As always I think we should have citations at least of our own publications in the report. But I can eliminate them if so decided.

[2017-04-12 13:59] kohlhase commented on #227
The structure of the report is still quite ugly, since the subsections (for the work pacages ) are much less conspicuous than the task headings. We should do something to the macros there. I would just move away from the ```amsreport``` class we use as a base class here.

[2017-04-12 13:59] bpilorget commented on #227
For the tasks that haven't begun, please put a title for them and include below somehting like "non applicable for this period" or "has not begun yet".

[2017-04-12 14:03] kohlhase commented on #227
OK, done that. You should probably check that all of us have done so before you submit.

[2017-04-12 14:42] dimpase commented on #227
While trying to `make` the report I get
[code]
what should be done to fix this?

[2017-04-12 14:47] nthiery commented on #227
I'll check that out. For now, just run pdflatex on the file. Cheers,

[2017-04-12 14:50] dimpase commented on #227
@nthiery  I see, that symbolic link has to removed by force on my desktop system---it has slightly odd settings for preserving files.

[2017-04-12 15:00] dimpase commented on #227
how about references in the report? presently there is nothing on how to get the right bibfiles there.

[2017-04-12 15:01] nthiery commented on #227
Yup. Somehow I had forgotten those links while fixing #212. Fixed and pushed.

[2017-04-12 15:27] nthiery commented on #227
+1 on references. I added relevant bibtex stuff to the file.

Actually this is using biber, following what we have done in our deliverables. We probably should update our makefile to use biber instead of latex (gosh, it's slow though ...).

[2017-04-12 16:14] slel commented on #223
I'd like to attend, at least Mon-Tue (more if I can arrange it). I can stay at my brother's in Brussels.

[2017-04-13 02:32] nthiery commented on #227
@minrk: I pushed some minor edits to the WP4 section and inserted a few TODO's.

[2017-04-13 13:38] jdemeyer commented on #87
I am currently working on improving support for Cython functions in Sphinx: https://github.com/sphinx-doc/sphinx/pull/3623.

I'm using cysignals as test case: http://cysignals.readthedocs.io/en/latest/pysignals.html#cysignals.pysignals.setsignal

[2017-04-14 07:16] ClementPernet commented on #227
WP5 is now finished and ready for proofreading.

[2017-04-14 07:22] jdemeyer commented on #227
Where exactly is the file? The "Source file" link on the top of this issue doesn't work.

[2017-04-14 07:29] ClementPernet commented on #227
@jdemeyer : I've updated the link to the source file

[2017-04-14 08:31] romainlvt commented on #86
hello everyone,
I am taking charge of continuing the work of @martinRenou that has been done on SciviJS ( https://www.logilab.org/blogentry/8541176 ). First I am working on the integration of scivijs to jupyter notebook, then i will be adding some functionalities (like volume rendering). Another aspect of my work will be to look for some performance improvements, using webGL2 or webAssembly for ex

[2017-04-14 08:45] jdemeyer commented on #87
As a second use-case, I will improve the documentation for fpylll too: https://github.com/fplll/fpylll/issues/22

[2017-04-14 12:56] dimpase commented on #227
there is no deliverable tagged `hpc-gap`, only a task. Thus ugly TeX errors.

[2017-04-14 13:04] dimpase commented on #227
WP7 part is ready for reviewing.

[2017-04-14 15:49] bpilorget commented on #227
Thanks toa ll. Only @defeo's and @nthiery's parts missing (first two sections for Nicolas)

[2017-04-14 16:28] bpilorget commented on #193
All good from all sides now. New submission to be done soon. Fingers crossed.

[2017-04-14 17:22] ClementPernet commented on #227
@dimpase : Fixed the hpc-gap delivreable issue.

[2017-04-14 17:37] dimpase commented on #227
@ClementPernet - sorry, no, you haven't. You did something totally orthogonal:
[code]
--(long)taskref is OK, the (long)delivrefs are not... E.g. `l.554 Deliverable~\delivref{hpc}{hpc-gap}` still does not compile.

[2017-04-14 17:37] defeo commented on #53
@fcayre, I shall need a few words on this task for the periodic report (#227). One paragraph is enough. Thx.

[2017-04-14 21:15] alex-konovalov commented on #227
May I suggest to use line breaks in the source file - this would make it much more readable via the GitHub's mail interface. Thanks.

[2017-04-15 09:08] ClementPernet commented on #227
Oups, my bad. Sorry for noise. I pushed the fixed refs.

[2017-04-15 14:52] jdemeyer commented on #87
I reorganized the issue description a bit. Personally, I worked mostly on the "autodoc" part and I think there is already more than enough stuff to do in that part.

Maybe we should sit together with the people interested in this issue and see what can be done?

[2017-04-15 18:50] nthiery commented on #227
Thanks @ClementPernet for your section on WP5. I just proofread it and it's good to go.

[2017-04-15 18:53] nthiery commented on #227
Thanks @dimpase for your section on WP7. Could you flesh it up a bit so that the reader could get a better sense of the context and how each piece of work fits into it? The abstracts of our WP7 deliverables is probably a good source of pieces of language to reuse/adapt.

[2017-04-15 19:02] nthiery commented on #227
Dear WP leaders ( @OpenDreamKit/coordination )

I have laid out the ground and started fleshing up the Objectives section, in which we are supposed to explain how the work we achieved actually contributes to the project Objectives. This is also the occasion to help the reader get the big picture:

https://github.com/OpenDreamKit/OpenDreamKit/blob/master/ReportingPeriod_1/Technical_Report/report.te

[2017-04-15 22:09] nthiery commented on #205
Any news on the front of EGI's specialized services call?

[2017-04-15 22:45] fangohr commented on #205
I haven't heard anything. @takluyver?

[2017-04-15 22:49] nthiery commented on #227
I have fleshed up a bit the "Infrastructures" section:

https://github.com/OpenDreamKit/OpenDreamKit/blob/master/ReportingPeriod_1/Technical_Report/report.tex#L1083

Could someone (maybe @minrk?) proofread it, and possibly expand on it? @kohlhase: would you want to say something about MathHub here?

[2017-04-16 00:42] defeo commented on #227
Sorry for being late at the party! The easter bunny just brought the WP3 section :)

Ready for proofreading. It's missing info on #53, I'd need @fcayre's input on that. And @fangohr might want to doublecheck the part on #57.

Happy egg chase!

[2017-04-16 07:01] fangohr commented on #227
Thanks, Luca. The part on #57 is okay. Thanks for pinging me.

[2017-04-16 12:26] nthiery commented on #227
I am confused, I don't see the changes. @defeo, did you push?
The last commit I see locally and on github is 9a6967d2876266fe48c85deb08f45d389568a13e.

[2017-04-16 12:31] defeo commented on #227
My bad, forgot to push.

Done

On Sun, Apr 16, 2017 at 2:26 PM, Nicolas M. Thiéry <notifications@github.com

[2017-04-16 12:55] nthiery commented on #202
The workshop organizers recently got back in touch with Dima, seeking next collaboration steps.
Here is a first draft of answer. Feel free to edit it directly here.

Dear Gregory,

Thanks for getting back in touch. As described in our proposal, funding would indeed be needed on our side for full-fledged tightly integrated services. Nethertheless, there are low hanging fruits that should take no mo

[2017-04-16 13:00] nthiery commented on #227
Quick reaction @defeo :-) Thank you!
Proofreading now. If you are still around, could you have a look at the objectives section? Also a few words of introduction to the work package would be nice for the reader.

[2017-04-16 13:16] nthiery commented on #227
WP3 Proofread. I reads smoothly, thanks @defeo! I left a couple minor TODO's.

[2017-04-16 13:19] nthiery commented on #227
@minrk: there are still some TODO's in your section :-)

[2017-04-16 18:59] minrk commented on #227
@nthiery thanks, WP4 TODOs should be addressed.

[2017-04-16 19:17] nthiery commented on #227
Thanks @minrk; WP4 is indeed good to go. Could you have a look at the objectives section, in particular objectives 1 and 2?

[2017-04-17 03:55] nthiery commented on #227
@OpenDreamKit/coordination: I have just completed the objectives section. It could very much benefit from everyone's attention.
@bpilorget: could you double check that we filled up reasonnably all the required bits?
@defeo, @dimpase: please take care of the remaining TODO's in your WP's section and in the objectives.

The file is fair game; I won't be touching it until tomorrow afternoon, Montreal

[2017-04-17 09:18] dimpase commented on #202
I did edit it a bit. Nicolas, will you mail it?

[2017-04-17 10:21] dimpase commented on #227
@kohlhase which `pdata.sty` must one use? On a machine that does not have "global" `pdata.sty`, e.g. no
[code]
`make` gives up with
[code]
On the other hand, I see
[code]
so that I presume the latter file is the one that one should use, as it is newer (it says: :`\ProvidesPackage{pdata}[2016/12/15 v1.6 Project Data]`)  (and `pdata.sty` in the rest of directories should go, for uniformity of the ou

[2017-04-17 12:29] kohlhase commented on #227
Yes, the last one should be the right one.

On 17.04.17 12:21, Dima Pasechnik wrote:

[2017-04-17 14:43] dimpase commented on #227
@kohlhase OK, see 92a7e14250ac97e751d7eed9f5a41136cd848431

 - the commit message also says what to do to setup this properly.

[2017-04-17 15:29] kohlhase commented on #227
Actually, the "right way" is to add the ```LaTeX-proposal``` directory to the ```TEXINPUTS``` environment variable.

[2017-04-17 21:36] defeo commented on #227
Mostly done: I'm only missing info on T3.4 (#53).

The objectives look good to me.

[2017-04-17 21:39] defeo commented on #227
Oh wait. By "tomorrow afternoon" you meant NOW? You shouldn't be speaking québécois to an EU project :)

I'll write a sentence for T3.4.

[2017-04-17 22:02] nthiery commented on #227
Yes!

:-)

Thanks!

[2017-04-18 03:39] nthiery commented on #202
Thanks @dimpase . It's mailed now!

[2017-04-18 08:30] martinal commented on #86
@romainlvt that's great, maybe you can introduce yourself a bit more, are you working for Logilab on OpenDreamKit funding? For how long?

I've been thinking a bit myself about how to go about implementing volume rendering for unstructured meshes with the constraints of webGL(2). Cell sorting might be best done in webAssembly. One of the limitations is that you cannot write to an element index buff

[2017-04-18 08:55] vidartf commented on #86
@romainlvt Hello! Will you still be working on the mercurial repository of logilab (e.g. https://hg.logilab.org/review/scivijs/jupyter-scivijs/)?

[2017-04-18 09:35] bpilorget commented on #227
Hey all. Hope you enjoyed the Easter weekend.
Thanks for all the work carried out for the report. I think it is quite exhaustive now. It can be submitted to the Advisory Board right now.

[2017-04-18 10:28] bpilorget commented on #222
http://opendreamkit.org/2017/04/24/first-project-review/

[2017-04-18 11:46] romainlvt commented on #86
@martinal

Of course! I am actually working for logilab and taking the following of the work that @martinRenou did on scivijs. I will be here until end of august 2017, my tutor being @fcayre.
As long as you are already working on the volume rendering subject, it would be more efficient for me to work on the ability of scivijs to handle non-tetraedras based meshes, and work on the optimization of t

[2017-04-18 12:01] slel commented on #33
In a recent discussion on the sage-cell mailing list, someone asks about
creating a SageCellTube similar to GeogebraTube:
https://groups.google.com/d/topic/sage-cell/T74fWFVui5M/discussion
The discussion has links to some collections of Sage interacts and so on.

[2017-04-18 14:12] nthiery commented on #222
The slides for the presentations have to be ready for the rehearsals next Monday. Better is if they are ready before than this so that we can start cross-reading them.

We had a strong recommendation from @wdecker to present demos and posters, and we all agreed it was a good idea. Now who is preparing/bringing one?

@minrk has implemented a new feature allowing to let a Jupyter notebook play its c

[2017-04-18 15:08] takluyver commented on #205
Nope, haven't heard anything.

[2017-04-18 16:56] kohlhase commented on #222
Do you really mean that we should use the files for the presentations rather than our own PDFs?

[2017-04-18 17:45] bpilorget commented on #222
Yes, as much as possible. Templates of the presentations should be the same to show that we work as a consortium. But maybe you prefer a PDF tempalte? I don't minde doing one.

[2017-04-18 17:49] kohlhase commented on #222
I personally do my slides in LaTeX with ```beamer.cls```, and I thought many of the others do so as well. But I will do whatever is necessary.

[2017-04-18 17:55] kohlhase commented on #222
How do other's feel?

[2017-04-18 17:56] kohlhase commented on #222
I am looking at the generated slides, and the generated parts are nice, but there are still problems.
In the WP6 slides I find: (see the mathcal and ensuremath).
D6.2: Initial ensuremath mathcal DKS base Design (including base survey and Requirements Workshop Report)

[2017-04-18 17:59] kohlhase commented on #222
Also I am not sure that starting with the deliverables is a good idea. I would like to give a reminder for WP6 in general and talk about the workshops we had and the MitM architecture that evolved from that. And then I would come to the deliverables.
You have the "big achievements" after the deliverables.

[2017-04-18 18:02] bpilorget commented on #222
The content is up to you. What is given here is the template of the document (with images and project's logo). You can fill in the presentations as you like and we'll see next week how smoothly everything goes.

[2017-04-18 18:02] nthiery commented on #205
And now, from the answer from Gregory, we know that there will be no
specialized service call ... Too bad.

[2017-04-18 18:07] bpilorget commented on #205
What's the answer?

[2017-04-18 18:09] nthiery commented on #222
Ah, good to know. This must come from the translation of the pdata
from latex to yaml, where we do some stripping of latex markup, but
apparently not enough. I'll have a look.

[2017-04-18 18:10] mikecroucher commented on #222
The schedule says that I am to give a shortened version of my 'Is your Research Software Correct?' talk as an opener.  I'm hoping that I can use the slide deck I always use --

https://mikecroucher.github.io/MLPM_talk/

Will this be OK? Converting to pdf tends not to work well for this slide deck

[2017-04-18 18:16] bpilorget commented on #222
I don't exactly remember how it looks. Is it possible for you to include a first slide before everything else just for the review? With the title and the ODK logo.

[2017-04-18 18:19] wbhart commented on #222
On 18 April 2017 at 16:12, Nicolas M. Thiéry <notifications@github.com>
wrote:

I will be working on slides for KL between now and Friday, (though I am
actually supposed to be on leave until then).

I am a little bit concerned about the requirement to not repeat what is in
the final reports. Had I known that, I wouldn't have put absolutely
everything in the final report! There's literally nothing

[2017-04-18 18:32] bpilorget commented on #222
Hi,
All this will be presented to the Project Officer (she is not expert enough on our field so she is more here for administrative and financial matters) and to three experts: Peter Dzweg (Concertant LLP, Summa Ventures Ltd) and Wil Schilders (Platform Wiskunde Nederland, TU Eindhoven who were oth present last time, and to Maria Perez from the Universidad Politecnica de Madrid.

Concerning the re

[2017-04-18 18:33] nthiery commented on #222
I'd say that it's good to use the same format, but not absolutely
necessary. If someone has a strong preference (e.g. because of
specific needs or existing material) that's fine as long as there is
some consistency in the layout (mostly the first page).

At the end of the review, we can have a brief debriefing and see if we
want to impose one format or the other for the next round.

[2017-04-18 18:36] nthiery commented on #222
+1; don't waste time converting your nice set of slides.

[2017-04-18 18:37] nthiery commented on #205
Forwarding the e-mail to you.

[2017-04-18 18:47] nthiery commented on #222
Just to confirm on Benoit: there is no need for site-specific slides
for the review; just coordinate with your WP leader for how to present
the WP material if needed.

As for the steering committee meeting: given that we already had a
meeting three months ago, we won't bother making site slides.

[2017-04-18 18:49] wbhart commented on #222
On 18 April 2017 at 20:32, bpilorget <notifications@github.com> wrote:

I have no problem with WP leaders presenting the slides. Clement has asked
me to provide him with slides, and I will do so.

One further question: what is the reason for the presentations? In other
words, what are we trying to achieve that isn't achieved via the final
reports (other than tick off an EU requirement)? Is the mai

[2017-04-18 18:52] wbhart commented on #222
Sorry, I wasn't clear. I will be working on the slides for the WP that KL
has contributed to. This is to save Clement making all the slides for the
entire WP.

I assume these slides will discuss the deliverables we were responsible
for. Clement has asked for 2-3 slides per deliverable. I assume that's
reasonable. I think we also agreed to provide an update on one of the
deliverables which isn't du

[2017-04-18 18:56] nthiery commented on #222
Oh, I see. You have in mind slides about KL achievements within WP5,
not slides about KL in general (though the difference is of course
slim given that KL is mostly involved in WP5).

The aim is to help them grasp the big picture. Which can be easier
with something more interactive and alive than a report. That's the
same difference as between a paper and a conference presentation or
live demo.

[2017-04-18 19:01] nthiery commented on #222
Yup. And then he might fuse/refactor/... the material. At the end the
WP presentations are just 1/2h long, questions and transitions
included.

[2017-04-18 19:02] wbhart commented on #222
Ah, I see. So the work package presentations will tie the individual
deliverables together in context, and the entire presentation will tie the
work packages together. I'll try to bear that in mind when writing slides.

On 18 April 2017 at 20:56, Nicolas M. Thiéry <notifications@github.com>
wrote:

[2017-04-18 19:13] bpilorget commented on #222
Exactly Bill +1

[2017-04-18 20:21] ClementPernet commented on #222
I confirm what has been said above: I asked each Task leader of WP5 to send me 2-3 slides on their
contributions.
I will then merge and rearrange them into the WP5 presentation.

I let task leader free to choose which ever slide format they preferred. I'll merge everything into
a single format, eigher beamer or the markdown template. I'm not decided about that now.
Best
Clément

Le 18/04/2017 à 21

[2017-04-18 20:33] VivianePons commented on #222
Please, if anyone is making a beamer presentation and replicating the
markdown first page (with the logo and all), could you share your template
so that we don't have to do this multiple times?

2017-04-18 22:21 GMT+02:00 Clément Pernet <notifications@github.com>:

[2017-04-19 06:14] kohlhase commented on #222
I am starting the presentations, but I cannot include images. The docu says `![alt](url)`, but that does not work for me. Can anyone help?

[2017-04-19 07:24] VivianePons commented on #222
I can help: first check if you can access the image directly and that the
link on slide is correct. If the problem is still here, please open another
issue where we can discuss / fix it without overflowing this thread.

Best,

Viviane

2017-04-19 8:14 GMT+02:00 Michael Kohlhase <notifications@github.com>:

[2017-04-19 08:44] jdemeyer commented on #227
@minrk: I made some edits to the section about T4.12 (CyPari) in 94f51f85097069e4731112af1405f4c9ad1aee44.

[2017-04-19 11:30] fangohr commented on #223
Name badges: All and @nthiery @bpilorget  - I think it would be professional and useful to have name badges for all participants (reviewers and OpenDreamKit members).

It may be too late now for properly printed ones (although Wednesday is far away ...), but the very least we could bring stickers and pens so that people can write their name and stick on their shirt. (Or slightly better: print name

[2017-04-19 11:31] fangohr commented on #223
PS Where is the discussion on the demonstrator sessions? Have we got a dedicated issue for this? Couldn't find it right now - thank you!

[2017-04-19 14:20] akruppa commented on #118
I just checked this ticket again, as I wanted to see what happened after I left the project. A few remarks on the RDPMC instruction, in addition to Bill's earlier comments:

This is really rather important; with hyper-threading, multiple programs execute on the same core's execution units, and there is no way of telling how many clock cycles each program used as they are both using CPU resources c

[2017-04-19 14:21] nthiery commented on #223
On Wed, Apr 19, 2017 at 04:31:09AM -0700, Hans Fangohr wrote:

+1

@bpilorget: could you prepare some? Please include the reviewers and PO.

Thanks in advance,

[2017-04-19 14:22] nthiery commented on #223
For now, this is #222. If there starts to be more traffic, we will
split a a separate issue just for the demonstrations.

[2017-04-19 14:51] bpilorget commented on #223
OK for the badges but probably some people are coming that are not planned to yet (for deliverables or demonstrators etc). I think it's safer, cheaper (and it will save me time in this busy week!) to use stickers. I'll check if we have some aat the laboratory, if not we ccan buy them in a regualr shop.

[2017-04-19 15:41] fangohr commented on #222
Regarding demonstrators: we need a few more I reckon'. I have added Jupyter- OOMMF to the list at the top of this issue.

@bpilorget - do we know what kind of room layout and facilities we expect? Have we got tables where we can put a laptop on top for the demonstrator? Can we have a poster next to it to attract some attention to the laptop? (This setup would work well I think, and is also what @w

[2017-04-19 15:49] fangohr commented on #222
There is a bit of a discussion on the talks in the morning of Wednesday 26 April taking place on Slack between those giving the talks (Nicolas, Viviane, Mike, Hans), to coordinate content, order, timings, etc. If anybody else wants to engage, join us at https://opendreamkit.slack.com/messages/C51ASH3V3  (I can invite people to Slack if required).

<pre>
9:00 Welcome
  Overview of the day by Projec

[2017-04-19 16:50] kohlhase commented on #222
I guess WP6 has not talked about the demos yet. Mostly because we are still working on this. But here is what we are planning
- In-Document computation demo (for D4.9)
- The MitM, GAP, Sage and LFMDB Theory graph (with first interview alignments) for D6.2/3
- MathWebSearch on OEIS and arXiv (for D6.1)
- the WP6 interoperability example (looking up transitive groups in LMFDB, letting MMT send them

[2017-04-19 16:53] kohlhase commented on #222
QUESTIONS: (I only realize them now that I am really thinking about demos)
- [ ] Will we have Internet on Wednesday?
- [ ] Will we be able to print posters in Brussels (if we can make PDFs?)
The first is extremely important for our demos, and the second one would make it much more likely that we will have posters.

[2017-04-19 16:57] bpilorget commented on #222
Of course there will be internet all three days. It will be in the same building.
There will be no printer for posters per se, no. Were you planning do build the posters next week?

[2017-04-19 17:00] kohlhase commented on #222
very good.

[2017-04-19 17:01] kohlhase commented on #222
I was contemplating my options. The demos will probably be last-minute, and if the posters are going to be useful, they need to be last-minute as well.
And if I have to decide between a poster and a demo, the latter has priority for me.
So being able to print posters on tuesday would be quite helpful.

[2017-04-19 17:12] nthiery commented on #222
I imagine we can find a print shop somewhere not too far in Brussels.
It would be safe to double check though.

[2017-04-19 17:16] pdehaye commented on #222
There are several near my parents, where I am staying. Will check tonight/tomorrow what options they have.
Paul

[2017-04-19 17:16] bpilorget commented on #222
But for posters? It is quite specific and can require some time...

[2017-04-19 17:43] dimpase commented on #223
`-1` for stickers, as they fall off. I can bring proper badge pockets with clips. How many do we need?

[2017-04-19 20:44] fangohr commented on #228
@minrk - it just works! Very cool. 👍

[2017-04-19 22:47] nthiery commented on #227
For the record: I committed the latest pdf and report-final.pdf, and
added a link from the issue description.

[2017-04-20 08:12] pdehaye commented on #222
So I just called. They can do posters, up to A0. They open at 8:45am and
close at 6pm, they need 24 hours to print. So it could theoretically work
with me picking it up on Wednesday morning. Only catch is that it is super
expensive: 95 EUR for A0 (picture quality printer).

On Wed, Apr 19, 2017 at 7:16 PM, bpilorget <notifications@github.com> wrote:

[2017-04-20 08:41] kohlhase commented on #222
Thanks for this. I will have a look at what I can do here and keep this in mind if If this does not work out.

[2017-04-20 08:43] kohlhase commented on #222
I have given up on the metadata slides for the moment and I will prepare my talk in beamer (more efficient, and maybe I can transfer the talk to md style in Brussels).
For that I am working on a beamer ODK theme. Can someone tell me where I can find the new watermark picture? So that we can use it in the theme?

[2017-04-20 08:46] VivianePons commented on #222
It's here:

https://github.com/OpenDreamKit/OpenDreamKit/blob/master/Communication/logos/banner.svg

the picture does not have the watermark effect in itslef, it is done by the
style sheet.

2017-04-20 10:43 GMT+02:00 Michael Kohlhase <notifications@github.com>:

[2017-04-20 08:46] kohlhase commented on #222
thanks, beamer is good at watermarking, so that is not a problem.

[2017-04-20 08:48] VivianePons commented on #222
Remark: there is no need to convert your slides to markdown if you do them
in beamer (especially if the front page has a similar look).

I did the markdown ones so that we could use the metadata and to have a
reference / example for all of our slides.

2017-04-20 10:45 GMT+02:00 Viviane Pons <vivianepons@gmail.com>:

[2017-04-20 08:52] kohlhase commented on #222
OK, then I will try to make a good ODK theme for beamer and put it somewhere for everyone to use (and improve).

[2017-04-20 10:20] kohlhase commented on #222
I just committed ```OpenDreamKit/lib/sty/beamerthemeODK.sty```
So if you add ```OpenDreamKit/lib/sty//``` to ```TEXINPUTS```, then you can just use ```\usetheme{ODK}``` in your beamer slides.

[2017-04-20 12:23] VivianePons commented on #222
@kohlhase Thank you! That will be very useful for everyone who wish to use beamer

[2017-04-20 12:28] VivianePons commented on #222
I just pushed a first draft of my WP2 presentation

http://opendreamkit.org/meetings/2017-04-26-ProjectReviewPresentations/WP2/

For those using markdown, it will maybe give you a more concrete example that the current models.

@alex-konovalov Could you please fill out 1 our 2 slides on the *Computational Mathematics with Jupyter* event? (who was there, what we talked about, pictures, whatever)

@

[2017-04-20 13:50] kohlhase commented on #222
I found out about printing posters at FAU, ... and maybe I can make some before tomorrow, ...
Please tell me: what size of posters do we want?
I have a demo for WP4 and two for WP6, should I make two posters? Or combine them (there is only one laptop to demo in any case).
Please advise soon, then I can probably make a poster here.

[2017-04-20 14:38] bpilorget commented on #222
I guess what Nicolas had in mind was an A0 poster. As for how many to print... That would be good to have one for WP4 and one for WP6 if they both make sense.

Please don't forget to include acknowledgement http://opendreamkit.org/acknowledge/

[2017-04-20 14:40] nthiery commented on #222
It's hard to tell without actually seeing/manipulating. Just go for
whatever feels right to you! We should have enough space in the room
to adapt to anything.

[2017-04-20 15:04] jdemeyer commented on #222
@mikecroucher: I seem to recall from Edinburgh that you had some demonstrations for interacts. Could some of those be used for a demonstrator?

Or do other people have cool interacts?

There is some ODK relevance because part of [D4.5](https://github.com/OpenDreamKit/OpenDreamKit/issues/94) is porting SgaeNB interacts to Jupyter.

[2017-04-20 15:07] jdemeyer commented on #223
Do we have a timetable for monday/tuesday? In particular, at what time do we start?

[2017-04-20 15:20] JohnCremona commented on #223
On 20 April 2017 at 16:07, jdemeyer <notifications@github.com> wrote:

That would be useful to know.  On a more practical level -- I'll be
arriving at the eurostar station just after 8pm, is anyone else arriving at
a similar time?  My plan is to take a taxi to the hotel (Best Western) and
find something to eat -- I assume some others are staying there too?

Sorry to detract attention from the seri

[2017-04-20 15:45] nthiery commented on #222
Yes! And also that's one ingredient in our argument in favor of
REPL/notebook based VREs: they also enable researchers to relatively
easily build and deploy widget/form based (aka clic-clic) user
interfaces on top of them.

@VivianePons: could you include one or two interacts in your demo?

[2017-04-20 16:46] dimpase commented on #223
I come by Eurostar, but only at 11pm. Anyhow, the hotel (or our AirBnB) is about 2.5km from the station, 15 minutes with direct metro lines (2 or 6) to Kruidtuin (a.k.a. Botanique).

[2017-04-20 18:02] jdemeyer commented on #223
FYI: with any train ticket to Brussels, you are allowed to take the train to any other train station in Brussels. So you could also take the train to Brussels-North and walk from there.

[2017-04-20 18:04] jdemeyer commented on #222
Do you want me to check some shop in Gent for the posters?

[2017-04-21 10:36] bpilorget commented on #223
PRACTICAL INFORMATION IS ONLINE (on this issue and on the webpage dedicated to the meeting):
- Monday 24/04:
    - 10:30: Quality review Board, Room "MAGRITTE" - Only open to the QRB members and the Coordinator. There is anyway not enough room for everyone
    - LUNCH
    - Rooms "MONTOYER" & "MAGRITTE" - booked from 12:30 until 20:30 PM
        - Brief Steering Committee after lunch ([Agenda](htt

[2017-04-21 11:05] pdehaye commented on #223
Another practical piece of advice along the same lines as what Jeroen said
regarding trains: Brussels has an unbeatable plan for citi-bike rentals, if
you feel slightly adventurous.
For 8EUR/week, 1.60 EUR/day, you can take one of those city bikes an
unlimited number of times for 30 minutes at a time, at no extra cost.
http://en.villo.be/Rates/Rates/Consult-the-rates
Paul

On Fri, Apr 21, 2017 at

[2017-04-21 15:20] bpilorget commented on #223
By the way @dimpase I am bringing pin clip badges for everyobe. You needn't bring some. Also with me a second beamer and two pointers. For those with a MAC please bring adequate plugs for beamer.

[2017-04-22 11:21] mikecroucher commented on #222
The interacts that we did for Edinburgh are rather basic.

The effort at Edinburgh was focused on getting started and putting something in place for others to contribute to.  Finishing this work is one of our future deliverables but we don't have much to show for this review I'm afraid.

If anyone would like to contribute a notebook, the template is at

https://github.com/mikecroucher/jupyter-inte

[2017-04-22 13:57] minrk commented on #222
I'll have demos prepared for nbval and nbdime (D4.6, D4.8).

[2017-04-23 15:52] nthiery commented on #223
Hi all; I am in Brussels. If you are already around, you are welcome to join at our appartment.
For details, and live discussion about the meeting, see our [slack channel](https://opendreamkit.slack.com/messages/C51ASH3V3).
See you soon!

[2017-04-23 16:03] kohlhase commented on #223
could you invite me as michael.kohlhase@fau.de to the slack channel. It seems that I do not have access otherwise.

[2017-04-23 16:03] kohlhase commented on #223
Dennis and I are in the train still, we will be in Brussels-Nord about 19:30.
Maybe we can have dinner together?

[2017-04-23 16:13] dimpase commented on #223
I also cannot seem to be able to use slack without an invite.

Thx
Dima

On 23 Apr 2017 4:52 p.m., "Nicolas M. Thiéry" <notifications@github.com>
wrote:

[2017-04-23 17:40] fangohr commented on #223
Hi @dimpase and @kohlhase -  I have invited you to the channel. Anybody else?

I have also made Nicolas and Benoit admins for the Slack channel, so that they can invite more people.

[2017-04-23 17:48] tkw1536 commented on #223
It would be great if I could get an invite for the slack channel also.

[2017-04-23 17:58] nthiery commented on #223
Done.

For other candidates: please send me or Hans a private query.

[2017-04-23 19:01] JohnCremona commented on #223
On 23 Apr 2017 18:03, "Michael Kohlhase" <notifications@github.com> wrote:

Dennis and I are in the train still, we will be in Brussels-Nord about
19:30.
Maybe we can have dinner together?

Are you here yet?  I just checked in to the hotel.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/OpenDreamKit/OpenDreamKit/issues/223#issue

[2017-04-23 19:04] JohnCremona commented on #223
After Googling "slack channel" I think I prefer food.

On 23 Apr 2017 19:58, "Nicolas M. Thiéry" <notifications@github.com> wrote:

Done.

For other candidates: please send me or Hans a private query.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/OpenDreamKit/OpenDreamKit/issues/223#issuecomment-296468204>,
or mute the thread
<

[2017-04-23 19:19] kohlhase commented on #223
We are at Nicolas' appartment. We are cooking pasta with him and Min.

Do you want to join, call me at +49 152 049 18243.

Michael

On 23.04.17 21:01, John Cremona wrote:

[2017-04-23 20:25] JohnCremona commented on #223
On 23 April 2017 at 20:19, Michael Kohlhase <notifications@github.com>
wrote:

Thanks but I had something to eat and will retire.  See you tomorrow

[2017-04-24 07:13] nthiery commented on #223
Good morning everyone!
I am at the Clora. Ping me in case there is noone in the lobby to open the door: +33 6 77 90 32 79.
Let's get to work, we have plenty to do!
The goal for this morning is *to have draft slides ready and cross proofread for the mock presentations this afternoon*. Same for demos and poster if at all possible.
Let's use the [Slack channel](https://opendreamkit.slack.com/messages

[2017-04-24 07:27] kohlhase commented on #223
[WP6-Review1.pdf](https://github.com/OpenDreamKit/OpenDreamKit/files/950682/WP6-Review1.pdf)

OK, here are my slides. Please give me feedback.

[2017-04-24 07:37] kohlhase commented on #223
and if anybody is interested, the sources are at https://gl.mathhub.info/MiKoMH/talks/tree/master/source/ODK/talks but they are in sTeX, so this may be of limited utility.

[2017-04-24 07:44] jdemeyer commented on #223
Just had a quick look. It's of course hard to judge slides without the presentation, so just a remark: make sure to have sufficient introduction (for example, take time to explain the context and the concept "Math in the Middle"). I feel like the slides jump right in and if you are not careful, people might get lost already on slide 2 or 3.

[2017-04-24 07:49] JohnCremona commented on #223
Nicolas I am at the Covent Garden reception having a hard time explaining
who I am .  They do not recognise CLORA

On 24 Apr 2017 9:13 a.m., "Nicolas M. Thiéry" <notifications@github.com>
wrote:

Good morning everyone!
I am at the Clora. Ping me in case there is noone in the lobby to open the
door: +33 6 77 90 32 79 <+33%206%2077%2090%2032%2079>.
Let's get to work, we have plenty to do!
The goal f

[2017-04-24 10:08] kohlhase commented on #223
Here is also the poster.
[WP6-poster.pdf](https://github.com/OpenDreamKit/OpenDreamKit/files/951344/WP6-poster.pdf)

and again the sources are at  https://gl.mathhub.info/MiKoMH/talks/tree/master/source/ODK/talks

[2017-04-24 10:21] wbhart commented on #223
Michael,

On page 3, what does the WS stand for (in the WP6 WS abbreviation)?

interest on -> interest in

page 7: if all are t -> if all are T ??

On 24 April 2017 at 09:27, Michael Kohlhase <notifications@github.com>
wrote:

[2017-04-24 13:43] ClementPernet commented on #223
The first version of the WP5 presentation slides:
[WP5_pres-v1.pdf](https://github.com/OpenDreamKit/OpenDreamKit/blob/master/ReportingPeriod_1/Presentations/WP5/WP5_pres-v1.pdf)
Sources are in https://github.com/OpenDreamKit/OpenDreamKit/blob/master/ReportingPeriod_1/Presentations/WP5/

[2017-04-24 13:51] videlec commented on #223
I suggest to gather all comments on presentation at

    https://hebdo.framapad.org/p/wp-presentations

[2017-04-24 13:52] hivert commented on #223
Fast rereading:

- Slide 13 appears twice
- Slide 18 integeration (does it mean rounding to the nearest integer ? ;-)

[2017-04-24 13:53] videlec commented on #223
@hivert could you put it on the pad https://hebdo.framapad.org/p/wp-presentations ?

[2017-04-24 14:42] bpilorget commented on #179
@videlec Can you provide numbers for PARI-GP?
@alex-konovalov Can you provide numbers for Gap?
@wbhart or @wdecker Can you provide numbers for Singular?

(See this issue descrition within KP1)

[2017-04-24 14:54] alex-konovalov commented on #222
@VivianePons I've added ICMS slide in https://github.com/OpenDreamKit/OpenDreamKit.github.io/commit/a388a99385ea83c4ad9e4a5cdde070cf6a8e7a45

[2017-04-24 15:07] alex-konovalov commented on #179
For GAP, main KPI is the number of citations.
* https://www.gap-system.org/Doc/Bib/bib.html is our curated database, mainly filled in from Mathscinet. It has now about 2400 publications (100 more are in the queue to be added), and statistics is available at https://www.gap-system.org/Doc/Bib/statistics.html. This will be also shown on the poster.
* Google Scholar profile for GAP and packages (http

[2017-04-24 17:33] bpilorget commented on #179
@defeo Can you tell me again what the data on this link refers to on the KPI? https://github.com/OpenDreamKit/sagemath-ppa-stats/blob/master/index.ipynb

[2017-04-24 17:46] bpilorget commented on #179
@alex-konovalov Is it easy for you to find how many -User-contributed packages (Sage and Gap) there are?

[2017-04-24 17:52] bpilorget commented on #179
@alex-konovalov Same question for  % of tickets/commits by ODK participants to Gap

[2017-04-24 20:27] alex-konovalov commented on #179
@bpilorget wrote

As I wrote above, 132 with the latest GAP release. I am not sure I can answer this question for Sage.

[2017-04-24 20:32] defeo commented on #179
Number of (binary) installs on Ubuntu. Each color is a new Sage
version (does not reflect "how many people have installed Sage" very
precisely).

[2017-04-24 20:52] alex-konovalov commented on #179
@bpilorget getting the number of commits is easy. Using
[code]
command I get 814 commits for M1-M18 only to the MAIN repository for GAP. Of course, there is more work in other repos in https://github.com/gap-system and https://github.com/gap-packages, but I assume that we're interested in these here.

[2017-04-24 21:10] alex-konovalov commented on #179
For number of github issues/PRs, see https://help.github.com/articles/searching-issues/. Enter a command in the search field on the top of the GitHub page, for example
[code]
This way, I've got 336 issues/Pull requests submitted by ODK member during M1-M18 only to the MAIN repository for GAP (Counted three of us in St Andrews and @dimpase, is there anyone obvious missing?)

[2017-04-25 18:03] defeo commented on #179
Singular repo: https://github.com/Singular/Sources

[2017-04-25 19:55] jdemeyer commented on #93
I just noticed now that the Sage ticket for the GAP kernel still needs review: https://trac.sagemath.org/ticket/21416

If you didn't know what to do on thursday, please review this ticket!

[2017-04-27 08:08] videlec commented on #179
I think that nb commits is a reasonable KPI. What about the following: for each project, provide a by month statistics of nb of commits and nb of commits by ODK member. We can make bar charts with two colors. On such graphics, we should be able to locate GAP days or PARI/GP ateliers.

I wrote [this small script](http://www.labri.fr/perso/vdelecro/git_odk_stats.sh) from which you can read my contri

[2017-04-27 08:28] dimpase commented on #179
IMHO this is an attempt to reinvent the wheel.
https://github.com/sarahsharp/foss-heartbeat
(used by me in WP7, D7.1, see report) does all of this, graphics included,
and much more.

On Thu, Apr 27, 2017 at 9:08 AM, Vincent Delecroix <notifications@github.com

[2017-04-27 08:38] videlec commented on #179
If it was me I will take more time learning how to use foss-heartbeat rather than writing bash scripts + make graphics with matplotlib. Moreover, I don't see how foss-heartbeat can be used to provide:
- cumulative contributions by any ODK member versus the non ODK members
- access to non github repos

[2017-04-27 08:42] alex-konovalov commented on #179
TL;DR - I don't :). IMHO that's an evidence of work, but not a serious KPI. One person can made a 1000 of 1 line commits and another 1 commit which changes 1000 lines. If the project learns how to make better commits, squash pull requests etc. over time, this way one could say that there is now less activity because of the smaller number of commits. So, it should be analysed together with other ch

[2017-04-27 10:28] pdehaye opened #231 "Audiences for our work"
For quick reference from elsewhere, and discussion below, the following overlapping audiences are relevant to our work:

 - Mathematicians
 - Scientists
 - Developers
 - General public
 - Infrastructure providers
 - Teachers
 - Students
 - Members
 - Funders

[2017-04-27 10:48] pdehaye opened #232 "Aims we set for ourselves"
For reference from elsewhere on GitHub, here are the aims we set for ourselves in the original proposal:

**Aim 1:** Improve the productivity of researchers in pure mathematics and applications by promoting collaborations based on mathematical software, data, and knowledge.

**Aim 2:** Make it easy for teams of researchers of any size to set up custom, collaborative Virtual Research Environments t

[2017-04-27 10:57] pdehaye opened #233 "OpenDreamKit vision"
This is a working document for the OpenDreamKit vision, extracted from [Nicolas' presentation](http://opendreamkit.org/meetings/2017-04-26-ProjectReviewPresentations/overview.pdf) at the end of Review Period 1 (slide 5/36).

[2017-04-27 11:34] pdehaye opened #234 "Communities relevant to OpenDreamKit"
Participants in OpenDreamKit feel connected to many communities, which are interesting to list as diffusion channels:

 - software development communities: GAP, SageMath, Singular, MMT, ...
 - research communities: number theory mailing list, ...
 - funding bodies
 - professional associations (RSE networks, ... )
 - teaching networks
 - movements we feel connexions with (Open Science, Open Knowled

[2017-04-27 11:51] pdehaye opened #235 "Blog guidelines"
We need blog guidelines, in order to increase the effectiveness of our communication, in terms of: reach,  accuracy and reporting on these.

I have access to the OpenKnowledge blog guidelines and asked them if I could reuse them (I know, ironic).

[2017-04-27 11:57] pdehaye opened #236 "Communications plan"
We need to develop a communications plan. As a start, I have:
 - listed our target audiences in #231;
 - listed our aims in #232;
 - detailed the OpenDreamKit vision in #233;
 - listed (the kinds of) channels relevant to us #234;
 - started an issue on blog guidelines for dissemination products #235;
 - make up a plan, once we have enough content, to make sure all of our target audiences are cover

[2017-04-27 12:01] pdehaye opened #237 "Reboot of KPI discussion"
We have had a discussion in #179, #179, #180, #181, #182, #183, #184 around KPIs.
That conversation was structured around categories that were not really actionable to us, and the PO gave us clear indication we should just scrap them if we think it would be wise. Instead, we should refocus around the aims listed in #232.

Our motivation for setting KPIs is two-fold:
 - help the Commission assess w

[2017-04-27 12:05] nthiery opened #238 "Deploy VRE on EGI's cloud infrastructure"
EGI is in the process of deploying a JupyterHub instance (we had a call with them this morning; details to come). This issue is to track the progress on that.

[2017-04-27 12:07] pdehaye opened #239 "Brainstorm of potential stories"
- something on our vision and aims (why? how? what?); very high level for the man on the street;
- something on Parliament's stance towards mathematics (?);
- "long standing issues such as Windows deployment"
- PEPs, upstream packages contributions, varieties of systems involved in some specific deliverable;
- verticals: app;ications of deep math to cutting edge science through math software

[2017-04-27 12:13] pdehaye commented on #184
See #237 for rationale behind closing this issue.

[2017-04-27 12:13] #184 closed

[2017-04-27 12:13] pdehaye commented on #183
See #237 for rationale behind closing this issue.

[2017-04-27 12:13] #183 closed

[2017-04-27 12:13] pdehaye commented on #182
See #237 for rationale behind closing this issue.

[2017-04-27 12:13] #182 closed

[2017-04-27 12:13] pdehaye commented on #181
See #237 for rationale behind closing this issue.

[2017-04-27 12:13] #181 closed

[2017-04-27 12:14] pdehaye commented on #180
See #237 for rationale behind closing this issue.

[2017-04-27 12:14] #180 closed

[2017-04-27 12:14] pdehaye commented on #179
See #237 for rationale behind closing this issue.

[2017-04-27 12:14] #179 closed

[2017-04-27 12:14] pdehaye commented on #178
See #237 for rationale behind closing this issue.

[2017-04-27 12:14] #178 closed

[2017-04-27 12:57] defeo commented on #232
The only thing I see for this, is counting participants to workshops. Not necessarily **our** workshops: if SoftwareCarpentry organizes workshops based on ODK components (not just Jupyter, though), that's relevant too.

[2017-04-27 13:05] pdehaye commented on #232
This is not meant to be a KPI discussion. It's just meant to list the Aims we had set for ourselves, within GitHub issues, for ease of use.

[2017-04-27 13:07] nthiery opened #240 "Apply for the European Open Science Cloud for Research pilot project"
Call:
- https://eoscpilot.eu/
- https://eoscpilot.eu/content/wp4-application-form

[Draft of proposal](https://mensuel.framapad.org/p/Fzl7LfHXpO)

cc: @fangohr, @takluyver, @dimpase

[2017-04-28 00:25] pdehaye commented on #236
@VivianePons I have tried to put up a communications plan, or at least started to figure out how we should structure one. I created a separate tag "Communications" because some of what's here is to be organized differently from WP2 stuff. I am willing to do the work of getting the ball rolling on blog posts, and maybe even finding partner blogs for crossposting. @mikecroucher could put the content

[2017-04-28 10:09] embray commented on #239
I will add, on a personal note, that while I understand and appreciate (on some level) what the project is trying to achieve, I have had a hard time articulating it friends and family who ask about what I work on.  So it's something I'm interested in thinking about as well...

[2017-04-28 10:13] embray commented on #239
Regarding

* At least one (draft) PEP has come out of my work on supporting Sage on Windows: https://www.python.org/dev/peps/pep-0539/  It is mostly uncontroversial and is likely to be accepted pending some updates I need to make.  There may also be some other PEPs to come out of the project.

* That work has also resulted in at least a few bug fixes to Cygwin and one slightly non-trivial enhancem

[2017-04-28 10:20] jdemeyer commented on #239
On 2017-04-28 12:13, Erik Bray wrote:

Cool!

[2017-04-28 10:39] pdehaye commented on #239
Which communities are common to both of you?

[2017-04-28 13:18] dimpase commented on #240
@mikecroucher would Sheffield be interested in running these services at least for themselves, as a pilot?

[2017-04-28 13:55] marcinofulus commented on #240
Dear all,

If needed  I can provide some hosting hardware for this, say max. 50cores +
1TB RAM.

the best
mk

On Thu, Apr 27, 2017 at 3:07 PM, Nicolas M. Thiéry <notifications@github.com

--
Pełnomocnik Rektora
ds. zastosowania nowoczesnych komputerowych
metod kształcenia dla regionalnych
kadr innowacyjnej gospodarki
tel. +48 32 3497 612

http://icse.us.edu.pl
---------------------------

[2017-04-28 15:02] marcinofulus commented on #86
some example we talked during the last meeting https://gist.github.com/marcinofulus/5a7e02f57ccd891d9662788d56977533

[2017-04-29 06:32] fangohr commented on #240
Hi Marcin, we have some work to host the Jupyter oommf environment in a tmpnb-like environment - I would certainly be interested to explore if we could use your hardware for that.

[2017-04-29 08:46] marcinofulus commented on #86
There are some new examples in: https://github.com/K3D-tools
Please report an issue if you have any troubles running.

[2017-04-29 15:44] minrk commented on #240
We need to identify the participants for this one. It's due at EOD tomorrow (Sunday). This is quite a small project (one person-year that must be spent between July 2017-July 2018), so we are probably only talking about probably 2-4 people putting in part-time effort. I'm happy to provide much of the deployment effort, but it would be nice to have a math/science participant bringing a sample use c

[2017-04-29 17:10] fangohr commented on #240
Hi Min, I'd be delighted to provide a science use case (micromagnetics). This fits very well, and if we just provide our requirements (shouldn't be too taxing), then we don't need any significant resource for this (or probably none at all), as we can support this from the OpenDreamKit grant (there is actually some overlap). Depending on how you want to phrase the application, I'd be happy with 12

[2017-04-29 17:39] dimpase commented on #240
I can provide a maths use case (a "playable" database of certain
combinatorial objects); I would appreciate, and I can very well use, one or
two months of fulltime pay for this, as my ODK funds only cover just over
50% of my time.

On 29 Apr 2017 6:10 p.m., "Hans Fangohr" <notifications@github.com> wrote:

[2017-04-30 11:08] minrk commented on #240
From anyone participating officially, I'll need a short bio and affiliation. If we want to put a few PMs with Hans (e.g. for applications from Hans and development from Thomas) and 2 from Dima, that seems reasonable for the scope of this one. I would need bio and affiliation for both in the pad above. Otherwise, I can list it as 12 PMs at Simula and coordinate contracting from there.

[2017-04-30 11:27] fangohr commented on #240
Hi Min, that's done; feel free to shorten or request other changes.

[2017-04-30 11:34] dimpase commented on #240
I'll be done in 30-50 min, in a call right now.

On Sun, Apr 30, 2017 at 12:27 PM, Hans Fangohr <notifications@github.com>
wrote:

[2017-04-30 12:41] dimpase commented on #240
OK, so I am done with my short bio; any more details from me?

[2017-04-30 12:49] marcinofulus commented on #240
Yes,
mk

On Sat, Apr 29, 2017 at 5:44 PM, Min RK <notifications@github.com> wrote:

--
Head of Department of Computational Physics and Electronics
Institute of Physics
University of Silesia
ul. 75 Pułku Piechoty 1A
41-500 Chorzów, Poland
tel. +48 32 3497 612

http://icse.us.edu.pl
---------------------------
Linux: because rebooting is for adding new hardware.

[2017-04-30 12:53] dimpase commented on #240
Marcin, so your machines are not part of EGI?

On Sun, Apr 30, 2017 at 1:49 PM, Marcin Kostur <notifications@github.com>
wrote:

[2017-04-30 13:00] mikecroucher commented on #240
Hi. I've only just seen this (Thanks @dimpase for the tweet that got me here).

We have potential use cases at Sheffield but there is no chance I can put together anything coherent today. Is this a regular call? Can we better prepare for a future one?

[2017-04-30 13:03] dimpase commented on #240
@mikecroucher perhaps you can provide some HPC hosting? Basically, each use case ought to be described in few sentences; still no chance to get it done?

[2017-04-30 13:05] marcinofulus commented on #240
@dimpase if EGI means grid then no

[2017-04-30 13:08] mikecroucher commented on #240
I'd need to consider carefully exactly what we are committing. Our HPC resources are integrated into the University-run service. As such, I need to coordinate with others concerning what we can and can't offer.

I don't want to make promises I can't keep.

[2017-04-30 13:09] dimpase commented on #240
@marcinofulus as in https://www.egi.eu/

[2017-04-30 13:10] dimpase commented on #240
@mikecroucher and how about use case(s)?

[2017-04-30 13:14] mikecroucher commented on #240
Being able to deploy mybinder instances on our HPC system (and others like it....several in the UK) would be a natural extension to the JupyterHub on SunGridEngine work that we are doing I think.

Such deployments would only be for the people who already have access to the HPC systems in question though. We can't provide open services at this stage.

[2017-04-30 13:14] mikecroucher commented on #240
@dimpase I'm really sorry but this is too short notice for me. I'm currently being shouted at by Family for being on my laptop when I promised a day away from it.

Thank you for thinking of me but I think I need to wait for another opportunity.

[2017-04-30 13:16] dimpase commented on #240
@fangohr : can you add few more lines about OOMPF as a possible use case for the proposed service (look at line 82 in https://mensuel.framapad.org/p/Fzl7LfHXpO)

[2017-04-30 13:29] marcinofulus commented on #240
My Machines are not part of EGI ;-)
mk

On Sun, Apr 30, 2017 at 2:53 PM, Dima Pasechnik <notifications@github.com>
wrote:

--
Head of Department of Computational Physics and Electronics
Institute of Physics
University of Silesia
ul. 75 Pułku Piechoty 1A
41-500 Chorzów, Poland
tel. +48 32 3497 612

http://icse.us.edu.pl
---------------------------
Linux: because rebooting is for adding new hardware

[2017-04-30 15:04] fangohr commented on #240
I put something in as a starting point. Is that what you are after?

Thanks,

Hans

On 30 Apr 2017, at 14:16, Dima Pasechnik <notifications@github.com<mailto:notifications@github.com>> wrote:

@fangohr<https://github.com/fangohr> : can you add few more lines about OOMPF as a possible use case for the proposed service (look at line 82 in https://mensuel.framapad.org/p/Fzl7LfHXpO)

—
You are receivi

[2017-04-30 16:09] minrk commented on #240
@mikecroucher sorry for the short notice. This isn't a regular call - it's for a small (12 person-month) demonstrator project we are only considering because it came up in a chat with EGI on Thursday and the application is limited to a very short 1-2 pages. In particular, this will be a repeated call, probably coming up again in the Fall for which we can hopefully be better prepared. Not something

[2017-04-30 16:16] mikecroucher commented on #240
No worries at all. I'm happy to be included in such discussions :)

We'll be better prepared in the Fall. I have other plans that I need to discuss with @nthiery and the steering committee soon...if they all go ahead then we'll be in a much stronger position for this sort of thing.

[2017-05-03 14:47] nthiery commented on #211
For information: Logilab ( @fcayre, @nchauvat, ...) is in the process
of moving away from latex/beamer for their training support. They are
considering rst, notebooks, python(sphinx-gallery), ... They have
expressed interest in a coding sprint, in the short run, around
notebook conversions, sphinx, rst, ... They are willing to organize it
in Paris. Given the timing, it's probably best not to wait

[2017-05-03 15:08] rbeezer commented on #211
Interested, especially if there is a role for MathBook XML or XSL (as input or
to provide output).

Please keep me informed on details.

Thanks,
Rob

On 05/03/2017 07:47 AM, Nicolas M. Thiéry wrote:

[2017-05-08 11:38] maartenbreddels commented on #86
Just wanted to share that the surface/mesh plot issue is being tackled in ipyvolume, no release yet and since ipywidgets 7 isn't out it will not render in the documentation yet, so it's put here:
 * https://www.astro.rug.nl/~breddels/ipyvolume/kleinbottle/index.html
 * https://www.astro.rug.nl/~breddels/ipyvolume/surface/index.html

[2017-05-17 09:58] #223 closed

[2017-05-19 09:25] #222 closed

[2017-05-24 12:50] embray commented on #236
Not sure if this is the right place to mention this, but I was thinking about what the reviewers said about making the web page more immediately engaging to the public.  I was just looking, for unrelated reasons, at the website for the [Nucleus Project](http://www.nucleus-project.eu/), another Horizon 2020 project.  It has a big scrolling splash banner with links to recent news stories and blog po